.yakit-proto-checkbox-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--yakit-header-color);
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-flex;
    align-items: center;
    line-height: unset;
    cursor: pointer;
    height: 18px;
    width: 18px;
    justify-content: center;
    .yakit-checkbox-input {
        position: absolute;
        inset: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }
    .yakit-proto-checkbox {
        z-index: 2;
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 16px;
        height: 16px;
        direction: ltr;
        background-color: #fff;
        border: 1px solid var(--yakit-border-color);
        border-radius: 4px;
        border-collapse: separate;
        transition: all 0.1s;
        &:hover {
            border-color: var(--yakit-primary-4);
        }
        &:focus {
            border-color: var(--yakit-primary-5);
            box-shadow: 0 0 2px 2px var(--yakit-primary-2);
        }
        .yakit-proto-checkbox-inner {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            direction: ltr;
            border-radius: 4px;
            border-collapse: separate;
            // transition: all 0.1s;
            &:after {
                position: absolute;
                display: table;
                width: 6px;
                height: 9px;
                top: 45%;
                left: 21%;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(0) translate(-50%, -50%);
                opacity: 0;
                transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                content: " ";
            }
        }
    }
    .yakit-proto-checkbox-focus {
        border-color: var(--yakit-primary-5);
        box-shadow: 0 0 2px 2px var(--yakit-primary-2);
    }
    .yakit-checkbox-checked {
        background: var(--yakit-primary-5);
        border-color: var(--yakit-primary-5);
        &:hover {
            border-color: var(--yakit-primary-4);
            background: var(--yakit-primary-4);
        }
        &:focus {
            border-color: var(--yakit-primary-5);
            background: var(--yakit-primary-6);
        }
        .yakit-proto-checkbox-inner {
            &:after {
                position: absolute;
                display: table;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(1) translate(-50%, -50%);
                opacity: 1;
                transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                content: " ";
                width: 6px;
                height: 9px;
                top: 45%;
                left: 21%;
            }
        }
    }
    .yakit-checkbox-checked-focus {
        border-color: var(--yakit-primary-6);
        background: var(--yakit-primary-6);
    }
    .yakit-checkbox-checked::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // border: 1px solid var(--yakit-primary-5);
        border-radius: 4px;
        // visibility: hidden;
        animation: yakitEffectProtoCheckbox 0.36s ease-in-out;
        animation-fill-mode: backwards;
        content: "";
    }
    .yakit-checkbox-indeterminate {
        background-color: #fff;
        border: 2px solid var(--yakit-primary-5);
        .yakit-proto-checkbox-inner::after {
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            background-color: var(--yakit-primary-5);
            border: 0;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            content: " ";
            &:hover {
                &:after {
                    background-color: var(--yakit-primary-4);
                }
            }
        }
    }
}

@keyframes yakitEffectProtoCheckbox {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}
