.drop-select-wrapper {
    width: 200px;
    :global {
        .ant-select-item-option-grouped {
            padding-left: 8px;
        }
    }
    .select-title {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.5px;
        padding: 2px 12px 4px 12px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        .select-title-left {
            display: flex;
            align-items: center;
            gap: 4px;
            flex-shrink: 0;
        }
    }
    .type-btn {
        margin-bottom: 4px;
        padding: 0 4px;
    }
}

.select-option-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    .option-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        max-width: 250px;
    }
    .icon-small {
        width: 16px;
        height: 16px;
        svg {
            width: 12px;
            height: 12px;
        }
    }
    svg {
        width: 16px;
        height: 16px;
    }
    .icon-pencilalt {
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
    }
    .icon-info {
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
    }
}
