.ai-model-select-wrapper {
    width: fit-content;
    :global {
        .ant-select {
            border-radius: 20px;
            background-color: var(--Colors-Use-Neutral-Bg-Hover);
        }
        .ant-select-single .ant-select-selector .ant-select-selection-item {
            font-size: 11px;
        }
    }
}
.drop-select-wrapper {
    max-width: 320px;
    :global {
        .ant-select-item-option-grouped {
            padding-left: 8px;
        }
    }
    .select-title {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.5px;
        padding: 2px 12px 4px 12px;
    }
}

.select-option-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    .option-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        max-width: 250px;
    }
    .icon-small {
        width: 16px;
        height: 16px;
        svg {
            width: 12px;
            height: 12px;
        }
    }
}

.select-option-online-wrapper {
    svg {
        width: 16px;
        height: 16px;
    }
}
