.irify-home-table {
  width: 100%;
  height: 206px;
  overflow: hidden;
  padding: 4px 8px 8px;
}

.irify-home-table-text {
  overflow: hidden;
}
.audit-opt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
