// ========================== ant collapse yakit-start ==========================
.ant-collapse {
  background: transparent;
  border: none;
  color: var(--Colors-Use-Neutral-Text-1-Title);
}

.ant-collapse-header {
  color: var(--Colors-Use-Neutral-Text-1-Title);
}

.ant-collapse-expand-icon {
  padding-inline-end: 0;
}

.ant-collapse-content {
  background: transparent;
  color: var(--Colors-Use-Neutral-Text-1-Title);
  border-top-color: var(--Colors-Use-Neutral-Border);
}

.ant-collapse-item {
  border-bottom-color: var(--Colors-Use-Neutral-Border);
}
// ========================== ant collapse yakit-end ==========================
