// ========================== ant descriptions yakit-start ==========================

.yakit-descriptions {
    .ant-descriptions-bordered .ant-descriptions-view {
        border: 0;
    }

    .ant-descriptions-bordered .ant-descriptions-item-label,
    .ant-descriptions-bordered .ant-descriptions-item-content {
        border-right: 1px solid var(--yakit-border-color);
    }

    .ant-descriptions-item-label {
        padding: 12px 16px 12px 12px;
        color: var(--yakit-header-color);
        height: 40px;
        min-width: 96px;
    }

    .ant-descriptions-bordered .ant-descriptions-row {
        border-bottom: 1px solid var(--yakit-border-color);
    }

    .ant-descriptions-bordered .ant-descriptions-item-label {
        background-color: var(--yakit-background-color);
    }

    .ant-descriptions-item-content {
        height: 40px;
        padding: 12px 16px 12px 12px;
        background-color: var(--yakit-card-background-color);
        color: var(--yakit-header-color);
    }

    .ant-descriptions-bordered .ant-descriptions-item-label:last-child,
    .ant-descriptions-bordered .ant-descriptions-item-content:last-child {
        border-right: none;
    }
    .ant-descriptions-header {
        height: 32px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--yakit-border-color);
        background-color: #ffffff;
        margin-bottom: 0;
        position: sticky;
        top: 0;
        z-index: 9;
        .ant-descriptions-title {
            font-weight: 500;
            font-size: 12px;
            color: var(--yakit-header-color);
        }
    }
    .descriptions-no-more {
        font-size: 12px;
        color: var(--yakit-helper-text-color);
        text-align: center;
        padding: 12px;
        width: 100%;
    }
}
// ========================== ant descriptions yakit-end ==========================
