// ========================== ant dropdown ==========================
.ant-dropdown {
    box-shadow:
        0 3px 6px -4px rgb(0 0 0 / 12%),
        0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
    color: var(--Colors-Use-Neutral-Text-1-Title);
    border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
    background: var(--Colors-Use-Basic-Background);
    box-shadow: 0px 8px 16px 0px var(--Colors-Use-Basic-Shadow);

    .ant-space {
        gap: 0 !important;
    }

    .ant-space-item {
        padding: 5px 12px;

        &:hover {
            background: var(--Colors-Use-Neutral-Bg-Hover);
        }
    }
}
