// ========================== ant form ==========================
.ant-form-item-label > label {
    color: var(--yakit-header-color);
}
.ant-form-item-with-help {
    margin-bottom: 16px;
}

.ant-form-item {
    margin-bottom: 16px;
}
.ant-form-item-control-input-content {
    .ant-input-number {
        width: 100%;
    }
}

.ant-form-item-label > label .ant-form-item-tooltip {
    color: var(--yakit-helper-text-color);
    svg {
        width: 16px;
        height: 16px;
    }
}

.ant-form-item-explain-error {
    color: var(--yakit-danger-5);
}

.ant-form-item-extra {
    font-size: 12px;
    color: var(--yakit-body-text-color);
}

// ----------------- textArea
.ant-form {
    .textArea-resizer-icon {
        bottom: 5px;
    }
}

// --------------input
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    border-color: var(--yakit-danger-5);
    &:hover {
        border-color: var(--yakit-danger-4);
    }
    &:focus {
        border-color: var(--yakit-danger-5);
        box-shadow: 0 0 0 2px var(--yakit-danger-1);
    }
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input-focused {
    border-color: var(--yakit-danger-5);
    box-shadow: 0 0 0 2px var(--yakit-danger-1);
}

// ----------inputNumber
.ant-input-number-status-error:not(.ant-input-number-disabled):not(.ant-input-number-borderless).ant-input-number {
    border-color: var(--yakit-danger-5);
    &:hover {
        border-color: var(--yakit-danger-4);
    }
    &:focus {
        border-color: var(--yakit-danger-5);
        box-shadow: 0 0 0 2px var(--yakit-danger-1);
    }
}
.ant-input-number-status-error:not(.ant-input-number-disabled):not(
        .ant-input-number-borderless
    ).ant-input-number-focused {
    border-color: var(--yakit-danger-5);
    box-shadow: 0 0 0 2px var(--yakit-danger-1);
}

// ----------select
.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    border-color: var(--yakit-danger-5) !important;
}

.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input).ant-select-open
    .ant-select-selector,
.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input).ant-select-focused
    .ant-select-selector {
    border-color: var(--yakit-danger-5);
    box-shadow: 0 0 0 2px var(--yakit-danger-1);
}
