// ========================== antd list to yakit start ==========================
.yakit-list {
  .ant-spin {
    color: var(--Colors-Use-Main-Primary);
  }

  .ant-spin-dot-item {
    background-color: var(--Colors-Use-Main-Primary);
  }

  .ant-card:not(.ant-card-bordered) {
    box-shadow: none;
  }
}

.yakit-list-bordered {
  border: 1px solid var(--Colors-Use-Neutral-Border);
  border-radius: 4px;
}

// ========================== antd list to yakit end ==========================
