
// ========================== Modal.confirm start ==========================
.ant-modal-content{
    background-color: var(--Colors-Use-Basic-Background);
    border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
    background: var(--Colors-Use-Neutral-Bg);
    box-shadow: 0px 2px 24px 0px var(--Colors-Use-Basic-Shadow);
    overflow: hidden;

    .ant-modal-confirm-body{
        .anticon{
            color: var(--Colors-Use-Main-Primary);
        }
        .ant-modal-confirm-title{
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
        .ant-modal-confirm-content{
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
    }
}

.modal-remove-icon {
    svg {
        width: 16px;
        height: 16px;
        color: var(--Colors-Use-Neutral-Disable);

        &:hover {
            color: var(--Colors-Use-Main-Hover);
        }
    }
}

.modal-cancel-button {
    border-radius: 4px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    border: 1px solid var(--Colors-Use-Neutral-Border);
    background: var(--Colors-Use-Basic-Background);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        border-color: var(--Colors-Use-Neutral-Bg-Hover);
        background-color: var(--Colors-Use-Neutral-Bg-Hover);;
    }

    &:focus {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        border-color: var(--Colors-Use-Neutral-Bg-Hover);
        background-color: var(--Colors-Use-Neutral-Bg-Hover);;
    }
}

.modal-ok-button {
    border-radius: 4px;
    border-color: var(--Colors-Use-Main-Primary);
    background: var(--Colors-Use-Main-Primary);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        border-color: var(--Colors-Use-Main-Hover);
        background: var(--Colors-Use-Main-Hover);
    }

    &:focus {
        border-color: var(--Colors-Use-Main-Primary);
        background: var(--Colors-Use-Main-Primary);
    }

    &:active {
        border-color: var(--Colors-Use-Main-Pressed);
        background: var(--Colors-Use-Main-Pressed);
    }
}
// ========================== Modal.confirm end ==========================

.yakit-modal-risk-details {
    .ant-modal-header {
        background-color: var(--Colors-Use-Neutral-Bg);
        border-color: var(--Colors-Use-Neutral-Bg);
        .ant-modal-title {
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
    }
    .ant-modal-body {
        background-color: var(--Colors-Use-Basic-Background);
    }
    .ant-modal-close-x{
        color: var(--Colors-Use-Main-Primary);
    }
}