.ant-pagination-item:hover a {
    color: var(--Colors-Use-Main-Hover);
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis{
    color: var(--Colors-Use-Neutral-Text-1-Title);
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    color: var(--Colors-Use-Main-Primary);
}
.ant-pagination-item-active:hover{
    border-color: var(--Colors-Use-Main-Border);
}
.ant-pagination-item a {
    color: var(--Colors-Use-Neutral-Text-1-Title);
}
.ant-pagination-item-active {
    border-color: var(--Colors-Use-Main-Primary);
    background: var(--Colors-Use-Basic-Background);
}
.ant-pagination-item-active a {
    color: var(--Colors-Use-Main-Primary);
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: var(--Colors-Use-Main-Primary);
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: var(--Colors-Use-Neutral-Border);
    border-radius: 4px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    background-color: var(--Colors-Use-Basic-Background);
    &:hover {
        border-color: var(--Colors-Use-Main-Hover);
    }
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid var(--Colors-Use-Main-Hover);
    box-shadow: 0 0 0 2px var(--Colors-Use-Main-Focus);
}

// .ant-select-item-option-content:hover {
//     color: var(--Colors-Use-Main-Primary);
// }

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
}

.ant-select-dropdown{
    background-color: var(--Colors-Use-Basic-Background);
    box-shadow: 0px 8px 16px 0px var(--Colors-Use-Basic-Shadow);
}

.ant-select-item {
    border-radius: 4px;
    // padding: 4px 8px;
    margin: 0 4px;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    &:hover {
        // background-color: var(--Colors-Use-Neutral-Bg-Hover);
        color: var(--Colors-Use-Main-Primary);
    }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: 400;
    background-color: var(--Colors-Use-Main-Focus);
    color: var(--Colors-Use-Main-Primary);
    &:hover {
        background: var(--Colors-Use-Neutral-Bg-Hover);
    }
}
.ant-pagination.ant-pagination-mini .ant-pagination-prev, .ant-pagination.ant-pagination-mini .ant-pagination-next{
    button{
        color: var(--Colors-Use-Neutral-Text-1-Title);
    }
}

.ant-pagination-next:hover{
    button{
        color: var(--Colors-Use-Main-Hover) !important;
    }
}

.ant-pagination-disabled{
    button{
        color: var(--Colors-Use-Neutral-Disable) !important;
    }
}

.ant-pagination-options-quick-jumper{
    color: var(--Colors-Use-Neutral-Text-1-Title);
}
.ant-pagination.ant-pagination-mini .ant-pagination-options-quick-jumper input{
    background: var(--Colors-Use-Basic-Background);
    color: var(--Colors-Use-Neutral-Text-1-Title);
    border: 1px solid var(--Colors-Use-Neutral-Border);
}

.ant-pagination-options-quick-jumper input:hover{
    border-color: var(--Colors-Use-Main-Hover) !important;
}

.ant-pagination-options-quick-jumper input:focus, .ant-pagination-options-quick-jumper .input-focused{
    border-color: var(--Colors-Use-Main-Hover);
    box-shadow: 0 0 0 2px var(--Colors-Use-Main-Focus);
}