.ant-radio-wrapper {
  .ant-radio:hover .ant-radio-inner {
    border-color: var(--Colors-Use-Main-Border);
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: var(--Colors-Use-Main-Border);
    background-color: transparent;
  }

  .ant-radio-checked .ant-radio-inner::after {
    background-color: var(--Colors-Use-Main-Primary);
  }

  .ant-radio-checked::after {
    border-color: var(--Colors-Use-Main-Border);
  }

  .ant-radio-input:focus+.ant-radio-inner {
    box-shadow: 0 0 0 3px var(--Colors-Use-Main-Focus);
  }

  .ant-radio.ant-radio-disabled .ant-radio-inner {
    background-color: var(--Colors-Use-Neutral-Bg);
    border-color: var(--Colors-Use-Neutral-Border);
  }

  .ant-radio.ant-radio-checked.ant-radio-disabled .ant-radio-inner {
    border-color: var(--Colors-Use-Neutral-Border);
    background-color: transparent;
  }

  .ant-radio.ant-radio-checked.ant-radio-disabled .ant-radio-inner:after {
    background-color: var(--Colors-Use-Neutral-Disable);
  }
}

.ant-radio-wrapper:hover .ant-radio:not(.ant-radio-disabled) .ant-radio-inner {
  border-color: var(--Colors-Use-Main-Border);
}
