.ant-slider {
    &:hover {
        .ant-slider-track {
            background-color: var(--Colors-Use-Main-Hover);
        }
        .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: var(--Colors-Use-Main-Hover);
        }
    }
}
.ant-slider-track {
    background-color: var(--Colors-Use-Main-Border);
}
.ant-slider:hover .ant-slider-rail{
    background-color: var(--Colors-Use-Neutral-Bg-Hover);
}
.ant-slider-rail{
    background-color: var(--Colors-Use-Neutral-Bg);
}
.ant-slider-dot{
    background-color: var(--Colors-Use-Neutral-Bg);
    border-color: var(--Colors-Use-Neutral-Border);
}
.ant-slider-dot-active {
    border-color: var(--Colors-Use-Main-Border);
}
.ant-slider-handle {
    border: solid 2px var(--Colors-Use-Main-Border);
    background-color: var(--Colors-Use-Neutral-Bg);
    &:focus {
        border-color: var(--Colors-Use-Main-Primary);
    }
}
.ant-slider-handle.ant-tooltip-open {
    border-color: var(--Colors-Use-Main-Primary);
}
.ant-slider-mark {
    font-size: 12px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
}
.ant-slider-mark-text-active {
    font-size: 12px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
}
.ant-slider-handle:focus {
    box-shadow: 0 0 0 5px var(--Colors-Use-Main-Bg);
}
.ant-slider-disabled .ant-slider-track {
    background-color: var(--Colors-Use-Neutral-Bg) !important;
}
.ant-slider-disabled .ant-slider-handle,
.ant-slider-disabled .ant-slider-dot {
    background-color: var(--Colors-Use-Neutral-Bg);
    border-color: var(--Colors-Use-Neutral-Disable) !important;
}
.ant-slider-disabled .ant-slider-mark-text,
.ant-slider-disabled .ant-slider-dot {
    color: var(--Colors-Use-Neutral-Disable);
}
