.ant-typography{
    mark{
        background-color: var(--Colors-Use-Yellow-Border);
        color: var(--Colors-Use-Neutral-Text-1-Title);
    }
    code{
        background-color: var(--Colors-Use-Neutral-Bg);
        color: var(--Colors-Use-Neutral-Text-2-Primary);
    }
}