@use "../fuzzer/HTTPFuzzerPageShare.module.scss" as HTTPFuzzerPageShare;
.rawEditor {
    height: calc(100% - 72px - 12px);
}

.arg-keys-list {
    :global {
        .ant-collapse-header {
            padding-right: 0 !important;
        }
        .ant-collapse-content-box {
            padding-right: 0 !important;
        }
    }
}

.variable-list {
    color: var(--yakit-helper-text-color);
    .variable-list-panel {
        &:hover {
            .variable-list-remove {
                display: flex;
            }
        }

        .extra-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .variable-list-remove {
            display: none;
            @include HTTPFuzzerPageShare.base-icon-card;
            color: var(--yakit-danger-5);
        }

        .variable-fuzzer-tag {
            color: var(--yakit-header-color);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
        :global {
            .ant-collapse-header {
                .ant-collapse-header-text {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .ant-collapse-content > .ant-collapse-content-box {
                padding-bottom: 0;
            }
        }
    }
    .variable-plus-button {
        width: 100%;
        padding-right: 6px;
    }
}
