@use "../fuzzer/HTTPFuzzerPageShare.module.scss" as HTTPFuzzerPageShare;
.rawEditor {
    height: calc(100% - 72px - 12px);
}

.arg-keys-list {
    :global {
        .ant-collapse-header {
            padding-right: 0 !important;
        }
        .ant-collapse-content-box {
            padding-right: 0 !important;
        }
    }
}

.variable-list {
    color: var(--yakit-helper-text-color);

    :global {
        .ant-collapse-item > .ant-collapse-header {
            height: 24px;
            padding: 0 0 0 12px !important;
        }

        .ant-collapse-header-text {
            color: var(--yakit-body-text-color);
        }

        .ant-collapse-content > .ant-collapse-content-box {
            padding: 0 0 12px 12px;
        }

        .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
            padding-top: 6px !important;
        }
    }

    .variable-list-panel-extra {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .variable-list-panel {
        border-bottom: 0 !important;

        &:hover {
            .variable-list-remove {
                display: flex;
            }
        }

        .variable-list-remove {
            display: none;
            @include HTTPFuzzerPageShare.base-icon-card;
            color: var(--yakit-danger-5);

            &:hover {
                color: var(--yakit-danger-5);
            }
        }
        .variable-fuzzer-tag {
            color: var(--yakit-header-color);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
        :global {
            .ant-collapse-header {
                .ant-collapse-header-text {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    
    .variable-plus-button {
        width: 100%;
        padding-right: 6px;
    }
}

