.certificate-box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 这里设置为wrap */
    gap: 8px;

    .certificate-succee {
        background-color: rgba(41, 188, 208, 0.1);
    }

    .certificate-fail {
        background-color: rgba(244, 115, 107, 0.1);
    }

    .certificate-card {
        width: 104px;
        height: 136px;
        border-radius: 4px;

        position: relative;
        .decorate {
            position: absolute;
            right: 0px;
        }
        .union {
            position: absolute;
            bottom: 4px;
            right: 4px;
        }
        .card-hide {
            width: 0;
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-bottom: 17px solid #fff;
            position: absolute;
            right: -12px;
            top: -3px;
            transform: rotate(45deg);
        }
        .close {
            display: none;
            cursor: pointer;
            padding: 4px;
            border-radius: 20px;
            border: 2px solid #fff;
            background: #f0f1f3;
            position: absolute;
            top: -8px;
            left: -8px;
            box-sizing: content-box;
            height: 12px;
            width: 12px;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            svg {
                position: relative;
                top: -6px;
                left: 0px;
                height: 12px;
                width: 12px;
                color: #85899e;
            }
            &:hover {
                background-color: var(--yakit-primary-5);
                svg {
                    color: #ffffff;
                }
            }
        }
        .fail-main {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 16px 20px 18px;
            .title {
                color: #000;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 8px;
            }
            .content {
                color: #f6544a;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 8px;
            }
            &:hover {
                .close {
                    display: block;
                }
            }
        }
        .success-main {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 16px 20px 18px;
            .title {
                color: #000;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 8px;
            }
            .content {
                color: #b4bbca;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 8px;
            }
            .password {
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
            }
            &:hover {
                .close {
                    display: block; 
                }
            }
        }
    }
}

.form-rule-body {
    display: flex;
    align-items: center;
    .form-rule {
        height: 28px;
        width: 100%;
        background: #ffffff;
        border: 1px solid var(--yakit-border-color);
        border-radius: 4px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            border-color: var(--yakit-primary-5);
        }
        &:focus,
        &:active {
            box-shadow: 0 0 0 2px var(--yakit-primary-2);
        }
        .form-rule-text {
            padding: 6px 12px;
            flex: 1;
            font-size: 14px;
        }
        .form-rule-icon {
            width: 33px;
            height: 26px;
            background: var(--yakit-card-background-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid var(--yakit-border-color);
            border-radius: 0px 4px 4px 0px;
            cursor: pointer;
            &:hover {
                svg {
                    color: var(--yakit-primary-5);
                }
            }
            svg {
                color: var(--yakit-header-color);
            }
        }
    }
}

.ntlm-config-drawer {
    :global {
        .ant-drawer-body {
            padding: 0;
            overflow: hidden;
        }
    }

    .heard-title {
        display: flex;
        gap: 8px;
        .title {
            font-weight: 600;
            font-size: 14px;
            color: var(--yakit-header-color);
            height: 20px;
            line-height: 20px;
        }
        .table-total {
            font-weight: 400;
            font-size: 12px;
            color: var(--yakit-helper-text-color);

            span {
                color: var(--yakit-primary-5);
            }
        }
    }

    .heard-right-operation {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .button-text:first-child {
            margin-right: 0;
        }

        .button-create,
        .button-save {
            margin-right: 8px;
        }

        .icon-remove {
            color: var(--yakit-helper-text-color);
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
            }

            :hover {
                color: var(--yakit-primary-4);
            }
        }
    }

    .ntlm-config-table {
        height: 100%;
        padding: 4px 8px 16px;

        .table-action-icon {
            padding: 0 4px;
            display: flex;
            align-items: center;

            .action-icon {
                svg {
                    &:hover {
                        color: var(--yakit-primary-5);
                    }
                }
            }

            .action-icon-edit-disabled {
                svg {
                    color: var(--yakit-disable-text-color);
                    cursor: not-allowed;

                    &:hover {
                        color: var(--yakit-disable-text-color);
                    }
                }
            }

            .action-icon-ban-disabled {
                svg {
                    color: var(--yakit-primary-5);
                }
            }

            span {
                padding: 0 12px;
                border-right: 1px solid var(--yakit-border-color);
                color: var(--yakit-body-text-color);

                &:first-child {
                    padding-left: 0;
                }
            }

            .icon-trash {
                color: var(--yakit-danger-5);
            }
        }
    }
}

.config-select-path{
    color: var(--yakit-primary-5);
    font-size: 12px;
    cursor: pointer;
}
.ai-sort-box{
    width: 300px;
    
}
.ai-sort-content {
        .menu-list {
            border-radius: 4px;
            border: 1px solid var(--yakit-border-color);
            overflow: auto;
            flex: 1;
            &-item {
                display: flex;
                padding: 2px 8px 2px 12px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                height: 24px;
                box-sizing: content-box;
                cursor: pointer;
                &-info {
                    display: flex;
                    align-items: center;
                    .input {
                        margin-left: 12px;
                    }
                    .drag-sort-icon {
                        color: var(--yakit-disable-text-color);
                        svg {
                            height: 16px;
                            width: 16px;
                        }
                    }
                    .title {
                        margin-left: 12px;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                        color: #31343f;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &:hover {
                    border-radius: 4px;
                    background: #f0f1f3;
                    .form-outlined {
                        display: block;
                    }
                    .trash-icon {
                        display: block;
                    }
                }
            }
            &-item-drag {
                background: var(--yakit-primary-1) !important;
                border: 1px solid var(--yakit-primary-3) !important;
                border-radius: 4px;
                color: var(--yakit-header-color) !important;
    
                svg {
                    color: var(--yakit-primary-5) !important;
                }
            }
        }
}
.sort-active-item {
    padding: 2px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 8px;
}
