.plugin-tun-hijack {
    height: 100%;
    .plugin-tun-hijack-table {
        height: 100%;
        .plugin-tun-hijack-result {
            height: 100%;
            display: flex;
            flex-direction: column;
            .plugin-tun-hijack-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 8px;
                .title {
                    display: flex;
                    align-items: center;
                }
                .extra {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .plugin-tun-hijack-quit-icon {
                        color: var(--Colors-Use-Error-Primary);
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
            .plugin-tun-hijack-content {
                flex: 1;
                overflow: hidden;
            }
            .plugin-tun-hijack-content-hidden {
                height: 0px;
                overflow: hidden;
                flex: none;
            }
        }
    }
}
.plugin-tun-hijack-hidden{
    height: 0px;
    overflow: hidden;
}
.connection-info-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    border-radius: 4px;
    margin-bottom: 8px;
    .connection-info-item-box {
        display: flex;
        justify-content: space-between;
        line-height: 18px;
        .title {
            flex: 1;
            display: flex;
            align-items: center;
            overflow: hidden;
            .name {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-weight: 500;
                font-size: 12px;
                white-space: nowrap;
            }
            .content {
                font-size: 12px;
            }
        }
        .opt {
            display: flex;
            align-items: center;
        }
    }
}

.action-spin {
    display: inline-block;
    width: auto;
}

.filter-icon {
    svg {
        width: 16px;
        height: 16px;
    }
}

.hijack-process-search-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .hijack-process-search {
        margin-bottom: 8px;
        :global {
            .ant-input-search-button {
                width: 40px;
            }
        }
    }

    .hijack-process-tabs {
        flex: 1;
        :global {
            .ant-tabs-top {
                & > .ant-tabs-nav {
                    &::before {
                        border-bottom: unset;
                    }
                }
            }
        }
    }
}
