@use '../../../../styles/mixin.scss' as mixin;

.expand-retract-wrapper {
  width: 100%;
  border-bottom: 0;
  z-index: 8;
  .expand-retract-content {
    @extend %display-column-center;
    width: 100%;
    flex: 1;

    .header {
      @extend %display-flex-center;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
      flex: 1;
      .title {
        @extend %display-flex-center;
        gap: 4px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        .chat-alt-icon {
          svg {
            width: 16px;
            height: 16px;
            color: var(--Colors-Use-Neutral-Disable);
          }
        }
        .chat-title {
          max-width: 250px;
          @include mixin.text-ellipsis();
        }
      }
      .extra {
        @extend %display-flex-center;
        gap: 16px;
        overflow-x: auto;
      }

      .divider-style {
        width: 1px;
        height: 12px;
        border-left: 1px solid var(--Colors-Use-Neutral-Border);
      }
    }
  }
  &:hover {
    background-color: var(--Colors-Use-Neutral-Bg);
    .expand-retract-animation-wrapper {
      width: 54px;
    }
  }
}
.expand-retract-wrapper-collapsed {
  &:hover {
    background-color: var(--Colors-Use-Basic-Background);
    cursor: default;
  }
}

.expand-retract-animation-wrapper {
  top: unset;
  bottom: -12px;
}

.expand-retract-animation-wrapper-hidden {
  display: none;
}

.card-list-wrapper {
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease;
  padding-top: 12px;
  .card-item {
    height: 50px;
    font-size: 14px;
  }
}
.card-list-wrapper-hidden {
  padding-top: 0;
  height: 0;
  opacity: 0;
}
