@use "../../../../styles/mixin.scss" as mixin;

.free-dialog-file-list {
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 4px 0;
    .file-item {
        display: flex;
        flex: 1;
        width: 0;
        overflow: hidden;
        gap: 4px;
        &-btn {
            max-width: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            flex-shrink: 1;
            & > span:last-of-type {
                @include mixin.text-ellipsis;
            }
            svg {
                cursor: pointer;
                color: var(--Colors-Use-Neutral-Text-3-Secondary);
                &:hover {
                    color: var(--Colors-Use-Main-Hover);
                }
            }
        }
        &-content {
            display: flex;
            align-items: center;
            overflow: hidden;
            gap: 2px;
        }
    }
}
.popover-btn {
    width: 100%;
    padding: 0;
    :global {
        .ant-popover-inner-content {
            padding: 4px;
        }
        .ant-popover-arrow {
            display: none;
        }
    }
    .popover-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 8px;
    }
    &-title {
        padding: 2px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        &-btn {
            color: var(--Colors-Use-Error-Primary);
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 200px;
        overflow-y: overlay;
        &-item {
            padding: 2px 8px;
            height: 24px;
            align-items: center;
            display: flex;
            border-radius: 12px;
            justify-content: space-between;
            border-radius: 4px;
            &:hover {
                background: var(--Colors-Use-Neutral-Bg-Hover);
            }
            p {
                margin: 0;
                @include mixin.text-ellipsis;
            }
        }
    }
}
