<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>报告</title>
    <link rel="stylesheet" href="./css/index.css" />

    <!-- 引入JQuery -->
    <script src="./js/JQuery/jquery.js"></script>

    <!-- 引入JSON解析 -->
    <link rel="stylesheet" href="./js/JQuery/jquery.jsonview.css" />
    <script
      type="text/javascript"
      src="./js/JQuery/jquery.jsonview.js"
    ></script>

    <!-- 引入Bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <!-- hightlight -->
    <link
      rel="stylesheet"
      href="./js/highlight/default.min.css"
    />
    <script src="./js/highlight/highlight.min.js"></script>

    <script src="./js/highlight/go.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!-- 引入Echarts -->
    <script src="./js/echarts.js"></script>

    <!-- 引入Echarts Option配置项 -->
    <script src="./js/echartsOption.js"></script>

    <!-- 引入展示内容 -->
    <script src="./js/init.js"></script>

    <!-- 引入markdowm解析器 -->
    <script src="./js/marked.min.js"></script>

    <!-- 引入table生成函数 -->
    <script src="./js/initTable.js"></script>

    <!-- 引入table生成函数 -->
    <script src="./js/js2wordcloud.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="markdown-bar">
        <div>目录</div>
      </div>
      <div class="left"></div>
      <div class="mid"><div id="content"></div></div>
      <div class="right"></div>
    </div>

    <!-- 引入markdown导航栏 -->
    <script src="./js/markdownBar.js"></script>
    <script>
      const renderer = new marked.Renderer();
      renderer.heading = (text, level, raw) => {
        const anchor = tocifyAdd(text, level);
        return `<a id="${anchor}" class="anchor-fix"><h${level}>${text}</h${level}></a>\n`;
      };

      marked.setOptions({
        renderer: renderer,
        gfm: true, //启动类似Github样式的Markdown,填写true或者false
        pedantic: false, //只解析符合Markdown定义的，不修正Markdown的错误。填写true或者false
        sanitize: false, //原始输出，忽略HTML标签，这个作为一个开发人员，一定要写flase
        tables: true, //支持Github形式的表格，必须打开gfm选项
        breaks: true, //支持Github换行符，必须打开gfm选项，填写true或者false
        smartLists: true, //优化列表输出，这个填写ture之后，你的样式会好看很多，所以建议设置成ture
        smartypants: true,
        highlight: (code) => hljs.highlightAuto(code).value,
      });
    </script>

    <script>
      // Echarts绘图数量
      let echartsNum = 0;
      // wordCloud字符云绘制数量
      let wordCloudNum = 0;
      // JsonView绘制数量
      let jsonViewNum = 0;

      const createEcharts = (type, content) => {
        echartsNum += 1;
        let pieId = `echarts-${echartsNum}`;
        let echartsGraphBox = $(
          `<div class="echarts-box"><div id='${pieId}' class="echart-item"/></div>`
        );
        $("#content").append(echartsGraphBox);
        let myChart = echarts.init(document.getElementById(`${pieId}`));
        let Option;
        switch (type) {
          case "pie-graph":
            Option = initSolidOptionPie(content);
            break;
          case "vertical-bar-graph":
            Option = initVerticalOptionBar(content);
            break;
          case "horizontal-bar-graph":
            Option = initHorizontalOptionBar(content);
            break;
          default:
            break;
        }
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(Option);
        // echarts监听页面变化 实时更改图表大小
        window.onresize = myChart.resize
      };

      const createTable = (content) => {
        let tableStr = initTable(content);
        $("#content").append(tableStr);
      };

      const createExtendTable = (content) => {
        let tableStr = initExtendTable(content);
        $("#content").append(tableStr);
      }

      const createWordCloud = (content) => {
        wordCloudNum += 1;
        let wordCloudId = `word-cloud-${wordCloudNum}`;
        let wordCloudBox = $(
          `<div class="echarts-box"><div id='${wordCloudId}' class="echart-item"/></div>`
        );
        $("#content").append(wordCloudBox);
        let wc = new Js2WordCloud(document.getElementById(wordCloudId));
        wordFreqData = content;
        option = {
          tooltip: {
            show: true,
          },
          list: wordFreqData,
          fontSizeFactor: 10,
          maxFontSize: 40, //最大字号
          minFontSize: 8, //最小字号
          color: "random-light", //random-light/random-dark
          backgroundColor: "#fff", // 背景颜色
          rotateRatio: 0, // 字体倾斜(旋转)概率，1代表总是倾斜(旋转)
        };
        wc.setOption(option);
      };

      const createJsonView = (content) => {
        let info = JSON.parse(content);
        console.log("info",info)
        if (info?.type === "report-cover") return;
        if(info?.type === "bar-graph"){
            let color = info?.color
            let title = (info?.data||[]).map((item)=>item.name)
            let value = (info?.data||[]).map((item)=>item.value)
            let obj = {title,value,color}
            createEcharts("vertical-bar-graph",obj)
        }
        else {
          jsonViewNum += 1;
          let jsonViewId = `json-view-${jsonViewNum}`;
          let jsonViewBox = $(
            `<div class="json-view-box"><div id='${jsonViewId}' class="json-view-item"/></div>`
          );
          $("#content").append(jsonViewBox);
          $(jsonViewBox).JSONView(content, { collapsed: true });
        }
      };

      const newInitData = JSON.parse(initData);
      if (newInitData && Array.isArray(newInitData)) {
        newInitData.map((item, index) => {
          switch (item.type) {
            // Markdown渲染
            case "markdown":
              $("#content").append(
                `<div class="wmde-markdown">${marked.parse(item.content)}</div>`
              );
              break;
            // Echarts渲染
            case "pie-graph":
              createEcharts(item.type, item.content);
              break;
            case "vertical-bar-graph":
              createEcharts(item.type, item.content);
              break;
            case "horizontal-bar-graph":
              createEcharts(item.type, item.content);
              break;
            case "divider":
              break;
            case "json-table":
              // createTable(item.content);
              createExtendTable(item.content)
              break;
            case "raw":
              createJsonView(item.content);
              break;
            case "code":
              $("#content").append(
                marked.parse("```js\n" + item.content + "\n```")
              );
              break;
            case "wordcloud":
              createWordCloud(item.content);
              break;
            default:
              $("#content").append(
                marked.parse("```js\n" + item.content + "\n```")
              );
              break;
          }
        });
      }
      console.log("initData", newInitData);

      // 构建markdown跳转导航
      let renderStr = renderToc(tocItems);
      $("#markdown-bar").append(renderStr);
    </script>
  </body>
</html>
