.regex-tester {
    padding: 12px;
    display: flex;
    gap: 12px;
    height: 500px;

    .regex-tester-left,
    .regex-tester-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        background: var(--Colors-Use-Neutral-Bg);
        .section-title {
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
    }

    .regex-tester-left {
        gap: 12px;
        .test-text-section {
            flex: 1;
            display: flex;
            flex-direction: column;

            .editor-wrapper {
                flex: 1;
                border: 1px solid var(--Colors-Use-Neutral-Border);
                border-radius: 4px;

                :global {
                    .monaco-editor {
                        border-radius: 4px;
                    }
                }
            }
        }

        .regexp-input-wrapper {
            min-height: 24px;
        }
    }

    .regex-tester-right {
        padding-bottom: 50px;
        .matches-list {
            flex: 1;
            overflow-y: auto;
            background: var(--Colors-Use-Basic-Background);
            border: 1px solid var(--Colors-Use-Neutral-Border);
            border-radius: 4px;

            .match-row {
                display: flex;
                align-items: center;
                padding: 6px;
                gap: 8px;
                .match-label {
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    flex-shrink: 0;
                }

                .match-position {
                    font-size: 12px;
                    color: var(--Colors-Use-Neutral-Disable);
                    flex-shrink: 0;
                }

                .match-value {
                    flex: 1;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    border-left: 1px solid var(--Colors-Use-Neutral-Border);
                    padding-left: 6px;
                }

                .position-icon svg {
                    margin-right: 12px;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    color: var(--Colors-Use-Neutral-Text-3-Secondary);
                }

                .position-icon-active svg {
                    color: var(--Colors-Use-Main-Primary);
                }

                .position-icon-placeholder {
                    width: 16px;
                    flex-shrink: 0;
                }
            }
        }
    }

    :global {
        .regex-match-highlight {
            background: var(--Colors-Use-Main-Primary);
            opacity: 0.4;
            pointer-events: none;
        }

        .regex-match-highlight-active {
            background: var(--Colors-Use-Yellow-Primary);
            opacity: 0.4;
            pointer-events: none;
        }
    }
}
