.virtual-table {
    height: 100%;


    :global {
        .ant-spin-nested-loading {
            height: 100%;
        }

        .ant-spin-container {
            height: 100%;
        }

        ::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 8px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 8px;
        }

        ::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 10px;
            box-shadow: none;
            background-clip: padding-box;
            border: 1px solid transparent;
        }

        ::-webkit-scrollbar-track {
            border-radius: 0;
            box-shadow: none;
            background: none;
        }

        ::-webkit-scrollbar-thumb:hover {
            border-color: #c1c1c1;
        }

    }

    .virtual-table-heard-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 8px;

        .virtual-table-heard-right-item {
            display: flex;
            align-items: center;

            .virtual-table-heard-right-text {
                color: #B4BBCA;
                font-size: 12px;
                margin-right: 4px;
            }

            .virtual-table-heard-right-number {
                color: #1890ff;
                font-size: 12px;
            }
        }
    }


    .virtual-table-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;

        .virtual-table-container-none-select {
            user-select: none !important;
        }

        .virtual-table-col {
            position: sticky;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 4;
            border-bottom: 1px solid #EAECF3;
            width: fit-content;

            .virtual-table-title {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: #F8F8F8;
                padding: 6px 12px;
                height: 28px;
                border-right: 1px solid #EAECF3;
                width: 100%;
                color: #31343F;
                font-weight: 500;
                font-size: 12px;
                box-sizing: border-box;

                &:last-child {
                    border-right: 0;
                }

                .virtual-title {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 100%;
                    flex: 1;

                    .icon-question {
                        color: #B4BBCA;
                    }
                }

                .virtual-table-title-left {
                    box-shadow: 4px 0px 8px rgba(133, 137, 158, 0.12);
                }

                .virtual-table-title-icon {
                    margin-left: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .virtual-table-sorter {
                        display: flex;
                        color: #B4BBCA;

                    }

                    .virtual-table-sorter-active {
                        color: #1890ff;
                    }

                    .virtual-table-filter {
                        color: #B4BBCA;
                        display: flex;
                        align-items: center;
                    }

                    .virtual-table-filter-value {
                        color: #1890ff;
                    }

                    .virtual-table-sorter-disable {
                        display: flex;
                        color: #EAECF3;
                    }
                }


            }

            .virtual-table-title-fixed-left {
                position: sticky;
                z-index: 5;
                left: 0;
                top: 0;
                box-shadow: 4px 0px 6px rgba(133, 137, 158, 0.1);
            }

            .virtual-table-title-fixed-left-box-show-none {
                box-shadow: none !important;
            }

            .virtual-table-title-fixed-left-border {

                &:first-child {
                    border-left: 1px solid #EAECF3;
                }

                &:last-child {
                    border-right: 0;
                }
            }

            .virtual-table-title-fixed-right {
                position: sticky;
                z-index: 5;
                right: 0;
                top: 0;

                &:first-child {
                    border-left: 1px solid #EAECF3;
                }
            }

            .virtual-table-title-fixed-right-border {
                &:last-child {
                    border-right: 0;
                }
            }

            .virtual-table-title+.virtual-table-title-fixed-right:nth-last-child(1) {
                border-left: 1px solid #EAECF3;
                box-shadow: -4px 0px 6px rgba(133, 137, 158, 0.1);
            }

            .virtual-table-title-fixed-right-left-0 {
                border-left: 0 !important;
                box-shadow: none !important;
            }
        }

        .virtual-table-list-container {
            width: 100%;
            overflow-y: overlay;
            overflow-x: overlay;
            overflow-anchor: none;
            position: relative;
            padding-bottom: 34px;
            border: 1px solid #EAECF3;


            .virtual-table-list {
                display: flex;
                position: relative;
                width: fit-content;
                font-size: 12px;

                .virtual-table-row {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    word-break: break-all;
                    height: 28px;
                    background-color: #FFFFFF;
                    border: 1px solid #EAECF3;
                    color: #31343F;
                    font-weight: 400;
                    font-size: 12px;
                    box-sizing: border-box;
                    border-bottom-width: 0;
                    z-index: 2;

                    &:first-child {
                        border-top-width: 0;
                    }

                    &:last-child {
                        border-bottom-width: 1px;
                    }
                }



                .virtual-table-row-cell {
                    height: 28px;
                    padding: 6px 12px;
                    width: 100%;
                    border-top: 1px solid #EAECF3;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        border-top-width: 0;
                    }

                    &:last-child {
                        border-bottom: 1px solid #EAECF3;
                    }

                    &:hover {
                        background: #F8F8F8;
                    }
                }

                .virtual-table-row-cell-disabled {
                    color: #CCD2DE;
                    background-color: #F8F8F8;
                }

                .virtual-table-row-cell-border-right-0 {
                    border-right: 0;
                }

                .virtual-table-row-cell-border-right-1 {
                    border-right: 1px solid #91d5ff;
                }

                .virtual-table-row-cell-border-left-1 {
                    border-left: 1px solid #91d5ff;
                }

                .virtual-table-row-ellipsis {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                    width: 100%;
                    line-height: 100%;
                }

                .virtual-table-row-no-ellipsis {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .virtual-table-row-content {
                    height: 100%;
                    background-color: #fff;
                    border-right: 1px solid #EAECF3;

                    &:last-child {
                        border-right: 0;
                    }

                    // &:hover {
                    //     background: #F8F8F8 !important;
                    // }
                }

                .virtual-table-row-fixed-left {
                    position: sticky;
                    left: 0;
                    z-index: 1;
                    box-shadow: 4px 0px 6px rgba(133, 137, 158, 0.1);
                }

                .virtual-table-row-fixed-left-box-show-none {
                    box-shadow: none;
                }

                .virtual-table-row-fixed-right {
                    position: sticky;
                    right: 0;
                    top: 0;
                    z-index: 1;
                }

                .virtual-table-row-content+.virtual-table-row-fixed-right:nth-last-child(1) {
                    border-left: 1px solid #EAECF3;
                    box-shadow: -4px 0px 6px rgba(133, 137, 158, 0.1);
                }

                .virtual-table-row-fixed-right-left-0 {
                    border-left: 0 !important;
                    box-shadow: none !important;
                }

                .virtual-table-active-row {
                    border-bottom: 1px solid #91d5ff !important;
                    border-top: 1px solid #91d5ff !important;
                    background-color: #e6f7ff !important;
                }

                .virtual-table-hover-row {
                    background-color: #F8F8F8;
                }

                .virtual-table-active-row+.virtual-table-row-cell {
                    border-top: 0 !important;
                }

            }

        }

        .virtual-table-list-pagination {
            height: 22px;
            position: absolute;
            bottom: 12px;
            width: calc(100% - 10px); // 滚动条宽度

            .pagination-loading {
                height: 22px;
                line-height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .pagination-text {
                height: 22px;
                line-height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #B4BBCA;
                font-size: 12px;
                visibility: hidden;
            }

            .pagination-text-show {
                visibility: inherit;
            }
        }


        .virtual-table-list-pagination-border-left {
            border-left: 0;
        }

        .virtual-table-title-drag {
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height: 100%;
            background-color: transparent;
            cursor: col-resize;
            z-index: 4;

            &:hover {
                border-right: 1px solid #1890ff;
            }
        }

        .drag-line {
            width: 1px;
            border-left: 1px dashed #1890ff;
            position: absolute;
            z-index: 9;
            height: 100%;

            &:hover {
                cursor: col-resize;
            }
        }

        .check {
            margin-right: 4px;
            height: 18px;
            width: 16px;
        }

        .virtual-table-row-left {
            text-align: left;
            justify-content: flex-start;
        }

        .virtual-table-row-center {
            text-align: center;
            justify-content: center;
        }

        .virtual-table-row-right {
            text-align: right;
            justify-content: flex-end;

        }

        .virtual-table-flex-center {
            display: flex;
            align-items: center;
        }
    }

    .virtual-table-border-bottom {
        border-bottom: 0;
    }

    .virtual-table-heard {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 42px;
        padding: 8px 0;

        .virtual-table-heard-left {
            display: flex;
            align-items: center;

            .virtual-table-heard-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #31343F;
            }
        }

        .virtual-table-heard-right {
            flex: 1;
        }
    }
}

.search-popover {

    min-width: 88px;

    :global {
        .ant-popover-inner-content {
            padding: 0;
        }

        .ant-popover-inner {
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            border: 1px solid #F0F2F5;
        }

        .ant-popover-arrow {
            top: 2.514719px;
        }

        .ant-select {
            margin: 0 6px;
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border-radius: 4px;
        }

        .ant-checkbox-inner {
            border-radius: 4px;
        }

        .ant-checkbox-checked::after {
            border-radius: 4px;
        }

        .ant-checkbox-wrapper {
            height: 16px;
        }
    }

    .popover-content {
        padding-top: 8px;
    }

    .select-search {
        position: relative;

        .select-container {
            max-height: 40vh;
            min-height: 34px;
            overflow-y: auto;
        }

        .select-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 6px 12px;
            cursor: pointer;

            &:hover {
                background: #F8F8F8;
            }

            &:active {
                background: #F8F8F8;
                color: #1890ff;
            }

            .select-item-text {
                margin-left: 8px;
            }
        }

        .no-data {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 6px 12px;

        }

        .select-item-active {
            background: #F8F8F8;
            color: #1890ff;
        }

        .select-search-single {

            .select-search-input {
                padding: 0 6px;
                position: sticky;
                top: 0;
                background-color: #fff;

                :global {
                    .ant-input {
                        border-radius: 4px;
                    }

                    .ant-input-group-addon {
                        display: none;
                        border-radius: 4px;
                    }
                }
            }

            .select-search-input-icon {
                :global {
                    .ant-input {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .ant-input-group-addon {
                        display: table-cell;
                        top: -0.5px;
                    }
                }
            }
        }

        .select-search-multiple {
            padding: 24px 0;
            width: 138px;

            :global {
                ::-webkit-scrollbar {
                    height: 0;
                    width: 0;
                    color: transparent;
                }
            }

            .select-heard {
                position: absolute;
                top: 0;

                :global {
                    .ant-select-selection-overflow {
                        flex-wrap: nowrap;
                        overflow-x: overlay;
                    }
                }
            }
        }
    }

    .date-time-search {
        padding: 0 8px 8px;

        .time-rang {
            margin-top: 8px;

            span {
                cursor: pointer;
            }
        }
    }

    .date-time-search-footer {
        position: relative;
    }

    @media screen and (max-height:600px) {
        .select-search {
            max-height: 180px;
        }
    }

}

.justify-content-between {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.select-footer {
    border-top: 1px solid #EAECF3;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    display: flex;
    background: #F8F8F8;
    height: 28px;
    position: absolute;
    bottom: 0;
    user-select: none;

    .footer-bottom {
        flex: 1;
        font-weight: 500;
        font-size: 12px;
        height: 28px;
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .select-reset {
        color: #85899E;
        border-right: 1px solid #EAECF3;
    }

    .select-sure {
        color: #1890ff;
    }
}

/* 内容过长省略样式 */
.ellipsis-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}