.left-side-bar {
    height: 100%;
    display: flex;

    &-content {
        flex: 1;
        overflow: hidden;
        height: 100%;
        .content-wrapper {
            width: 100%;
            height: 100%;
        }

        .hidden-content {
            display: none;
        }
    }
}

.folded {
    .left-side-bar-content {
        width: 0;
    }
}

.hidden {
    border-right: 1px solid var(--Colors-Use-Neutral-Bg);
}
