.journal-content {
    height: 100%;

    .container {
        overflow-x: hidden;
    }

    .journal-list-item {
        position: relative;
        max-width: 100%;
        height: 32px;

        .list-code-diff {
            height: 400px;

            .yak-editor-tip {
                padding-top: 0;
            }

            .yak-editor-full-item {
                height: calc(100% - 28px);
            }
        }

        .ant-popover {
            top: 24px !important;
        }

        .ant-popover-content {
            margin-right: 16px;
        }

        .journal-item-content {
            display: flex;
            align-items: center;
            max-width: 100%;
            position: relative;
            width: fit-content;

            .journal-text {
                max-width: calc(100% - 100px);
                width: fit-content;
            }

            .journal-item-operation {
                width: 100px;
            }
        }
    }

    .ant-timeline-item {
        padding-bottom: 0;
    }

    .ant-spin-nested-loading {
        height: 100%;
    }

    .ant-timeline {
        height: 100%;
    }

    .ant-timeline-item-last {
        padding-bottom: 0;
    }

    .ant-timeline-item-head-custom {
        top: 8.5px;
        left: 8px;
    }

    .ant-timeline-item-tail {
        left: 7px;
    }
}