.chat-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0 8px;

  &-left {
    display: flex;
    align-items: center;
    gap: 4px;
    // padding: 4px 8px 0 0;
    flex: 1;
    min-width: 0;
  }

  &-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
      color: var(--Colors-Use-Neutral-Text-2-Primary);
    }
  }

  &-text {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    @include mixin.text-ellipsis(1, false, false, true);

    width: 100%;
  }

  &-extra {
    flex-shrink: 0;
    min-width: 0;
    max-width: 100%;
    @include mixin.text-ellipsis(1, false, false, true);

    &:empty {
      display: none;
    }
  }

  &-more {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }
}
