.table-virtual-resize {
    height: 100%;

    .status-code {
        color: #56C991;
    }

    .check-circle-icon {
        color: #56C991;
    }

    .action {
        color: #1890ff;
    }
}

/* history表格右键菜单颜色功能样式 */
.history-color-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-color-tag .tag-color-display {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.http-history-table-extra {
    padding-left: 8px;
    width: 100%;
    display: flex;

    .extra-left {
        display: flex;
        align-items: center;

        .extra-left-item {
            display: flex;
            align-items: center;

            .extra-left-text {
                color: #B4BBCA;
                font-size: 12px;
                margin-right: 4px;
            }

            .extra-left-number {
                color: #F28B44;
                font-size: 12px;
            }
        }
    }

    .extra-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        :global {
            .ant-divider-vertical {
                margin: 0 16px;
            }
        }

        .extra-right-label {
            padding-right: 4px;
        }

        .extra-right-item {
            padding-right: 16px;
            display: flex;
            align-items: center;
        }

        .extra-right-filter-small {
            display: none;
            padding-right: 16px;
        }

        .extra-right-filter-large {
            display: flex;

            .extra-right-filter-item {
                display: flex;
                padding-right: 16px;

                .extra-right-filter-select {
                    width: 140px;
                }
            }
        }

        @media screen and (max-width: 1460px) {
            .extra-right-filter-small {
                display: flex;
            }

            .extra-right-filter-large {
                display: none;
            }
        }

        .extra-right-search {
            width: 216px;
            border-radius: 4px;
        }

        .extra-right-button {
            button {
                margin-right: 8px;
            }

            button:last-child {
                margin-right: 16px;
            }
        }


    }
}