.http-flow-table-form-configuration {
    :global {
        .ant-form-item-with-help .ant-form-item-explain {
            font-size: 12px;
            color: var(--yakit-helper-text-color);
            line-height: 16px;
            min-height: 16px;
            margin-top: 2px;
        }
        .ant-form-item-control-input {
            min-height: 28px;
        }
    }
    .advanced-configuration-drawer-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .advanced-configuration-drawer-title-text {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: var(--yakit-header-color);
        }
        .advanced-configuration-drawer-title-btns {
            display: flex;
            gap: 8px;
        }
    }

    .advanced-config-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .config-item-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .item-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .header-title {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--yakit-header-color);
                }
            }
        }
    }

    .setting-body {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .setting-item {
            display: flex;
            align-items: center;
            &-header {
                flex: 0 0 25%;
                max-width: 25%;
                padding-right: 12px;
                display: flex;
                justify-content: right;
                align-items: center;
            }
            &-body {
                flex: 1;
                display: flex;
                align-items: center;
            }
        }

        .background-refresh {
            .title-style {
                font-size: 14px;
                line-height: 22px;
                color: var(--yakit-header-color);
            }
            .hint-style {
                cursor: pointer;
                svg {
                    width: 16px;
                    height: 16px;
                    color: var(--ui-neutral-50);
                }
            }
        }
    }

    .columns-cols {
        display: flex;
        flex-wrap: wrap;
        .columns-cols-item {
            width: 25%;
            margin-bottom: 8px;
            overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
        }
    }
}
