@use "../../../theme/themeify.scss" as tools;

%display-flex-center {
    display: flex;
    align-items: center;
}
%display-column-center {
    display: flex;
    flex-direction: column;
}

$tagColor: (
    "success": (
        color: var(--Colors-Use-Success-Primary)
    ),
    "warning": (
        color: var(--Colors-Use-Warning-Primary)
    ),
    "info": (
        color: var(--Colors-Use-Main-Primary)
    ),
    "danger": (
        color: var(--Colors-Use-Error-Primary)
    ),
    "serious": (
        color: var(--Colors-Use-Status-Serious)
    ),
    "default": (
        color: var(--Colors-Use-Neutral-Disable)
    )
);
$keyColor: map-keys($tagColor);
@for $c from 1 through length($keyColor) {
    $name: nth($keyColor, $c);
    $currentColor: map-get($tagColor, $name);
    .severity-#{$name} {
        color: map-get($currentColor, "color");
    }
}
.yakit-risk-table {
    @extend %display-column-center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 12px;
    .table-severity-tag {
        margin-right: 0;
    }
    .filter-icon {
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .misstatement-icon {
        color: var(--Colors-Use-Neutral-Text-3-Secondary);
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover {
            color: var(--Colors-Use-Main-Primary);
        }
    }
    .yakit-risk-details {
        @extend %display-column-center;
        border-radius: 0 0 4px 4px;
        position: relative;
        height: 100%;
        border-top: 0;
        .yakit-risk-details-title {
            @extend %display-flex-center;
            justify-content: space-between;
            border-left: 1px solid var(--Colors-Use-Neutral-Border);
            border-right: 1px solid var(--Colors-Use-Neutral-Border);

            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            padding: 8px 12px;
        }
    }
    .yakit-risk-table-cell-unread {
        // background-color: #f6544a14;
        background-color: tools.fetch-color-transparen(var(--Colors-Use-Blue-Primary), 5%);
    }
}
.yakit-risk-details-content {
    overflow-y: auto;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    display: flex;
    flex-direction: column;
    :global {
        .ant-descriptions-bordered .ant-descriptions-view > table {
            table-layout: fixed;
        }
    }
}

.content-heard {
    @extend %display-flex-center;
    align-items: center;
    padding: 4px 12px;
    // border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
    .content-heard-left {
        @extend %display-flex-center;
        overflow: hidden;
        .content-heard-severity {
            @extend %display-column-center;
            align-items: center;
            justify-content: center;
            .content-heard-severity-name {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
            svg {
                width: 28px;
                height: 28px;
            }
        }
        .content-heard-body {
            @extend %display-flex-center;
            gap: 8px;
            overflow: hidden;
            flex-wrap: wrap;
            .content-heard-body-title {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }
            .content-heard-body-title-click {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    color: var(--Colors-Use-Main-Primary);
                }
            }
            .content-heard-body-description {
                @extend %display-flex-center;
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                overflow: hidden;
                .description-port {
                    flex-shrink: 0;
                }
                .url-info {
                    @extend %display-flex-center;
                    gap: 4px;
                    overflow: hidden;
                    .url {
                        color: var(--Colors-Use-Neutral-Text-1-Title);
                    }
                }
                .content-heard-body-time {
                    @extend %display-flex-center;
                    gap: 16px;
                    flex-shrink: 0;
                }
            }
        }
    }
    .content-heard-right {
        @extend %display-flex-center;
        align-items: flex-start;
        flex: 1;
        justify-content: flex-end;
    }
}

.yakit-risk-details-content-no-border {
    border: 0;
}

.table-renderTitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;

    color: var(--Colors-Use-Neutral-Text-1-Title);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */

    .table-renderTitle-left {
        @extend %display-flex-center;
        gap: 8px 16px;
        flex-wrap: wrap;
        .table-renderTitle-text {
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
    }
    .table-head-extra {
        @extend %display-flex-center;
        gap: 8px;
    }
    .virtual-table-heard-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .virtual-table-heard-right-item {
            display: flex;
            align-items: center;

            .virtual-table-heard-right-text {
                color: var(--Colors-Use-Neutral-Disable);
                font-size: 12px;
                margin-right: 4px;
            }

            .virtual-table-heard-right-number {
                color: var(--Colors-Use-Main-Primary);
                font-size: 12px;
            }
        }
    }
}

.table-tag {
    @extend %display-flex-center;
    justify-content: space-between;
    gap: 4px;
    cursor: pointer;
    &:hover {
        .table-tag-icon {
            opacity: 1;
        }
    }
    .table-tag-icon {
        opacity: 0;
        color: var(--Colors-Use-Neutral-Disable);
        svg {
            width: 16px;
            height: 16px;
        }
    }
}

.yakit-risk-select-tag {
    padding: 24px;
    .yakit-risk-select-tag-btns {
        @extend %display-flex-center;
        justify-content: flex-end;
        gap: 8px;
    }
}

.yakit-code-scan-risk-details {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-resize-collapse {
    height: 100%;
    display: flex;
    flex-direction: column;
    .main-title {
        border-left: 1px solid var(--Colors-Use-Neutral-Border);
        border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
        border-right: 1px solid var(--Colors-Use-Neutral-Border);
        background: var(--Colors-Use-Neutral-Bg);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px 12px;
        align-items: center;
        align-self: stretch;

        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .audit-result-collapse {
        flex: 1;
        :global {
            .ant-collapse-item > .ant-collapse-header {
                padding: 3px 0px 3px 0px !important;
            }
            .ant-collapse-header-text {
                flex: 1;
                overflow: hidden;
            }
        }
    }
}
.audit-result-collapse {
    overflow: auto;
}

.disabled-open {
    min-width: 134px;
    background: var(--Colors-Use-Basic-Background);
    color: var(--Colors-Use-Neutral-Disable);
    border-radius: 4px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    height: 24px;
    padding: 3px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: no-drop;
    display: flex;
    gap: 4px;
    align-items: center;
    svg {
        width: 16px;
        height: 16px;
        color: var(--Colors-Use-Neutral-Disable);
    }
}

.no-more {
    font-size: 12px;
    color: var(--Colors-Use-Neutral-Disable);
    text-align: center;
    padding: 12px;
    width: 100%;
}

.node-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 8px;
    align-items: center;
    .content-body {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        gap: 8px;
        .name {
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
        }
        .detail {
            color: #b4bbca;
            font-size: 12px;
            font-weight: 400;
            overflow: hidden;
        }
    }
}

.content-resize-first {
    @extend %display-column-center;
    height: 100%;
    overflow: hidden;
    &-heard {
        @extend %display-flex-center;
        gap: 8px;
    }
}
.content-resize-second {
    @extend %display-column-center;
    overflow-y: auto;
    height: 100%;
}
.content-resize-overflow {
    overflow-y: auto;
    height: 100%;
}
div.md-content {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--Colors-Use-Neutral-Text-1-Title);
    // border: 1px solid var(--Colors-Use-Neutral-Border);
    background: transparent;
    pre {
        background: var(--Colors-Use-Neutral-Bg);
    }
}
.scan-rule-box {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: var(--Colors-Use-Main-Primary);
    }
}
