.ant-dropdown {
  color: var(--Colors-Use-Neutral-Text-1-Title);
  border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
  background: var(--Colors-Use-Basic-Background);
  box-shadow: 0px 8px 16px 0px var(--Colors-Use-Basic-Shadow);
  border-radius: 4px;
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu {
  background: var(--Colors-Use-Basic-Background);
  color: var(--Colors-Use-Neutral-Text-1-Title);
}

.ant-select-dropdown {
  color: var(--Colors-Use-Neutral-Text-1-Title);
  background: var(--Colors-Use-Basic-Background);
  border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
  box-shadow: 0px 8px 16px 0px var(--Colors-Use-Basic-Shadow);
}

.ant-select-item {
  color: var(--Colors-Use-Neutral-Text-1-Title);
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--Colors-Use-Neutral-Bg-Hover);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  font-weight: 400;
  color: var(--Colors-Use-Main-Primary);
  background: var(--Colors-Use-Main-Bg);
}
