.yak-executor-body .ant-card-head-title {
    padding: 5px 0;
}

.executor-file-list .ant-card-head-title {
    padding: 5px 0;
}
.executor-file-list .ant-card-extra {
    padding: 5px 0;
}
.executor-file-list .file-list-icon {
    margin-right: 5px;
    cursor: pointer;
}
.executor-file-list .file-list {
    width: 100%;
    height: 100%;
    margin-top: 7px;
    position: relative;
    overflow: auto;
}
.executor-file-list .file-list .list-opt {
    width: 100%;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    position: absolute;
    cursor: pointer;
}
.executor-file-list .file-list.selected {
    background-color: #cac7c7;
}
.executor-file-list .file-list .list-opt:hover {
    background-color: #e7e4e4;
}
.executor-file-list .file-list .list-opt .name {
    font-size: 13px;
}
.executor-file-list .file-list .list-opt .input {
    height: 20px;
}

.executor-right-body {
    height: 100%;
    border: 1px solid #f0f0f0;
}
.executor-right-body .ant-tabs-nav {
    margin: 0 0 2px 0;
    height: 30px;
    background-color: #e1e1e1;
}
.executor-right-body .ant-tabs-nav .ant-tabs-tab-btn {
    font-size: 13px;
}

.right-editor .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #e8e9e8 !important;
    border-bottom-color: #e8e9e8 !important;
}
.right-editor .ant-tabs-nav .ant-tabs-tab {
    border: 1px solid #e8e9e8;
    background-color: #eff1ef;
}

.right-xterm .ant-tabs-nav {
    box-shadow: 0px 10px 10px #d3d3d3;
}
