.form-item-required-title {
    color: red;
}

.creator-form-item-margin {
    margin-bottom: 5px;
}

.select-type-opt {
    padding-left: 15px;
}

.select-type-opt .opt-hint-title {
    text-align: right;
    padding-right: 5px;
}

.select-type-opt .opt-hint-input {
    width: 30%;
    min-width: 121px;
    max-width: 180px;
}

.select-type-opt .opt-hint-input+.opt-hint-title {
    margin-left: 10px;
}

.save-script {
    .exclamation-icon {
        font-size: 22px;
        color: #faad14;
    }

    .title {
        font-size: 18px;
        margin-left: 15px;
    }

    .tip {
        font-size: 15px;
        margin-left: 37px;
        margin-top: 12px;
    }
}