.pluginDebuggerPage {
    height: 100%;
    .configTitleExtraBtns {
        display: flex;
        align-items: center;
    }
    .currentPluginName {
        color: #85899e;
        font-size: 11px;
    }
    .rightYakitTabs {
        padding: 12px;
    }
    .secondNodeHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .emptyPosition {
        position: relative;
        height: calc(100% - 34px);
        :global {
            .ant-empty {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
// 插件基础检测
.plugin-base-inspect-body {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    .header-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px 16px;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(136, 99, 247, 0.1) 0%, rgba(247, 170, 99, 0.1) 100%);

        gap: 8px;
        .title-style {
            color: #31343f;
            font-size: 12px;
            line-height: 16px;
        }
        .header-body {
            display: flex;
            flex-direction: column;

            gap: 2px;
            .opt-content {
                display: flex;
                align-items: center;
                color: #85899e;
                font-size: 12px;
                line-height: 20px;

                gap: 8px;
                .content-order {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 16px;
                    height: 16px;
                    padding: 2px 6px;
                    color: #31343f;
                    border-radius: 8px;
                    background: rgba(136, 99, 247, 0.2);
                    font-size: 10px;
                }
            }
        }
    }
    .loading-wrapper {
        padding-top: 16px;
        padding-bottom: 24px;
        .loading-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px 12px 0px 12px;

            gap: 8px;
            .loading-icon {
                height: 40px;
            }
        }
        .loading-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            gap: 4px;
            .title-style {
                color: #31343f;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
            .subtitle-style {
                color: #85899e;
                font-size: 12px;
                line-height: 16px;
                .active-style {
                    color: #f28b44;
                }
            }
        }
        .error-list {
            .list-body {
                display: flex;
                align-items: center;
                overflow: hidden auto;
                flex-direction: column;
                max-height: 45vh;

                gap: 8px;
                .list-opt {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 12px 16px;
                    border: 1px solid #eaecf3;
                    border-radius: 4px;
                    background: #f8f8f8;

                    gap: 8px;
                    .opt-header {
                        display: flex;
                        align-items: center;
                        color: #85899e;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 16px;

                        gap: 8px;
                    }
                    .opt-content {
                        color: var(--color-gray-text-04, #31343f);
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        .res-score-wrap {
            text-align: center;
            .score {
                font-size: 32px;
            }
            .res-feedback {
                color: #85899e;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .controls-btns {
            margin-top: 15px;
            text-align: center;
        }
    }
}
// 插件内容
.debug-plugin-drawer-title {
    color: rgba(49, 52, 63, 1);
    font-size: 14px;
    font-weight: bold;
}
.plugin-cont {
    height: 100%;
    .plugin-search-wrap {
        margin-bottom: 16px;
    }
    .plugin-list-info {
        display: flex;
        align-items: center;
        .plugin-list-check {
            display: flex;
            align-items: center;
            margin-right: 16px;
            .plugin-list-check-text {
                margin-left: 4px;
                color: var(--yakit-header-color);
                font-size: 12px;
            }
        }
        .number-warp {
            color: var(--yakit-helper-text-color);
            font-size: 12px;
            .number-color {
                color: var(--yakit-primary-5) !important;
            }
        }
    }
    .selected-clearAll {
        align-self: flex-end;
    }
    .plugin-list-wrap {
        height: calc(100% - 135px);
        .plugin-empty {
            margin-top: 48px;
            .plugin-buttons {
                display: flex;
                justify-content: center;
                margin-top: 16px;

                gap: 8px;
            }
        }
        .plugin-local-item {
            display: flex;
            align-items: center;
            flex: 1;
            height: 44px;
            padding: 8px 0px;
            border-top: 1px solid var(--yakit-border-color);
            &:hover {
                background-color: var(--yakit-card-background-color);
            }
            .plugin-local-left {
                display: flex;
                align-items: center;
                flex: 1;
                padding-left: 2px;

                gap: 8px;
                .plugin-local-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .plugin-local-info-left {
                        display: flex;
                        align-items: center;
                        flex: 1;

                        cursor: pointer;
                        .plugin-local-headImg {
                            width: 28px;
                            height: 28px;
                            margin-right: 8px;
                            border-radius: 50%;
                        }
                        .plugin-local-scriptName {
                            overflow: hidden;

                            // width: calc(100% - 34px);
                            margin-right: 8px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            word-break: break-all;
                            color: var(--yakit-header-color);
                            font-size: 12px;
                        }
                    }
                    .plugin-local-info-right {
                        display: flex;
                        justify-content: flex-end;
                        width: 72px;
                    }
                }
            }
        }
    }
}
