.text-center {
    text-align: center;
}

.display-flex {
    display: flex;
    width: 100%;
}

.width-33 {
    width: 33.33% !important;
}

.width-50 {
    width: 50% !important;
}

.width-25 {
    width: 25% !important;
}

.width-20 {
    width: 20% !important;
}

.container{
    overflow-anchor: none;
}
