milkdown-image-inline {
    display: inline-block !important;
    vertical-align: bottom;
}

milkdown-image-inline > .image-inline {
    display: block;
    height: 100%;
    max-height: 40px;
}

milkdown-image-inline.selected > .image-inline {
    outline: 2px solid var(--yakit-primary-3);
    vertical-align: bottom;
}

milkdown-image-inline.selected > .empty-image-inline {
    outline: 2px solid var(--yakit-primary-3);
}

milkdown-image-inline > .empty-image-inline {
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    background: oldlace;
    border-radius: 4px;
}

milkdown-image-inline > .empty-image-inline .image-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yakit-body-text-color);
}

milkdown-image-inline > .empty-image-inline .image-icon svg {
    width: 16px;
    height: 16px;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder {
    color: var(--yakit-body-text-color);
    font-size: 12px;
}

milkdown-image-inline > .empty-image-inline .link-importer .link-input-area {
    line-height: 16px;
    font-size: 12px;
    padding: 8px 0;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .uploader {
    gap: 8px;
    color: var(--yakit-primary-3);
    justify-content: center;
    transition: color 0.2s;
}

milkdown-image-inline > .empty-image-inline .link-importer.focus .placeholder .uploader {
    color: unset;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .uploader:hover {
    color: var(var(--yakit-primary-3));
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .text {
    margin-left: 8px;
}

milkdown-image-inline > .empty-image-inline .confirm {
    background: var(--yakit-body-text-color);
    color: antiquewhite;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 12px;
}

milkdown-image-inline {
    outline: none;
    display: inline;
}

milkdown-image-inline input {
    background: transparent;
    outline: none;
    border: 0;
}

milkdown-image-inline.empty {
    vertical-align: bottom;
}

milkdown-image-inline > .empty-image-inline {
    display: inline-flex;
}

milkdown-image-inline > .empty-image-inline .confirm {
    cursor: pointer;
}

milkdown-image-inline > .empty-image-inline .link-importer {
    position: relative;
    flex: 1;
}

milkdown-image-inline > .empty-image-inline .link-importer > .link-input-area {
    width: 208px;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: text;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .uploader {
    cursor: pointer;
    display: flex;
}

milkdown-image-inline .hidden {
    display: none !important;
}
