@use "./alert.scss";
@use "./comment.scss";
@use "./heading.scss";
@use "./codeBlock.scss";
@use "./imageBlock.scss";
@use "./imageInline.scss";
@use "./listItemBlock.scss";
@use "./placeholder.scss";
@use "./blockquote.scss";
@use "./table.scss";
@use "./cursor.scss";

.milkdown {
    overscroll-behavior: none;
    position: relative;
    word-wrap: break-word;
    white-space: break-spaces;

    color: var(--Colors-Use-Neutral-Text-1-Title);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    .editor {
        padding: 0 0 24px;
    }
    code {
        border-radius: 4px;
        padding: 2px 6px;
        background: var(--Colors-Use-Neutral-Bg-Hover);
        border: 1px solid var(--Colors-Use-Neutral-Border);
        color: var(--Colors-Use-Neutral-Text-1-Title);
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        white-space: normal;
    }
    mark {
        background-color: var(--Colors-Use-Main-Bg);
        padding: 0 2px;
    }
    mark.highlight-pulse {
        background-color: var(--Colors-Use-Main-Primary);
        color: var(--Colors-Use-Main-On-Primary);
    }

    /* 基础高亮 */
    .search-highlight {
        background-color: rgba(255, 255, 0, 0.3);
        border-radius: 2px;
    }

    /* 当前选中项的高亮 */
    .search-highlight.current {
        background-color: #ff9900;
        border: 1px solid #ff5500;
    }

    .ProseMirror-selectednode {
        background-color: var(--Colors-Use-Main-Focus);
        border-radius: 4px;
    }

    .ProseMirror-focused {
        outline: 0;
    }
    ::selection {
        background-color: var(--Colors-Use-Main-Border);
        color: var(--Colors-Use-Neutral-Text-1-Title);
    }
}
