.overlay {
  position: absolute;
  inset: 0;
  z-index: 99;
}

.mask {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    var(--Colors-Use-Basic-Background),
    var(--Colors-Use-Basic-Background)
  );
  background: linear-gradient(
    180deg,
    color-mix(in srgb, var(--Colors-Use-Basic-Background) 95%, transparent),
    color-mix(in srgb, var(--Colors-Use-Basic-Background) 95%, transparent)
  );
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: var(--Colors-Use-Neutral-Text-1-Title);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.typewriter {
  color: var(--Colors-Use-Main-Primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.begin {
  width: 180px;
  height: 56px;
  overflow: hidden;
}
