.review-wrapper {
  background: var(--Colors-Use-Neutral-Bg-Hover);
  flex: none;
}

.question-wrapper.question-wrapper {
  justify-content: flex-start;
}
.content-wrapper.content-wrapper {
  max-width: 100%;
  max-height: 150px;
  overflow-y: auto;
}
