.yakit-mask-drag-wrapper {
    width: 100vh;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-app-region: drag;
}

.yakit-agr-modal-body {
    padding: 16px 24px 24px 24px;
    .body-title {
        height: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    .body-content {
        margin-top: 8px;
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
        color: var(--yakit-body-text-color);
        .sign-content {
            color: var(--yakit-danger-color);
        }
        .underline-content {
            color: var(--yakit-danger-color);
            text-decoration: underline;
        }
        .sign-bold-content {
            color: var(--yakit-danger-color);
            font-weight: 500;
        }
    }
}
