.child-new-app-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    .child-new-app-content {
        height: calc(100% - 37px);
    }
}
.child-risk-wrapper {
    height: 100%;
    .child-risk-details-wrapper{
        flex: 1;
    }
}
