html {
    // Tag标签颜色
    --yakit-tag-color-purple: #8863f7;
    --yakit-tag-color-blue-purple: #da5fdd;
    --yakit-tag-color-blue: #4a94f8;
    --yakit-tag-color-cyan: #35d8ee;
    --yakit-tag-color-green: #56c991;
    --yakit-tag-color-red: #f4736b;
    --yakit-tag-color-orange: #ffb660;
    --yakit-tag-color-yellow: #ffd583;
    --yakit-tag-color-grey: #b4bbca;

    --yakit-header-color: #31343f;
    --yakit-body-text-color: #85899e;
    --yakit-helper-text-color: #b4bbca;
    --yakit-disable-text-color: #ccd2de;
    --yakit-border-color: #eaecf3;
    --yakit-background-color: #f0f1f3;
    --yakit-card-background-color: #f8f8f8;

    // 未命名主题颜色
    --yakit-neutral90-color: #454750;
    --yakit-neutral80-color: #545663;
    --yakit-neutral10-color: #ffffff;

    // 字体颜色
    --yakit-font-white-color: #ffffff;

    // 背景颜色
    --yakit-background-color-color: #ffffff;
}

// 老UI主题色
.old-theme-html {
    // 主题色
    --yakit-primary-1: rgba(24, 144, 255, 0.06);
    --yakit-primary-2: #d8e8fe;
    --yakit-primary-3: #1890ff;
    --yakit-primary-4: #40a9ff;
    --yakit-primary-5: #1890ff;
    --yakit-primary-6: #096dd9;
}

// 当行内容过长省略
.yakit-single-line-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
