// 当行内容过长省略
.yakit-single-line-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.__floater__body {
    .__floater__arrow svg polygon {
        fill: var(--Colors-Use-Basic-Background);
        transform: translateX(1px);
    }
}
