html {
    // Tag标签颜色
    --yakit-tag-color-purple: #8863f7;
    --yakit-tag-color-blue-purple: #5f69dd;
    --yakit-tag-color-blue: #4a94f8;
    --yakit-tag-color-cyan: #35d8ee;
    --yakit-tag-color-green: #56c991;
    --yakit-tag-color-red: #f4736b;
    --yakit-tag-color-orange: #ffb660;
    --yakit-tag-color-yellow: #ffd583;
    --yakit-tag-color-grey: #b4bbca;

    --yakit-header-color: #31343f;
    --yakit-body-text-color: #85899e;
    --yakit-helper-text-color: #b4bbca;
    --yakit-disable-text-color: #ccd2de;
    --yakit-border-color: #eaecf3;
    --yakit-background-color: #f0f1f3;
    --yakit-card-background-color: #f8f8f8;

    //未命名主题颜色
    --yakit-neutral90-color: #454750;
    --yakit-neutral80-color: #545663;
    --yakit-neutral10-color: #ffffff;

    // 主题色
    --yakit-primary-color: #f28b44;
    --yakit-primary-border-color: #fbc6a1;
    --yakit-primary-background-color: #fef8f4; // rgba(#f28b44 6%);
    --yakit-primary-color-hover: #f69c5d;
    --yakit-primary-color-focus: #fbe7d9;
    --yakit-primary-color-press: #e27122;

    // 主题色-选中状态
    --yakit-select-background-color: #fef8f4;

    // 成功状态色
    --yakit-success-color: #56c991;
    --yakit-success-border-color: #c6ebd9;
    --yakit-success-background-color: #f1fbf6;
    --yakit-success-color-hover: #4dbe87;
    --yakit-success-color-focus: #d9f2e6;
    --yakit-success-color-press: #33ad72;
    // 警告状态色
    --yakit-warning-color: #ffb660;
    --yakit-warning-border-color: #fddfbd;
    --yakit-warning-background-color: #fff9f2;
    --yakit-warning-color-hover: #f6a94f;
    --yakit-warning-color-focus: #ffecd6;
    --yakit-warning-color-press: #f39628;
    // 错误状态色
    --yakit-danger-color: #f6544a;
    --yakit-danger-border-color: #f3c2bf;
    --yakit-danger-background-color: #fef1f1;
    --yakit-danger-color-hover: #eb493f;
    --yakit-danger-color-focus: #ffe0de;
    --yakit-danger-color-press: #d33a30;
    // 严重状态色
    --yakit-serious-color: #bd2a21;
    --yakit-serious-border-color: #d89591;
    --yakit-serious-background-color: #faeeed;
    --yakit-serious-color-hover: #b62117;
    --yakit-serious-color-focus: #f5d1cf;
    --yakit-serious-color-press: #9d1b13;
}

// 老UI主题色
.old-theme-html {
    // 主题色
    --yakit-primary-color: #1890ff;
    --yakit-primary-border-color: #40a9ff;
    --yakit-primary-background-color: #1890ff;
    --yakit-primary-color-hover: #40a9ff;
    --yakit-primary-color-focus: #e6f7ff;
    --yakit-primary-color-press: #096dd9;

    // 主题色-选中状态
    --yakit-select-background-color: #e6f7ff;

    // 错误状态色
    --yakit-danger-color: #ff4d4f;
    --yakit-danger-border-color: #ff4d4f;
    --yakit-danger-background-color: #fef1f1;
    --yakit-danger-color-hover: #eb493f;
    --yakit-danger-color-focus: #ff4d4f33;
    --yakit-danger-color-press: #d33a30;
}

html {
    // 主题色
    --yakit-primary-color: #f28b44;
    --yakit-primary-border-color: #fbc6a1;
    --yakit-primary-background-color: #fef8f4;
    --yakit-primary-color-hover: #ea7d32;
    --yakit-primary-color-focus: #fbe7d9;
    --yakit-primary-color-press: #e27122;
    // 成功状态色
    --yakit-success-color: #56c991;
    --yakit-success-border-color: #c6ebd9;
    --yakit-success-background-color: #f1fbf6;
    --yakit-success-color-hover: #4dbe87;
    --yakit-success-color-focus: #d9f2e6;
    --yakit-success-color-press: #33ad72;
    // 警告状态色
    --yakit-warning-color: #ffb660;
    --yakit-warning-border-color: #fddfbd;
    --yakit-warning-background-color: #fff9f2;
    --yakit-warning-color-hover: #f6a94f;
    --yakit-warning-color-focus: #ffecd6;
    --yakit-warning-color-press: #f39628;
    // 错误状态色
    --yakit-danger-color: #f6544a;
    --yakit-danger-border-color: #f3c2bf;
    --yakit-danger-background-color: #fef1f1;
    --yakit-danger-color-hover: #eb493f;
    --yakit-danger-color-focus: #ffe0de;
    --yakit-danger-color-press: #d33a30;
    // 严重状态色
    --yakit-serious-color: #bd2a21;
    --yakit-serious-border-color: #d89591;
    --yakit-serious-background-color: #faeeed;
    --yakit-serious-color-hover: #b62117;
    --yakit-serious-color-focus: #f5d1cf;
    --yakit-serious-color-press: #9d1b13;
}

// 当行内容过长省略
.yakit-single-line-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
