html {
    // Tag标签颜色
    --yakit-tag-color-purple: #8863f7;
    --yakit-tag-color-blue-purple: #da5fdd;
    --yakit-tag-color-blue: #4a94f8;
    --yakit-tag-color-cyan: #35d8ee;
    --yakit-tag-color-green: #56c991;
    --yakit-tag-color-red: #f4736b;
    --yakit-tag-color-orange: #ffb660;
    --yakit-tag-color-yellow: #ffd583;
    --yakit-tag-color-grey: #b4bbca;

    --yakit-header-color: #31343f;
    --yakit-body-text-color: #85899e;
    --yakit-helper-text-color: #b4bbca;
    --yakit-disable-text-color: #ccd2de;
    --yakit-border-color: #eaecf3;
    --yakit-background-color: #f0f1f3;
    --yakit-card-background-color: #f8f8f8;

    // 未命名主题颜色
    --yakit-neutral90-color: #454750;
    --yakit-neutral80-color: #545663;
    --yakit-neutral10-color: #ffffff;

    // 字体颜色
    --yakit-font-white-color: #ffffff;

    // 背景颜色
    --yakit-background-color-color: #ffffff;

    // 表格行标注颜色
    --yakit-table-select-row-bg-color-red: rgba(246, 84, 74, 1);
    --yakit-table-select-row-bg-color-green: rgba(86, 201, 145, 0.2);
    --yakit-table-select-row-bg-color-blue: rgba(74, 148, 248, 0.2);
    --yakit-table-select-row-bg-color-yellow: rgba(255, 213, 131, 0.2);
    --yakit-table-select-row-bg-color-orange: rgba(255, 182, 96, 0.2);
    --yakit-table-select-row-bg-color-purple: rgba(136, 99, 247, 0.2);
    --yakit-table-select-row-bg-color-lakeBlue: rgba(41, 188, 208, 0.2);
    --yakit-table-select-row-bg-color-cyan: rgba(53, 216, 238, 0.2);
    --yakit-table-select-row-bg-color-bluePurple: rgba(218, 95, 221, 0.2);
    --yakit-table-select-row-bg-color-grey: rgba(180, 187, 202, 0.2);

    // 表格移入背景颜色
    --yakit-table-hover-row-bg-color-red: rgba(235, 73, 63, 1);

    // 表格行选中背景颜色
    --yakit-table-active-row-bg-color-red: rgba(211, 58, 48, 1);
    // 表格字体颜色
    --yakit-table-text-color: rgba(0, 0, 0, 0.85);
}

// 老UI主题色
.old-theme-html {
    // 主题色
    --yakit-primary-1: rgba(24, 144, 255, 0.06);
    --yakit-primary-2: #d8e8fe;
    --yakit-primary-3: #1890ff;
    --yakit-primary-4: #40a9ff;
    --yakit-primary-5: #1890ff;
    --yakit-primary-6: #096dd9;
}

// 当行内容过长省略
.yakit-single-line-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
