.icon-rotate-animation {
    animation: rotate 1s linear infinite;
    color: var(--yakit-primary-3);
}

// 360度旋转
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
