.func-domain-wrapper {
    height: 100%;
    .func-domain-body {
        height: 100%;
        display: flex;
        .short-divider-wrapper {
            width: 1px;
            height: 100%;
            padding: 10px 0;
            .divider-style {
                height: 100%;
                border-left: 1px solid var(--yakit-border-color);
            }
        }
        .state-setting-wrapper {
            display: flex;
        }
        .divider-wrapper {
            width: 1px;
            height: 100%;
            border-left: 1px solid var(--yakit-border-color);
        }
        .user-wrapper {
            box-sizing: border-box;
            padding: 3px 9px;
            .user-show {
                width: 30px;
                height: 30px;
                display: flex;
            }
            .user-info {
                width: 30px;
                height: 30px;
                padding: 3px;
                display: flex;
            }
        }
        .user-wrapper:hover {
            background-color: var(--yakit-background-color);
        }
    }

    .func-domain-reverse-body {
        flex-direction: row-reverse;
        .state-setting-wrapper {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

.ui-op-btn-wrapper {
    box-sizing: border-box;
    width: 44px;
    height: 36px;
    padding: 4px;

    .op-btn-body {
        border-radius: 4px;
        width: 36px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .op-btn-body-hover {
        background-color: var(--yakit-background-color);
    }

    .icon-style {
        color: var(--yakit-body-text-color);
    }
    .icon-hover-style {
        color: var(--yakit-primary-color);
    }

    :global {
        .ant-badge-count {
            min-width: 16px;
            padding: 0 2px;
            height: 12px;
            line-height: 12px;
            font-size: 11px;
        }
        .ant-scroll-number-only {
            height: 12px;
        }
    }
}
.ui-op-btn-wrapper:hover {
    .icon-style {
        color: var(--yakit-primary-color);
    }
    .op-btn-body {
        background-color: var(--yakit-background-color);
    }
}

.ui-op-dropdown {
    top: 24px !important;
}
.ui-op-setting-dropdown {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 8px 4px;
            }
        }
    }
}
.ui-op-plus-dropdown {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }

    .ui-op-plus-wrapper {
        width: 400px;
        padding: 16px;

        .ui-op-notice-body {
            width: 100%;

            .notice-tabs-wrapper {
                margin-bottom: 16px;
                box-sizing: border-box;
                width: 368px;
                height: 36px;
                padding: 4px;
                background: var(--yakit-background-color);
                border: 1px solid var(--yakit-border-color);
                border-radius: 6px;
                .notice-tabs-body {
                    display: flex;
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--yakit-header-color) f;

                    .tabs-opt {
                        width: 180px;
                        height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        :global {
                            .ant-badge {
                                font-weight: 500;
                                font-size: 12px;
                                color: var(--yakit-header-color) f;
                            }
                        }
                    }
                    .tabs-opt-selected {
                        background: var(--yakit-neutral10-color);
                        box-shadow: 0px 2px 4px rgba(133, 137, 158, 0.2);
                        border-radius: 4px;
                        color: var(--yakit-primary-color);
                        :global {
                            .ant-badge {
                                font-weight: 500;
                                font-size: 12px;
                                color: var(--yakit-primary-color);
                            }
                        }
                    }
                }
            }

            .notice-version-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 20px;
                font-size: 12px;
                .header-title {
                    color: var(--yakit-body-text-color);
                }
                .switch-title {
                    color: var(--yakit-header-color);
                }
            }

            .notice-version-wrapper {
                margin-top: 16px;
                .version-update-wrapper + .version-update-wrapper {
                    margin-top: 16px;
                }
            }

            .notice-footer {
                margin-top: 16px;
                box-sizing: border-box;
                padding: 12px 0px 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 1px solid var(--yakit-border-color);
                .notice-footer-btn {
                    width: 72px;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-body-text-color);
                    cursor: pointer;
                }
            }
        }

        .ui-op-risk-body {
            width: 100%;
            .risk-header {
                height: 16px;
                font-size: 12px;
                line-height: 16px;
                color: var(--yakit-body-text-color);
            }
            .risk-info {
                margin: 16px 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 12px;
                .risk-info-opt {
                    display: flex;
                    align-items: center;
                    height: 20px;
                    line-height: 20px;
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--yakit-header-color) f;
                    cursor: pointer;

                    .opt-icon-style {
                        margin-right: 8px;
                        min-width: 40px;
                        padding: 0 8px;
                        height: 20px;
                        border-radius: 4px;
                        font-size: 12px;
                        line-height: 20px;
                        text-align: center;
                    }

                    .opt-critical-icon {
                        background: rgba(246, 84, 74, 0.08);
                        color: var(--yakit-serious-color);
                    }
                    .opt-high-icon {
                        background: rgba(246, 84, 74, 0.08);
                        color: var(--yakit-danger-color);
                    }
                    .opt-middle-icon {
                        background: rgba(255, 213, 131, 0.08);
                        color: var(--yakit-primary-color);
                    }
                    .opt-low-icon {
                        background: rgba(255, 213, 131, 0.08);
                        color: var(--yakit-warning-color);
                    }
                    .opt-info-icon {
                        background: rgba(86, 201, 145, 0.08);
                        color: var(--yakit-success-color);
                    }
                }
            }
            .risk-footer {
                box-sizing: border-box;
                padding: 12px 0px 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 1px solid var(--yakit-border-color);
                .risk-footer-btn {
                    width: 48px;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-body-text-color);
                    cursor: pointer;
                }
                .risk-footer-btn:hover {
                    color: var(--yakit-primary-color);
                }
            }
        }
    }
}

.version-update-wrapper {
    box-sizing: border-box;
    width: 100%;
    background: var(--yakit-neutral10-color);
    border: 1px solid var(--yakit-border-color);
    border-radius: 4px;

    .update-header-wrapper {
        box-sizing: border-box;
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: space-between;
        padding: 8px;
        background: var(--yakit-background-color);
        border-radius: 4px;
        // 暂时注释(后续带更新内容时使用)
        // border: 1px solid var(--yakit-border-color);
        // border-radius: 4px 4px 0px 0px;
        .header-info {
            display: flex;
            .update-icon {
                margin-right: 8px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: var(--yakit-primary-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .update-title {
                height: 16px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: var(--yakit-body-text-color);
            }
            .update-time {
                height: 12px;
                font-size: 11px;
                line-height: 12px;
                color: var(--yakit-helper-text-color);
            }
        }
        .header-btn {
            width: 96px;
            height: 28px;
            display: flex;
            justify-content: right;
            align-items: center;
            font-size: 12px;
            color: var(--yakit-disable-text-color);
        }
    }

    .update-content-wrapper {
        width: 100%;
        padding: 16px 6px 16px 16px;

        .update-content {
            margin-bottom: 16px;
            max-height: 48px;
            font-size: 12px;
            line-height: 16px;
            color: var(--yakit-header-color) f;
        }

        .current-version {
            height: 16px;
            font-size: 12px;
            line-height: 16px;
            color: var(--yakit-helper-text-color);
        }
    }
}
.version-has-update {
    border: 1px solid var(--yakit-primary-border-color);
    .update-header-wrapper {
        background: var(--yakit-primary-color-focus);
        // 暂时注释(后续带更新内容时使用)
        // border: 1px solid var(--yakit-primary-border-color);
        .header-info {
            .update-title {
                color: var(--yakit-primary-color);
            }
            .update-time {
                color: var(--yakit-primary-color);
            }
        }
        .header-btn {
            color: var(--yakit-primary-color);
            .update-btn {
                height: 28px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}
.letter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .letter-info-wrapper {
        display: flex;
        gap: 9px;

        .info-header {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: var(--yakit-primary-color-focus);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .info-content {
            .content-body {
                height: 16px;
                font-size: 12px;
                line-height: 16px;
                color: var(--yakit-body-text-color);
                .accent-content {
                    font-weight: 600;
                    cursor: pointer;
                }
                .accent-content:hover {
                    color: var(--yakit-primary-color);
                }
            }
            .content-commit {
                margin-top: 4px;
                max-height: 32px;
                font-size: 12px;
                line-height: 16px;
                color: var(--yakit-header-color) f;
            }
            .content-time {
                margin-top: 2px;
                height: 12px;
                font-size: 11px;
                line-height: 12px;
                color: var(--yakit-helper-text-color);
            }
        }
    }
}
