.error-wrapper-bgcolor {
    --global-state-bg-color: var(--yakit-danger-5);
}
.warning-wrapper-bgcolor {
    --global-state-bg-color: var(--yakit-warning-5);
}
.success-wrapper-bgcolor {
    --global-state-bg-color: var(--yakit-success-5);
}
.help-wrapper-bgcolor {
    --global-state-bg-color: var(--yakit-tag-color-purple);
}

.icon-style {
    color: var(--yakit-font-white-color);
    svg {
        width: 20px;
        height: 20px;
    }
}

.global-state-wrapper {
    box-sizing: border-box;
    width: 44px;
    height: 36px;
    padding: 4px;
    background-color: var(--global-state-bg-color);

    .state-body {
        border-radius: 4px;
        width: 36px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.global-state-popover {
    top: 27px !important;

    :global {
        .ant-popover-arrow {
            .ant-popover-arrow-content {
                background-color: var(--global-state-bg-color) !important;
                border: 1px solid var(--global-state-bg-color) !important;
            }
        }

        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }
}

.global-state-content-wrapper {
    width: 400px;
    .body-header {
        height: 32px;
        padding: 6px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--global-state-bg-color);
        border-radius: 4px 4px 0px 0px;
        .header-title {
            height: 20px;
            line-height: 20px;
            font-weight: 600;
            font-size: 14px;
            color: var(--yakit-font-white-color);
        }
        .header-hint {
            height: 20px;
            display: flex;
            align-items: center;
            gap: 4px;
            .hint-title {
                height: 16px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                text-decoration-line: underline;
                color: var(--yakit-font-white-color);
            }
        }
    }

    .body-wrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 8px 16px 16px;
        background: var(--yakit-neutral10-color);
        border-radius: 0px 0px 4px 4px;
        .body-info {
            box-sizing: border-box;
            width: 100%;
            height: 56px;
            padding: 12px 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            .info-left {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
                .left-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .title-style {
                        height: 16px;
                        font-size: 12px;
                        line-height: 16px;
                        color: var(--yakit-header-color);
                    }
                    .subtitle-style {
                        height: 16px;
                        font-size: 11px;
                        line-height: 16px;
                        color: var(--yakit-helper-text-color);
                    }
                    .system-proxy-title {
                        height: 20px;
                        font-size: 12px;
                        color: var(--yakit-header-color);

                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .system-proxy-tag {
                            height: 20px;
                            display: flex;
                            align-items: center;
                            border-radius: 4px;
                            font-weight: 400;
                            font-size: 12px;
                            padding: 0 6px;
                        }
                        .enabled-tag {
                            color: var(--yakit-success-5);
                            background: rgba(86, 201, 145, 0.1);
                            border: 1px solid rgba(86, 201, 145, 0.3);
                        }
                        .not-enabled-tag {
                            color: var(--yakit-tag-color-red);
                            background: var(--yakit-danger-1);
                            border: 1px solid rgba(244, 115, 107, 0.3);
                        }
                    }
                }
            }
            .info-right {
                height: 100%;
                display: flex;
                justify-content: right;
                align-items: center;

                .system-proxy-title {
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    font-size: 12px;
                    color: var(--yakit-header-color);
                }
            }
        }
        .body-info + .body-info {
            height: 57px;
            border-top: 1px solid var(--yakit-border-color);
        }
    }
}
