.global-reserver-state-wrapper {
    width: 44px;
    height: 36px;
    padding: 8px 12px;
}

.link-state {
    background-color: rgba(86, 201, 145, 0.08);
}
.unlink-state {
    background-color: rgba(255, 125, 35, 0.06);
}
