.system-func-wrapper {
    height: 100%;
    display: flex;
}

.cpu-wrapper {
    height: 100%;
    padding: 8px 0 8px 12px;
    display: flex;

    .cpu-title {
        width: 55px;
        height: 20px;
        line-height: 20px;
        margin-right: 4px;
        font-size: 12px;
        .title-headline {
            color: var(--yakit-helper-text-color);
        }
        .title-content {
            color: var(--yakit-header-color);
        }
    }
    .cpu-spark {
        width: 96px;
        height: 20px;
        display: inline-block;
    }
}

.ui-op-btn-wrapper {
    box-sizing: border-box;
    width: 44px;
    height: 36px;
    padding: 4px;

    .op-btn-body {
        border-radius: 4px;
        width: 36px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .op-btn-body-hover {
        background-color: var(--yakit-background-color);
    }

    .icon-rotate-animation {
        animation: rotate 5s linear infinite;
    }

    // 360度旋转
    @keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(90deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
        }
        75% {
            -webkit-transform: rotate(270deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
}
.ui-op-btn-wrapper:hover {
    .op-btn-body {
        background-color: var(--yakit-background-color);
    }
}

.ui-op-dropdown {
    top: 24px !important;
}
.ui-engine-list-dropdown {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }

    .ui-engine-list-wrapper {
        width: 720px;
        padding: 16px;

        .ui-engine-list-body {
            width: 100%;

            .engine-list-header {
                height: 16px;
                font-size: 12px;
                color: var(--yakit-body-text-color);
                display: flex;
                align-items: center;
                .loading-icon {
                    margin-left: 8px;
                    color: var(--yakit-primary-5);
                }
            }

            .engine-list-container {
                margin-top: 16px;

                .engine-list-opt {
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    .left-body {
                        display: flex;
                        align-items: center;
                        .engine-ps-info {
                            height: 16px;
                            font-weight: 500;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            color: var(--yakit-header-color);
                            .current-ps-info {
                                color: var(--yakit-primary-5);
                            }
                        }
                    }
                    .right-body {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .del-btn-coloc {
                            --button-wave-shadow-color: var(--yakit-danger-2) !important;

                            --button-background: var(--yakit-neutral10-color) !important;
                            --button-color: var(--yakit-danger-5) !important;
                            --button-border-color: var(--yakit-danger-3) !important;

                            --button-hover-background: var(--yakit-neutral10-color) !important;
                            --button-hover-color: var(--yakit-danger-4) !important;
                            --button-hover-border-color: var(--yakit-danger-4) !important;

                            --button-press-background: var(--yakit-neutral10-color) !important;
                            --button-press-color: var(--yakit-danger-6) !important;
                            --button-press-border-color: var(--yakit-danger-6) !important;
                        }
                    }
                }

                .engine-list-opt + .engine-list-opt {
                    margin-top: 16px;
                }
            }

            .engine-list-footer {
                margin-top: 16px;
                box-sizing: border-box;
                padding: 12px 0px 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 1px solid var(--yakit-border-color);
                .engine-list-footer-btn {
                    width: 48px;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-body-text-color);
                    cursor: pointer;
                }
            }
        }
    }
}
