.ui-layout-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;

    display: flex;

    .ui-layout-container {
        flex: 1;
        height: 100%;
        overflow: hidden;

        .container-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        // display: flex;
        .ui-layout-header {
            width: 100%;
            height: 37px;
            background-color: var(--yakit-neutral10-color);
            -webkit-user-select: none;
            user-select: none;

            .short-divider-wrapper {
                width: 1px;
                height: 100%;
                padding: 10px 0;

                .divider-style {
                    height: 100%;
                    border-left: 1px solid var(--yakit-border-color);
                }
            }

            .divider-wrapper {
                width: 1px;
                height: 100%;
                border-left: 1px solid var(--yakit-border-color);
            }

            .header-body {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid var(--yakit-border-color);
                position: relative;

                .header-border-yakit-mask {
                    position: absolute;
                    bottom: -1px;
                    width: 45px;
                    height: 1px;
                    background: var(--yakit-card-background-color);
                }

                .yakit-header-title {
                    // width: 100px;
                    height: 36px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-30px, 0);
                    line-height: 36px;
                    font-weight: 600;
                    color: var(--yakit-header-color);
                    text-align: center;
                    -webkit-app-region: drag;
                }

                .ui-op-btn-wrapper {
                    box-sizing: border-box;
                    width: 44px;
                    height: 36px;
                    padding: 4px;

                    .op-btn-body {
                        border-radius: 4px;
                        width: 36px;
                        height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .op-btn-body-hover {
                        background-color: var(--yakit-background-color);
                    }

                    .icon-style {
                        color: var(--yakit-body-text-color);
                    }

                    .icon-hover-style {
                        color: var(--yakit-primary-5);
                    }
                }

                .ui-op-btn-wrapper:hover {
                    .icon-style {
                        color: var(--yakit-primary-5);
                    }
                    .op-btn-body {
                        background-color: var(--yakit-background-color);
                    }
                }

                .header-left {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .header-title {
                    flex: 1;
                    height: 100%;
                }

                .header-title-drop {
                    -webkit-app-region: drag;
                }

                .header-right {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .yakit-mode-icon {
                    box-sizing: border-box;
                    padding: 8px 12px;
                    border-left: 1px solid var(--yakit-border-color);
                    color: var(--yakit-body-text-color);
                    :global {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .mode-icon-selected {
                        color: var(--yakit-primary-5);
                    }
                }
                .yakit-mode-icon:hover {
                    background-color: var(--yakit-background-color);
                }

                .yakit-mode-selected {
                    background: var(--yakit-card-background-color);
                }
            }
        }

        .ui-layout-body {
            width: 100%;
            flex: 1;
            overflow: hidden;

            .ui-layout-body-mask {
                z-index: 50;
                width: 100%;
                height: calc(100% - 36px);
                position: absolute;
                top: 36px;
                left: 0;
                overflow: hidden;
            }
        }

        .ui-layout-mask {
            width: 100%;
            flex: 1;
            overflow: hidden;
            position: relative;
            background: var(--yakit-primary-2);
        }
    }

    .uilayout-log {
        width: 40%;
        height: 100%;
        overflow: hidden;
    }

    .uilayout-hidden-log {
        width: 0;
        height: 100%;
        overflow: hidden;
    }

    .uilayout-noshow-log {
        display: none;
    }

    .chat-cs-hint-wrapper {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: #31343f4d;
        .hint-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            .hint-modal-wrapper {
                position: absolute;
                right: 43px;
                bottom: 20px;

                display: flex;
                width: 281px;
                padding: 16px 20px 20px 20px;
                flex-direction: column;
                gap: 16px;
                border-radius: 8px;
                background: linear-gradient(90deg, #fa931d 0%, #ef5b27 100%);
                .modal-content {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    color: #ffffff;
                    .content-style {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 30px;
                    }
                    .subcontent-style {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .modal-btn {
                    width: 82px;
                    height: 30px;
                    display: inline-flex;
                    padding: 4px 12px;
                    align-items: center;
                    gap: 4px;
                    border-radius: 4px;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    background: rgba(255, 255, 255, 0.1);

                    color: var(--color-gray-ffffff, #fff);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
            .hint-modal-arrow {
                position: absolute;
                right: 33px;
                bottom: 40px;
                width: 10px;
                height: 20px;
            }

            .show-chat-icon-wrapper {
                position: absolute;
                bottom: 24px;
                right: 0px;
                width: 105px;
                height: 43px;
                transform: translateX(75px);
                z-index: 99;
            
                img {
                    width: 100%;
                }
            }
        }
    }
}

/** 弹窗是否置顶 **/
.modal-top-wrapper {
    z-index: 999;
}

/** 未安装引擎的提示弹窗样式 **/
.engine-hint-modal-wrapper {
    position: absolute;
    top: 35%;
    left: calc(50% - 224px);
}

.engine-hint-modal-hidden-wrapper {
    display: none;
}

.modal-yaklang-engine-hint {
    box-sizing: border-box;
    width: 100%;
    background: var(--yakit-card-background-color);
    border: 1px solid var(--yakit-border-color);
    box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
    border-radius: 4px;

    .yaklang-engine-hint-wrapper {
        width: 100%;
        padding: 24px;
        display: flex;
        gap: 16px;
        position: relative;

        .hint-draggle-body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 24px;
        }

        .hint-left-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .hint-icon {
                width: 32px;
                height: 32px;
            }

            .qs-icon {
                width: 20px;
                height: 20px;
                color: var(--yakit-body-text-color);
                cursor: pointer;
            }

            .qs-icon:hover {
                color: var(--yakit-primary-5);
            }
        }

        .hint-right-wrapper {
            flex: 1;

            .hint-right-title {
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }

            .hint-right-download {
                .download-progress {
                    :global {
                        .ant-progress-text {
                            display: block;
                            margin-left: 0;
                            margin-top: 2px;
                        }
                    }
                }

                .download-info-wrapper {
                    margin-top: 16px;
                    display: flex;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-helper-text-color);

                    .divider-wrapper {
                        margin: 0 8px;
                        width: 1px;
                        height: 16px;
                        display: flex;
                        align-items: center;

                        .divider-style {
                            width: 100%;
                            height: 12px;
                            border: 1px solid var(--yakit-border-color);
                        }
                    }
                }
            }
        }
    }
}

/** 用户协议和常见问题弹窗样式 **/
.agr-and-qs-modal-wrapper {
    z-index: 99;
    position: absolute;
    top: 30%;
    left: calc(50% - 312px);
}

.agr-and-qs-modal-hidden-wrapper {
    display: none;
}

.yakit-agr-and-qs-modal {
    width: 100%;
    background: var(--yakit-neutral10-color);
    border: 1px solid var(--yakit-border-color);
    box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
    border-radius: 4px;

    .modal-header {
        box-sizing: border-box;
        height: 36px;
        display: flex;
        align-items: center;

        background: var(--yakit-card-background-color);
        border-bottom: 1px solid var(--yakit-border-color);
        border-radius: 4px 4px 0px 0px;

        font-weight: 600;
        font-size: 14px;
        color: var(--yakit-header-color);
    }

    .mac-header {
        gap: 12px;

        .close-wrapper {
            width: 36px;
            height: 36px;
            padding: 10px;
            display: flex;
            cursor: pointer;

            .close-btn {
                padding: 2px;

                .btn-icon {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: var(--yakit-danger-5);
                }
            }
        }
    }

    .win-header {
        justify-content: space-between;

        .header-title {
            margin-left: 12px;
        }

        .close-wrapper {
            width: 36px;
            height: 36px;
            padding: 8px;

            .icon-style {
                color: var(--yakit-helper-text-color);
            }
        }

        .close-wrapper:hover {
            .icon-style {
                color: var(--yakit-primary-5);
            }
        }
    }

    .question-modal-wrapper {
        .modal-body {
            padding: 16px 24px 24px 24px;

            .yakit-update-hint {
                height: 24px;
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
                color: var(--yakit-danger-5);
            }

            .yakit-update-link {
                margin-top: 8px;
                height: 20px;
                display: flex;
                align-items: center;
                gap: 8px;

                .link-wrapper {
                    height: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 2px 6px;
                    gap: 8px;
                    background: var(--yakit-card-background-color);
                    border: 1px solid var(--yakit-border-color);
                    border-radius: 4px;
                    font-size: 11px;
                    color: var(--yakit-body-text-color);

                    .copy-icon {
                        cursor: pointer;
                        height: 16px;
                        padding: 2px;
                        display: flex;
                    }
                }
            }
        }
    }
}

// 各类系统信息弹窗的宽度
.yakit-update-modal {
    width: 448px;
}

.yakit-qs-modal {
    width: 448px;
}

/** 远程连接UI **/
.remote-yaklang-engine-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    padding: 56px 16.7% 0;
    background: var(--yakit-card-background-color);

    :global {
        .ant-spin-dot-item {
            background-color: var(--yakit-primary-5);
        }
    }

    .remote-yaklang-engine-body {
        overflow: hidden auto;

        .remote-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-img{
                img{
                    height: 64px;
                    width: 64px;
                }
            }

            .title-style {
                margin-top: 24px;
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }

            .remote-history {
                margin-top: 16px;
                display: flex;

                .select-title {
                    box-sizing: border-box;
                    width: 80px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--yakit-card-background-color);
                    border-width: 1px 0px 1px 1px;
                    border-style: solid;
                    border-color: var(--yakit-border-color);
                    border-radius: 4px 0px 0px 4px;

                    font-size: 14px;
                    color: var(--yakit-header-color);
                }

                .select-style {
                    width: 320px;
                    height: 32px;
                    box-sizing: border-box;
                    background: var(--yakit-neutral10-color);
                    border: 1px solid var(--yakit-border-color);
                    border-radius: 0px 4px 4px 0px;

                    :global {
                        .ant-select-selector {
                            background-color: unset;
                            border: 0;
                            border-radius: 0;
                        }
                    }
                }

                :global {
                    .ant-select-focused {
                        .ant-select-selector {
                            height: 30px;
                            box-shadow: 0 0 0 2px var(--yakit-primary-2);
                        }
                    }
                }
            }
        }

        .rmeote-divider {
            width: 100%;
            margin: 24px 0;
            border-top: 1px solid var(--yakit-background-color);
        }

        .remote-info {
            :global {
                .ant-form-item-no-colon {
                    color: var(--yakit-header-color);
                }

                --antd-wave-shadow-color: var(--yakit-primary-5);

                .ant-switch-checked {
                    background: var(--yakit-primary-5);
                }
            }

            .error-border {
                border: 1px solid var(--yakit-danger-5) !important;
            }

            .input-style {
                width: 400px;
                background: var(--yakit-neutral10-color);
                border: 1px solid var(--yakit-border-color);
                border-radius: 4px;
            }

            .input-style:focus {
                box-shadow: 0 0 0 2px var(--yakit-primary-2);
            }

            .pem-title {
                display: flex;
                align-items: center;

                .icon-style {
                    margin: 0 4px;
                    font-size: 16px;
                    color: var(--yakit-body-text-color);
                }

                .icon-show-style {
                    margin: 0 4px;
                    font-size: 16px;
                    color: var(--yakit-primary-5);
                }
            }

            .pem-content {
                width: 400px;
                height: 254px;
            }
        }
    }
}

.pem-example-popover {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
        }
    }

    .pem-wrapper {
        width: 460px;

        line-height: 20px;
        font-size: 11px;
        color: var(--yakit-header-color);

        .title-style {
            font-size: 14px;
            line-height: 24px;
        }

        .content-code {
            display: inline-block;
            padding: 0 4px;
            border: 1px solid var(--yakit-border-color);
            background-color: var(--yakit-card-background-color);
            border-radius: 4px;
        }

        .code-pem {
            width: 460px;
            height: 280px;
        }

        .path-wrapper {
            margin-top: 6px;
            height: 20px;
            display: flex;
            align-items: center;
            gap: 8px;

            .link-wrapper {
                width: 280px;
                height: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 2px 6px;
                gap: 8px;
                background: var(--yakit-card-background-color);
                border: 1px solid var(--yakit-border-color);
                border-radius: 4px;
                font-size: 11px;
                color: var(--yakit-body-text-color);

                .copy-icon {
                    cursor: pointer;
                    height: 16px;
                    padding: 2px;
                    display: flex;
                }
            }

            .link-open {
                height: 20px;
                line-height: 20px;
                color: var(--yakit-primary-5);
                cursor: pointer;
            }
        }
    }
}

.kill-old-engine-modal {
    width: 448px;
    z-index: 99;
    position: absolute;
    top: 35%;
    left: calc(50% - 224px);
}
.kill-old-engine-hint {
    box-sizing: border-box;
    width: 100%;
    background: var(--yakit-card-background-color);
    border: 1px solid var(--yakit-border-color);
    box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
    border-radius: 4px;

    .yaklang-engine-hint-wrapper {
        width: 100%;
        padding: 24px;
        display: flex;
        gap: 16px;
        position: relative;

        .hint-left-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hint-icon {
                width: 32px;
                height: 32px;
            }
        }

        .hint-right-wrapper {
            flex: 1;
            .hint-right-title {
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }

            .hint-right-content {
                margin-top: 8px;
                font-size: 14px;
                line-height: 20px;
                color: var(--yakit-body-text-color);
                .warning-content {
                    color: var(--yakit-danger-5);
                }
            }

            .hint-right-btn {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;

                .btn-group-wrapper {
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }
}

.ui-op-dropdown {
    top: 24px !important;
}
.ui-op-setting-dropdown {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 8px 4px;
            }
        }
    }
}
.stop-screen-recorder {
    display: flex;
    align-items: center;

    .stop-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        position: relative;
        width: 24px;
        height: 24px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        animation: icon-breath 1s linear infinite;
    }

    .stop-text {
        animation: text-breath 1s linear infinite;
    }
}

@media screen and (max-width: 1200px) {
    .stop-screen-recorder {
        :global {
            .ant-btn {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        .stop-icon {
            margin-right: 0;
        }
        .stop-text {
            display: none;
        }
    }
}

@keyframes icon-breath {
    0% {
        transform: scale(0.8);
        border-color: rgba(255, 255, 255, 0);
    }
    50% {
        transform: scale(0.9);
        border-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        transform: scale(0.8);
        border-color: rgba(255, 255, 255, 0);
    }
}

@keyframes text-breath {
    0% {
        color: rgba(255, 255, 255, 0.7);
    }
    50% {
        color: rgba(255, 255, 255, 1);
    }
    100% {
        color: rgba(255, 255, 255, 0.7);
    }
}
