.fileTreeSystemLeft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.topPanel {
    flex: 0 0 auto;
    max-height: 50%;
    overflow: auto;
}

.bottomPanel {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}
