%display-flex-center {
    display: flex;
    align-items: center;
}
%display-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tree-expand-icon {
    width: 16px;
    height: 16px;
    color: var(--yakit-body-text-color);

    display: flex;
    padding: 2px 0;
    align-items: center;
    svg {
        width: 16px;
        height: 16px;
    }
}

.modify-notepad {
    @extend %display-column-center;
    position: relative;
    height: 100%;
    .modify-notepad-heard {
        @extend %display-flex-center;
        justify-content: space-between;
        padding: 12px 16px;
        border-bottom: 1px solid var(--yakit-border-color);
        background: #fff;
        overflow: hidden;
        &-title {
            color: var(--yakit-header-color);

            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
    }
}
.notepad {
    @extend %display-flex-center;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden auto;
    flex: 1;
}
.notepad-content {
    width: 820px;
    flex-shrink: 0;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 48px 24px 96px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    .notepad-heard {
        @extend %display-column-center;
        margin-bottom: 20px;
        gap: 12px;
        .notepad-input {
            height: 40px;
            font-size: 32px;
            font-weight: 600;
            padding: 0;
            &::placeholder {
                color: var(--yakit-disable-text-color);
            }
        }
        .notepad-heard-subTitle {
            @extend %display-flex-center;
            gap: 4px;
            color: var(--yakit-header-color);

            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
    }
    .notepad-editor {
        flex: 1;
    }
}
.share-popover {
    :global {
        .ant-popover-inner {
            border-radius: 8px;
        }
        .ant-popover-inner-content {
            padding: 0;
            border: 1px solid var(--yakit-border-color);
            border-radius: 8px;
        }
        .ant-popover-arrow-content {
            background-color: var(--yakit-card-background-color) !important;
        }
    }
}

.notepad-tab-body {
    display: flex;
    height: 100%;
    :global {
        .ant-tree-switcher {
            width: 0;
        }
        .ant-tree-treenode {
            padding: 0;
            width: 100%;
        }
        .ant-tree {
            background-color: transparent;
            .ant-tree-node-content-wrapper {
                overflow: hidden;
                padding: 0;
                width: 100%;
                &:hover {
                    background-color: initial;
                }
            }
            .ant-tree-node-content-wrapper.ant-tree-node-selected {
                background-color: initial;
            }
        }
    }
    .notepad-tab-content {
        flex: 1;
        width: 100%;
        overflow: hidden;
    }
    .notepad-catalogue-tree {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 12px;
        .catalogue-tree-node {
            @extend %display-flex-center;
            gap: 4px;
            padding: 3px 4px;
            border-radius: 4px;
            height: 26px;
            width: 100%;
            &:hover {
                background-color: #f8f8f8;
                svg {
                    color: var(--yakit-primary-5);
                }
            }
        }
        .tree-node-title {
            color: var(--yakit-body-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            width: 100%;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
        .tree-node-title-level-one {
            font-weight: 600;
        }
    }
}
