.yakit-modal-gray {
    --haeder-footer-background: var(--yakit-card-background-color);
    --header-footer-border: var(--yakit-border-color);
}
.yakit-modal-white {
    --haeder-footer-background: var(--yakit-neutral10-color);
    --header-footer-border: var(--yakit-neutral10-color);
}

.yakit-modal-wrapper {
    --select-modal-hover-color: var(--yakit-primary-5);

    :global {
        .ant-modal-body {
            padding: 0;
        }
    }

    .yakit-modal-body {
        background-color: var(--yakit-neutral10-color);
        position: relative;
        border-radius: 4px;

        .body-close {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 16px;
            height: 16px;
            display: flex;
            font-size: 16px;
            color: var(--yakit-helper-text-color);
            cursor: pointer;
            align-items: center;

            .close-icon {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .body-close:hover {
            color: var(--select-modal-hover-color);
        }

        .body-header {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;
            gap: 16px;
            height: 41px;
            background: var(--haeder-footer-background);
            border-bottom: 1px solid var(--header-footer-border);
            border-radius: 4px 4px 0px 0px;

            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: var(--yakit-header-color);

            .body-header-subTitle {
                font-weight: 400;
                font-size: 12px;
                color: var(--yakit-helper-text-color);
                flex: 1;
                margin-right: 16px;
            }
        }

        .body-content {
        }

        .body-footer {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px 24px 16px;
            height: 57px;
            background: var(--haeder-footer-background);
            border-top: 1px solid var(--header-footer-border);
            border-radius: 0px 0px 4px 4px;

            .body-footer-extra {
            }

            .body-footer-btn {
                display: flex;
                gap: 8px;
            }
        }

        .body-custom-footer {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            background: var(--haeder-footer-background);
            border-top: 1px solid var(--header-footer-border);
            border-radius: 0px 0px 4px 4px;
        }
    }
}
