.resize-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid var(--yakit-border-color);
    border-radius: 4px 0 0 4px;

    .resize-card-heard {
        display: flex;
        justify-content: space-between;
        height: 32px;
        align-items: center;
        padding: 8px 12px;
        line-height: 16px;
        border-bottom: 1px solid var(--yakit-border-color);
        .resize-card-heard-title {
            font-weight: 500;
            font-size: 12px;
            color: var(--yakit-header-color);
        }
        .resize-card-heard-extra {
            display: flex;
            align-items: center;
        }
    }
    .resize-card-icon {
        width: 16px;
        height: 16px;
        margin-left: 8px;
        svg {
            color: var(--yakit-body-text-color);
            width: 16px;
            height: 16px;
            &:hover {
                color: var(--yakit-primary-4);
            }
        }
    }
}
