// #region QSInputTextarea
.qs-input-textarea {
    padding: 0;
    width: 100%;
    min-height: 20px !important;
    position: relative;
}
textarea.qs-input-textarea {
    line-height: 20px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
}
// #endregion

// #region QSInputTextarea
.ai-chat-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;

    background: var(--Colors-Use-Neutral-Bg-Hover, #eef0f3);
    padding: 2px;
    border-radius: 8px;
    position: relative;
    &:hover,
    &:focus-within,
    &:focus {
        background: linear-gradient(
            135deg,
            var(--Colors-Use-Success-Border) 0%,
            var(--Colors-Use-Success-Focus) 40.44%,
            var(--Colors-Use-Main-Focus) 80%
        );
    }
}
.dragging-from-tree {
    outline: 1px dashed var(--Colors-Use-Main-Primary);
    border-radius: 8px;
    .drag-hint {
        position: absolute;
        inset: 0;
        z-index: 10;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none;

        font-size: 14px;
        color: var(--Colors-Use-Main-Primary);
        background: var(--yakit-colors-Main-0);
        backdrop-filter: blur(2px);
    }
}
.textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    background: var(--Colors-Use-Basic-Background);
    padding: 8px;
    border-radius: 6px;
    .textarea-textarea {
        max-height: 100px !important;
        color: var(--Colors-Use-Neutral-Text-1-Title);
    }
    .footer {
        display: flex;
        gap: 4px;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        height: 28px;
        .footer-left {
            display: flex;
            align-items: center;
            gap: 4px;
            overflow: hidden;
        }
        .footer-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 4px;
            overflow: hidden;
        }
    }
}

// .textarea-footer {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     overflow: hidden;
//     height: 28px;

//     .footer-left {
//         display: flex;
//         align-items: center;
//         justify-content: flex-start;
//         gap: 8px;
//         flex: 1;
//         overflow: hidden;
//     }
//     .footer-left-btns-default {
//         display: flex;
//         align-items: center;
//         gap: 8px;
//         flex: 1;
//         width: 100%;
//         overflow: hidden;

//         container-type: inline-size;
//         container-name: textareaFooterLeftBtnsDefault;
//     }

//     @container textareaFooterLeftBtnsDefault (min-width: 401px) and (max-width: 500px) {
//         .footer-left-btns-default {
//             span[data-label="true"] {
//                 max-width: 60px;
//             }
//         }
//     }
//     @container textareaFooterLeftBtnsDefault (min-width: 301px) and (max-width: 400px) {
//         .footer-left-btns-default {
//             & > :nth-child(3),
//             & > :nth-child(4) {
//                 span[data-label="true"] {
//                     max-width: 0;
//                 }
//             }
//             & > :nth-child(1) {
//                 span[data-label="true"] {
//                     max-width: 40px;
//                 }
//             }
//             // 仅仅只有一个元素时
//             &:has(> :only-child) {
//                 span[data-label="true"] {
//                     max-width: 120px;
//                 }
//             }
//             // 元素大于2且选中第一个元素
//             &:has(> :nth-child(2)) > :nth-child(1) {
//                 span[data-label="true"] {
//                     max-width: 100px;
//                 }
//             }
//             // 元素大于3且选中第一个元素
//             &:has(> :nth-child(3)) > :nth-child(1) {
//                 span[data-label="true"] {
//                     max-width: 40px;
//                 }
//             }
//         }
//     }
//     @container textareaFooterLeftBtnsDefault (max-width: 300px) {
//         .footer-left-btns-default {
//             span[data-label="true"] {
//                 max-width: 0;
//             }
//         }
//     }
//     .footer-right {
//         display: flex;
//         align-items: center;
//         justify-content: flex-end;
//         gap: 8px;
//         overflow: hidden;
//     }
// }

.round-btn {
    svg {
        width: 14px;
    }
}
// #endregion
