.yakit-button-wrapper {
    display: inline-block;
}

.yakit-button-primary {
    // 新ui主题色
    // --yakit-wave-shadow-color: #fbe7d9;

    // --yakit-background: #f28b44;
    // --yakit-color: #ffffff;
    // --yakit-border-color: transparent;

    // --yakit-hover-background: #f79c5d;
    // --yakit-hover-color: #ffffff;
    // --yakit-hover-border-color: transparent;

    // --yakit-disable-background: #f0f1f3;
    // --yakit-disable-color: #ccd2de;
    // --yakit-disable-border-color: transparent;

    // --yakit-press-background: #e27122;
    // --yakit-press-color: #ffffff;
    // --yakit-press-border-color: transparent;

    // 老ui主题色
    --yakit-wave-shadow-color: #1890ff;

    --yakit-background: #1890ff;
    --yakit-color: #fff;
    --yakit-border-color: #1890ff;

    --yakit-hover-background: #40a9ff;
    --yakit-hover-color: #fff;
    --yakit-hover-border-color: #40a9ff;

    --yakit-disable-background: #F8F8F8;
    --yakit-disable-color: #CCD2DE;
    --yakit-disable-border-color: #EAECF3;

    --yakit-press-background: #096dd9;
    --yakit-press-color: #ffffff;
    --yakit-press-border-color: #096dd9;
}
.yakit-button-outline-1 {
    // 新ui主题色
    // --yakit-wave-shadow-color: #fbe7d9;

    // --yakit-background: #fef8f4;
    // --yakit-color: #f28b44;
    // --yakit-border-color: #fbc6a1;

    // --yakit-hover-background: #fef8f4;
    // --yakit-hover-color: #f79c5d;
    // --yakit-hover-border-color: #f79c5d;

    // --yakit-disable-background: #f0f1f3;
    // --yakit-disable-color: #ccd2de;
    // --yakit-disable-border-color: #eaecf3;

    // --yakit-press-background: #fef8f4;
    // --yakit-press-color: #e27122;
    // --yakit-press-border-color: #e27122;

    // 老ui主题色
    --yakit-wave-shadow-color: #1890ff;

    --yakit-background: #f0f5ff;
    --yakit-color: #1890ff;
    --yakit-border-color: #adc6ff;

    --yakit-hover-background: #f0f5ff;
    --yakit-hover-color: #40a9ff;
    --yakit-hover-border-color: #adc6ff;

    --yakit-disable-background: #f0f1f3;
    --yakit-disable-color: #ccd2de;
    --yakit-disable-border-color: #eaecf3;

    --yakit-press-background: #F0F1F3;
    --yakit-press-color: #1890ff;
    --yakit-press-border-color: #adc6ff;
}

.yakit-button-text {

    // 新ui主题色
    // --yakit-wave-shadow-color: transparent;

    // --yakit-background: transparent;
    // --yakit-color: #f28b44;
    // --yakit-border-color: transparent;

    // --yakit-hover-background: transparent;
    // --yakit-hover-color: #f79c5d;
    // --yakit-hover-border-color: transparent;

    // --yakit-disable-background: transparent;
    // --yakit-disable-color: #ccd2de;
    // --yakit-disable-border-color: transparent;

    // --yakit-press-background: transparent;
    // --yakit-press-color: #e27122;
    // --yakit-press-border-color: transparent;

    // 老ui主题色
    --yakit-wave-shadow-color: #fff;

    --yakit-background: transparent;
    --yakit-color: #1890ff;
    --yakit-border-color: transparent;

    --yakit-hover-background: transparent;
    --yakit-hover-color: #40a9ff;
    --yakit-hover-border-color: transparent;

    --yakit-disable-background: transparent;
    --yakit-disable-color: #ccd2de;
    --yakit-disable-border-color: transparent;

    --yakit-press-background: transparent;
    --yakit-press-color: #1890ff;
    --yakit-press-border-color: transparent;

    [ant-click-animating-without-extra-node="true"]::after {
        box-shadow: none;
        opacity: 1;
        animation: none;
    }

}

.yakit-button-outline-2 {
    // 新ui主题色
    // --yakit-wave-shadow-color: #fbe7d9;

    // --yakit-background: #fff;
    // --yakit-color: #31343F;
    // --yakit-border-color: #EAECF3;

    // --yakit-hover-background: #fff;
    // --yakit-hover-color: #F79C5D;
    // --yakit-hover-border-color: #F69C5D;

    // --yakit-disable-background: #FFFFFF;
    // --yakit-disable-color: #ccd2de;
    // --yakit-disable-border-color: #EAECF3;

    // --yakit-press-background: #FFFFFF;
    // --yakit-press-color: #E27122;
    // --yakit-press-border-color: #E27122;

    // 老ui主题色
    --yakit-wave-shadow-color: #1890ff;

    --yakit-background: #fff;
    --yakit-color: #31343F;
    --yakit-border-color: #EAECF3;

    --yakit-hover-background: #fff;
    --yakit-hover-color: #40a9ff;
    --yakit-hover-border-color: #adc6ff;

    --yakit-disable-background: #fff;
    --yakit-disable-color: #CCD2DE;
    --yakit-disable-border-color: #EAECF3;

    --yakit-press-background: #fff;
    --yakit-press-color: #1890ff;
    --yakit-press-border-color: #adc6ff;
}
.yakit-button-outline-2 {
    --yakit-wave-shadow-color: #fbe7d9;

    --yakit-background: #ffffff;
    --yakit-color: #31343f;
    --yakit-border-color: #eaecf3;

    --yakit-hover-background: #ffffff;
    --yakit-hover-color: #f79c5d;
    --yakit-hover-border-color: #f79c5d;

    --yakit-disable-background: #ffffff;
    --yakit-disable-color: #ccd2de;
    --yakit-disable-border-color: #eaecf3;

    --yakit-press-background: #ffffff;
    --yakit-press-color: #e27122;
    --yakit-press-border-color: #e27122;
}

.yakit-button-small-size {
    height: 20px;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.yakit-button-middle-size {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.yakit-button-large-size {
    height: 28px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.yakit-button-max-large-size {
    height: 32px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    display: flex;
    align-items: center;
}

.yakit-button {
    box-shadow: none;
    font-size: 12px;
}
.yakit-button-max-size {
    height: 32px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.yakit-button-type {
    background: var(--yakit-background);
    color: var(--yakit-color);
    border-color: var(--yakit-border-color);
}

.yakit-button-type:focus {
    background: var(--yakit-background);
    color: var(--yakit-color);
    border-color: var(--yakit-border-color);
}

.yakit-button-type:hover {
    background: var(--yakit-hover-background);
    color: var(--yakit-hover-color);
    border-color: var(--yakit-hover-border-color);
}

.yakit-button-type[disabled] {
    color: var(--yakit-disable-color) !important;
    border: 1px solid var(--yakit-disable-border-color) !important;
    background: var(--yakit-disable-background) !important;
}

// [ant-click-animating-without-extra-node="true"]::after {
//     box-shadow: none;
//     opacity: 1;
//     animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
// }

.yakit-button-press {
    background: var(--yakit-press-background) !important;
    color: var(--yakit-press-color) !important;
    border-color: var(--yakit-press-border-color) !important;
}

// @keyframes fadeEffect {
//     100% {
//         opacity: 0;
//     }
// }

// @keyframes waveEffect {
//     100% {
//         box-shadow: 0 0 0 6px var(--yakit-wave-shadow-color);
//     }
// }
