.yakit-button-wrapper {
    display: inline-block;
}

.yakit-button-primary {
    --yakit-wave-shadow-color: #fbe7d9;

    --yakit-background: #f28b44;
    --yakit-color: #ffffff;
    --yakit-border-color: #ffffff00;

    --yakit-hover-background: #f79c5d;
    --yakit-hover-color: #ffffff;
    --yakit-hover-border-color: #ffffff00;

    --yakit-disable-background: #f0f1f3;
    --yakit-disable-color: #ccd2de;
    --yakit-disable-border-color: #ffffff00;

    --yakit-press-background: #e27122;
    --yakit-press-color: #ffffff;
    --yakit-press-border-color: #ffffff00;
}
.yakit-button-outline-1 {
    --yakit-wave-shadow-color: #fbe7d9;

    --yakit-background: #fef8f4;
    --yakit-color: #f28b44;
    --yakit-border-color: #fbc6a1;

    --yakit-hover-background: #fef8f4;
    --yakit-hover-color: #f79c5d;
    --yakit-hover-border-color: #f79c5d;

    --yakit-disable-background: #f0f1f3;
    --yakit-disable-color: #ccd2de;
    --yakit-disable-border-color: #eaecf3;

    --yakit-press-background: #fef8f4;
    --yakit-press-color: #e27122;
    --yakit-press-border-color: #e27122;
}
.yakit-button-outline-2 {
    --yakit-wave-shadow-color: #fbe7d9;

    --yakit-background: #ffffff;
    --yakit-color: #31343f;
    --yakit-border-color: #eaecf3;

    --yakit-hover-background: #ffffff;
    --yakit-hover-color: #f79c5d;
    --yakit-hover-border-color: #f79c5d;

    --yakit-disable-background: #ffffff;
    --yakit-disable-color: #ccd2de;
    --yakit-disable-border-color: #eaecf3;

    --yakit-press-background: #ffffff;
    --yakit-press-color: #e27122;
    --yakit-press-border-color: #e27122;
}

.yakit-button-small-size {
    height: 20px;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
}
.yakit-button-size {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.yakit-button-big-size {
    height: 28px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.yakit-button-max-size {
    height: 32px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.yakit-button-type {
    background: var(--yakit-background);
    color: var(--yakit-color);
    border-color: var(--yakit-border-color);
}
.yakit-button-type:focus {
    background: var(--yakit-background);
    color: var(--yakit-color);
    border-color: var(--yakit-border-color);
}
.yakit-button-type:hover {
    background: var(--yakit-hover-background);
    color: var(--yakit-hover-color);
    border-color: var(--yakit-hover-border-color);
}
.yakit-button-type[disabled] {
    color: var(--yakit-disable-color);
    border-color: var(--yakit-disable-border-color);
    background: var(--yakit-disable-background);
}
[ant-click-animating-without-extra-node="true"]::after {
    box-shadow: none;
    opacity: 1;
    animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
}
.yakit-button-press {
    background: var(--yakit-press-background) !important;
    color: var(--yakit-press-color) !important;
    border-color: var(--yakit-press-border-color) !important;
}

@keyframes fadeEffect {
    100% {
        opacity: 0;
    }
}
@keyframes waveEffect {
    100% {
        box-shadow: 0 0 0 4px var(--yakit-wave-shadow-color);
    }
}
