.notepad-manage {
    padding: 16px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.notepad-manage-heard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .heard-title {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--yakit-header-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    .heard-extra {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
    }
}

.time-cell {
    padding: 0 8px;

    color: var(--yakit-body-text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
