.yak-store-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.yak-store-list.ant-tabs .ant-tabs-content-holder {
    overflow: auto;
}

.yak-store-list.ant-tabs .ant-tabs-content-holder .ant-tabs-tabpane {
    padding: 0 10px;
}

.no-more-text {
    text-align: center;
}

.flex-align-center {
    display: flex;
    align-items: center;

    .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
        top: -0.5px;
    }
}

.row-body {
    padding: 0 12px 8px;

    .col {
        display: flex;
        align-items: center;
    }

    .col-flex-end {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            margin-left: 12px;
        }
    }

    .show-yaml-poc {
        display: flex;
        align-items: center;
    }
}

.filter-opt-progress {
    flex: 1;
    min-width: 100px;
    max-width: 300px;
    margin-left: 6px;
}

.loading-center {
    display: flex;
    justify-content: center;
}

.left-list {
    .ant-spin-nested-loading {
        height: 100%;
    }

    .ant-card-head {
        border-bottom: 0px;
    }
}




.pop-confirm {
    .ant-popover-buttons {
        display: none;
    }

    .ant-popover-message-title {
        padding-left: 0;
    }
}

.query-form-body {
    width: 200px;

    .ant-form-item {
        margin-bottom: 12px;
    }

    .form-btns {
        display: flex;
        justify-content: space-around;
        margin-top: 12px;
    }

    .ant-form-vertical .ant-form-item-label {
        padding: 0px;
    }
}

.height-100 {
    height: 100%;
}

.plugin-list-body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .plugin-tag {
        width: 100%;
        text-align: right;
        color: rgb(136, 136, 136);
    }

    .plugin-list {
        width: 100%;
        margin-bottom: 16px;
        padding: 0 6px;
    }

    .text-style {
        font-size: 16px;
        font-weight: 600;
        color: #595b64;
    }

    .plugin-list-opt {

        .info-title {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .title-text {
                width: 80%;
                height: 22px;
                display: flex;

                .text-icon {
                    margin-left: 4px;
                    display: flex;
                    align-items: center;

                    .text-icon-style {
                        font-size: 20px;
                    }

                    .text-icon-admin {
                        height: 20px;
                        line-height: 20px;
                        border-radius: 4px;
                        font-size: 12px;
                        padding: 1px 5px;
                    }
                }
            }

            .title-add {
                height: 20px;
                line-height: 20px;
                padding: 0;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .author-right {
            display: flex;
            justify-content: flex-end;

            .empty-star {
                font-size: 16px;
                margin-right: 4px;
                cursor: pointer;
            }

            .solid-star {
                color: #1890ff;
                font-size: 16px;
                margin-right: 4px;
                cursor: pointer;
            }

            .stars-number {
                cursor: pointer;
            }

            .stars-number-active {
                color: #1890ff;
            }
        }
    }

}

.upload-outline {
    margin: 0 12px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        color: #1890ff;
    }
}

.text-icon-local {
    margin-left: 4px;
}

.icon-select {
    color: #bfbfbf;
    position: absolute;
    right: 0;
    top: 0;

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

.icon-select-active {
    color: #1890ff;
}

.full-filter {
    display: flex;
    align-items: center;
    color: #000000d9;
    cursor: pointer;

    .filter-icon {
        font-size: 16px;
        cursor: pointer;
        margin-right: 3px;
    }

    &:hover {
        color: #1890ff;
    }
}

.operation-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 12px;
    cursor: pointer;

    &:hover {
        color: #1890ff;
    }
}

.operation-icon-active {
    color: #1890ff;
    cursor: pointer;
}

.delete-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 12px;
    cursor: pointer;

    &:hover {
        color: #ff4d4f;
    }
}

.operation-text {
    font-size: 14px;
    color: #1890ff;
    margin-left: 12px;
    cursor: pointer;
}

.filter-opt-btn {
    color: #ff4d4f;
    margin-top: 4px;
}