.plugin-store {
    display: flex;
    height: 100%;
}

.plugin-store-operator {
    flex: 1;
    width: calc(100% - 470px);
}

.plugin-statistics {
    width: 360px;
    // min-width: 200px;
    padding: 12px 24px 12px;
    // max-width: 500px;
    min-height: 200px;
    height: 100%;
    overflow: hidden auto;

    .opt-list {
        border-radius: 1px;
        padding: 20px 0;
        border-bottom: 1px solid #e6eaef;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .opt-header {
        height: 30px;
        line-height: 30px;
        font-weight: 600;
    }

    .opt-list-item {
        cursor: pointer;
        height: 24px;
        line-height: 24px;
        display: flex;
        justify-content: space-between;

        .item-name {
            margin-right: 12px;
            cursor: pointer;
        }
    }

    .opt-list-item-selected {
        color: #1890ff;
    }
}

.plugin-title {
    padding-bottom: 12px;

    .search-input-body {
        display: flex;
        justify-content: flex-end;

        .ant-input-group-wrapper {
            max-width: 500px;
        }
    }
}

.flex-align-center {
    display: flex;
    align-items: center;

    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
        top: -0.5px;
    }

    .header-title {
        padding: 0 6px;
        height: 18px;
        line-height: 16px;
        font-weight: 500;
        font-size: 16px;
        color: var(--yakit-header-color);
    }
}

.row-body {
    padding: 0 12px 8px;

    .col {
        display: flex;
        align-items: center;
    }

    .col-flex-end {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            margin-left: 12px;
        }
    }

    .show-yaml-poc {
        display: flex;
        align-items: center;
    }
}

.user-col {
    .ant-divider-vertical {
        border-left: 1px solid #d9d9d9;
        margin: 0 4px;
        height: 16px;
    }

    .recycle {
        display: flex;
        cursor: pointer;

        span {
            margin-left: 4px;
        }
    }
}

.filter-opt-progress {
    flex: 1;
    min-width: 100px;
    max-width: 300px;
    margin-left: 6px;
}

.left-list {
    .ant-spin-nested-loading {
        height: 100%;
        width: 100%;
    }

    .ant-card-head {
        border-bottom: 0px;
    }
}

.pop-confirm {
    .ant-popover-buttons {
        display: none;
    }

    .ant-popover-message-title {
        padding-left: 0;
    }
}

.query-form-body {
    width: 200px;

    .ant-form-item {
        margin-bottom: 12px;
    }

    .form-btns {
        display: flex;
        justify-content: space-around;
        margin-top: 12px;
    }

    .ant-form-vertical .ant-form-item-label {
        padding: 0px;
    }
}

.height-100 {
    height: 100%;
}

.list-height {
    height: calc(100% - 32px);
}

.max-width-70 {
    max-width: 70%;
}

.full-filter {
    display: flex;
    align-items: center;
    color: #000000d9;
    cursor: pointer;

    .filter-icon {
        font-size: 16px;
        cursor: pointer;
        margin-right: 3px;
    }

    &:hover {
        color: #1890ff;
    }
}

.operation-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 12px;
    cursor: pointer;

    &:hover {
        color: #1890ff;
    }
}

.operation-icon-active {
    color: #1890ff;
    cursor: pointer;
}

.delete-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 12px;
    cursor: pointer;

    &:hover {
        color: #ff4d4f;
    }
}

.operation-text {
    font-size: 14px;
    color: #1890ff;
    margin-left: 12px;
    cursor: pointer;
}

.filter-opt-btn {
    color: #ff4d4f;
    margin-top: 4px;
}

.plugin-list-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.plugin-item-active {
    background-color: rgba(79, 188, 255, 0.26);
}

.plugin-item {
    height: 154px;
    // width: 100%;
    margin: 0 8px 16px;
    border: 1px solid #0000000f;
    border-radius: 2px;
    color: #000000d9;

    .plugin-item-heard-active {
        background-color: initial !important;
    }

    .plugin-item-heard {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        height: 38px;
        line-height: 38px;
        background-color: #fafafa;

        .plugin-item-left {
            display: flex;
            align-items: center;
            width: 80%;
            height: 100%;

            .content-ellipsis {
                white-space: pre;
            }

            .text-style {
                font-size: 16px;
                font-weight: 600;
                color: #595b64;
                height: 100%;
            }

            .icon-body {
                display: flex;
                align-items: center;

                .text-icon-admin {
                    height: 20px;
                    line-height: 20px;
                    border-radius: 4px;
                    font-size: 12px;
                    padding: 1px 5px;
                    width: max-content;
                }

                .text-icon {
                    margin: 0 4px;
                    display: flex;
                    align-items: center;
                }

                .text-icon-style {
                    font-size: 20px;
                }
            }
        }

        .plugin-item-right {
            display: flex;
            align-items: center;
            flex: 1;
            line-height: initial;
            justify-content: flex-end;

            .upload-outline {
                margin: 0 6px;
                font-size: 16px;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.45);

                &:hover {
                    color: #1890ff;
                }
            }

            .plugin-down {
                cursor: pointer;
                width: 35px;
            }
        }

        .icon-select {
            color: #bfbfbf;
            position: absolute;
            right: -1px;
            top: -1px;

            svg {
                width: 1.5em;
                height: 1.5em;
            }
        }

        .icon-select-active {
            color: #1890ff;
        }
    }

    .plugin-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        height: 116px;

        .plugin-help {
            width: 100%;
            color: #5f5f5f;
            height: 21px;
            line-height: 21px;
        }

        .plugin-type-body {
            height: 21px;
            display: flex;
            align-items: center;
            margin: 8px 0;

            .plugin-tag {
                width: 100%;
                color: rgb(136, 136, 136);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
            }
        }

        .plugin-item-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .plugin-item-footer-left {
                display: flex;
                align-items: center;
                width: calc(100% - 90px);

                img {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    margin-right: 4px;
                }
            }
        }

        .plugin-item-author {
            width: calc(100% - 28px);
        }

        .plugin-item-time {
            display: flex;
            align-items: center;
            //width: 80px;
        }

        .icon-select {
            color: #bfbfbf;
            position: absolute;
            right: -1px;
            top: -1px;

            svg {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}

.github-icon {
    color: #1890ff;
    margin: 0 4px;
}

.color-bgColor-blue {
    background-color: rgba(82, 166, 250, 0.08);
    color: rgba(82, 166, 250, 1);
}

.color-bgColor-green {
    background-color: rgba(113, 204, 178, 0.08);
    color: rgba(113, 204, 178, 1);
}

.color-bgColor-red {
    background-color: rgba(255, 135, 135, 0.08);
    color: rgba(255, 135, 135, 1);
}

.plugin-type {
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
    padding: 0 7px;
    font-size: 12px;
    border-radius: 2px;
    width: max-content;
    white-space: nowrap;
}

.plugin-yak {
    background-color: rgba(116, 129, 255, 0.08);
    color: #7481ff;
}

.plugin-mitm {
    background-color: rgba(112, 161, 255, 0.08);
    color: #70a1ff;
}

.plugin-packet-hack {
    background-color: rgba(250, 175, 43, 0.08);
    color: #faaf2b;
}

.plugin-port-scan {
    background-color: rgba(66, 215, 173, 0.08);
    color: #42d7ad;
}

.plugin-codec {
    background-color: rgba(154, 107, 255, 0.08);
    color: #9a6bff;
}

.plugin-nuclei {
    background-color: rgba(255, 135, 135, 0.08);
    color: #ff8787;
}

.plugin-headImg {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-left: 4px;
    position: relative;

    &:hover {
        .img-mask {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .img-mask {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.25);
        top: 0;
        right: 0;

        .img-mask-icon {
            color: #fff;
        }
    }
}

.plug-in-menu-box {
    margin-top: 8px;
    display: flex;

    .check-box {
        flex: 1;
    }

    .add-icon {
        color: #1890ff;
        margin-left: 12px;
        cursor: pointer;
    }
}
