.yak-store-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.yak-store-list.ant-tabs .ant-tabs-content-holder {
    overflow: auto;
}
.yak-store-list.ant-tabs .ant-tabs-content-holder .ant-tabs-tabpane {
    padding: 0 10px;
}
