/* ---------- CollapseList ---------- */
.collapse-list-side-bar {
    width: 100%;
}

.collapse-list-output {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

.collapse-list-base {
    :global {
        .ant-collapse-item > .ant-collapse-header {
            padding: 3px 12px 3px 8px;
            align-items: center;
            &:hover{
                background-color: #f8f8f8;
            }
        }
        .ant-collapse-item > .ant-collapse-header .ant-collapse-expand-icon {
            line-height: 16px;
            height: 16px;
        }
        .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
            svg {
                width: 16px;
                height: 16px;
                color: #85899e;
            }
        }
        .ant-collapse-item > .ant-collapse-header .collapse-expand-arrow {
            svg {
                transform: rotate(90deg);
            }
        }

        .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
            padding: 0;
        }
    }
}

.collapse-list-container-side-bar {
    :global {
        .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
            margin-right: 2px;
        }
    }
    .list-item {
        &-render {
            padding: 0;
        }
    }
}

.collapse-list-container-output {
    :global {
        .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
            margin-right: 8px;
        }
        .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text {
            overflow: hidden;
            div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .list-item {
        &-render {
            padding: 0px 12px 0px 32px;

            position: relative;
            .render-tail {
                width: 1px;
                height: calc(100% + 6px);
                background-color: #eaecf3;
                position: absolute;
                top: -3px;
                left: 16px;
            }
        }
        &-render-sideBar {
            padding-bottom: 0px;
        }
    }
}

/* ---------- HelpInfoList ---------- */
.help-info-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    :global {
        .ant-collapse-header-text {
            overflow: hidden;
        }
    }
    .title-render {
        color: #31343f;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .content-render {
        color: #31343f;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        cursor: pointer;
        padding: 3px 12px 3px 0px;
    }
    .file-info-show {
        display: flex;
        flex-direction: row;
        gap: 8px;
        .title {
            white-space: nowrap;
            color: #31343f;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
        .sub-title {
            color: #b4bbca;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
        .count-box {
            padding: 0px 6px;
            border-radius: 2px;
            border: 1px solid rgba(136, 99, 247, 0.3);
            background: rgba(136, 99, 247, 0.1);
            color: #8863f7;
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
        }
    }
    .no-data {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}
