@use "../../../.../../../../styles/mixin.scss" as mixin;

.file-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-title {
        padding: 12px;
        padding-left: 10px;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-left {
                display: flex;
                gap: 4px;
                width: 0;
                flex: 1;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                }
                p {
                    margin: 0;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 14px;
                    font-weight: 500;
                    @include mixin.text-ellipsis;
                }
            }
            &-right {
                display: flex;
                align-items: center;
                gap: 4px;
                // svg {
                //     color: var(--Colors-Use-Neutral-Text-3-Secondary);
                // }
            }
        }
        &-path {
            padding: 4px 0;
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            @include mixin.text-ellipsis;
        }
    }
    &-content {
        width: 100%;
        flex: 1;
        height: 0;
    }
    &-empty {
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        gap: 16px;
        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            &-text {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 32px;
                font-weight: 500;
                line-height: 40px;
            }
            &-subtitle {
                color: var(--Colors-Use-Neutral-Text-4-Help-text);
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }
        &-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            &-button {
                width: 100%;
                background: var(--Colors-Use-Neutral-Bg);
                text-align: left;
                display: flex;
                justify-content: flex-start;
            }
            &-recent {
                padding: 8px 0;
                display: flex;
                flex-direction: column;
                gap: 4px;
                &-title {
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0.1px;
                }
                &-list {
                    &-item {
                        width: 100%;
                        height: 24px;
                        padding: 0 4px;
                        color: var(--Colors-Use-Main-Primary);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.5px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        border-radius: 8px;
                        cursor: pointer;
                        white-space: nowrap;
                        span {
                            color: var(--Colors-Use-Neutral-Disable);
                            @include mixin.text-ellipsis;
                        }
                        &:hover {
                            background: var(--Colors-Use-Neutral-Bg-Hover);
                        }
                    }
                }
            }
        }
    }
}
