@use "../../../.../../../../styles/mixin.scss" as mixin;

.file-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-title {
        padding: 12px;
        padding-left: 10px;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-left {
                display: flex;
                gap: 4px;
                width: 0;
                flex: 1;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                }
                p {
                    margin: 0;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 14px;
                    font-weight: 500;
                    @include mixin.text-ellipsis;
                }
            }
            &-right {
                display: flex;
                align-items: center;
                gap: 4px;
                // svg {
                //     color: var(--Colors-Use-Neutral-Text-3-Secondary);
                // }
            }
        }
        &-path {
            padding: 4px 0;
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            @include mixin.text-ellipsis;
        }
    }
    &-content {
        width: 100%;
        flex: 1;
        height: 0;
    }
}
