.styledTrafficSessionTable {
    width: 100%;
    border-collapse: collapse;
}

.styledTrafficSessionTable th {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    text-align: left;
}

.styledTrafficSessionTable td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.styledTrafficSessionTable tr:hover {
    background-color: #f5f5f5;
}
