.content-value {
    display: flex;
    align-items: center;
    margin-top: 12px;
    height: 24px;
    line-height: 24px;

    .label-text {
        margin-right: 6px;
        width: 100px;
        text-align: right;
    }
}