.mitm-plugin-local-item {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-top: 1px solid var(--yakit-border-color);
    flex: 1;
    &:hover {
        background-color: var(--yakit-card-background-color);
    }
    .mitm-plugin-local-left {
        display: flex;
        align-items: center;
        gap: 8px;
        width: calc(100% - 96px);
        flex: 1;
        padding-left: 2px;
        .mitm-plugin-local-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 24px);

            .mitm-plugin-local-info-left {
                display: flex;
                align-items: center;
                cursor: pointer;
                .plugin-local-headImg {
                    width: 28px;
                    height: 28px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
                .plugin-local-scriptName {
                    font-size: 12px;
                    color: var(--yakit-header-color);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                    // width: calc(100% - 34px);
                    margin-right: 8px;
                }
            }
            .mitm-plugin-local-info-right {
                display: flex;
                width: 72px;
                justify-content: flex-end;
            }
        }
    }
    .mitm-params-edit-icon {
        cursor: pointer;
        svg {
            width: 16px;
            color: var(--yakit-helper-text-color);
        }
        margin-left: 12px;
    }
    .lightning-bolt-icon {
        color: var(--yakit-primary-5);
        svg {
            width: 16px;
        }
    }
    .history-icon {
        svg {
            width: 16px;
        }
    }

    .history-icon-def {
        svg {
            color: var(--yakit-helper-text-color);
        }
    }
    .history-icon-light {
        svg {
            color: var(--yakit-primary-5);
        }
    }

    .extra-btns-icon {
        margin-right: 12px;
        margin-left: 12px;
        svg {
            width: 16px;
            height: 16px;
            color: var(--yakit-helper-text-color);
        }
    }
}

.mitmParamsDrawer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mitm-params-set {
    position: relative;
    height: 100%;
    padding-right: 15px;
    :global {
        .json-schema-row-form {
            padding: 0px 16px;
            .ant-form-item {
                display: flex;
                flex-direction: row;
                // padding: 0px 16px;
                .ant-form-item-label {
                    flex: 8;
                    text-align: right;
                    label::after {
                        content: ":";
                        position: relative;
                        top: -0.5px;
                        margin: 0 8px 0 2px;
                        z-index: 1;
                        display: inline-flex;
                        align-items: center;
                    }
                }
                .ant-form-item-control {
                    flex: 16;
                }
            }
            .ant-form-item-label {
                // 仅在相邻元素不是 .ant-form-item-control 时应用样式
                &:not(:has(+ .ant-form-item-control)) {
                    text-align: left;
                    label {
                        color: #333;
                    }
                    label::after {
                        content: "";
                        position: relative;
                        top: -0.5px;
                        margin: 0 8px 0 2px;
                        z-index: 1;
                        display: inline-flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.extra-menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    svg {
        height: 16px;
        width: 16px;
    }
    .menu-name {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.plugin-local-icon {
    color: var(--yakit-helper-text-color);
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
    }
}

.terminal-popover {
    width: 429px;

    :global {
        .ant-popover-inner-content {
            height: 40vh;
            padding: 4px;
        }

        .ant-popover-inner {
            border-radius: 4px;
        }

        .ant-popover-arrow {
            right: 0;
        }

        .ant-popover-placement-top,
        .ant-popover-placement-topLeft,
        .ant-popover-placement-topRight {
            padding-bottom: 8px;
        }
    }
}
