.mitm-plugin-local-item {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-top: 1px solid var(--yakit-border-color);
    flex: 1;
    &:hover {
        background-color: var(--yakit-card-background-color);
    }
    .mitm-plugin-local-left {
        display: flex;
        align-items: center;
        gap: 8px;
        width: calc(100% - 62px);
        flex: 1;
        padding-left: 2px;
        .mitm-plugin-local-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 24px);

            .mitm-plugin-local-info-left {
                display: flex;
                align-items: center;
                width: calc(100% - 100px);
                cursor: pointer;
                .plugin-local-headImg {
                    width: 28px;
                    height: 28px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
                .plugin-local-scriptName {
                    font-size: 12px;
                    color: var(--yakit-header-color);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                    // width: calc(100% - 34px);
                    margin-right: 8px;
                }
            }
            .mitm-plugin-local-info-right {
                display: flex;
                width: 72px;
                justify-content: flex-end;
            }
        }
    }
    .mitm-params-edit-icon {
        cursor: pointer;
        svg {
            width: 16px;
            color: var(--yakit-helper-text-color);
        }
    }
    .lightning-bolt-icon {
        color: var(--yakit-primary-5);
        margin-left: 24px;
        width: 16px;
        margin-right: 4px;
    }
}

.mitm-params-set {
    max-height: 700px;
    margin: 15px 10px;
    overflow: auto;
}
