.mitm-header-title {
    :global {
        .ant-page-header-content {
            padding-top: 0;
        }
    }
}

.mitm-page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    :global {
        .resize-box .resize-split-line:hover {
            border: 1px solid var(--Colors-Use-Main-Primary);
        }
    }
}

.mitm-server-start-pre-first {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;

    .mitm-idle-tab-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        .mitm-idle-tab-cont-item {
            overflow: auto;
            width: 100%;
            height: 100%;
            padding-left: 15px;
            padding-top: 12px;
            display: flex;
            flex-direction: column;
        }
    }

    .empty-button {
        margin-top: 2px;
        padding: 12px 0 8px 0;
        height: 34px;
    }

    .mitm-plugin-local {
        width: 100%;
        height: 100%;
        padding-right: 10px;
        padding-top: 2px;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .mitm-plugin-empty {
            margin-top: 48px;
            .mitm-plugin-buttons {
                display: flex;
                gap: 8px;
                justify-content: center;
                margin-top: 16px;
            }
        }
    }

    .mitm-plugin-list {
        height: 100%;
        flex: 1;
        overflow: hidden;
        :global {
            .ant-spin-nested-loading {
                height: 100%;
            }
            .ant-spin {
                color: var(--Colors-Use-Main-Primary);
            }

            .ant-spin-text {
                color: var(--Colors-Use-Main-Primary);
            }

            .ant-spin-dot-item {
                background-color: var(--Colors-Use-Main-Primary);
            }
        }
    }
}

.mitm-plugin-list-heard {
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;

    .mitm-plugin-list-check {
        display: flex;
        align-items: center;
        margin-right: 16px;
        flex-shrink: 0;
        .mitm-plugin-list-check-text {
            margin-left: 4px;
            font-size: 12px;
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
    }
    .mitm-plugin-list-tip {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: var(--Colors-Use-Neutral-Disable);
        span {
            color: var(--Colors-Use-Main-Primary);
        }
    }
}

.mitm-server-start-pre-second {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding: 0 0 13px 5px;
}

.plugin-group-modal {
    padding: 18px 24px;

    .plugin-group-heard {
        display: flex;
        justify-content: space-between;

        .plugin-group-title {
            font-weight: 600;
            font-size: 14px;
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }

        .close-icon {
            color: var(--Colors-Use-Neutral-Disable);
            cursor: pointer;
            svg {
                width: 16px;
                height: 16px;

                &:hover {
                    color: var(--Colors-Use-Main-Primary);
                }
            }
        }
    }

    .plugin-group-input {
        padding-top: 16px;
        margin-bottom: 2px;
    }

    .plugin-group-tip {
        font-size: 14px;
        line-height: 20px;
        color: var(--Colors-Use-Neutral-Disable);
        padding-bottom: 16px;

        span {
            margin: 0 2px;
            color: var(--Colors-Use-Main-Primary);
        }
    }

    .plugin-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}

.infoBox {
    background: var(--Colors-Use-Error-Bg);
    color: var(--Colors-Use-Neutral-Text-4-Help-text);
    padding: 8px 16px;
    margin-bottom: 16px;
}

.import-local-plugin-modal {
    .import-local-plugin-subTitle {
        display: flex;
        margin-left: 70px;
    }
    .import-local-plugin-form {
        padding: 0 16px;
        :global {
            .ant-form-item-explain,
            .ant-form-item-extra {
                font-size: 12px;
                color: var(--Colors-Use-Neutral-Text-4-Help-text);
            }
        }
    }
}
.mitm-plugin-group {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .mitm-plugin-group-left {
        display: flex;
        gap: 4px;
        align-items: center;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;

        .chevron-down {
            svg {
                width: 12px;
                height: 12px;
            }
        }

        svg {
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
        }

        .mitm-plugin-group-number {
            padding: 0px 8px;
            height: 16px;
            line-height: 16px;
            background: var(--Colors-Use-Neutral-Bg);
            border-radius: 8px;
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 12px;
        }
    }

    .mitm-plugin-group-left-open {
        color: var(--Colors-Use-Main-Primary);

        svg {
            color: var(--Colors-Use-Main-Primary);
        }

        .mitm-plugin-group-number {
            background: var(--Colors-Use-Main-Bg);
            color: var(--Colors-Use-Main-Primary);
        }
    }

    .plus-circle {
        margin-left: 4px;
        height: 15px;
    }
}
.plugin-group-list {
    padding: 4px 6px;
    border-radius: 4px;
    max-height: 380px;
    overflow-y: auto;
    .plugin-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 28px;
        border-radius: 4px;
        padding: 0 2px;
        &-input {
            height: 24px;
        }
        &-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 4px;
            border-radius: 4px;
            cursor: pointer;
            .plugin-group-item-name {
                width: calc(100% - 10px);
                font-size: 12px;
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-weight: 400;
            }
            .plugin-group-item-length {
                font-size: 12px;
                color: var(--Colors-Use-Neutral-Disable);
            }
            .extra-opt-btns {
                display: none;
                width: 71px;
            }
            &:hover {
                background-color: var(--Colors-Use-Neutral-Bg-Hover);
                .plugin-number-unshow {
                    display: none;
                }
                .extra-opt-btns {
                    display: block;
                }
            }
        }
    }
    .plugin-group-item-select {
        .plugin-group-item-name {
            color: var(--Colors-Use-Main-Primary);
        }
    }
}

.mitm-plugin-local-tag-select-item {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    .tag-select-item-name {
        margin-right: 8px;
    }
}

.chrome-input-group {
    :global {
        .ant-input-affix-wrapper {
            border-radius: 0px;
        }
    }
    :first-child {
        :global {
            .ant-input-affix-wrapper {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-right-width: 0;
                &:hover,
                &:focus {
                    border-right-width: 1px;
                }
            }
        }
    }
    :last-child {
        :global {
            .ant-input-affix-wrapper {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.mitm-plugin-query-show {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    .mitm-plugin-query-plugin-group {
        max-width: 200px;
        .mitm-plugin-query-plugin-group-name {
            width: calc(100% - 20px);
        }
        .folder-icon {
            width: 16px;
            height: 16px;
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.chrome-launcher-status {
    .chrome-launcher-text {
        margin-left: 4px;
        line-height: 16px;
    }
}

.add-group-popover {
    padding-top: 0px;
    border-radius: 4px;
    overflow: hidden;
    :global {
        .ant-popover-arrow {
            display: none;
        }
        .ant-popover-inner-content {
            padding: 14px 0 0;
        }
    }
}

.chrome-launcher-params-set-wrap {
    padding: 20px;
    padding-top: 0;
    height: 650px;
    .button-add-params {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;

        svg {
            color: var(--Colors-Use-Neutral-Text-1-Title);
            margin-right: 4px;
            stroke-width: 1.5px;
        }
    }

    .table-action-icon {
        padding: 0 4px;
        display: flex;
        align-items: center;

        .action-icon {
            svg {
                width: 16px;
                height: 16px;
                &:hover {
                    color: var(--Colors-Use-Main-Primary);
                }
            }
        }

        .action-icon-save {
            svg {
                color: var(--Colors-Use-Main-Primary);
            }
        }

        .action-icon-edit-disabled {
            svg {
                color: var(--Colors-Use-Neutral-Disable);
                cursor: not-allowed;

                &:hover {
                    color: var(--Colors-Use-Neutral-Disable);
                }
            }
        }

        .action-icon-ban-disabled {
            svg {
                color: var(--Colors-Use-Main-Primary);
            }
        }

        span {
            padding: 0 12px;
            border-right: 1px solid var(--Colors-Use-Neutral-Border);
            color: var(--Colors-Use-Neutral-Text-1-Title);

            &:first-child {
                padding-left: 0;
            }
        }

        .icon-trash {
            color: var(--Colors-Use-Error-Primary);
        }

        .action-icon-trash-disabled {
            svg {
                color: var(--Colors-Use-Neutral-Disable);
                cursor: not-allowed;

                &:hover {
                    color: var(--Colors-Use-Neutral-Disable);
                }
            }
        }

        .action-icon-ban-disabled2 {
            svg {
                color: var(--Colors-Use-Neutral-Disable);
                cursor: not-allowed;

                &:hover {
                    color: var(--Colors-Use-Neutral-Disable);
                }
            }
        }
    }
}

.chrome-operation-btn-wrapper {
    position: relative;
    display: flex;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    border-radius: 40px;
    .operation-btn-left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 10px;
        cursor: pointer;
        border-right: 1px solid var(--Colors-Use-Neutral-Border);
        background-color: var(--Colors-Use-Main-Primary);
        color: var(--Colors-Use-Main-On-Primary);
        font-size: 14px;
        font-weight: 600;
        .open-icon {
            margin-right: 4px;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        &:hover {
            background-color: var(--Colors-Use-Main-Hover);
        }
        &:active {
            background-color: var(--Colors-Use-Main-Pressed);
        }
    }
    .operation-btn-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        cursor: pointer;
        transition: transform 0.5s;
        background-color: var(--Colors-Use-Main-Pressed);
        color: var(--Colors-Use-Main-On-Primary);
        .title-icon {
            transition: transform 0.5s;
            &.rotate-180 {
                transform: rotate(180deg);
            }
        }
        &:hover {
            background-color: var(--Colors-Use-Main-Primary);
        }
    }
}

.operation-dropdown-wrapper {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    padding: 4px;
    z-index: 9999;
    transition: all 0.5s ease;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    border-radius: 4px;
    background-color: var(--Colors-Use-Basic-Background);
    white-space: nowrap;
    width: max-content;
    min-width: 100%;
    .operation-dropdown-list-item {
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
        cursor: pointer;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 14px;
        line-height: 20px;
        &:hover {
            background-color: var(--Colors-Use-Main-Bg);
        }
        &.active {
            color: var(--Colors-Use-Main-Primary);
        }
        .check-icon {
            svg {
                color: var(--Colors-Use-Main-Primary);
            }
        }
    }
}

.chrome-start-desc {
    font-size: 11px;
    color: var(--Colors-Use-Neutral-Text-4-Help-text);
    margin-bottom: 5px;
}

.yakitGetOnlinePlugin {
    top: 20vh;
}