.mitm-loading-spin {
    height: 100%;
    width: 100%;
}

.mitm-header-title .ant-page-header-content {
    padding-top: 0;
}

.mitm-page {
    position: relative;
    width: 100%;
    height: calc(100% - 1px);
    overflow: hidden;

}
