.mitm-plugin-local-item {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-top: 1px solid var(--yakit-border-color);
    flex: 1;
    .mitm-plugin-local-left {
        display: flex;
        align-items: center;
        gap: 8px;
        width: calc(100% - 44px);
        flex: 1;
        .mitm-plugin-local-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 24px);

            .mitm-plugin-local-info-left {
                display: flex;
                align-items: center;
                width: calc(100% - 72px);
                .plugin-local-headImg {
                    width: 28px;
                    height: 28px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
                .plugin-local-scriptName {
                    font-size: 12px;
                    color: var(--yakit-header-color);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                    // width: calc(100% - 34px);
                    margin-right: 8px;
                }
            }
            .mitm-plugin-local-info-right {
                display: flex;
                width: 72px;
                justify-content: flex-end;
            }
        }
    }
    .lightning-bolt-icon {
        color: var(--yakit-primary-5);
        margin-left: 24px;
        width: 16px;
        margin-right: 4px;
    }
}
