
.plugin-heard{
    display: flex;
    padding: 12px;
    justify-content: space-between;
    .heard-search{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
}