.yakit-radio-buttons-solid {
    --yakit-solid-primary-font-color: #fff;
    --yakit-solid-primary-font-hover-color: var(--yakit-primary-4);
}

// ========================== middle ==========================
.yakit-radio-buttons-middle {
    --radio-buttons-box-shadow-color: var(--yakit-primary-2);
    --radio-buttons-border-color: var(--yakit-primary-5);
    --radio-buttons-border-hover-color: var(--yakit-primary-3);
    --radio-buttons-border-active-color: var(--yakit-primary-6);

    --radio-buttons-primary-font-color: var(--yakit-primary-5);
    --radio-buttons-primary-font-hover-color: var(--yakit-primary-4);

    --radio-buttons-background-color: var(--yakit-primary-5);
    --radio-buttons-background-hover-color: var(--yakit-primary-4);
    --radio-buttons-background-active-color: var(--yakit-primary-6);


    :global {
        .ant-radio-button-wrapper:first-child {
            border-radius: 4px 0 0 4px;
        }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 4px 4px 0;
        }

        .ant-radio-button-wrapper {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            border-color: var(--yakit-border-color);
        }

        .ant-radio-button-wrapper:hover {
            color: var(--radio-buttons-primary-font-hover-color);
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: var(--radio-buttons-primary-font-color);
            border-color: var(--radio-buttons-border-color);
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
            box-shadow: 0 0 0 2px var(--radio-buttons-box-shadow-color);
        }

        .ant-radio-button-wrapper:focus-within {
            box-shadow: 0 0 0 2px var(--radio-buttons-box-shadow-color);
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
            box-shadow: 0 0 0 2px var(--radio-buttons-box-shadow-color);
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
            background: var(--radio-buttons-background-color);
        }

        .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
            border-color: var(--radio-buttons-border-color);
            border-right-color: var(--radio-buttons-border-color);
        }
    }
}

.yakit-radio-buttons-solid {
    :global {
        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: var(--yakit-solid-primary-font-color);
            background: var(--radio-buttons-background-color);
            border-color: var(--radio-buttons-border-color);
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
            background: var(--radio-buttons-background-hover-color);
            border-color: var(--radio-buttons-border-hover-color);
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
            background: var(--radio-buttons-background-active-color);
            border-color: var(--radio-buttons-border-active-color);
            box-shadow: 0 0 0 2px var(--radio-buttons-box-shadow-color);
        }
    }
}

.yakit-radio-buttons-solid {
    :global {
        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: var(--yakit-solid-primary-font-color);
            background: var(--radio-buttons-background-color);
            border-color: var(--radio-buttons-border-color);
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
            background: var(--radio-buttons-background-hover-color);
            border-color: var(--radio-buttons-border-hover-color);
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
            background: var(--radio-buttons-background-active-color);
            border-color: var(--radio-buttons-border-active-color);
            box-shadow: 0 0 0 2px var(--radio-buttons-box-shadow-color);
        }
    }
}

.yakit-radio-buttons-solid {
    :global {
        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: var(--yakit-solid-primary-font-color);
            background: var(--radio-buttons-background-color);
            border-color: var(--radio-buttons-border-color);
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
            background: var(--radio-buttons-background-hover-color);
            border-color: var(--radio-buttons-border-hover-color);
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
            background: var(--radio-buttons-background-active-color);
            border-color: var(--radio-buttons-border-active-color);
            box-shadow: 0 0 0 2px var(--radio-buttons-box-shadow-color);
        }
    }
}

// ========================== max-large ==========================
.yakit-radio-buttons-max-large {
    :global {
        .ant-radio-button-wrapper {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

// ========================== large ==========================
.yakit-radio-buttons-large {
    :global {
        .ant-radio-button-wrapper {
            height: 28px;
            line-height: 28px;
            font-weight: 500;
        }
    }
}

// ========================== small ==========================
.yakit-radio-buttons-small {
    :global {
        .ant-radio-button-wrapper {
            height: 20px;
            line-height: 14px;
            font-weight: 500;
            font-size: 11px;
        }
    }
}