// ========================== 新UI ==========================
.yakit-radio-buttons-newUI {
    --yakit-box-shadow-color: #fbe7d9;
    --yakit-border-color: #fbc6a1;
    --yakit-primary-font-color: #f28b44;
}

// ========================== 老UI ==========================
.yakit-radio-buttons-oldUI {
    --yakit-box-shadow-color: #e6f7ff;
    --yakit-border-color: #1890ff;
    --yakit-primary-font-color: #1890ff;
}

// ========================== middle ==========================
.yakit-radio-buttons-middle {

    :global {
        .ant-radio-button-wrapper:first-child {
            border-radius: 4px 0 0 4px;
        }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 4px 4px 0;
        }

        .ant-radio-button-wrapper {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: var(--yakit-primary-font-color);
            border-color: var(--yakit-border-color);
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
            box-shadow: 0 0 0 2px var(--yakit-box-shadow-color);
        }

        .ant-radio-button-wrapper:focus-within {
            box-shadow: 0 0 0 2px var(--yakit-box-shadow-color);
        }

        .ant-radio-button-wrapper:hover {
            color: var(--yakit-primary-font-color);
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
            background-color: var(--yakit-border-color);
        }

        .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
            border-color: var(--yakit-border-color);
            border-right-color: var(--yakit-border-color);
        }
    }
}

// ========================== max-large ==========================
.yakit-radio-buttons-max-large {
    :global {
        .ant-radio-button-wrapper {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

// ========================== large ==========================
.yakit-radio-buttons-large {
    :global {
        .ant-radio-button-wrapper {
            height: 28px;
            line-height: 28px;
            font-weight: 500;
        }
    }
}

// ========================== small ==========================
.yakit-radio-buttons-small {
    :global {
        .ant-radio-button-wrapper {
            height: 20px;
            ;
            line-height: 20px;
            ;
            font-weight: 500;
        }
    }
}