// ========================== middle ==========================
.yakit-radio-buttons-middle {

    :global {
        .ant-radio-button-wrapper:first-child {
            border-radius: 4px 0 0 4px;
        }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 4px 4px 0;
        }

        .ant-radio-button-wrapper {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
        }
    }
}

// ========================== max-large ==========================
.yakit-radio-buttons-max-large {
    :global {
        .ant-radio-button-wrapper {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

// ========================== large ==========================
.yakit-radio-buttons-large {
    :global {
        .ant-radio-button-wrapper {
            height: 28px;
            line-height: 28px;
            font-weight: 500;
        }
    }
}

// ========================== small ==========================
.yakit-radio-buttons-small {
    :global {
        .ant-radio-button-wrapper {
            height: 20px;
            ;
            line-height: 20px;
            ;
            font-weight: 500;
        }
    }
}