%display-flex-center {
    display: flex;
    align-items: center;
}
%display-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.graph-xAxis-list {
    @extend %display-flex-center;
    gap: 12px 20px;
    border-bottom: 1px solid var(--yakit-border-color);
    padding-bottom: 8px;
    flex-wrap: wrap;
    .graph-xAxis-list-item {
        @extend %display-flex-center;
        align-items: flex-start;
        gap: 8px;
        color: var(--yakit-body-text-color);
        line-height: 16px;
        cursor: pointer;
        opacity: 0.3;
    }
    .graph-xAxis-list-item-active {
        opacity: 1;
    }
    .circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-top: 2px;
    }

    .circle-text-bg {
        background-color: var(--ui-text-color);
    }
}
%charts {
    flex: 1;
    height: 360px;
    min-width: 400px;
    // overflow-x: auto;
}
.graph-charts-body {
    overflow-x: auto;
    .bar-graph-charts {
        @extend %charts;
    }
    .line-graph-charts {
        @extend %charts;
    }
    .pie-graph-charts {
        @extend %charts;
    }
    .wordcloud-graph-charts {
        @extend %charts;
    }
}
.pie-tooltip {
    display: inline-flex;
    flex-direction: column;
    padding: 12px 16px;
    max-width: 120px;
}
.pie-tooltip-name {
    color: #ccd2de;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.pie-tooltip-value {
    color: #fff;
    text-align: center;

    /* Headings/H5 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}
