.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--Colors-Use-Basic-Background);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--Colors-Use-Neutral-Border);
}

.wrapper {
  flex: 1;
  min-height: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
