/* ---------- EditorInfo ----------*/
.editor-info {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #eaecf3;
    background: #fff;
    transition:
        width 0.2s ease,
        opacity 0.2s ease;
}
.editor-info-show {
    width: 400px;
    opacity: 1;
}
.editor-info-hidden {
    width: 0;
    opacity: 0;
}

.editor-info-header {
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaecf3;

    color: #31343f;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    .expand-btn {
        width: 24px;
        height: 24px;
        padding: 4px;
        display: flex;
        align-items: center;
        color: #85899e;
        border-radius: 4px;
        cursor: pointer;
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover {
            background-color: var(--yakit-background-color);
            color: var(--yakit-primary-5);
        }
    }
}
.editor-info-body {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

/* ---------- EditorInfoForm ----------*/
.editor-info-form {
    height: 100%;
    padding: 20px 12px 12px 12px;
    overflow: hidden auto;
}
.editor-info-form-global {
    :global {
        .form-item-required {
            margin: 0 4px;
            padding-top: 4px;
            color: #f4736b;
            font-size: 14px;
            line-height: 14px;
        }

        .ant-row.ant-form-item {
            gap: 2px;
            .ant-form-item-label {
                padding-bottom: 0;
            }
            .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
                display: none;
            }
        }
    }

    .item-input {
        :global {
            .ant-input-prefix {
                svg {
                    width: 16px;
                    height: 16px;
                    color: #31343f;
                }
            }
        }
    }
    .item-select {
        :global {
            .ant-select-selector {
                padding-left: 30px !important;
                padding-top: 0 !important;
                padding-bottom: 1px !important;
            }
        }
    }
    .item-select-prefix-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 37px;
        height: 32px;
        padding-left: 12px;
        padding-right: 8px;
        display: flex;
        align-items: center;
        svg {
            width: 16px;
            height: 16px;
            color: #31343f;
        }
    }

    .item-setting {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        .item-setting-header {
            padding-bottom: 4px;
            color: #31343f;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        .item-switch-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            .switch-wrapper {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #31343f;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .linkage-plugin-type-select {
        :global {
            .ant-select-selector {
                padding-top: 0 !important;
                padding-bottom: 1px !important;
            }
        }
    }

    .hidden {
        display: none;
    }
}

.temp-example-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--yakit-border-color);
    padding-top: 12px;
    gap: 8px;
    padding: 5px;
    border-radius: 4px;
    .temp-example-title-wrapper {
        display: flex;
        align-items: center;

        gap: 8px;
        .temp-example-title-text {
            justify-content: center;
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
        }
    }
    .temp-example-list-wrapper {
        overflow-y: overlay;
        flex: 1;
        .temp-example-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            cursor: pointer;
            &:not(:first-child) {
                border-top: 1px solid var(--yakit-border-color);
            }
            &:last-child {
                border-bottom: 1px solid var(--yakit-border-color);
            }
            .temp-example-item-left-wrapper {
                width: calc(100% - 80px);
                display: flex;
                align-items: center;

                gap: 4px;
                .temp-example-item-label {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }
            .temp-example-item-desc {
                visibility: hidden;
                overflow: hidden;
                margin: 0 6px;
                padding: 0 6px;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 4px;
                background-color: #eaecf3;
                font-size: 13px;
            }
            &:hover {
                border-color: transparent;
                border-radius: 8px;
                background-color: #f8f8f8;
                & + .temp-example-list-item {
                    border-top-color: transparent;
                }
                .temp-example-item-desc {
                    visibility: visible;
                }
            }
        }
    }
    .document-list-wrapper {
        overflow-y: overlay;
        flex: 1;
        .document-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            cursor: pointer;
            &:not(:first-child) {
                border-top: 1px solid var(--yakit-border-color);
            }
            &:last-child {
                border-bottom: 1px solid var(--yakit-border-color);
            }
            .document-item-left-wrapper {
                width: 100%;
                display: flex;
                align-items: center;

                gap: 4px;
                .document-item-label {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }
            &:hover {
                border-color: transparent;
                border-radius: 8px;
                background-color: #f8f8f8;
                & + .document-list-item {
                    border-top-color: transparent;
                }
                .document-item-desc {
                    visibility: visible;
                }
            }
        }
    }
}
.temp-example-help-body {
    height: 100%;
    overflow: auto;
    max-height: 70vh;
    h1 {
        color: var(--yakit-header-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
}

/* ---------- PluginTypeSelect ----------*/
.plugin-type-select {
    width: 100%;
    :global(.ant-select-selection-item) {
        height: 21px;
        .plugin-type-select-option {
            padding: 0;
            align-items: center;
            .description-style {
                display: none;
            }
        }
    }
}
.plugin-type-select-dropdown {
    border-radius: 4px;
    border: 1px solid #eaecf3;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(133, 137, 158, 0.1);
}
.plugin-type-select-option {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    .header-icon {
        width: 16px;
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .type-content {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        font-size: 12px;
        line-height: 16px;
        .name-style {
            color: #31343f;
            font-style: normal;
            font-weight: 600;
        }
        .description-style {
            color: #85899e;
            font-style: normal;
            font-weight: 400;
            white-space: break-spaces;
        }
        .disable-color {
            color: #ccd2de;
        }
    }
}
