.ai-fail-plan-wrapper {
  background-color: var(--Colors-Use-Error-Focus);
}

.expand-btn {
  color: var(--Colors-Use-Neutral-Text-3-Secondary);
}

.pre-max-height {
  max-height: 400px;
  margin-top: 8px;
}
