html {
    // 各种颜色
    --yakit-color-purple: #8863f7;
    --yakit-color-blue-purple: #da5fdd;
    --yakit-color-blue: #4a94f8;
    --yakit-color-cyan: #35d8ee;
    --yakit-color-green: #56c991;
    --yakit-color-red: #f4736b;
    --yakit-color-orange: #ffb660;
    --yakit-color-yellow: #ffd583;
    --yakit-color-grey: #b4bbca;

    // 成功状态色
    --yakit-success-1: rgba(86, 201, 145, 0.08);
    --yakit-success-2: #d9f2e6;
    --yakit-success-3: #c6ebd9;
    --yakit-success-4: #4dbe87;
    --yakit-success-5: #56c991;
    --yakit-success-6: #33ad72;

    // 警告状态色
    --yakit-warning-1: rgba(255, 182, 96, 0.08);
    --yakit-warning-2: #ffecd6;
    --yakit-warning-3: #fddfbd;
    --yakit-warning-4: #f6a94f;
    --yakit-warning-5: #ffb660;
    --yakit-warning-6: #f39628;

    // 错误状态色
    --yakit-danger-1: rgba(246, 84, 74, 0.08);
    --yakit-danger-2: #ffe0de;
    --yakit-danger-3: #f3c2bf;
    --yakit-danger-4: #eb493f;
    --yakit-danger-5: #f6544a;
    --yakit-danger-6: #d33a30;

    // 严重状态色
    --yakit-serious-1: rgba(189, 42, 33, 0.08);
    --yakit-serious-2: #f5d1cf;
    --yakit-serious-3: #d89591;
    --yakit-serious-4: #b62117;
    --yakit-serious-5: #bd2a21;
    --yakit-serious-6: #9d1b13;
}
html[data-theme="default"] {
    --ui-text-color: #31343f;
    --ui-text-inverse-color: #fff;
    --ui-icon-color: #85899e;
    --ui-background-color: #fff;
    --ui-hover-background-color: #f0f1f3;

    // 主题色
    --yakit-primary-1: rgba(242, 139, 68, 0.06);
    --yakit-primary-2: #fbe7d9;
    --yakit-primary-3: #fbc6a1;
    --yakit-primary-4: #f69c5d;
    --yakit-primary-5: #f28b44;
    --yakit-primary-6: #e27122;
}
html[data-theme="dark"] {
    --ui-text-color: #fff;
    --ui-text-inverse-color: #31343f;
    --ui-icon-color: #85899e;
    --ui-background-color: #000;
    --ui-hover-background-color: #f0f1f3;
}
