.yakit-spin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    :global {
        .ant-spin-container {
            flex-grow: 1;
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .ant-spin {
            color: var(--yakit-primary-color);
        }

        .ant-spin-text {
            color: var(--yakit-primary-color);
        }

        .ant-spin-dot-item {
            background-color: var(--yakit-primary-color);
        }
    }
}
