.mitm-exec-plugin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

.mitm-exec-plugin .left-body {
    width: 400px;
    height: 100%;
}

.mitm-exec-plugin .left-body .list-opt{
    height: 40px;
    line-height: 40px;
    display: flex;
    border: 1px solid #f0f0f0;
    margin-bottom: 5px;
    padding: 0 5px;
}

.mitm-exec-plugin .right-body {
    flex: 1;
    overflow: auto;
    padding-left: 10px;
}