.mitm-exec-plugin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.mitm-exec-plugin .exec-plugin-input {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mitm-exec-plugin .exec-plugin-input .input-title{
    height: 30px;
    padding-top: 4px;
    display: inline-block;
}
.mitm-exec-plugin .exec-plugin-input .input-style{
    margin: 0 10px;
    width: 60%;
}

.mitm-exec-plugin .exec-plugin-info{
    flex: 1;
    overflow: auto;
}