.collapse-paragraph-expand-btn {
    margin-top: 8px;
    height: 20px;
    line-height: 20px;
    color: #036ffe;
}
.collapse-paragraph-collapse-btn {
    margin-top: 8px;
    height: 20px;
    line-height: 20px;
    color: #036ffe;
    cursor: pointer;
}
