.plugin-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

    .list-filter {
        width: 100%;
        height: 40px;
        padding-top: 6px;
        margin-bottom: 4px;

        .filter-opt {
            display: inline-block;
            margin-left: 5px;

            span:first-child {
                margin-right: 12px;
            }
        }

        .filter-opt-progress {
            width: 100%;
            margin-right: 5px;
        }

        .filter-opt-btn {
            border-radius: 4px;
        }
    }

    .list-body {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-flow: column;

        .list-content {
            flex: 1;
            padding: 0 5px;
            overflow: hidden auto;
        }

        .list-pagination {
            width: 100%;
            height: 32px;
            padding-top: 5px;
            text-align: right;
        }
    }
}

.plugin-list-opt {
    width: 100%;

    .opt-info {
        padding: 0 16px;
        margin-top: 17px;
        margin-bottom: 24px;

        .info-title {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .title-text {
                width: 80%;
                height: 22px;
                display: flex;

                .text-style {
                    font-size: 16px;
                    font-weight: 600;
                    color: #595b64;
                }

                .text-icon {
                    margin-left: 4px;

                    .text-icon-style {
                        font-size: 20px;
                    }

                    .text-icon-admin {
                        height: 20px;
                        line-height: 20px;
                        border-radius: 4px;
                        font-size: 12px;
                        padding: 1px 5px;
                    }
                }
            }

            .title-add {
                height: 20px;
                line-height: 20px;
                padding: 0;
                /* color: #ef5b26; */
                font-size: 14px;
                font-weight: 400;
            }
        }

        .info-content {
            width: 100%;
            height: 20px;
            line-height: 20px;
            margin: 9px 0 8px 0;

            .content-style {
                font-size: 12px;
                color: #999ea8;
            }
        }

        .info-tag {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: clip;

            .tag-text {
                height: 18px;
                line-height: 18px;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 400;
                padding: 1px 10px;
                display: inline;
            }

            .tag-text+.tag-text {
                margin-left: 5px;
            }

            .tag-empty {
                width: 100%;
                height: 18px;
            }
        }
    }

    .opt-author {
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        background-color: #f6f7f9;
        border-radius: 0 0 4px 4px;

        .author-left {
            width: 80%;
            display: flex;

            .left-pic {
                width: 26px;

                .left-pic-style {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
            }

            .left-name {
                flex: 1;
                overflow-x: hidden;

                .left-name-style {
                    margin-left: 8px;
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }

        .author-right {
            display: flex;

            .empty-star {
                font-size: 16px;
                margin-right: 4px;
                cursor: pointer;
            }

            .solid-star {
                color: #036ffe;
                font-size: 16px;
                margin-right: 4px;
                cursor: pointer;
            }

            .stars-number {
                cursor: pointer;
            }

            .stars-number-active {
                color: #036ffe;
            }
        }
    }
}

/* 垂直居中样式 */
.vertical-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* 水平左右分隔靠边样式 */
.horizontal-divide-aside {
    display: flex;
    justify-content: space-between;
}

/* 字体颜色和背景颜色(透明度为0.08) */
.color-bgColor-orange {
    background-color: rgba(250, 175, 43, 0.08);
    color: rgba(250, 175, 43, 1);
}

.color-bgColor-purple {
    background-color: rgba(154, 107, 255, 0.08);
    color: rgba(154, 107, 255, 1);
}

.color-bgColor-blue {
    background-color: rgba(82, 166, 250, 0.08);
    color: rgba(82, 166, 250, 1);
}

.color-bgColor-green {
    background-color: rgba(113, 204, 178, 0.08);
    color: rgba(113, 204, 178, 1);
}

.color-bgColor-red {
    background-color: rgba(255, 135, 135, 0.08);
    color: rgba(255, 135, 135, 1);
}

.color-bgColor-gray {
    background-color: rgba(246, 247, 249, 0.08);
    color: rgba(246, 247, 249, 1);
}

.hover-active {
    &:hover {
        color: #036ffe !important;

        svg {
            color: #036ffe !important;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 220px 150px 190px 220px auto;
    margin: 12px 0 18px;
    grid-gap: 12px;
    grid-row-gap: 24px;

    .grid-item {
        display: inline-block;

        .grid-text {
            margin-right: 12px;
        }
    }

    .btn {
        display: flex;
        justify-content: flex-end;

    }

    .filter-opt-progress {
        flex: 1;
        max-width: 300px;
    }
}

.grid-container-admin {
    grid-template-columns: 220px 150px 190px auto;
}

@media(max-width: 1350px) {
    .grid-container {
        grid-template-columns: 220px 150px 190px 220px;
    }

    .btn {
        justify-content: flex-start !important;
        min-width: 300px;
    }
}

@media(max-width: 1200px) {
    .grid-container {
        grid-template-columns: 220px 150px 190px 220px;
    }

    .btn {
        justify-content: flex-start !important;
        min-width: 300px;
    }
}

@media(max-width: 1100px) {
    .grid-container {
        grid-template-columns: 220px 150px 190px;
    }

    .btn {
        justify-content: flex-start !important;
        min-width: 300px;
    }
}