.plugin-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.plugin-list-container .list-filter {
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
}
.plugin-list-container .list-body {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}
.plugin-list-container .list-body .list-content {
    flex: 1;
    padding: 0 5px;
    overflow: hidden auto;
}
.plugin-list-container .list-body .list-pagination {
    width: 100%;
    height: 32px;
    padding-top: 5;
    text-align: right;
}

.plugin-list-opt {
    width: 100%;
}

.plugin-list-opt .opt-info {
    padding: 0 16px;
    margin-top: 17px;
    margin-bottom: 24px;
}
.plugin-list-opt .opt-info .info-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.plugin-list-opt .opt-info .info-title .title-text {
    width: 80%;
    height: 22px;
    display: flex;
}
.plugin-list-opt .opt-info .info-title .title-text .text-style {
    font-size: 16px;
    font-weight: 600;
    color: #595b64;
}
.plugin-list-opt .opt-info .info-title .title-text .text-icon {
    margin-left: 4px;
}
.plugin-list-opt .opt-info .info-title .title-text .text-icon .text-icon-style {
    font-size: 20px;
}
.plugin-list-opt .opt-info .info-title .title-text .text-icon .text-icon-admin {
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px 5px;
}
.plugin-list-opt .opt-info .info-title .title-add {
    height: 20px;
    line-height: 20px;
    padding: 0;
    color: #ef5b26;
    font-size: 14px;
    font-weight: 400;
}

.plugin-list-opt .opt-info .info-content {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 9px 0 8px 0;
}
.plugin-list-opt .opt-info .info-content .content-style {
    font-size: 12px;
    font-weight: 400;
    color: #999ea8;
    margin-bottom: 0;
}

.plugin-list-opt .opt-info .info-tag {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.plugin-list-opt .opt-info .info-tag .tag-text {
    height: 18px;
    line-height: 18px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    padding: 1px 10px;
    display: inline;
}
.plugin-list-opt .opt-info .info-tag .tag-text + .tag-text {
    margin-left: 5px;
}
.plugin-list-opt .opt-info .info-tag .tag-empty {
    width: 100%;
    height: 18px;
}

.plugin-list-opt .opt-author {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    background-color: #eff1f5;
    border-radius: 0 0 4px 4px;
}

.plugin-list-opt .opt-author .author-left {
    width: 80%;
    display: flex;
}
.plugin-list-opt .opt-author .author-left .left-pic {
    width: 26px;
}
.plugin-list-opt .opt-author .author-left .left-pic .left-pic-style {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.plugin-list-opt .opt-author .author-left .left-name {
    flex: 1;
    overflow-x: hidden;
}
.plugin-list-opt .opt-author .author-left .left-name .left-name-style {
    margin-left: 8px;
    max-width: 100%;
    display: inline-block;
}

.plugin-list-opt .opt-author .author-right {
    display: flex;
}
.plugin-list-opt .opt-author .author-right .empty-star {
    font-size: 16px;
    margin-right: 4px;
    cursor: pointer;
}
.plugin-list-opt .opt-author .author-right .solid-star {
    color: #ffb95d;
    font-size: 16px;
    margin-right: 4px;
    cursor: pointer;
}

/* 垂直居中样式 */
.plugin-list-opt .vertical-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
/* 水平左右分隔靠边样式 */
.plugin-list-opt .horizontal-divide-aside {
    display: flex;
    justify-content: space-between;
}
/* 内容过长省略样式 */
.plugin-list-opt .content-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 字体颜色和背景颜色(透明度为0.08) */
.plugin-list-opt .plugin-tag-orange {
    background-color: rgba(250, 175, 43, 0.08);
    color: rgba(250, 175, 43, 1);
}
.plugin-list-opt .plugin-tag-purple {
    background-color: rgba(154, 107, 255, 0.08);
    color: rgba(154, 107, 255, 1);
}
.plugin-list-opt .plugin-tag-blue {
    background-color: rgba(82, 166, 250, 0.08);
    color: rgba(82, 166, 250, 1);
}
.plugin-list-opt .plugin-tag-green {
    background-color: rgba(113, 204, 178, 0.08);
    color: rgba(113, 204, 178, 1);
}
.plugin-list-opt .plugin-tag-red {
    background-color: rgba(255, 135, 135, 0.08);
    color: rgba(255, 135, 135, 1);
}
