$active-color:#036ffe;

.yakit-plugin-info-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .plugin-info-width {
        min-width: 400px;
        margin: 0 200px;
    }

    .plugin-info-body {
        height: 100%;
        overflow: hidden auto;
        display: flex;
        flex-flow: column;

        .info-back {
            width: 100%;
            height: 17px;
            line-height: 17px;
            font-size: 12px;
            color: #036ffe;
            display: block;
            cursor: pointer;
        }

        .info-header {
            width: 100%;
            height: 33px;
            line-height: 33px;
            margin: 24px 0 8px 0;
            display: flex;
            justify-content: space-between;

            .header-title-body {
                display: flex;
                width: 70%;

                .title-body-text {
                    font-size: 24px;
                    font-weight: 600;
                    color: #1e1f23;
                    display: inline-block;
                    max-width: 85%;
                }

                .title-body-admin-tag {
                    height: 20px;
                    line-height: 20px;
                    border-radius: 4px;
                    font-size: 12px;
                    padding: 1px 5px;
                    margin-left: 8px;
                }
            }

            .header-btn-body {
                .btn-like {
                    background-color: #f6f7f9;
                    border-radius: 4px;
                    font-weight: 600;
                    color: #686c78;
                    padding: 4px 14px;
                    border: 1px solid #ffffff;

                    .empty-star {
                        cursor: pointer;
                    }

                    .solid-star {
                        color: $active-color;
                        cursor: pointer;
                    }
                }

                .btn-add {
                    background-color: #036ffe;
                    border-radius: 4px;
                    font-weight: 600;
                    color: #ffffff;
                    margin-left: 8px;
                    padding: 4px 14px;
                }
            }
        }

        .info-preface {
            width: 100%;
            height: 24px;
            line-height: 24px;
            display: flex;

            .preface-author {
                display: flex;

                .author-img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }

                .author-name {
                    color: #1e1f23;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                }
            }

            .preface-divider {
                height: 100%;
            }

            .preface-time {
                font-size: 12px;
                height: 20px;
                line-height: 20px;

                .time-title {
                    color: #1e1f23;
                    display: inline-block;
                }

                .time-style {
                    margin-left: 8px;
                    color: #999ea8;
                    display: inline-block;
                }
            }

            .preface-star-and-download {
                display: flex;

                .solid-star {
                    color: $active-color;
                    cursor: pointer;
                }

                .star-download-icon {
                    cursor: pointer;
                    font-size: 16px;
                }

                .star-download-num {
                    margin-left: 4px;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                }

                .star-download-num-active {
                    color: $active-color;
                }

                &:hover {
                    color: $active-color;
                }
            }
        }

        .info-summary {
            margin: 16px 0 40px 0;
            padding: 24px;
            width: 100%;
            background-color: #f9fafb;

            .summary-introduce {
                .introduce-title {
                    width: 100%;
                    height: 24px;
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #1e1f23;
                }

                .introduce-content {
                    margin-top: 8px;
                }
            }
        }

        .info-comment-box {
            margin-bottom: 24px;
            width: 100%;

            .box-header {
                height: 24px;
                line-height: 24px;
                font-size: 16px;
                font-weight: 600;

                .header-title {
                    color: #1e1f23;
                }

                .header-subtitle {
                    color: #999ea8;
                    margin-left: 8px;
                }
            }
        }

        // .info-comment-content {
        // }
    }

    .plugin-info-examine {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 72px;
        box-shadow: 0 -2px 4px 0 rgba(195, 199, 207, 0.3);
        background-color: #ffffff;

        .info-examine-body {
            height: 100%;
            display: flex;
            justify-content: space-between;

            .examine-title {
                height: 24px;
                line-height: 24px;
                font-size: 16px;
                font-weight: 600;
                color: #1e1f23;
            }

            .examine-reject {
                background-color: #f9fafb;
                color: #686c78;
                border: 1px solid #ffffff;
                border-radius: 4px;
            }

            .examine-adopt {
                background-color: #036ffe;
                color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 4px;
                margin-left: 8px;
            }
        }
    }
}

.plugin-info-comment-input {
    width: 100%;

    .box-input {
        margin: 8px 0 22px 0;
        width: 100%;

        .input-stlye {
            background-color: #f9fafb;
            border: 1px solid #e6eaef;
            border-radius: 4px;
            box-shadow: 0 0 0 #ffffff;
        }

        textarea.ant-input.input-stlye::-webkit-input-placeholder {
            color: #1e1f23;
        }
    }

    .box-upload {
        display: flex;

        .upload-img-opt {
            width: 90px;
            height: 90px;
            cursor: pointer;
            position: relative;

            .opt-pic {
                width: 90px;
                height: 90px;
                border-radius: 10px;
            }

            .opt-del {
                position: absolute;
                top: 3px;
                right: 3px;
                width: 10px;
                height: 14px;
                line-height: 14px;
                color: #ffffff;
                font-weight: 600;
                z-index: 99;
            }

            .opt-del:hover {
                color: #ff8787;
            }
        }

        .upload-img-opt+.upload-img-opt {
            margin-left: 10px;
        }
    }

    .box-btn {
        display: flex;
        justify-content: space-between;

        .btn-pic {
            color: #8e8e8e;
        }

        .btn-pic-disabled {
            color: #d6d6d6;
        }

        .btn-submit {
            background-color: #f9fafb;
            color: #cbd1da;
            border-radius: 4px;
        }
    }
}

.comment-reply-dialog {
    .ant-modal-content {
        border-radius: 10px;

        .ant-modal-header {
            border: 0;
            border-radius: 10px;

            .header-title {
                font-weight: 600;
            }
        }

        .ant-modal-body {
            padding: 10px 24px 24px 24px;
        }
    }
}

.comment-separator {
    height: 1px;
    background-color: #e6eaef;
    border-radius: 1px;
    margin: 24px 0;
}

.plugin-comment-opt {
    display: flex;
    width: 100%;

    .opt-author-img {
        margin-right: 16px;
        width: 48px;

        .author-img-style {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }

    .opt-comment-body {
        flex: 1;

        .comment-body-name {
            height: 20px;
            line-height: 20px;
            font-weight: 600;
            color: #1e1f23;
            margin-top: 2px;
        }

        .comment-body-content {
            margin: 4px 0 8px 0;

            .content-style {
                color: #686c78;
                line-height: 20px;
                margin-bottom: 0;
            }

            .content-by-name {
                color: $active-color;
                margin-left: 3px;
            }
        }

        .comment-body-subcomment {
            width: 100%;
            background-color: #f9fafb;
            margin-top: 16px;
            padding: 16px 24px;
        }

        .comment-pic {
            width: 90px;
            height: 90px;
            border-radius: 10px;
        }

        .comment-reply {
            font-size: 12px;
        }
    }
}


.mask-img-display {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .mask-display-icon-body {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 50px;
        color: #d6d6d6;

        .display-icon {
            cursor: pointer;
        }

        .display-icon-middle {
            margin: 0 20px;
        }
    }
}

.un-login {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.comment-child-body {
    height: 70vh;
    overflow: auto;
    margin-top: 16px;
    padding: 0 16px;

    .child-comment-list {
        background-color: #F9FAFB;
        padding: 24px;
        margin: 0 64px;
        margin-top: 16px;
    }
}

.comment-body-time-func {
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999ea8;
    font-size: 12px;
    margin-bottom: 12px;

    .func-comment-and-star {
        display: flex;
        height: 16px;
        line-height: 16px;

        .comment-and-star {
            display: flex;
            align-items: center;

            .icon-style {
                font-size: 21px;
                cursor: pointer;
                color: #686C78;
            }

            .icon-style-comment {
                font-size: 16px;
                cursor: pointer;
                color: #686C78;
            }

            .icon-style-start {
                font-size: 21px;
                cursor: pointer;
                color: $active-color;
            }

            .num-style {
                margin-left: 4px;
                cursor: pointer;
            }

            .num-style-active {
                color: $active-color;
            }
        }
    }
}

.hover-active {
    &:hover {
        color: $active-color !important;

        svg {
            color: $active-color !important;
        }
    }
}

.no-more-text {
    text-align: center;
}

.padding-bottom-12 {
    padding-bottom: 12px;
}