.mention-custom {
    height: 24px;
    padding: 4px 8px;

    color: var(--yakit-header-color);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    background-color: var(--Colors-Use-Main-Bg-Hover);
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    margin: 0 4px;
}

.mention-custom-selected {
    background-color: var(--Colors-Use-Main-Primary);
    color: var(--Colors-Use-Main-On-Primary);
}

.mention-custom-popover {
    :global {
        .ant-popover-inner {
            border-radius: 4px;
        }
        .ant-popover-inner-content {
            padding: 8px 12px;
        }
    }
}
.mention-custom-popover-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
