.mention {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--yakit-border-color);
    border-radius: 8px;
    overflow: hidden;
    padding: 0 12px;
    box-shadow:
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    .mention-user-list {
        margin-bottom: 41px;
        overflow-y: auto;
        height: 150px;
        .mention-user-row {
            display: flex;
            align-items: center;
            width: 100%;
            height: 32px;
            cursor: pointer;
            user-select: none;
            line-height: 16px;
            border-top: 1px solid var(--yakit-border-color);
            color: var(--yakit-header-color);

            &:first-child {
                border-top-color: transparent;
            }
            &:hover {
                background: var(--yakit-card-background-color);
                border-radius: 8px;
                border-top-color: transparent;
            }
        }
        .mention-user-row:hover + .mention-user-row {
            border-top-color: transparent;
        }
        .mention-user-item {
            width: 100%;
            padding: 8px 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
        .mention-user-item-selected {
            background-color: var(--yakit-primary-1);
            border-radius: 8px;
        }
        .mention-user-row + .mention-user-row:has(.mention-user-item-selected),
        .mention-user-row:has(.mention-user-item-selected) + .mention-user-row {
            border-top-color: transparent;
        }
    }
    .mention-footer {
        position: absolute;
        bottom: 0;
        height: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        right: 0;
        padding: 8px 16px;
        border-top: 1px solid var(--yakit-border-color);
        background-color: #fff;
        z-index: 9;
        .checkbox {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}
.mention[data-show="false"] {
    display: none;
}
