.review-content {
    flex: 1;
    overflow: hidden;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;

    .review-header {
        display: flex;
        align-items: center;
        gap: 8px;
        svg {
            width: 24px;
            height: 24px;
            color: var(--Colors-Use-Neutral-Text-2-Primary);
        }
        .title-style {
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 14px;
            font-weight: 600;
        }
        .sub-title-style {
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            font-weight: 400;
        }
    }
    .review-container {
        flex: 1;
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 8px;

        .review-data {
            min-height: 30px;
            flex: 1;
            overflow: auto;
        }

        .reivew-options {
            min-height: 30px;
        }
    }
    .review-input {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
        background: var(--Colors-Use-Basic-Background);

        .question-footer {
            padding: 6px 12px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            border-top: 1px solid var(--Colors-Use-Neutral-Border);
            background: var(--Colors-Use-Neutral-Bg);
            border-radius: 0 0 8px 8px;
            .extra-btns {
                display: flex;
                align-items: center;
                gap: 8px;
                .btn-style {
                    border-radius: 50%;
                }
            }
        }
    }
    .review-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .review-selectors-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 8px;
}
.review-content-hidden {
    height: 0;
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
}
.ai-require-input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    background: var(--Colors-Use-Basic-Background);
    .textarea-style {
        min-height: 90px;
        max-height: 90px;
        flex-shrink: 0;
    }
}
.review-task-tool-data {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    background: var(--Colors-Use-Neutral-Bg-Hover);
    .task-tool-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        .info-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
        .info-description {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}
