.ai-task-chat {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.task-chat-body {
    flex: 1;
    height: 100%;
    overflow: hidden;
    background: var(--Colors-Use-Neutral-Bg);
}
.task-chat-executing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .chat-executing-header {
        padding: 12px 16px 12px 12px;
        border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        .header-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.15px;
            overflow: hidden;
            gap: 8px;
            .header-title-qs {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
            }
            .header-title-info-wrapper {
                display: flex;
                align-items: center;
                gap: 8px;
                flex-shrink: 0;
                .info-token {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 12px;
                    font-weight: 400;
                }
                .token-tag {
                    height: 16px;
                    padding: 2px 6px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    border-radius: 2px;
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
                .upload-token {
                    background: var(--Colors-Use-Error-Bg-Hover);
                    color: var(--Colors-Use-Error-Primary);
                    svg {
                        color: var(--Colors-Use-Error-Primary);
                    }
                }
                .download-token {
                    background: var(--Colors-Use-Neutral-Bg-Hover);
                    color: var(--Colors-Use-Neutral-Text-3-Secondary);
                    svg {
                        color: var(--Colors-Use-Neutral-Text-3-Secondary);
                    }
                }

                .divider-style {
                    width: 1px;
                    height: 12px;
                    border-left: 1px solid var(--Colors-Use-Neutral-Border);
                }
                .info-time {
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
        .header-extra {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
    .chat-executing-content {
        flex: 1;
        overflow: hidden;
        display: flex;
        .content-left-side {
            width: 257px;
            height: 100%;
            border-right: 1px solid var(--Colors-Use-Neutral-Border);
            transition:
                border-right 0.3s ease-in-out,
                width 0.3s ease-in-out;
            display: flex;
            .open-wrapper {
                width: 0;
                height: 100%;
                overflow: hidden;
                opacity: 0;
            }
        }
        .content-left-side-hidden {
            overflow: hidden;
            width: 30px;
            border-right: 0;
            .open-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                opacity: 1;
                border-right: 1px solid var(--Colors-Use-Neutral-Border);
                padding: 8px 4px 4px;
                cursor: pointer;
                .text {
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: center;
                }
                .side-header-btn {
                    border-radius: 50%;
                    background: var(--Colors-Use-Basic-Background);
                }
            }
        }

        .content-list {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .chat-wrapper {
                flex: 1;
                overflow: hidden;
            }

            .content-review {
                position: relative;
                .review-box {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .review-border-shadow {
                    width: 90%;
                    min-height: 50px;
                    max-width: 507px;
                    background: var(--Colors-Use-Basic-Background);
                    border-radius: 8px;
                    border: 4px solid var(--Colors-Use-Main-Focus);
                    /* 投影 12px */
                    box-shadow: 0px 6px 12px 0px var(--Colors-Use-Neutral-Shadow);
                    .review-wrapper {
                        height: 100%;
                        padding: 8px;
                        border-radius: 4px;
                        border: 1px solid var(--Colors-Use-Main-Border);
                    }
                }
                .review-mini {
                    height: 50px;
                }
            }

            .chat-footer {
                z-index: 9;
            }
        }
    }
}

.task-chat-log {
    width: 257px;
    height: 100%;
    border-left: var(--Colors-Use-Neutral-Border) 1px solid;
    background: var(--Colors-Use-Basic-Background);
}
.task-chat-log-hidden {
    width: 0;
}
