@use '../../../../../../styles/mixin.scss' as mixin;

.recent-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  &-title {
    color: var(--Colors-Use-Neutral-Text-1-Title);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &-item {
    width: 100%;
    min-height: 28px;
    padding: 6px 8px;
    color: var(--Colors-Use-Main-Primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background: var(--Colors-Use-Neutral-Bg-Hover);
    }
  }

  &-name {
    flex-shrink: 0;
    max-width: 120px;
    @include mixin.text-ellipsis;
  }

  &-path {
    color: var(--Colors-Use-Neutral-Disable);
    flex: 1;
    min-width: 0;
    @include mixin.text-ellipsis;
  }
}
