// ========================== combination-search 组合搜索 ==========================
.yakit-combination-search {
    width: 100%;
    :global {
        .ant-input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .ant-input-group > .ant-input:first-child,
        .ant-input-group-addon:first-child {
            border-radius: 0;
        }
    }
    .yakit-combination-search-select {
        :global {
            .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                padding: 4px 8px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .ant-select-arrow {
                right: 5.5px;
            }
            .ant-select-open {
                z-index: 2;
            }
            .ant-select-focused {
                z-index: 2;
            }
            .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
                .ant-select-selector {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        svg {
            width: 12px;
            height: 12px;
            color: var(--yakit-body-text-color);
        }
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
    }
    .yakit-combination-search-focus {
        :global {
            .ant-input-group > .ant-input:first-child,
            .ant-input-group-addon:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
    }
}

.yakit-combination-search-right-select {
    :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
}
