.file-tree-system {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-title {
        padding: 4px 0;
        display: flex;
        height: 32px;
        justify-content: space-between;
        align-items: center;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        line-height: 16px;
        &:hover &-icon {
            display: flex;
        }
        &-toggle {
            span {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.5px;
                transition: all 0.3s;
                cursor: pointer;
                svg {
                    width: 12px;
                    height: 12px;
                    color: var(--Colors-Use-Neutral-Text-4-Help-text);
                }
            }
        }
        &-icon {
            display: none;
            align-items: center;
            gap: 4px;
        }
        &-btn {
            margin-top: 8px;
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: center;
        }
        &-icon svg {
            width: 16px;
            height: 16px;
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
        }
    }
    &-list {
        flex: 1;
        height: 0;
        overflow: hidden auto;
    }
    :global {
        .ant-tree-treenode {
            display: flex;
            align-items: center;
            // padding: 0 8px;
            background-color: var(--Colors-Use-Basic-Background);
        }
        .ant-tree-node-content-wrapper {
            padding: 0;
        }
        .ant-tree-switcher {
            width: 16px;
            svg {
                width: 16px;
                height: 16px;
                color: var(--Colors-Use-Neutral-Text-3-Secondary);
            }
        }
        .ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
            background-color: var(--Colors-Use-Neutral-Bg-Hover);
        }
        .ant-tree {
            background-color: transparent;
        }
        .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
        .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
            border: 1px solid var(--Colors-Use-Main-Primary);
            background-color: rgba(242, 139, 68, 0.06);
            border-radius: 4px;
        }
        .ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
            flex: 1;
            width: 0;
        }
    }
}
.dropdown-menu {
    > div:first-of-type {
        width: 100%;
    }
}
