.HTTPHistoryFilter {
    height: 100%;

    &-left {
        height: 100%;

        .tab-wrap {
            display: flex;
            width: 100%;
            height: 100%;

            .tab {
                width: 24px;
                height: 100%;
                border-right: 1px solid var(--Colors-Use-Neutral-Border);
                background: var(--Colors-Use-Neutral-Bg-Hover);
                &-item {
                    position: relative;
                    display: flex;
                    align-items: flex-start;
                    align-items: center;
                    flex-direction: column;
                    padding: 12px 4px;
                    cursor: pointer;
                    user-select: none;
                    border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
                    font-weight: 600;

                    gap: 4px;

                    svg {
                        width: 16px;
                        height: 16px;
                        transform: rotate(180deg)
                    }

                    &:hover {
                        background: var(--Colors-Use-Basic-Background);
                    }

                    &-active {
                        color: var(--Colors-Use-Main-On-Primary);
                        background-color: var(--Colors-Use-Main-Primary);
                        &:hover {
                            background-color: var(--Colors-Use-Main-Hover);
                        }
                    }

                    &-unshowCont {
                        background-color: var(--Colors-Use-Main-Border);
                    }
                }

                .tab-item-text {
                    transform: rotate(180deg);

                    text-orientation: sideways-right;
                    writing-mode: vertical-rl;
                }
            }

            .tab-cont-item {
                overflow: auto;
                width: 100%;
                height: 100%;
            }
        }

        .webTree-wrapper {
            height: 100%;
            padding: 15px 0 15px 15px;
            background-color: var(--Colors-Use-Basic-Background);
        }

        .process-wrapper {
            height: 100%;
            padding: 15px 0 15px 15px;
        }
    }

    &-right {
        height: 100%;

        .HTTPFlowFilterTable {
            height: 100%;
            padding: 0 8px;

            .status-code {
                color: var(--Colors-Use-Success-Primary);
            }

            .filter-icon {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            .body-length-text-red {
                color: var(--Colors-Use-Error-Primary);
            }

            .check-circle {
                display: flex;
                align-items: center;

                .check-circle-icon {
                    color: var(--Colors-Use-Success-Primary);
                }
            }

            .http-history-table-title {
                display: flex;
                flex-direction: column;
                width: 100%;

                :global {
                    .ant-btn-sm {
                        border-radius: 4px;
                    }

                    .ant-select-selector {
                        border-radius: 4px !important;
                    }

                    .ant-input-group-addon {
                        border-radius: 4px;
                    }
                }

                .http-history-table-title-space-between {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .http-history-table-row {
                    margin-top: 8px;
                    margin-bottom: 8px;
                }

                .http-history-table-left {
                    display: flex;
                    align-items: center;
                    flex: 1;
                }

                .http-history-table-right {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex: 1;
                    width: 100%;

                    gap: 8px;

                    .http-history-table-right-item {
                        display: flex;
                        align-items: center;

                        gap: 4px;
                    }

                    .http-history-table-right-label {
                        white-space: nowrap;
                    }

                    .http-history-table-color-swatch {
                        color: var(--Colors-Use-Neutral-Text-1-Title);

                        .color-swatch-icon {
                            svg {
                                color: var(--Colors-Use-Neutral-Text-1-Title);

                                &:hover {
                                    color: var(--Colors-Use-Main-Primary);
                                }
                            }

                            &:hover {
                                color: var(--Colors-Use-Main-Primary);
                            }
                        }

                        .color-swatch-icon-active {
                            svg {
                                color: var(--Colors-Use-Main-Primary);
                            }
                        }
                    }
                }
            }

            .action-btn-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 16px;

                gap: 3px;

                .divider-style {
                    height: 100%;
                    border-left: 1px solid var(--Colors-Use-Neutral-Border);
                }

                .icon-style {
                    color: var(--Colors-Use-Neutral-Text-3-Secondary) !important;
                }

                .icon-hover:hover {
                    color: var(--Colors-Use-Main-Primary) !important;
                }
            }
        }
    }
}

.http-history-table-color-popover {
    width: 140px;
    padding-top: 5px;

    :global {
        .ant-popover-inner-content {
            padding: 0;
        }
    }
}

.http-history-table-drop-down-popover {
    padding-top: 5px;

    :global {
        .ant-popover-inner-content {
            padding: 4px;
        }
    }
}

.editor-context-menu-keybind-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    gap: 12px;

    .content-style {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .keybind-style {
        display: flex;
        align-items: center;
        color: var(--Colors-Use-Neutral-Disable);
        font-size: 12px;
    }
}