.import-export-modal {
    .export-hint {
        background: rgba(86, 201, 145, 0.1);
        color: #85899e;
        padding: 8px 16px;
        margin-bottom: 15px;
    }
    .import-hint {
        background: #fff2f0;
        color: #85899e;
        padding: 8px 16px;
        margin-bottom: 16px;
    }
}
