.mac-ui-op-wrapper {
    height: 100%;
    padding: 10px;
    .mac-ui-op-body {
        height: 100%;
        display: flex;

        .op-hidn-btn {
            padding: 2px;
            .btn-icon {
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }

            .close-bg-color {
                background-color: var(--Colors-Use-Error-Primary);
                border: 1px solid #ea4439;
            }
            .min-bg-color {
                background-color: var(--Colors-Use-Warning-Primary);
                border: 1px solid #f8a94d;
            }
            .max-bg-color {
                background-color: var(--Colors-Use-Success-Primary);
                border: 1px solid #4bbb84;
            }
        }

        .op-btn {
            display: inline-flex;
        }

        .op-btn + .op-btn {
            margin-left: 4px;
        }
    }
}