/* 内容过长省略样式 */
.content-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: none;
    background-clip: padding-box;
    border: 1px solid transparent;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    background: none;
}

::-webkit-scrollbar-thumb:hover {
    border-color: #c1c1c1;
}

// ========================== drawer ==========================
.ant-drawer-body {
    margin-right: 2px;
}

// ========================== monaco ==========================
// .monaco-editor,
// .monaco-editor-background,
// .monaco-editor .inputarea.ime-input {
//     background-color: #e8e9e8 !important;
// }

// .monaco-editor .margin {
//     background-color: #e8e9e8 !important;
// }

// ========================== ant ==========================
.ant-dropdown {
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    background: #fff;

    .ant-space {
        gap: 0 !important;
    }

    .ant-space-item {
        padding: 5px 12px;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.ant-tooltip {
    font-size: 12px;
}

.ant-tooltip-inner {
    min-height: 24px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.ant-tooltip-arrow {
    width: 16px;
    height: 16px;
}

.ant-form-item-with-help {
    margin-bottom: 16px;
}

.ant-form-item {
    margin-bottom: 16px;
}

// ========================== color ==========================
.bg-color-red-opacity {
    background-color: #f4736b;
}

.bg-color-green-opacity {
    background-color: #56c991;
}

.bg-color-blue-opacity {
    background-color: #4a94f8;
}

.bg-color-yellow-opacity {
    background-color: #ffd583;
}

.bg-color-orange-opacity {
    background-color: #ffb660;
}

.bg-color-purple-opacity {
    background-color: #8863f7;
}

.bg-color-cyan-opacity {
    background-color: #35d8ee;
}

.bg-color-grey-opacity {
    background-color: #b4bbca;
}

// ========================== notification ==========================
.yakit-notification-failed {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgb(133 137 158 / 12%);
    padding: 0;

    .ant-notification-notice-content {
        background: var(--yakit-danger-1);
        border: 1px solid var(--yakit-danger-3);

        padding: 16px 12px;
    }

    .ant-notification-notice-message {
        margin-bottom: 4px;
        margin-left: 28px;
        font-size: 14px;
        color: var(--yakit-header-color);
        line-height: 20px;
    }

    .anticon.ant-notification-notice-icon-error {
        color: var(--yakit-danger-5);
        margin-left: 0;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
    }

    .ant-notification-notice-closable .ant-notification-notice-message {
        padding-right: 32px;
    }

    .ant-notification-notice-with-icon .ant-notification-notice-description {
        margin-left: 28px;
        font-size: 12px;
        line-height: 16px;
        color: var(--yakit-body-text-color);
        padding-right: 32px;
    }
}

.ant-notification-notice {
    border-radius: 4px;
}

// ========================== button ==========================
.button-text-danger {
    --button-wave-shadow-color: var(--yakit-danger-2);

    --button-background: #fff;
    --button-color: var(--yakit-danger-5);
    --button-border-color: var(--yakit-danger-5);

    --button-hover-background: #fff;
    --button-hover-color: var(--yakit-danger-4);
    --button-hover-border-color: var(--yakit-danger-4);

    --button-press-background: #fff;
    --button-press-color: var(--yakit-danger-6);
    --button-press-border-color: var(--yakit-danger-6);
}

.button-text-primary {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: #fff;
    --button-color: var(--yakit-primary-5);
    --button-border-color: var(--yakit-primary-5);

    --button-hover-background: #fff;
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: var(--yakit-primary-4);

    --button-press-background: #fff;
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: var(--yakit-primary-6);
}

.button-primary-danger {
    --button-wave-shadow-color: var(--yakit-danger-2);

    --button-background: var(--yakit-danger-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-danger-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-background-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-danger-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;
}

// ========================== Modal.confirm ==========================
.modal-remove-icon {
    svg {
        width: 16px;
        height: 16px;
        color: var(--yakit-helper-text-color);

        &:hover {
            color: var(--yakit-primary-4);
        }
    }
}

.modal-cancel-button {
    border-radius: 4px;
    color: var(--yakit-header-color);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        color: var(--yakit-primary-4);
        border-color: var(--yakit-primary-4);
    }

    &:focus {
        color: var(--yakit-primary-6);
        border-color: var(--yakit-primary-6);
    }
}

.modal-ok-button {
    border-radius: 4px;
    border-color: var(--yakit-primary-5);
    background: var(--yakit-primary-5);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        border-color: var(--yakit-primary-4);
        background: var(--yakit-primary-4);
    }

    &:focus {
        border-color: var(--yakit-primary-5);
        background: var(--yakit-primary-5);
    }

    &:active {
        border-color: var(--yakit-primary-6);
        background: var(--yakit-primary-6);
    }
}
