/* 内容过长省略样式 */
.content-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
    background-color: #e8e9e8 !important;
}

.monaco-editor .margin {
    background-color: #e8e9e8 !important;
}


.ant-dropdown {
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    background: #fff;

    .ant-space {
        gap: 0 !important;
    }

    .ant-space-item {
        padding: 5px 12px;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.ant-tooltip {
    font-size: 12px;
}

.ant-tooltip-inner {
    min-height: 24px;
    padding: 2px 8px;
}

.ant-tooltip-arrow{
    width: 16px;
    height: 16px;
}