/* 内容过长省略样式 */
.content-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: none;
    background-clip: padding-box;
    border: 1px solid transparent;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    background: none;
}

::-webkit-scrollbar-thumb:hover {
    border-color: #c1c1c1;
}

// ========================== drawer ==========================
.ant-drawer-body {
    margin-right: 2px;
}

// ========================== monaco ==========================
// .monaco-editor,
// .monaco-editor-background,
// .monaco-editor .inputarea.ime-input {
//     background-color: #e8e9e8 !important;
// }

// .monaco-editor .margin {
//     background-color: #e8e9e8 !important;
// }

// ========================== ant ==========================
.ant-dropdown {
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    background: #fff;

    .ant-space {
        gap: 0 !important;
    }

    .ant-space-item {
        padding: 5px 12px;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.ant-tooltip {
    font-size: 12px;
}

.ant-tooltip-inner {
    min-height: 24px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.ant-tooltip-arrow {
    width: 16px;
    height: 16px;
}

.ant-form-item-with-help {
    margin-bottom: 16px;
}

.ant-form-item {
    margin-bottom: 16px;
}

// ========================== color ==========================
.bg-color-red-opacity {
    background-color: #f4736b;
}

.bg-color-green-opacity {
    background-color: #56c991;
}

.bg-color-blue-opacity {
    background-color: #4a94f8;
}

.bg-color-yellow-opacity {
    background-color: #ffd583;
}

.bg-color-orange-opacity {
    background-color: #ffb660;
}

.bg-color-purple-opacity {
    background-color: #8863f7;
}

.bg-color-cyan-opacity {
    background-color: #35d8ee;
}

.bg-color-grey-opacity {
    background-color: #b4bbca;
}

// ========================== notification start ==========================
.yakit-notification-failed,
.yakit-notification-error {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgb(133 137 158 / 12%);
    padding: 0;

    .ant-notification-notice-content {
        background: var(--yakit-danger-1);
        border: 1px solid var(--yakit-danger-3);
        border-radius: 4px;
        padding: 16px 12px;
    }

    .ant-notification-notice-message {
        margin-bottom: 4px;
        margin-left: 28px;
        font-size: 14px;
        color: var(--yakit-header-color);
        line-height: 20px;
    }

    .ant-notification-notice-icon {
        color: var(--yakit-danger-5);
        margin-left: 0;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
    }

    .ant-notification-notice-closable .ant-notification-notice-message {
        padding-right: 32px;
    }

    .ant-notification-notice-with-icon .ant-notification-notice-description {
        margin-left: 28px;
        font-size: 12px;
        line-height: 16px;
        color: var(--yakit-body-text-color);
        padding-right: 32px;
    }
}

.yakit-notification-success {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgb(133 137 158 / 12%);
    padding: 0;

    .ant-notification-notice-content {
        background: var(--yakit-success-1);
        border: 1px solid var(--yakit-success-3);
        border-radius: 4px;
        padding: 16px 12px;
    }

    .ant-notification-notice-message {
        margin-bottom: 4px;
        margin-left: 28px;
        font-size: 14px;
        color: var(--yakit-header-color);
        line-height: 20px;
    }

    .ant-notification-notice-icon {
        color: var(--yakit-success-5);
        margin-left: 0;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
    }

    .ant-notification-notice-closable .ant-notification-notice-message {
        padding-right: 32px;
    }

    .ant-notification-notice-with-icon .ant-notification-notice-description {
        margin-left: 28px;
        font-size: 12px;
        line-height: 16px;
        color: var(--yakit-body-text-color);
        padding-right: 32px;
    }
}

.yakit-notification-warning {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgb(133 137 158 / 12%);
    padding: 0;

    .ant-notification-notice-content {
        background: var(--yakit-warning-1);
        border: 1px solid var(--yakit-warning-3);
        border-radius: 4px;
        padding: 16px 12px;
    }

    .ant-notification-notice-message {
        margin-bottom: 4px;
        margin-left: 28px;
        font-size: 14px;
        color: var(--yakit-header-color);
        line-height: 20px;
    }

    .ant-notification-notice-icon {
        color: var(--yakit-warning-5);
        margin-left: 0;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
    }

    .ant-notification-notice-closable .ant-notification-notice-message {
        padding-right: 32px;
    }

    .ant-notification-notice-with-icon .ant-notification-notice-description {
        margin-left: 28px;
        font-size: 12px;
        line-height: 16px;
        color: var(--yakit-body-text-color);
        padding-right: 32px;
    }
}

.yakit-notification-info {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgb(133 137 158 / 12%);
    padding: 0;

    .ant-notification-notice-content {
        border-radius: 4px;
        padding: 16px 12px;
    }

    .ant-notification-notice-message {
        margin-bottom: 4px;
        margin-left: 0;
        font-size: 14px;
        color: var(--yakit-header-color);
        line-height: 20px;
    }

    .ant-notification-notice-icon {
        margin-left: 0;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
    }

    .ant-notification-notice-closable .ant-notification-notice-message {
        padding-right: 32px;
    }

    .ant-notification-notice-with-icon .ant-notification-notice-description {
        margin-left: 28px;
        font-size: 12px;
        line-height: 16px;
        color: var(--yakit-body-text-color);
        padding-right: 32px;
    }
}

.yakit-notify-icon {
    width: 20px;
    height: 20px;
    svg {
        width: 20px;
        height: 20px;
    }
}
.yakit-notify-error-icon {
    color: var(--yakit-danger-5);
}

.yakit-notify-success-icon {
    color: var(--yakit-success-5);
}

.yakit-notify-warning-icon {
    color: var(--yakit-warning-5);
}

.ant-notification-notice {
    border-radius: 4px;
}
// ========================== notification end ==========================

// ========================== button start ==========================
.button-text-danger {
    --button-wave-shadow-color: var(--yakit-danger-2);

    --button-background: #fff;
    --button-color: var(--yakit-danger-5);
    --button-border-color: var(--yakit-danger-5);

    --button-hover-background: #fff;
    --button-hover-color: var(--yakit-danger-4);
    --button-hover-border-color: var(--yakit-danger-4);

    --button-press-background: #fff;
    --button-press-color: var(--yakit-danger-6);
    --button-press-border-color: var(--yakit-danger-6);
}

.button-text-primary {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: #fff;
    --button-color: var(--yakit-primary-5);
    --button-border-color: var(--yakit-primary-5);

    --button-hover-background: #fff;
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: var(--yakit-primary-4);

    --button-press-background: #fff;
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: var(--yakit-primary-6);
}

.button-outline2-danger {
    --button-wave-shadow-color: var(--yakit-danger-2);

    --button-background: var(--yakit-neutral10-color);
    --button-color: var(--yakit-danger-5);
    --button-border-color: var(--yakit-danger-5);

    --button-hover-background: var(--yakit-neutral10-color);
    --button-hover-color: var(--yakit-danger-4);
    --button-hover-border-color: var(--yakit-danger-4);

    --button-disable-background: var(--yakit-neutral10-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: var(--yakit-border-color);

    --button-press-background: var(--yakit-neutral10-color);
    --button-press-color: var(--yakit-danger-6);
    --button-press-border-color: var(--yakit-danger-6);
}

.button-primary-danger {
    --button-wave-shadow-color: var(--yakit-danger-2);

    --button-background: var(--yakit-danger-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-danger-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-background-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-danger-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;
}
// ========================== button end ==========================

// ========================== Modal.confirm start ==========================
.modal-remove-icon {
    svg {
        width: 16px;
        height: 16px;
        color: var(--yakit-helper-text-color);

        &:hover {
            color: var(--yakit-primary-4);
        }
    }
}

.modal-cancel-button {
    border-radius: 4px;
    color: var(--yakit-header-color);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        color: var(--yakit-primary-4);
        border-color: var(--yakit-primary-4);
    }

    &:focus {
        color: var(--yakit-primary-6);
        border-color: var(--yakit-primary-6);
    }
}

.modal-ok-button {
    border-radius: 4px;
    border-color: var(--yakit-primary-5);
    background: var(--yakit-primary-5);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        border-color: var(--yakit-primary-4);
        background: var(--yakit-primary-4);
    }

    &:focus {
        border-color: var(--yakit-primary-5);
        background: var(--yakit-primary-5);
    }

    &:active {
        border-color: var(--yakit-primary-6);
        background: var(--yakit-primary-6);
    }
}
// ========================== Modal.confirm end ==========================

// ========================== antd list to yakit start ==========================
.yakit-list {
    .ant-spin {
        color: var(--yakit-primary-5);
    }
    .ant-spin-dot-item {
        background-color: var(--yakit-primary-5);
    }
    .ant-pagination-item:hover a {
        color: var(--yakit-primary-5);
    }
    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link {
        color: var(--yakit-primary-5);
    }
    .ant-pagination-item a {
        color: var(--yakit-header-color);
    }
    .ant-pagination-item-active {
        border-color: var(--yakit-primary-5);
    }
    .ant-pagination-item-active a {
        color: var(--yakit-primary-5);
    }
    .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
        color: var(--yakit-primary-5);
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: var(--yakit-border-color);
        border-radius: 4px;
        color: var(--yakit-header-color);
        &:hover {
            border-color: var(--yakit-primary-4);
        }
    }
    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: 1px solid var(--yakit-primary-4);
        box-shadow: 0 0 0 2px var(--yakit-primary-2);
    }

    // ----------------------------------------- popup------------------------------------------

    .ant-select-item-option-content:hover {
        color: var(--yakit-primary-5);
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: transparent;
    }

    .ant-select-item {
        border-radius: 4px;
        padding: 4px 8px;
        margin: 0 4px;

        &:hover {
            background-color: var(--yakit-background-color);
            color: var(--yakit-primary-5);
        }
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        font-weight: 400;
        background-color: var(--yakit-primary-2);
        color: var(--yakit-primary-5);
        &:hover {
            background-color: var(--yakit-background-color);
            color: var(--yakit-primary-5);
        }
    }
}
.yakit-list-bordered {
    border: 1px solid var(--yakit-border-color);
    border-radius: 4px;
}
// ========================== antd list to yakit end ==========================

// ========================== antd input-group select - yakit start ==========================
.yakit-input-group {
    display: flex !important;

    .ant-input-affix-wrapper {
        border-radius: 0;
    }
    > :first-child {
        .ant-input-affix-wrapper {
            border-radius: 4px 0 0 4px;
        }
        .ant-input {
            border-radius: 4px 0 0 4px;
        }
    }
    > :last-child {
        .ant-input-affix-wrapper {
            border-radius: 0 4px 4px 0;
        }
        .ant-input {
            border-radius: 0 4px 4px 0;
        }
    }
    > *:not(:last-child) {
        margin-right: 0 !important;
    }
    .ant-select-arrow {
        // z-index: 1;
    }
    .ant-select-selector {
        border-left-width: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        &:hover,
        &:focus,
        &:active {
            border-left-width: 1px !important;
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }
    }
    .ant-select-focused {
        .ant-select-selector {
            // z-index: 1;
            border-left-width: 1px !important;
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }
    }
    .ant-select-open {
        .ant-select-selector {
            // z-index: 1;
            border-left-width: 1px !important;
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }
    }
}
// ========================== antd input-group select - yakit end ==========================

// ========================== ant-collapse yakit-start ==========================
.yakit-collapse {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding: 8px 12px;
        align-items: center;
        line-height: 16px;
    }
    .ant-collapse-header-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: var(--yakit-header-color);
        margin-left: 8px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
        padding: 12px;
    }
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
        padding-top: 0;
    }
    .ant-collapse-expand-icon {
        width: 16px;
        height: 16px;
    }
    .ant-collapse-ghost > .ant-collapse-item {
        border-bottom: 1px solid var(--yakit-border-color);
        &:last-child {
            border-bottom: 0;
        }
    }
    .ant-form-item {
        margin-bottom: 12px;
    }
    .ant-select.ant-select-in-form-item {
        height: auto;
    }
}
// ========================== ant-collapse yakit-end ==========================

// ========================== ant descriptions yakit-start ==========================

.yakit-descriptions {
    .ant-descriptions-bordered .ant-descriptions-view {
        border: 0;
    }

    .ant-descriptions-bordered .ant-descriptions-item-label,
    .ant-descriptions-bordered .ant-descriptions-item-content {
        border-right: 1px solid var(--yakit-border-color);
    }

    .ant-descriptions-item-label {
        padding: 12px 16px 12px 12px;
        color: var(--yakit-header-color);
        height: 40px;
        min-width: 96px;
    }

    .ant-descriptions-bordered .ant-descriptions-row {
        border-bottom: 1px solid var(--yakit-border-color);
    }

    .ant-descriptions-bordered .ant-descriptions-item-label {
        background-color: var(--yakit-background-color);
    }

    .ant-descriptions-item-content {
        height: 40px;
        padding: 12px 16px 12px 12px;
        background-color: var(--yakit-card-background-color);
        color: var(--yakit-header-color);
    }

    .ant-descriptions-bordered .ant-descriptions-item-label:last-child,
    .ant-descriptions-bordered .ant-descriptions-item-content:last-child {
        border-right: none;
    }
    .ant-descriptions-header {
        height: 32px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--yakit-border-color);
        background-color: #ffffff;
        margin-bottom: 0;
        position: sticky;
        top: 0;
        z-index: 9;
        .ant-descriptions-title {
            font-weight: 500;
            font-size: 12px;
            color: var(--yakit-header-color);
        }
    }
    .descriptions-no-more{
        font-size: 12px;
        color: var(--yakit-helper-text-color);
        text-align: center;
        padding: 12px;
        width: 100%;
    }
}
// ========================== ant descriptions yakit-end ==========================
