.ant-modal-content {
    border-radius: 8px
}

.login-type-body {
    width: 409px;
    padding: 56px 40px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--Colors-Use-Basic-Background);
    color: var(--Colors-Use-Neutral-Text-1-Title);

    .login-text {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        line-height: 40px;
        font-size: 36px;
        margin-bottom: 48px;
    }

    .login-subtitle {
        height: 30px;
        line-height: 30px;
    }

    .login-icon-body {

        cursor: pointer;

        .login-icon {
            padding: 12px;
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--Colors-Use-Neutral-Bg);
            border-radius: 4px;

            &:hover {
                background-color: var(--Colors-Use-Neutral-Bg-Hover);
                box-shadow: 0px 2px 4px var(--Colors-Use-Basic-Shadow);

                .icon-right {
                    color: var(--Colors-Use-Neutral-Text-1-Title)
                }
            }

            .login-icon-text {
                font-size: 14px;
                font-weight: 500;
                color: var(--Colors-Use-Neutral-Text-1-Title);
                display: flex;
                align-items: center;
            }
        }

        .icon-wx {
            color: var(--Colors-Use-Green-Primary)
        }

        .type-icon {
            font-size: 32px;
            margin-right: 8px;
            cursor: pointer;
        }

        .type-icon-img{
            width: 32px;
        } 
    }
}