.main-content-tabs .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
}

.main-content-tabs {
    height: 100%;
}

.httphacker-tabs .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
}

.httphacker-tabs {
    height: 100%;
}