.main-content-tabs .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
}

.main-content-tabs {
    width: 100%;
    height: 100%;
}

.httphacker-tabs .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
}

.httphacker-tabs {
    height: 100%;
}

.httphacker-tabs.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    padding: 6px 10px;
    font-size: 13px;
}

.flex-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-card .ant-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-container-cion:hover {
    color: #1890ff;
}

.yakit-layout-tabs.ant-tabs-top>.ant-tabs-nav {
    margin: 0 0 4px 0 !important;
}

.yakit-layout-tabs.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    padding: 6px 10px;
    font-size: 13px;
}

/* MainOperator页样式 */
.yakit-main-layout {
    width: 100%;
    height: 100vh;
}

.dropdown-menu-user-info{
    display: flex;
    .author-upload-dragger{
        border: transparent;
        background-color: transparent;
        .ant-upload{
            padding: 0px;
        }
    }
    .img-box{
        margin: auto;
        position: relative;
        .hover-icon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            color:white;
            z-index: 2;
            display: none;
        }
    }
    .img-box:hover{
        .hover-icon{
            display: inline-block;
        }
        .img-box-mask::before {
         content: "";
         position: absolute;
         border-radius: 50%;
         left: 0;
         right: 0;
         bottom: 0;
         top: 0;
         background-color: rgba(0, 0, 0, .3);
         z-index: 1;
     } 
     }
    .content-box{
        min-width: 80px;
        margin-left: 12px;
        .permission-show{
            font-size: 12px;
            color: gray;
        }
    }
}

.main-laytou-header {
    height: 60px;
    padding: 0;
    background-color: #fff;
}

.share-import-icon {
    font-size: 16px;
}

.setting-menu {
    .ant-dropdown-menu {
        padding: 0;
    }

    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {

        background-color: #1890ff;

        .ant-btn-link {
            color: #fff;
        }
    }

    .ant-btn-link:hover {
        color: #fff;
    }
}