.main-content-tabs .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
}

.main-content-tabs {
    width: 100%;
    height: 100%;
}

.httphacker-tabs .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
}

.httphacker-tabs {
    height: 100%;
}

.httphacker-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding: 6px 10px;
    font-size: 13px;
}

.flex-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.full-spin {
    height: 100%;
    width: 100%;
}

.flex-card .ant-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-container-cion:hover{
    color: #1890ff;
}

/* 全局公共内容颜色类 */
.title-red{
    color: #f5222d;
}
.title-orange{
    color: #fa8c16;
}
.title-gray{
    color: #8c8c8c;
}