.secondary-menu-tabs {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-container-cion:hover {
    color: var(--yakit-primary-4);
}

.yakit-layout-tabs .yakit-main-tabs.ant-tabs {
    .ant-tabs-nav {
        margin: 0;
        background: var(--yakit-neutral10-color);
    }
    .ant-tabs-tab-btn {
        color: var(--yakit-header-color);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: var(--yakit-primary-5);
    }
    .ant-tabs-tab-remove {
        padding: 0 6px;
        margin-left: 10px;
        height: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
    }
    .ant-tabs-tabpane {
        padding: 8px 16px 13px 16px;
    }
}
.yakit-layout-tabs .yakit-main-tabs.ant-tabs-card.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 12px;
    border-width: 0;
    background-color: var(--yakit-neutral10-color);
    border-right: 1px solid var(--yakit-border-color);
    border-bottom: 1px solid var(--yakit-border-color);
}
.yakit-layout-tabs .yakit-main-tabs.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom: 2px solid var(--yakit-primary-5);
    background: rgba(242, 139, 68, 0.06);
}
.yakit-layout-tabs .yakit-main-tabs.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
    padding: 0 16px;
}
.yakit-layout-tabs .yakit-main-tabs.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 0;
}
.yakit-layout-tabs .yakit-main-tabs.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add {
    margin-left: 0;
    border-left-width: 0;
}
.yakit-layout-tabs .yakit-main-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    transition: none;
}
