.shell-receiver {
    height: 100%;
    display: flex;
    flex-direction: row;
    .shell-receiver-left-list {
        width: 302px;
        padding: 14px 12px 0px 16px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #eaecf3;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 16px;
            .title-select-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                .title {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16px;
                }
            }
            .extra {
                display: flex;
            }
        }
        .filter-box {
            display: flex;
            flex-direction: row;
            gap: 8px;
            margin-bottom: 12px;
            .select-box {
                flex: 1;
            }
            .input-box {
                flex: 2;
                .prefix {
                    display: flex;
                    align-items: center;
                    color: #85899e;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        .list-box {
            flex: 1;
            overflow: auto;
            .item-box {
                height: 40px;
                display: flex;
                align-items: center;
                padding: 10px 8px;
                border-radius: 4px;
                background: #f8f8f8;
                margin-bottom: 4px;
                cursor: pointer;
                .text {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16px;
                }
                &:hover {
                    background-color: var(--yakit-primary-5);
                    .text {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .shell-receiver-middle-item {
        width: 300px;
    }
    .shell-receiver-right-run {
        flex: 1;
    }
}
.fold-icon {
    color: #85899e;
    cursor: pointer;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 16px;
        height: 16px;
    }
    &:hover {
        background-color: var(--yakit-background-color);
        color: var(--yakit-primary-5);
    }
}
