.content {
  cursor: pointer;
  display: grid;
  grid-template-rows: 0fr;
  // transition: grid-template-rows 0.3s ease-in-out;
  // overflow-y: overlay;
  max-height: 156px;
  position: relative;
  overflow: hidden;

  &:not(.noMask)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
      180deg,
      var(--group-stream-mask-bg, var(--Colors-Use-Basic-Background)) 0%,
      var(--group-stream-mask-bg, var(--Colors-Use-Basic-Background)) 4%,
      rgba(255, 255, 255, 0) 96%
    );
    pointer-events: none;
    z-index: 1;
  }

  &:not(.noMask)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 4%,
      var(--group-stream-mask-bg, var(--Colors-Use-Basic-Background)) 96%,
      var(--group-stream-mask-bg, var(--Colors-Use-Basic-Background)) 100%
    );
    pointer-events: none;
    z-index: 1;
  }

  &-inner {
    height: 100%;
    width: 100%;
    min-height: 0;
    flex-direction: column;
    padding-top: 0;
    // transition: padding-top 0.3s ease-in-out;
    > * {
      color: var(--Colors-Use-Neutral-Text-4-Help-text);
    }
  }
  &.expand {
    border-radius: 8px;
    grid-template-rows: 1fr;
    .content-inner {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.5px;
      scrollbar-gutter: stable;
    }
  }
}
