.file-tree-system-list {
    :global(.ant-tree .ant-tree-node-content-wrapper) {
        padding: 0;
        line-height: normal;
        min-height: auto;
        border-radius: 0;
    }
    :global(.ant-tree .ant-tree-node-content-wrapper:hover) {
        background-color: transparent;
    }
    :global(.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected) {
        background-color: transparent !important;
    }
    :global(.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before) {
        background: transparent !important;
    }
    :global(.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before) {
        background: transparent !important;
    }
    :global(.ant-tree-treenode-draggable .ant-tree-draggable-icon) {
        display: none;
    }
    :global( .ant-tree-list-holder .ant-tree-list-holder-inner .ant-tree-treenode.dragging)::after {
        border-color: var(--Colors-Use-Main-Primary);
    }
    :global(.ant-tree-switcher){
        display: flex;
        align-items: center;
    }
}
