.management-menu-wrapper{
    :global {
        .ant-popover-inner-content {
            padding: 6px 4px 0 4px;
        }
    }
}

.button-border {
    border-color: var(--Colors-Use-Neutral-Border);

    &:hover {
        border-color: var(--Colors-Use-Main-Primary);
    }
}
