.management-menu-wrapper {
  :global {
    .ant-popover-inner {
      padding: 0;
    }
  }
}

.button-border {
  border-color: var(--Colors-Use-Neutral-Border);

  &:hover {
    border-color: var(--Colors-Use-Main-Primary);
  }
}
