%display-column {
    display: flex;
    flex-direction: column;
}
.batch-edit-group {
    padding: 24px 20px;
    .batch-edit-group-name {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 14px;
        line-height: 16px;
        padding: 0 4px;
    }
    .batch-edit-group-list {
        @extend %display-column;
        gap: 8px;
        max-height: 50vh;
        overflow-y: auto;
        padding: 12px 4px;
    }
    .batch-edit-group-footer {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        padding: 0 4px;
    }
}
