.config-system-proxy {
  :global {
    .ant-form-item-explain ant-form-item-explain-connected {
      color: var(--Colors-Use-Neutral-Text-4-Help-text);
      font-size: 14px;
      font-weight: 400;
    }
  }

  .config-system-proxy-heard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px 0;

    .config-system-proxy-title {
      color: var(--Colors-Use-Neutral-Text-1-Title);
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }

    .close-icon {
      svg {
        width: 16px;
        height: 16px;
        color: var(--Colors-Use-Neutral-Disable);

        &:hover {
          color: var(--Colors-Use-Main-Primary);
        }

        &:active {
          color: var(--Colors-Use-Main-Pressed);
        }
      }
    }
  }

  .config-system-proxy-status-success {
    height: 32px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px 24px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    background-color: var(--Colors-Use-Success-Bg);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    span {
      color: var(--Colors-Use-Success-Primary);
    }
  }

  .config-system-proxy-status-danger {
    background-color: var(--Colors-Use-Error-Bg-Hover);

    span {
      color: var(--Colors-Use-Error-Primary);
    }
  }

  .config-system-proxy-btns {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    gap: 8px;
  }

  .config-select-path {
    cursor: pointer;
    color: var(--Colors-Use-Main-Primary);
    font-size: 12px;
  }
}
