.hex-editor-style {
    :global {
        .byteValue {
            .nybbleHighValue {
                word-spacing: -0.5em;
            }
            .nybbleLowValue {
                word-spacing: -0.5em;
            }
        }
        .asciiValue {
            word-spacing: -0.5em;
        }
    }
}
.render-html-box {
    height: 100%;
    overflow: auto;
    img {
        max-width: 100%;
    }
}
.monaco-editor-style {
    :global {
        .crlf::before {
            opacity: 0;
        }
        .lf::before {
            opacity: 0;
        }
    }
}
:global {
    .crlf::before {
        content: "↵";
        background-color: #808080; /* 灰色背景 */
        margin: 4px;
        padding: 2px; /* 根据需要添加内边距 */
        border-radius: 3px; /* 添加圆角以使样式更好看 */
        color: #ffffff; /* 设置文字颜色为白色，以便在灰色背景上更清晰可见 */
        opacity: 0.3;
    }
    .content-length:hover::after {
        content: "发包时自动修复，一般无需指定";
        background-color: #f9f9f9;
        color: #333;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .lf::before {
        content: "↓";
        background-color: #808080; /* 灰色背景 */
        margin: 4px;
        padding: 2px; /* 根据需要添加内边距 */
        border-radius: 3px; /* 添加圆角以使样式更好看 */
        color: #ffffff; /* 设置文字颜色为白色，以便在灰色背景上更清晰可见 */
        opacity: 0.3;
    }
}
.new-http-packet-editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    :global {
        .ant-card-head {
            background-color: #ffffff;
            height: 33px;
            min-height: 33px;
            border-bottom: 1px solid var(--yakit-border-color);
            .ant-card-head-wrapper {
                height: 100%;
                .ant-card-head-title {
                    padding: 0px;
                    display: flex;
                    align-items: center;
                }
                .ant-card-extra {
                    padding: 0px;
                }
            }
        }
        .flex-card {
            border-radius: 4px 0 0 4px;
        }
    }
}
.type-options-checkable-tag{
    display: flex;
    :global {
        .ant-tag{
            margin-right: 2px;
        }
    }
}