@keyframes fadeIn {
    0% {
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(4%);
    }
    65%{
        transform: translateY(-2%);
    }
    80%{
        transform: translateY(2%);
    }
    95%{
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(0%);
    }
}

.popup {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    left: 0px;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}