@use "../../../styles/mixin.scss" as mixin;

.chat-card {
    width: 100%;
    padding: 8px 12px;
    background-color: var(--Colors-Use-Neutral-Bg-Hover);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &-left {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 4px 8px 4px 0;
            flex: 1;
        }

        &-icon {
            width: 16px;
            height: 16px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 24px;
            flex: 1;
            @include mixin.text-ellipsis(1, false, false, true); 
        }

        &-more {
            margin-top: 4px; // ✅ 换行后与上方留点距离
            display: flex;
            justify-content: flex-end;
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}
