.modal-info {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
        padding: 3px 6px;
        display: flex;
        align-items: center;

        svg {
            width: 14px;
            height: 14px;
            margin-right: 2px;
        }
        &-time {
            color: var(--Colors-Use-Neutral-Disable);
            margin-left: 6px;
        }
        .icon-small {
            width: 12px;
            height: 12px;
            svg {
                width: 8px;
                height: 8px;
                margin-right: 0px;
            }
        }
    }
    &-icons {
        display: flex;
        align-items: center;
    }
}
