.yakit-window-wrapper {
    z-index: 1000;
    position: absolute;
    top: 20%;
}

.yakit-window-hidden-wrapper {
    display: none;
}

// --------------- Layout Start ---------------
.yakit-window-center {
    left: 50%;
}
.yakit-window-topLeft {
    top: 10px;
    left: 10px;
}
.yakit-window-topRight {
    top: 10px;
    right: 10px;
}
.yakit-window-bottomLeft {
    bottom: 10px;
    left: 10px;
    top: unset;
}
.yakit-window-bottomRight {
    bottom: 10px;
    right: 10px;
    top: unset;
}
// --------------- Layout End ---------------

// --------------- YakitWindowContent Start ---------------
.yakit-window-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #eaecf3;
    background: #fff;
    box-shadow:
        0px 8px 10px -6px rgba(49, 52, 63, 0.1),
        0px 20px 25px -5px rgba(49, 52, 63, 0.1);
}
.yakit-window-left-body {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}
.yakit-window-right-body {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
.yakit-window-bottom-body {
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.yakit-window-body-header {
    overflow: hidden;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #eaecf3;
    background: #f8f8f8;
    cursor: pointer;
    .header-left {
        margin-right: 4px;
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 8px;
        .title-wrapper {
            color: #31343f;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            white-space: nowrap;
            user-select: none;
        }
        .subtitle-wrapper {
            flex: 1;
            overflow: hidden;
            color: #b4bbca;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            white-space: nowrap;
            user-select: none;
        }
    }

    .header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6px;
    }
}

.yakit-window-body-content {
    padding: 20px 16px;
    flex: 1;
    overflow: hidden;
}

.yakit-window-body-footer {
    overflow: hidden;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaecf3;
    background: #f8f8f8;
    .btn-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }
}
// --------------- YakitWindowContent End ---------------

// -------------------- WindowPositionOP Start --------------------
.window-position-op-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}
.window-position-op-popover {
    :global {
        .ant-popover-title {
            border-bottom: 0;
            min-width: unset;
        }
        .ant-popover-inner-content {
            padding-top: 0;
        }
        .ant-popover-arrow {
            right: 1px !important;
        }
    }
}
// -------------------- WindowPositionOP End --------------------
