.wrapper {
    background: var(--Colors-Use-Basic-Background);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--Colors-Use-Neutral-Border);
    &.active {
        background: var(--Colors-Use-Neutral-Text-3-Secondary);
    }
}

/* 中间文字 */
.text {
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    .title {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
    .describe {
        color: var(--Colors-Use-Neutral-Text-2-Primary);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* 左侧 dots */
    .dots {
        display: flex;
        gap: 8px;
        margin-right: 24px;
    }
    /* 右侧按钮 */
    .actions {
        display: flex;
        gap: 12px;
    }
}
