// 暂时没想好这个文件放什么
// 我觉得可以暂时放一些变量
$colors: (
    red: (
        backgroundColor: var(--yakit-tag-color-red),
        opacityBackgroundColor: #fcf1f0
    ),
    green: (
        backgroundColor: var(--yakit-tag-color-green),
        opacityBackgroundColor: #f0f9f4
    ),
    blue: (
        backgroundColor: var(--yakit-tag-color-blue),
        opacityBackgroundColor: #eff4fe
    ),
    yellow: (
        backgroundColor: var(--yakit-tag-color-yellow),
        opacityBackgroundColor: #fffbf2
    ),
    orange: (
        backgroundColor: var(--yakit-tag-color-orange),
        opacityBackgroundColor: #fff8ef
    ),
    purple: (
        backgroundColor: var(--yakit-tag-color-purple),
        opacityBackgroundColor: #f3effe
    ),
    cyan: (
        backgroundColor: var(--yakit-tag-color-cyan),
        opacityBackgroundColor: #edfbfd
    ),
    bluePurple: (
        backgroundColor: rgba(218, 95, 221, 1),
        opacityBackgroundColor: rgba(218, 95, 221, 0.08)
    ),
    grey: (
        backgroundColor: var(--yakit-helper-text-color),
        opacityBackgroundColor: #f7f8fa
    )
);
