// 暂时没想好这个文件放什么
// 我觉得可以暂时放一些变量
$colors: (
    red: (
        backgroundColor: var(--Colors-Use-Error-Primary),
        opacityBackgroundColor: var(--Colors-Use-Error-Pressed),
        textColor: var(--yakit-colors-Error-100),
        fontWeight: bold
    ),
    green: (
        backgroundColor: var(--Colors-Use-Green-Primary),
        opacityBackgroundColor: var(--Colors-Use-Green-Bg-Hover),
        textColor: var(--Colors-Use-Green-On-Primary),
        fontWeight: normal
    ),
    blue: (
        backgroundColor: var(--Colors-Use-Blue-Primary),
        opacityBackgroundColor: var(--Colors-Use-Blue-Border),
        textColor: var(--Colors-Use-Blue-On-Primary),
        fontWeight: normal
    ),
    yellow: (
        backgroundColor: var(--Colors-Use-Yellow-Primary),
        opacityBackgroundColor: var(--Colors-Use-Yellow-Bg-Hover),
        textColor: var(--Colors-Use-Yellow-On-Primary),
        fontWeight: normal
    ),
    orange: (
        backgroundColor: var(--Colors-Use-Orange-Primary),
        opacityBackgroundColor: var(--Colors-Use-Orange-Bg-Hover),
        textColor: var(--Colors-Use-Orange-On-Primary),
        fontWeight: normal
    ),
    purple: (
        backgroundColor: var(--Colors-Use-Purple-Primary),
        opacityBackgroundColor: var(--Colors-Use-Purple-Bg-Hover),
        textColor: var(--Colors-Use-Purple-On-Primary),
        fontWeight: normal
    ),
    lakeBlue: (
        backgroundColor: var(--Colors-Use-Lake-blue-Primary),
        opacityBackgroundColor: var(--Colors-Use-Lake-blue-Bg-Hover),
        textColor: var(--Colors-Use-Lake-blue-On-Primary),
        fontWeight: normal
    ),
    cyan: (
        backgroundColor: var(--Colors-Use-Cyan-Primary),
        opacityBackgroundColor: var(--Colors-Use-Cyan-Bg-Hover),
        textColor: var(--Colors-Use-Cyan-On-Primary),
        fontWeight: normal
    ),
    bluePurple: (
        backgroundColor: var(--Colors-Use-Magenta-Primary),
        opacityBackgroundColor: var(--Colors-Use-Magenta-Bg-Hover),
        textColor: var(--Colors-Use-Magenta-On-Primary),
        fontWeight: normal
    ),
    grey: (
        backgroundColor: var(--Colors-Use-Neutral-Disable),
        opacityBackgroundColor: var(--Colors-Use-Neutral-Text-4-Help-text),
        textColor: var(--Colors-Use-Neutral-Text-1-Title),
        fontWeight: normal
    )
);
