.y-change-diff-history {
    position: absolute;
    width: 100%;
    height: calc(100% - 20px);
    top: 0;
    left: 0;
    border-radius: inherit;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 42px;
        height: 42px;
    }
}