// #region AITriageChatContent
.triage-chat-content {
    display: flex;
    .content-wrapper {
        max-width: 80%;
        padding: 4px 8px;
        border-radius: 8px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
        word-break: break-all;
        white-space: pre-wrap;
        .loading-wrapper {
            margin-top: 4px;
        }
    }
}
.triage-chat-question {
    justify-content: flex-end;
    .content-wrapper {
        background: var(--Colors-Use-Main-Focus);
    }
}
.triage-chat-answer {
    .content-wrapper {
        background: var(--Colors-Use-Neutral-Bg-Hover);
    }
}
// #endregion
