.ai-mcp-form {
    padding: 24px 24px 8px 24px;
    :global {
        .ant-form {
            flex: 1;
        }
    }
}
.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 10px 24px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid var(--Colors-Use-Neutral-Border);
    background: var(--Colors-Use-Neutral-Bg);
}

.envs-rules {
    padding-top: 8px;
    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        margin-top: 4px;
    }
    &-table {
        border: 1px solid var(--Colors-Use-Neutral-Border);
        border-radius: 4px;
        overflow-y: auto;
        max-height: 200px;
        
        .table-header {
            display: flex;
            background-color: var(--Colors-Use-Neutral-Bg-Hover);
            border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
            
            .header-cell {
                flex: 1;
                padding: 2px 6px;
                color: var(--Colors-Use-Neutral-Text-1-Title);
                &:first-child{
                    border-right: 1px solid var(--Colors-Use-Neutral-Border);
                }
            }
        }
        
        .table-row {
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
            
            &:last-child {
                border-bottom: none;
            }
            
            .table-cell {
                flex: 1;
                padding: 2px;
                
                &:first-child {
                    border-right: 1px solid var(--Colors-Use-Neutral-Border);
                }
                
                &:last-child {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}