.message-center {
    .footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.meeage-no-login,
.meeage-no-data {
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 100px;
        width: 100px;
    }
    .text {
        color: #b4bbca;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin: 10px 0px 16px;
    }
}

.message-item {
    padding: 12px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    overflow: hidden;
    .message-item-author {
        width: 28px;
        height: 28px;
        position: relative;
        .dot {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #f8f8f8;
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            .circle {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #f6544a;
            }
        }
    }
    .message-item-main {
        display: flex;
        flex-direction: column;
        gap: 6px;
        overflow: hidden;
        .header {
            display: flex;
            flex-direction: row;
            .user-name {
                color: #b4bbca;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
            .role {
                border-radius: 8px;
                background: rgba(74, 148, 248, 0.1);
                color: #4a94f8;
                text-align: center;
                font-size: 11px;
                font-weight: 400;
                line-height: 16px;
                padding: 0px 6px;
            }
            .split {
                padding: 0px 4px;
                color: #b4bbca;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
            .time {
                color: #b4bbca;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
        }
        .content {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            .tag {
                white-space: nowrap;
                font-weight: 600;
                color: #85899e;
            }

            .delete,
            .delete_comment {
                color: #f6544a;
            }

            .check {
                color: #56c991;
            }
            .text {
                padding-left: 4px;
            }
        }
        .content-ellipsis {
            display: flex;
        }
    }
    &:hover {
        border-radius: 8px;
        background: #f8f8f8;
    }
}
.message-center-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    overflow: hidden;
    border-left: 1px solid #eaecf3;
    background: #fff;
    box-shadow: -4px 4px 8px 0px rgba(133, 137, 158, 0.12);
}

.hidden-message-center-modal {
    display: none;
}

.message-center-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    :global {
        .scan-port-tabs .ant-tabs-tab {
            padding: 0px 8px 8px;
        }
    }
    .message-header {
        padding: 12px 16px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .title {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
        }
        .extra {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    }
    .message-center-tab {
        flex: 1;
        :global {
            .ant-tabs-nav {
                padding: 0px 16px 0px;
            }
            .ant-tabs-tab-btn {
                line-height: 16px;
            }
        }
        .tab-item-box {
            padding: 0px 8px;
            height: 100%;
        }
        .info-tab {
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // gap: 2px;
            position: relative;
            .info-tab-dot {
                position: absolute;
                right: -18px;
                top: 2px;
                text-align: center;
                width: 16px;
                height: 14px;
                border-radius: 4px;
                border: 0.5px solid #f8f8f8;
                background: var(--color-secondary-Red, #f6544a);
                line-height: 12px;
                font-size: 11px;
                color: #ffffff;
            }
        }
    }
}
