.note-local-search {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    flex: 1;
    flex-shrink: 0;
    overflow: hidden;

    .note-search-tree {
        :global {
            .ant-tree-indent {
                width: 0;
            }
            .ant-tree-node-content-wrapper {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;

                &:hover {
                    background-color: transparent;
                }
            }
            .ant-tree-treenode {
                width: 100%;
                padding: 0;
                &:hover {
                    background-color: var(--Colors-Use-Neutral-Bg-Hover);
                    border-radius: 4px;
                }
            }
        }
    }
}

.note-search-row {
    border-top: 1px solid var(--Colors-Use-Neutral-Border);
    &:first-child {
        border-color: transparent;
    }
    &:hover {
        border-radius: 4px;
        background: var(--Colors-Use-Neutral-Bg);
        border-color: transparent;
    }
}
.note-search-row:hover + .note-search-row {
    border-color: transparent;
}

.note-search-item-content-highlight {
    color: var(--Colors-Use-Main-Primary);
    background-color: var(--Colors-Use-Main-Bg);
    padding: 0 2px;
}
