.yaklang-console-modal {
    // width: 448px;
    position: absolute;
    top: 35%;
    left: calc(50% - 224px);
    z-index: 1001;
}
.engine-console-modal-wrapper {
    position: absolute;
    top: 35%;
    left: calc(50% - 224px);
}
.engine-console-modal-hidden-wrapper {
    display: none;
}
.modal-yaklang-engine-console {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #F0F1F3;
    border: 1px solid var(--yakit-border-color);
    box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
    border-radius: 4px;

    .yaklang-engine-console-wrapper {
        height: 100%;
        width: 100%;
        padding: 32px 0px 0px;
        display: flex;
        // gap: 16px;
        position: relative;
        .console-draggle-header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 32px;
            background: #ffffff;
            .header-box {
                display: flex;
                .header-left {
                    flex: 1;
                    text-align: left;
                    .dot {
                        width: 12px;
                        height: 12px;
                        background: #f7544a;
                        border: 1px solid #ea4439;
                        border-radius: 50%;
                        margin-left: 14px;
                        position: relative;
                        top: 10px;
                        cursor: pointer;
                    }
                }
                .header-center {
                    width: 100px;
                    font-family: "PingFang HK";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 32px;
                    text-align: center;
                    cursor: default;
                }
                .header-right {
                    flex: 1;
                    text-align: right;
                    margin-right: 14px;
                    .right-dots-icon {
                        position: relative;
                        top: 6px;
                        color: #85899e;
                        cursor: pointer;
                    }
                    .right-dots-icon:hover {
                        color: #f28b44;
                    }
                }
            }
        }
        .console-draggle-body {
            flex: 1;
        }
    }
}
.right-icon-box {
    color: #85899e;
    display: inline-block;
    width: 86px;
    .item-icon {
        position: relative;
        top: 6px;
        cursor: pointer;
    }
    .item-icon-active {
        color: #f28b44;
    }
    .item-icon:hover {
        color: #f28b44;
    }
}
.right-icon-menu {
    [class*="ant-popover-title"] {
        border-bottom: none;
        min-width: auto;
    }
    [class*="ant-popover-inner-content"] {
        padding-top: 0px;
    }
}
.base-console-title {
    height: 32px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #eaecf3;
    padding: 4px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffff;
    .title {
        font-weight: 600;
        font-size: 14px;
    }
    .operation {
        position: relative;
        
        .right-icon-box{
            position: absolute;
            right: 30px;
            top: -4px;
        }
        .close {
            color: #b4bbca;
            font-size: 13px;
        }
        .close:hover {
            color: #f28b44;
        }
    }
}
.console-content{
    flex: 1;
    background: #F0F1F3;
}
.base-console-box{
    height: 100%;
    display: flex;
    flex-flow: column;
}