.error-wrapper-bgcolor {
  --global-state-bg-color: var(--yakit-danger-5);
}

.warning-wrapper-bgcolor {
  --global-state-bg-color: var(--yakit-warning-5);
}

.success-wrapper-bgcolor {
  --global-state-bg-color: var(--yakit-success-5);
}

.help-wrapper-bgcolor {
  --global-state-bg-color: var(--yakit-tag-color-purple);
}

.icon-style {
  color: var(--yakit-font-white-color);
}
.icon-style svg {
  width: 20px;
  height: 20px;
}

.btn-style {
  padding-left: 0px;
  padding-right: 0px;
}

.global-state-wrapper {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 44px;
  height: 36px;
  padding: 4px;
  background-color: var(--global-state-bg-color);
}
.global-state-wrapper .state-body {
  border-radius: 4px;
  width: 36px;
  height: 28px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-state-popover {
  top: 27px !important;
}
.global-state-popover :global .ant-popover-arrow .ant-popover-arrow-content {
  background-color: var(--global-state-bg-color) !important;
  border: 1px solid var(--global-state-bg-color) !important;
}
.global-state-popover :global .ant-popover-inner {
  border: 1px solid var(--yakit-border-color);
  box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
  border-radius: 4px;
}
.global-state-popover :global .ant-popover-inner .ant-popover-inner-content {
  padding: 0;
}

.global-state-content-wrapper {
  width: 400px;
}
.global-state-content-wrapper .body-header {
  height: 32px;
  padding: 6px 16px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--global-state-bg-color);
  border-radius: 4px 4px 0px 0px;
}
.global-state-content-wrapper .body-header .header-title {
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  color: var(--yakit-font-white-color);
}
.global-state-content-wrapper .body-header .header-hint {
  height: 20px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.global-state-content-wrapper .body-header .header-hint .hint-title {
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--yakit-font-white-color);
}
.global-state-content-wrapper .body-wrapper {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  padding: 8px 16px 16px;
  background: var(--yakit-neutral10-color);
  border-radius: 0px 0px 4px 4px;
}
.global-state-content-wrapper .body-wrapper .body-info {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 12px 8px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}
.global-state-content-wrapper .body-wrapper .body-info .info-left {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body .title-style {
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: var(--yakit-header-color);
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body .subtitle-style {
  height: 16px;
  font-size: 11px;
  line-height: 16px;
  color: var(--yakit-helper-text-color);
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body .system-proxy-title {
  height: 20px;
  font-size: 12px;
  color: var(--yakit-header-color);
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body .system-proxy-title .system-proxy-tag {
  height: 20px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  padding: 0 6px;
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body .system-proxy-title .enabled-tag {
  color: var(--yakit-success-5);
  background: rgba(86, 201, 145, 0.1);
  border: 1px solid rgba(86, 201, 145, 0.3);
}
.global-state-content-wrapper .body-wrapper .body-info .info-left .left-body .system-proxy-title .not-enabled-tag {
  color: var(--yakit-tag-color-red);
  background: var(--yakit-danger-1);
  border: 1px solid rgba(244, 115, 107, 0.3);
}
.global-state-content-wrapper .body-wrapper .body-info .info-right {
  height: 100%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: right;
     -moz-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-state-content-wrapper .body-wrapper .body-info .info-right .system-proxy-info {
  height: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: right;
     -moz-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 12px;
  color: var(--yakit-header-color);
}
.global-state-content-wrapper .body-wrapper .body-info + .body-info {
  height: 57px;
  border-top: 1px solid var(--yakit-border-color);
}
.global-state-content-wrapper .body-wrapper .run-node-list {
  border-bottom: 1px solid var(--yakit-border-color);
}
.global-state-content-wrapper .body-wrapper .run-node-list .run-node-item {
  padding-left: 43px;
  padding-right: 8px;
  margin-bottom: 8px;
}
.global-state-content-wrapper .body-wrapper .run-node-list .run-node-item .run-node-ipOrdomain {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.global-state-content-wrapper .body-setting {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 44px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: var(--yakit-card-background-color);
  border-radius: 0px 0px 4px 4px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--yakit-border-color);
}
.global-state-content-wrapper .body-setting .yakit-input-number {
  background-color: var(--yakit-neutral10-color);
}