%flex-center {
    display: flex;
    align-items: center;
}
%column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.space-engine-wrapper {
    @extend %column-center;
    .space-engine-heard {
        padding: 8px;
        .space-engine-heard-tabName {
            color: var(--yakit-header-color);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px; /* 150% */
        }
    }
    .space-engine-form-operate {
        @extend %flex-center;
        .space-engine-form-operate-start {
            margin-right: 8px;
        }
    }
}