// #region  AIAgentWelcome
.ai-agent-welcome {
    width: 100%;
    height: 100%;
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.welcome-upper-body-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-wrapper {
        height: 80%;
    }
}

.welcome-container {
    z-index: 1;
    flex: 1;
    overflow: hidden auto;
    display: flex;
    justify-content: center;
    .container-body {
        max-width: 784px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .welcome-suggestion {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        .suggestion-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            .title {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: var(--spacing-radius-none, 0px);
            }
            .sub-title {
                color: var(--Colors-Use-Neutral-Text-4-Help-text);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.1px;
            }
        }

        .suggestion-forges {
            display: flex;
            justify-content: center;
            gap: 8px;
            .suggestion-forge {
                flex: 1;
                overflow: hidden;
                border-radius: 8px;
            }
        }
    }
}

.welcome-footer {
    z-index: 1;
    height: 144px;
    padding-top: 24px;
    display: flex;
    justify-content: center;
    .footer-body {
        height: 100%;
        max-width: 784px;
        flex: 1;
        position: relative;
    }

    .footer-inputs {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
}
// #endregion
