.hole-text {
    font-size: 14px;
    color: #1890ff;
    margin-left: 12px;
    cursor: pointer;
    display: inline-block;
}
.disable-hole-text {
    font-size: 14px;
    color: #d9d9d9;
    margin-left: 12px;
    cursor: no-drop;
    display: inline-block;
}