.yakit-popconfirm-wrapper {
  :global {
    .ant-popconfirm-buttons {
      display: none;
    }
    .ant-popover-inner {
      border: 1px solid var(--Colors-Use-Neutral-Border);
      box-shadow: 0px 8px 16px var(--Colors-Use-Basic-Shadow);
      border-radius: 4px;
      padding: 16px 12px;
      background: var(--Colors-Use-Basic-Background);
    }
    .ant-popconfirm-message {
      margin-bottom: 0;
    }
    .ant-popover-arrow-content {
      border: 1px solid var(--Colors-Use-Neutral-Border);
      background-color: var(--Colors-Use-Basic-Background);
      box-shadow: 0px 8px 16px var(--Colors-Use-Basic-Shadow);
    }

    .ant-popover-arrow::before {
      background: var(--Colors-Use-Basic-Background);
    }

    .ant-popconfirm-message > .ant-popconfirm-message-icon .anticon {
      color: var(--Colors-Use-Warning-Primary);
    }
  }
  .yakit-popconfirm-title {
    color: var(--Colors-Use-Neutral-Text-1-Title);
    .yakit-popconfirm-buttons {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      margin-top: 8px;
      gap: 8px;
    }
  }
}

.yakit-popconfirm-top-wrapper {
  :global {
    .ant-popover-arrow {
      top: 1px !important;
    }
  }
}

.yakit-popconfirm-left-wrapper {
  :global {
    .ant-popover-arrow {
      right: 1px !important;
    }
  }
}

.yakit-popconfirm-right-wrapper {
  :global {
    .ant-popover-arrow {
      right: 1px !important;
    }
  }
}

.yakit-popconfirm-bottom-wrapper {
  :global {
    .ant-popover-arrow {
      top: 1px !important;
    }
  }
}
