.yak-chat-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    overflow: hidden;
    border-left: 1px solid #eaecf3;
    background: #fff;
    box-shadow: -4px 4px 8px 0px rgba(133, 137, 158, 0.12);
}
.hidden-yak-chat-modal {
    display: none;
}

.yak-chat-layout {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .layout-header {
        width: 100%;
        height: 49px;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eaecf3;

        .header-title {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: default;
            user-select: none;

            color: #31343f;
            font-size: 14px;
            font-weight: 600;
            svg {
                width: 32px;
                height: 32px;
            }
            .info-hint {
                svg {
                    width: 16px;
                    height: 16px;
                    color: #b4bbca;
                }
            }
        }
        .header-extra {
            height: 24px;
            display: flex;
            align-items: center;
            gap: 16px;

            .extra-base-btn {
                display: flex;
                align-items: center;
                gap: 8px;
                .divider-style {
                    width: 1px;
                    height: 16px;
                    background-color: #eaecf3;
                }
                svg {
                    stroke-width: 1;
                }

                .small-btn {
                    padding: 4px;
                    svg {
                        width: 16px;
                        height: 16px;
                        color: rgba(133, 137, 158, 1);
                    }
                }
                .big-btn {
                    padding: 2px;
                    svg {
                        width: 20px;
                        height: 20px;
                        color: rgba(133, 137, 158, 1);
                    }
                }
                .btn-style {
                    display: flex;
                    cursor: pointer;
                }
                .btn-style:hover {
                    border-radius: 4px;
                    background: #f0f1f3;
                }
                .expand-icon {
                    svg {
                        stroke-width: 1.5px;
                    }
                }
                .close-icon {
                    svg {
                        stroke-width: 0.7px;
                    }
                }
                .disable-style {
                    cursor: not-allowed;
                    svg {
                        color: #ccd2de;
                    }
                }
            }
        }
    }
    .layout-main {
        display: flex;
        flex-direction: row;
        flex: 1;
        overflow: hidden;
        .layout-body-footer {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        .layout-body-footer-hidden {
            display: none;
        }
        .layout-prompt {
            display: flex;
            width: 402px;
            padding: 20px 16px 0px 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            border-left: 1px solid #eaecf3;
            position: relative;
            .prompt-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                .title {
                    height: 24px;
                    display: flex;
                    align-items: center;
                    svg {
                        height: 24px;
                    }
                    .sub-title {
                        margin-left: 4px;
                        color: #3c3d44;
                        font-size: 14px;
                        font-weight: 500;
                        position: relative;
                        top: -2px;
                    }
                }
                .extra {
                    color: #85899e;
                    cursor: pointer;
                    border-radius: 4px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                    &:hover {
                        background-color: var(--yakit-background-color);
                        color: var(--yakit-primary-5);
                    }
                }
            }
            .prompt-search {
                width: 100%;
            }
            .prompt-label {
                display: flex;
                flex-direction: row;
                gap: 8px;
                flex-wrap: wrap;
                .prompt-label-item {
                    display: flex;
                    padding: 6px 8px;
                    align-items: center;
                    gap: 4px;
                    border-radius: 14px;
                    background: #f8f8f8;
                    border: 1px solid #f8f8f8;
                    height: 28px;
                    cursor: pointer;
                    .icon {
                        height: 16px;
                        width: 16px;
                        display: flex;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .text {
                        font-size: 11px;
                        font-weight: 500;
                    }
                    .count {
                        border-radius: 8px;
                        background: #f0f1f3;
                        padding: 2px 6px;
                        height: 16px;
                        line-height: 8px;
                        span {
                            color: #85899e;
                            text-align: center;
                            font-size: 10px;
                            font-weight: 400;
                        }
                    }
                }
                .prompt-label-item-no-active {
                    &:hover {
                        background: #f0f1f3;
                    }
                }
                .prompt-label-item-active {
                    border: 1px solid #f28b44;
                    background: rgba(242, 139, 68, 0.06);
                    .count {
                        background: #fff;
                    }
                }
            }
            .prompt-list {
                display: flex;
                gap: 12px;
                flex-direction: column;
                flex: 1;
                overflow: auto;
                .prompt-item {
                    display: flex;
                    padding: 12px 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;
                    border-radius: 8px;
                    background: #f8f8f8;
                    border: 1px solid #f8f8f8;
                    cursor: pointer;
                    .title {
                        // height: 20px;
                        display: flex;
                        gap: 8px;
                        .icon {
                            height: 20px;
                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }
                        .text {
                            color: #31343f;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                        }
                    }
                    .sub-title {
                        font-size: 12px;
                        color: #b4bbca;
                        font-weight: 400;
                        line-height: 22px;
                        .span-label {
                            padding: 2px 6px;
                            border-radius: 4px;
                            background-color: rgba(136, 99, 247, 0.1);
                            margin: 0px 4px;
                            font-size: 12px;
                            color: #8863f7;
                        }
                    }
                    &:hover {
                        border: 1px solid #fbc6a1;
                        background: rgba(242, 139, 68, 0.06);
                    }
                }
            }
        }
    }
    .layout-body {
        flex: 1;
        overflow: hidden;
        position: relative;
        .body-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .body-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden auto;
            }

            .welcome-header {
                padding: 32px 20px 20px 40px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                .header-title {
                    color: #85899e;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 40px;

                    display: flex;
                    gap: 4px;
                }
                .header-subTitle {
                    color: #31343f;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 40px;
                }
            }
            .welcome-preset-list {
                flex: 1;
                overflow: hidden;
                .list-wrapper {
                    width: 100%;
                    height: 100%;
                    overflow: hidden auto;
                    padding: 0px 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .opt-wrapper {
                        width: fit-content;
                        display: inline-flex;
                        padding: 4px 8px;
                        align-items: center;
                        gap: 8px;
                        border-radius: 4px;
                        border: 1px solid #eaecf3;
                        background: #f8f8f8;
                        color: #85899e;
                        font-size: 12px;
                        line-height: 16px;
                        cursor: pointer;
                        svg {
                            width: 14px;
                            height: 14px;
                            color: #b4bbca;
                        }
                    }
                    .opt-wrapper:hover {
                        border: 1px solid #fbc6a1;
                        background: rgba(242, 139, 68, 0.06);
                        svg {
                            color: #f28b44;
                        }
                    }
                    .info-hint-wrapper {
                        width: fit-content;
                        padding: 4px 0px;
                        display: flex;
                        gap: 8px;
                        color: #b4bbca;
                        font-size: 12px;
                        line-height: 16px;
                        svg {
                            width: 16px;
                            height: 16px;
                            color: #b4bbca;
                        }
                    }
                }
            }
        }
        .body-to-bottom {
            position: absolute;
            right: 16px;
            bottom: 8px;
            width: 35px;
            height: 35px;
            padding: 6px;
            display: inline-flex;
            border-radius: 20px;
            border: 1.5px solid #fbc6a1;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 8px 16px 0px rgba(133, 137, 158, 0.1);
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
                color: #f28b44;
            }
        }
        .body-to-bottom:hover {
            border: 1.5px solid #f28b44;
            background: #f28b44;
            svg {
                color: #ffffff;
            }
        }
    }
    .layout-footer {
        max-height: 35%;
        min-height: 109px;
        padding: 0 16px 12px 16px;
        position: relative;
        .footer-prompt {
            position: absolute;
            top: -40px;
            cursor: pointer;
            .footer-book {
                display: flex;
                height: 32px;
                padding: 6px 4px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                border: 0.5px solid #ebebeb;
                background: var(--color-gray-ffffff, #fff);
                box-shadow: 0px 8px 16px 0px rgba(133, 137, 158, 0.15);
                svg {
                    // width: 24px;
                    height: 24px;
                }
                .content {
                    position: relative;
                    top: -2px;
                    width: 0px;
                    transition: width ease 0.5s;
                    overflow: hidden;
                }
                &:hover {
                    .content {
                        width: 50px;
                    }
                }
            }
        }
        .footer-wrapper {
            width: 100%;
            height: 100%;
            padding: 12px 8px 8px 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            border-radius: 8px;
            border: 0.5px solid #eaecf3;
            background: #fff;
            box-shadow: 0px 8px 16px 0px rgba(133, 137, 158, 0.1);

            .text-area-wrapper {
                max-height: 100% !important;
                min-height: 40px !important;
                padding: 0;
            }
            .input-footer {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;

                .footer-type-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .type-title {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: #31343f;
                        font-size: 12px;
                        line-height: 16px;

                        svg {
                            width: 16px;
                            height: 16px;
                            color: #85899e;
                            cursor: pointer;
                        }
                    }
                    .single-btn {
                        display: flex;
                        padding: 2px 6px;
                        align-items: center;
                        border-radius: 12px;
                        border: 1px solid #eaecf3;
                        background: #f8f8f8;
                        color: #85899e;
                        text-align: center;
                        font-size: 12px;
                        line-height: 16px;
                        cursor: pointer;
                    }
                    .single-active-btn {
                        color: #f28b44;
                        border-color: #fbc6a1;
                        background: rgba(242, 139, 68, 0.06);
                    }
                }
                .footer-type-mini {
                    display: flex;
                    padding: 4px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    cursor: pointer;
                    svg {
                        width: 20px;
                        height: 20px;
                        color: #85899e;
                    }
                }
                .footer-type-mini:hover {
                    background: #f0f1f3;
                }
                .footer-divider {
                    width: 1px;
                    height: 16px;
                    background-color: #eaecf3;
                }
                .footer-submit {
                    display: flex;
                    width: 28px;
                    padding: 4px;
                    border-radius: 4px;
                    cursor: pointer;
                    svg {
                        width: 20px;
                        height: 20px;
                        color: #b4bbca;
                    }
                }
                .footer-active-submit {
                    background: #f28b44;
                    svg {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    :global {
        .ant-modal-mask {
            position: absolute;
        }
        .ant-modal-wrap {
            position: absolute;
        }
    }
}

.content-opt-wrapper {
    display: flex;
    padding: 20px 16px;
    flex-direction: column;
    .opt-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #b4bbca;
            font-size: 12px;
            line-height: 16px;
            svg {
                width: 32px;
                height: 32px;
            }
            .img-style {
                width: 32px;
                height: 32px;
                flex-shrink: 0;
                border-radius: 32px;
                border: 1px solid #eaecf3;
                background: lightgray 50% / cover no-repeat;
            }
            .user-show{
                width: 32px;
                height: 32px;
                display: flex;
                svg{
                    scale: 1.15;
                }
            }
            
        }
        .header-right {
            display: none;
            align-items: center;
            gap: 4px;
            .right-btn {
                display: flex;
                padding: 4px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                cursor: pointer;
                position: relative;
                svg {
                    width: 16px;
                    height: 16px;
                    color: #85899e;
                }
                .actived-icon {
                    svg {
                        color: #f28b44;
                    }
                }
                .copy-icon-style {
                    margin-left: 0;
                }
            }
            .right-btn:hover {
                background: #f0f1f3;
            }
        }
        .header-right-loading {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    .opt-content-auto {
        max-height: 400px;
        overflow: auto;
    }
    .opt-content {
        padding-left: 40px;
        .content-style {
            width: 100%;
            color: #31343f;
            font-size: 14px;
            line-height: 20px;

            .content-type-title {
                height: 20px;
                color: #f28b44;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
            .content-type-title:not(:first-child) {
                margin-top: 20px;
            }
        }

        .user-content-style {
            width: 100%;
            color: #31343f;
            font-size: 14px;
            line-height: 20px;
            white-space: break-spaces;
            word-break: break-all;
        }

        .loading-wrapper {
            width: 100%;
            height: 24px;
            padding-left: 8px;
            display: flex;
            align-items: center;
            gap: 4px;
            .loading-style {
                position: relative;
                width: 4px;
                height: 4px;
                border-radius: 5px;
                background-color: #31343f;
                color: #31343f;
            }
            .loading-dot-before {
                animation: dotElasticBefore 1s infinite linear;
            }
            .loading-dot {
                animation: dotElastic 1s infinite linear;
            }
            .loading-dot-after {
                animation: dotElasticAfter 1s infinite linear;
            }
            @keyframes dotElasticBefore {
                0% {
                    transform: scale(1);
                }
                25% {
                    transform: scale(1.5);
                }
                50% {
                    transform: scale(0.6);
                }
                75% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(1);
                }
            }
            @keyframes dotElastic {
                0% {
                    transform: scale(1);
                }
                25% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.5);
                }
                75% {
                    transform: scale(0.6);
                }
                100% {
                    transform: scale(1);
                }
            }
            @keyframes dotElasticAfter {
                0% {
                    transform: scale(1);
                }
                25% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1);
                }
                75% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(0.6);
                }
            }
        }
    }
}
.content-opt-wrapper:hover {
    .opt-header {
        .header-right {
            display: flex;
        }
    }
}
.content-opt-me-wrapper {
    background: #f8f8f8;
}

.footer-popover-wrapper {
    width: 350px;
    .footer-type-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        .type-title {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #31343f;
            font-size: 12px;
            line-height: 16px;

            svg {
                width: 16px;
                height: 16px;
                color: #85899e;
                cursor: pointer;
            }
        }
        .single-btn {
            display: flex;
            padding: 2px 6px;
            align-items: center;
            border-radius: 12px;
            border: 1px solid #eaecf3;
            background: #f8f8f8;
            color: #85899e;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            cursor: pointer;
        }
        .single-active-btn {
            color: #f28b44;
            border-color: #fbc6a1;
            background: rgba(242, 139, 68, 0.06);
        }
    }
}

.tooltip-wrapper {
    padding-bottom: 5px;
    :global {
        .ant-tooltip-inner {
            display: flex;
            padding: 8px 12px;
            border-radius: 4px;
            border: 1px solid #f8f8f8;
            background: rgba(49, 52, 63, 0.9);
            border-bottom-width: 0px;

            color: #fff;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            cursor: text;
        }
    }
}
.info-hint-popover {
    :global {
        .ant-tooltip-arrow {
            margin-top: 1px;
        }
    }
}

.drawer-wrapper {
    position: absolute;
    width: 100%;
    :global {
        .ant-drawer-content-wrapper {
            box-shadow: unset !important;
            max-height: 60% !important;
            height: fit-content !important;
            overflow: hidden;
            display: flex;
        }
        .ant-drawer-content {
            background-color: unset;
            flex: 1;
            overflow: hidden;
            height: unset;
        }
        .ant-drawer-body {
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }
    }
}
.drawer-body {
    width: 100%;
    height: 100%;
    padding: 20px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px 8px 0px 0px;
    background: #fff;
    overflow: hidden;
    .body-header {
        height: 33px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eaecf3;
        .header-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 0 0;

            color: #31343f;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
        }
        .header-close {
            display: flex;
            padding: 2px;
            border-radius: 4px;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
                color: #85899e;
            }
        }
        .header-close:hover {
            background: #f0f1f3;
        }
    }

    .body-wrapper {
        flex: 1;
        overflow: hidden;
        .body-layout {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow: hidden auto;
        }
    }

    .body-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .history-container-opt {
            display: flex;
            padding: 8px;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            .opt-header {
                display: flex;
                gap: 8px;

                svg {
                    width: 24px;
                    height: 24px;
                    color: #b4bbca;
                }
                .header-info {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    .info-title {
                        color: #31343f;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 16px;
                    }
                    .info-time {
                        color: #b4bbca;
                        font-size: 12px;
                        line-height: 125%;
                    }
                }
            }
            .opt-operate {
                display: none;
                align-items: center;
                gap: 8px;
                .operate-btn {
                    display: flex;
                    padding: 2px;
                    border-radius: 4px;
                    cursor: pointer;
                    svg {
                        width: 20px;
                        height: 20px;
                        color: #85899e;
                    }
                }
                .operate-btn:hover {
                    background: #eaecf3;
                }
            }
        }
        .history-container-opt:hover {
            background: #f0f1f3;
            .opt-operate {
                display: flex;
            }
        }
        .history-container-active-opt {
            border: 1px solid #fbc6a1 !important;
            background: rgba(242, 139, 68, 0.06) !important;
            .opt-header {
                svg {
                    color: #f28b44;
                }
                .header-info {
                    .info-title {
                        color: #f28b44;
                    }
                }
            }
        }

        .hitn-container-opt {
            padding: 2px 8px 2px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            cursor: pointer;

            .opt-title {
                flex: 1 0 0;
                color: #31343f;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
            }

            .opt-icon {
                visibility: hidden;
                display: flex;
                padding: 4px;
                svg {
                    width: 16px;
                    height: 16px;
                    color: #85899e;
                }
            }
        }
        .hitn-container-opt:hover {
            background: #f0f1f3;
            .opt-icon {
                visibility: visible;
            }
        }
    }

    .body-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ccd2de;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }
}

.name-edit-modal {
    padding: 18px 24px;

    .name-edit-modal-heard {
        display: flex;
        justify-content: space-between;

        .name-edit-modal-title {
            font-weight: 600;
            font-size: 14px;
            color: var(--yakit-header-color);
        }

        .close-icon {
            color: var(--yakit-helper-text-color);

            svg {
                width: 16px;
                height: 16px;

                &:hover {
                    color: var(--yakit-primary-5);
                }
            }
        }
    }

    .name-edit-modal-body {
        padding-top: 16px;
        padding-bottom: 38px;
    }

    .name-edit-modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}

.yakit-popover-type {
    :global {
        .ant-popover-inner {
            border-radius: 4px;
        }
    }
}

.chat-cs-prompt-drawer {
    position: absolute;
    :global {
        .ant-drawer-content {
            background-color: #fff;
            border-radius: 8px 8px 0px 0px;
            .ant-drawer-wrapper-body {
                .ant-drawer-body {
                    padding: 20px 16px;
                }
            }
        }
    }
}

.chat-cs-prompt-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    .header {
        .title-box {
            display: flex;
            padding-bottom: 8px;
            border-bottom: 1px solid #eaecf3;
            .title {
                flex: 1;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                color: #31343f;
            }
            .close-icon {
                display: flex;
                cursor: pointer;
                svg {
                    width: 20px;
                    height: 20px;
                    color: rgba(133, 137, 158, 1);
                    stroke-width: 0.7px;
                    &:hover {
                        color: var(--yakit-primary-5);
                    }
                }
            }
        }
    }
    .form-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;
        overflow: auto;
        .form-item {
            .title {
                color: #31343f;
                text-align: justify;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 4px;
            }
            .input-text-area {
                width: 100%;
                height: 78px;
                padding: 8px 12px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                border-radius: 4px;
                border: 1px solid #eaecf3;
                background: #fff;
                // box-shadow: 0px 8px 16px 0px rgba(133, 137, 158, 0.1);
                .text-area-wrapper {
                    max-height: 100% !important;
                    min-height: 40px !important;
                    padding: 0;
                }
            }
        }
    }
    .submit {
        width: 100%;
    }
}

.example-card {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 0px 4px 4px 0px;
    border-left: 2px solid #ccd2de;
    background: #fff;
    .example {
        color: #b4bbca;
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
    }
    .detail-content {
        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #31343f;
            margin: 0px;
        }
    }
}
.plugin-list-content {
    padding: 16px 16px 16px 8px;
    border-radius: 8px;
    background: #f8f8f8;
    margin-top: 8px;
    .list {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        .list-item {
            padding: 8px 0px;
            display: flex;
            flex-direction: row;
            gap: 8px;
            height: 28px;
            box-sizing: content-box;
            align-items: center;
            border-bottom: 1px solid #eaecf3;
            .content {
                color: #31343f;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                overflow: hidden;
            }
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
        padding-left: 8px;
        border-top: 1px solid #eaecf3;
        .count-box {
            display: flex;
            flex-direction: row;
            gap: 16px;
            .check-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                .text {
                    color: #31343f;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
            .show-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                .show {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2px;
                    .title {
                        color: #b4bbca;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                    .count {
                        color: #f28b44;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
                .line {
                    height: 12px;
                    width: 1px;
                    background-color: #eaecf3;
                }
            }
        }
    }
    :global {
        .plugin-details-item-wrapper {
            cursor: pointer;
        }
        .plugin-details-item-wrapper:first-child {
            .plugin-details-item {
                border-top: 1px solid transparent;
            }
        }
    }
}
.plugin-run-status {
    .plugin-run {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        border-radius: 8px;
        background: #f8f8f8;
        .title {
            color: var(--color-gray-Text-04, #31343f);
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
        }
        .sub-title {
            color: #85899e;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            .highlight {
                color: #f28b44;
            }
        }
    }
    .plugin-box {
        border-radius: 8px;
        border: 1px solid #eaecf3;
        background: #fff;
        overflow: hidden;
        .warn {
            background: rgba(255, 182, 96, 0.2);
            .icon {
                background: #ffb660;
            }
        }
        .succee {
            background: rgba(86, 201, 145, 0.2);
            .icon {
                background: #56c991;
                svg {
                    color: #ffffff;
                }
            }
        }
        .fail {
            background: rgba(244, 115, 107, 0.2);
            .icon {
                background: #f6544a;
                svg {
                    color: #ffffff;
                }
            }
        }
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
            padding: 12px 16px 8px 16px;
            .title {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
                .icon {
                    border-radius: 14px;

                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }
                .text {
                    color: #31343f;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16px; /* 133.333% */
                }
            }
        }
        .content {
            padding: 12px 16px;
            .item-box {
                margin-bottom: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .text {
                    color: #31343f;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    overflow: hidden;
                    flex: 1;
                }
            }
            .result {
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}
.chatcs-plugin-option-popover {
    .option-box {
        display: flex;
        flex-direction: row;
    }
}
.plugin-run-max-number-box {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    .title {
        color: #31343f;
        font-size: 12px;
        line-height: 24px;
    }
}
.load-content-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
    .load-content-item {
        display: flex;
        align-items: center;
        gap: 4px;
        .load-content-check {
            color: var(--yakit-success-5);
            font-size: 16px;
        }
    }
}

.yakit-chat-loading {
    width: 16px;
    height: 16px;
    position: relative;
    animation: load 3s linear infinite;
    div {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    span {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #ffecd6;
        position: absolute;
        left: 50%;
        margin-top: 0px;
        margin-left: -2px;
        animation: changeBgColor 3s ease infinite;
    }
    div:nth-child(2) {
        transform: rotate(120deg);
    }
    div:nth-child(3) {
        transform: rotate(240deg);
    }
    div:nth-child(2) span {
        animation-delay: 1s;
    }
    div:nth-child(3) span {
        animation-delay: 2s;
    }
    @keyframes load {
        0% {
            -webkit-transform: rotate(0deg);
        }
        33.3% {
            -webkit-transform: rotate(120deg);
        }
        66.6% {
            -webkit-transform: rotate(240deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes changeBgColor {
        0%,
        100% {
            background: #ffecd6;
        }
        33.3% {
            background: #f69c5d;
        }
        66.6% {
            background: #e27122;
        }
    }
}

.plugin-ai-item{
    height: 100%;
    width: 100%;
    overflow: hidden;
    .ai-box{
        height: 60%;
        display: flex;
        flex-direction: column;
        .content-opt-wrapper{
            flex: 1;
            overflow: auto;
        }
    }
    .result-box{
        .plugin-execute-result-wrapper{
            height: 100%;
            padding-top: 2px;
            min-height: auto;
            .big-btn {
                padding: 2px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: rgba(133, 137, 158, 1);
                    stroke-width: 0.7px;
                }
            }
            .btn-style {
                display: flex;
                cursor: pointer;
            }
            .btn-style:hover {
                svg {
                color: var(--yakit-primary-5);
                }
            }
        }
    }
}

.plugin-ai-list {
    width: 100%;
    .welcome-plugin-ai {
        padding: 32px 20px 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .header-title {
            color: #85899e;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;

            display: flex;
            gap: 4px;
        }
        .header-subTitle {
            color: #31343f;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
        }
    }
}
