%icon {
    width: 16px;
    height: 16px;
}

.ai-chat-select-wrapper {
    width: fit-content;
    height: 24px;
    :global {
        .ant-select {
            border-radius: 20px;
            background-color: transparent;
        }
        .ant-select-selection-search {
            display: none;
        }
        .ant-select-single:hover {
            background-color: var(--Colors-Use-Basic-Shadow);
        }
        .ant-select-single .ant-select-selector .ant-select-selection-item {
            font-size: 11px;
            display: flex;
            align-items: center;
            height: 16px;
            line-height: 16px;
        }
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            padding: 4px;
            display: flex;
            align-items: center;
        }
        .ant-select .ant-select-arrow {
            right: 0;
            height: 16px;
            padding: 0 4px;
            top: 10px;
        }
    }
}

.drop-select-wrapper {
    max-width: 320px;
    :global {
        .ant-select-item-option-grouped {
            padding-left: 8px;
        }
        .ant-select-item {
            margin-bottom: 4px;
        }
    }
    .select-title {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        font-weight: 600;
        padding: 2px 12px 4px 12px;

        svg {
            color: var(--Colors-Use-Neutral-Text-2-Primary);
            @extend %icon;
        }
    }
}

.select-option-wrapper {
    display: flex;
    gap: 8px;
    font-size: 12px;
    .icon-wrapper {
        width: 16px;
        height: 16px;
        display: flex;
        svg {
            @extend %icon;
        }
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 16px;
    }

    .text {
        color: var(--Colors-Use-Neutral-Text-1-Title);
    }
    .describe {
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
        text-wrap: wrap;
    }
}
.select-option-active-wrapper {
    .text {
        color: var(--Colors-Use-Main-Primary);
    }
}
.select-option {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    .select-option-text {
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        line-height: 16px;
    }
    .icon-wrapper {
        display: flex;
        width: 16px;
        height: 16px;
        color: var(--Colors-Use-Neutral-Text-2-Primary);
        svg {
            @extend %icon;
        }
    }
}

.popover-wrapper {
    width: 200px;
    display: flex;
    align-items: center;
}

.review-rule-select-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    .siren-icon {
        svg {
            color: var(--Colors-Use-Neutral-Text-2-Primary);
        }
    }
}
.yakit-segmented-wrapper {
    .segmented {
        padding: 1px;
        height: 24px;
        display: flex;
        align-items: center;
        background-color: var(--Colors-Use-Basic-Shadow);
        border-radius: 999px;
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
    }
    :global {
        .ant-segmented-group {
            height: 22px;
        }
        .ant-segmented-thumb {
            border-radius: 50%;
        }
        .ant-segmented.ant-segmented-sm .ant-segmented-item-label {
            height: 22px;
            padding: 4px;
            display: flex;
            align-items: center;
        }
        .ant-segmented-item-icon {
            svg {
                width: 14px;
                height: 14px;
            }
        }
        .ant-segmented-item {
            border-radius: 50%;
        }
    }
}
