%icon {
    width: 16px;
    height: 16px;
}

.ai-chat-select-wrapper {
    width: fit-content;
    :global {
        .ant-select {
            border-radius: 20px;
            background-color: var(--Colors-Use-Neutral-Bg-Hover);
        }
        .ant-select-single .ant-select-selector .ant-select-selection-item {
            font-size: 11px;
            display: flex;
            align-items: center;
        }
    }
}

.drop-select-wrapper {
    max-width: 320px;
    :global {
        .ant-select-item-option-grouped {
            padding-left: 8px;
        }
        .ant-select-item {
            margin-bottom: 4px;
        }
    }
    .select-title {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        font-weight: 600;
        padding: 2px 12px 4px 12px;

        svg {
            color: var(--Colors-Use-Neutral-Text-2-Primary);
            @extend %icon;
        }
    }
}

.select-option-wrapper {
    display: flex;
    gap: 8px;
    font-size: 12px;
    .icon-wrapper {
        width: 16px;
        height: 16px;
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 16px;
    }

    .text {
        color: var(--Colors-Use-Neutral-Text-1-Title);
    }
    .describe {
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
        text-wrap: wrap;
    }
}
.select-option-active-wrapper {
    .text {
        color: var(--Colors-Use-Main-Primary);
    }
}
.select-option {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    .select-option-text {
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
    .icon-wrapper {
        width: 16px;
        height: 16px;
        color: var(--Colors-Use-Neutral-Text-2-Primary);
        svg {
            @extend %icon;
        }
    }
}

.popover-wrapper {
    width: 200px;
    display: flex;
    align-items: center;
}
