.reportViewerPage {
    height: 100%;
    .list-item {
        position: relative;
        margin-bottom: 8px;
        cursor: pointer;
        background-color: var(--Colors-Use-Basic-Background);
        &-header {
            border: 1px solid var(--Colors-Use-Neutral-Border);
        }
        &-body {
            border: 1px solid var(--Colors-Use-Neutral-Border);
            border-top: none;
        }
    }
    .list-item-hoverable {
        &:hover {
            background-color: var(--Colors-Use-Neutral-Bg-Hover);
        }
    }
    .icon-select {
        color: var(--Colors-Use-Neutral-Text-3-Secondary);
        position: absolute;
        right: 0;
        top: 0;

        svg {
            width: 16px;
            height: 16px;
        }
    }
    .icon-select-active {
        color: var(--Colors-Use-Main-Primary);
    }
    .card {
        border: none;
        background-color: var(--Colors-Use-Basic-Background);
        &-title {
            display: flex;
            align-items: center;

            gap: 5px;
            &-text {
                font-size: 14px;
            }
        }
        &-extra {
            display: flex;
            align-items: center;

            gap: 5px;
            .UISettingSvgIcon {
                cursor: pointer;
                svg {
                    width: 18px;
                    height: 18px;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                }
            }
        }
        &-body {
            height: 100%;
        }
        &-selected {
            background-color: red;
            .list-item-header,
            .list-item-body {
                border: 1px solid var(--Colors-Use-Main-Border);
            }
        }
    }
    .report-viewer {
        position: relative;
        background-color: var(--Colors-Use-Basic-Background);
        height: 100%;
        .report-empty {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--Colors-Use-Basic-Background);
            width: calc(100% + 1px);
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            :global {
                margin: 0;
                border: none;
            }
        }
        .loading-wrapper {
            position: absolute;
            background-color: var(--Colors-Use-Basic-Background);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: calc(100% + 1px);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}
