.report-viewer{
    height: 100%;
    :global {
        .ant-spin-nested-loading{
            height: 100%;
        }
    }
}

.ui-op-setting-dropdown {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 4px 4px;
            }
        }
    }
}
