.yakit-button-wrapper {
    display: inline-block;
}

.yakit-button {
    display: flex;
    align-items: center;
}

.yakit-button-small-size {
    height: 20px;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-items: center;
    :global {
        .anticon + span,
        span + .anticon {
            margin-left: 2px;
        }
    }
}
.yakit-button-size {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    :global {
        .anticon + span,
        span + .anticon {
            margin-left: 4px;
        }
    }
}
.yakit-button-large-size {
    height: 28px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.yakit-button-max-size {
    height: 32px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.yakit-button-primary {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: var(--yakit-primary-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-primary-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-background-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-primary-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}
.yakit-button-outline-1 {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: var(--yakit-primary-1);
    --button-color: var(--yakit-primary-5);
    --button-border-color: var(--yakit-primary-3);

    --button-hover-background: var(--yakit-primary-1);
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: var(--yakit-primary-4);

    --button-disable-background: var(--yakit-background-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: var(--yakit-border-color);

    --button-press-background: var(--yakit-primary-1);
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: var(--yakit-primary-6);

    .yakit-button-small-size {
        line-height: 12px;
    }

    .yakit-button-size {
        line-height: 14px;
    }

    .yakit-button-large-size {
        line-height: 18px;
    }

    .yakit-button-max-size {
        line-height: 18px;
    }
}
.yakit-button-text {
    --button-wave-shadow-color: transparent;

    --button-background: transparent;
    --button-color: var(--yakit-primary-5);
    --button-border-color: transparent;

    --button-hover-background: transparent;
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: transparent;

    --button-disable-background: transparent;
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: transparent;

    --button-press-background: transparent;
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: transparent;

    [ant-click-animating-without-extra-node="true"]::after {
        box-shadow: none;
        opacity: 1;
        animation: none;
    }

    :global {
        .ant-btn {
            box-shadow: none;
            border: 0px;
        }
    }
}
.yakit-button-outline-2 {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: var(--yakit-neutral10-color);
    --button-color: var(--yakit-header-color);
    --button-border-color: var(--yakit-border-color);

    --button-hover-background: var(--yakit-neutral10-color);
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: var(--yakit-primary-4);

    --button-disable-background: var(--yakit-neutral10-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: var(--yakit-border-color);

    --button-press-background: var(--yakit-neutral10-color);
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: var(--yakit-primary-6);
}
.yakit-button-secondary-1 {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: var(--yakit-primary-1);
    --button-color: var(--yakit-primary-5);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-primary-1);
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-background-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-primary-1);
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}
.yakit-button-secondary-2 {
    --button-wave-shadow-color: var(--yakit-primary-2);

    --button-background: var(--yakit-background-color);
    --button-color: var(--yakit-header-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-primary-1);
    --button-hover-color: var(--yakit-primary-4);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-background-color);
    --button-disable-color: var(--yakit-disable-text-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-primary-1);
    --button-press-color: var(--yakit-primary-6);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}
.yakit-button-success {
    --button-wave-shadow-color: var(--yakit-success-2);

    --button-background: var(--yakit-success-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-success-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-disable-text-color);
    --button-disable-color: var(--yakit-neutral10-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-success-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}
.yakit-button-warning {
    --button-wave-shadow-color: var(--yakit-warning-2);

    --button-background: var(--yakit-warning-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-warning-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-disable-text-color);
    --button-disable-color: var(--yakit-neutral10-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-warning-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}
.yakit-button-danger {
    --button-wave-shadow-color: var(--yakit-danger-2);

    --button-background: var(--yakit-danger-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-danger-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-disable-text-color);
    --button-disable-color: var(--yakit-neutral10-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-danger-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}
.yakit-button-serious {
    --button-wave-shadow-color: var(--yakit-serious-2);

    --button-background: var(--yakit-serious-5);
    --button-color: var(--yakit-neutral10-color);
    --button-border-color: transparent;

    --button-hover-background: var(--yakit-serious-4);
    --button-hover-color: var(--yakit-neutral10-color);
    --button-hover-border-color: transparent;

    --button-disable-background: var(--yakit-disable-text-color);
    --button-disable-color: var(--yakit-neutral10-color);
    --button-disable-border-color: transparent;

    --button-press-background: var(--yakit-serious-6);
    --button-press-color: var(--yakit-neutral10-color);
    --button-press-border-color: transparent;

    :global {
        .ant-btn {
            border: 0px;
        }
    }
}

.yakit-button-type {
    background: var(--button-background);
    color: var(--button-color);
    border-color: var(--button-border-color);
}

.yakit-button-type:focus {
    background: var(--button-background);
    color: var(--button-color);
    border-color: var(--button-border-color);
}

.yakit-button-type:hover {
    background: var(--button-hover-background);
    color: var(--button-hover-color);
    border-color: var(--button-hover-border-color);

    svg {
        color: var(--button-hover-color) !important;
    }
}

.yakit-button-type:active {
    background: var(--button-press-background);
    color: var(--button-press-color);
    border-color: var(--button-press-border-color);

    svg {
        color: var(--button-press-color) !important;
    }
}

.yakit-button-type[disabled] {
    color: var(--button-disable-color) !important;
    border-color: var(--button-disable-border-color) !important;
    background: var(--button-disable-background) !important;

    svg {
        color: var(--button-disable-color) !important;
    }
}

[ant-click-animating-without-extra-node="true"]::after {
    box-shadow: none;
    opacity: 1;
    animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
}

@keyframes fadeEffect {
    100% {
        opacity: 0;
    }
}

@keyframes waveEffect {
    100% {
        box-shadow: 0 0 0 4px var(--button-wave-shadow-color);
    }
}
