@import "../../../theme/themeify.scss";

@mixin generatePrimary($type) {
    --button-wave-shadow-color: #{fetch-color($type, "color-2")};

    background: fetch-color($type, "color-5");
    color: var(--ui-text-inverse-color);
    border-color: fetch-color($type, "color-5");

    &.yakit-hover-button {
        background: fetch-color($type, "color-4");
        color: var(--ui-text-inverse-color);
        border-color: fetch-color($type, "color-4");
    }

    &:focus {
        background: fetch-color($type, "color-5");
        color: var(--ui-text-inverse-color);
        border-color: fetch-color($type, "color-5");
    }
    &:hover {
        background: fetch-color($type, "color-4");
        color: var(--ui-text-inverse-color);
        border-color: fetch-color($type, "color-4");
    }
    &:active {
        background: fetch-color($type, "color-6");
        color: var(--ui-text-inverse-color);
        border-color: fetch-color($type, "color-6");
    }
    &[disabled] {
        background: var(--yakit-disable-text-color);
        color: var(--ui-text-inverse-color);
        border-color: var(--yakit-disable-text-color);
    }
    &[disabled]:hover {
        background: var(--yakit-disable-text-color);
        color: var(--ui-text-inverse-color);
        border-color: var(--yakit-disable-text-color);
    }
}

@mixin generateSecondary2($type) {
    --button-wave-shadow-color: #{fetch-color($type, "color-2")};

    background: var(--yakit-background-color);
    color: var(---ui-text-color);
    border-color: var(--yakit-background-color);
    svg {
        color: var(--ui-icon-color);
    }

    &.yakit-hover-button {
        background: fetch-color($type, "color-1");
        color: fetch-color($type, "color-4");
        border-color: fetch-color($type, "color-1");
        svg {
            color: fetch-color($type, "color-4");
        }
    }

    &:focus {
        background: var(--yakit-background-color);
        color: var(--ui-text-color);
        border-color: var(--yakit-background-color);
        svg {
            color: var(--ui-icon-color);
        }
    }
    &:hover {
        background: fetch-color($type, "color-1");
        color: fetch-color($type, "color-4");
        border-color: fetch-color($type, "color-1");
        svg {
            color: fetch-color($type, "color-4");
        }
    }
    &:active {
        background: fetch-color($type, "color-1");
        color: fetch-color($type, "color-6");
        border-color: fetch-color($type, "color-1");
        svg {
            color: fetch-color($type, "color-6");
        }
    }
    &[disabled] {
        background: var(--yakit-background-color);
        color: var(--yakit-disable-text-color);
        border-color: var(--yakit-background-color);
        svg {
            color: var(--yakit-disable-text-color);
        }
    }
    &[disabled]:hover {
        background: var(--yakit-background-color);
        color: var(--yakit-disable-text-color);
        border-color: var(--yakit-background-color);
        svg {
            color: var(--yakit-disable-text-color);
        }
    }
}

@mixin generateOutline1($type) {
    --button-wave-shadow-color: #{fetch-color($type, "color-2")};

    background: transparent;
    color: fetch-color($type, "color-5");
    border-color: fetch-color($type, "color-3");

    &.yakit-hover-button {
        background: fetch-color($type, "color-1");
        color: fetch-color($type, "color-4");
        border-color: fetch-color($type, "color-4");
    }

    &:focus {
        background: transparent;
        color: fetch-color($type, "color-5");
        border-color: fetch-color($type, "color-3");
    }
    &:hover {
        background: fetch-color($type, "color-1");
        color: fetch-color($type, "color-4");
        border-color: fetch-color($type, "color-4");
    }
    &:active {
        background: fetch-color($type, "color-1");
        color: fetch-color($type, "color-6");
        border-color: fetch-color($type, "color-6");
    }
    &[disabled] {
        background: var(--yakit-background-color);
        color: var(--yakit-disable-text-color);
        border-color: var(--yakit-border-color);
    }
    &[disabled]:hover {
        background: var(--yakit-background-color);
        color: var(--yakit-disable-text-color);
        border-color: var(--yakit-border-color);
    }
}

@mixin generateOutline2($type) {
    --button-wave-shadow-color: #{fetch-color($type, "color-2")};

    background: transparent;
    color: var(--ui-text-color);
    border-color: var(--yakit-border-color);
    svg {
        color: var(--ui-icon-color);
    }

    &.yakit-hover-button {
        background: transparent;
        color: fetch-color($type, "color-4");
        border-color: fetch-color($type, "color-4");
        svg {
            color: fetch-color($type, "color-4");
        }
    }

    &:focus {
        background: transparent;
        color: var(--ui-text-color);
        border-color: var(--yakit-border-color);
        svg {
            color: var(--ui-icon-color);
        }
    }
    &:hover {
        background: transparent;
        color: fetch-color($type, "color-4");
        border-color: fetch-color($type, "color-4");
        svg {
            color: fetch-color($type, "color-4");
        }
    }
    &:active {
        background: transparent;
        color: fetch-color($type, "color-6");
        border-color: fetch-color($type, "color-6");
        svg {
            color: fetch-color($type, "color-6");
        }
    }
    &[disabled] {
        background: transparent;
        color: var(--yakit-disable-text-color);
        border-color: var(--yakit-border-color);
        svg {
            color: var(--yakit-disable-text-color);
        }
    }
    &[disabled]:hover {
        background: transparent;
        color: var(--yakit-disable-text-color);
        border-color: var(--yakit-border-color);
        svg {
            color: var(--yakit-disable-text-color);
        }
    }
}

@mixin generateText($type) {
    --button-wave-shadow-color: transparent;

    background: transparent;
    color: fetch-color($type, "color-5");
    border-color: transparent;

    &.yakit-hover-button {
        background: transparent;
        color: fetch-color($type, "color-4");
        border-color: transparent;
    }

    &:focus {
        background: transparent;
        color: fetch-color($type, "color-5");
        border-color: transparent;
    }
    &:hover {
        background: transparent;
        color: fetch-color($type, "color-4");
        border-color: transparent;
    }
    &:active {
        background: transparent;
        color: fetch-color($type, "color-6");
        border-color: transparent;
    }
    &[disabled] {
        background: transparent;
        color: var(--yakit-disable-text-color);
        border-color: transparent;
    }
    &[disabled]:hover {
        background: transparent;
        color: var(--yakit-disable-text-color);
        border-color: transparent;
    }
}

@mixin generateText2($type) {
    --button-wave-shadow-color: transparent;

    background: transparent;
    color: var(--ui-text-color);
    border-color: transparent;
    svg {
        color: var(--ui-icon-color);
    }

    &.yakit-hover-button {
        background: var(--yakit-background-color);
        color: var(--ui-text-color);
        border-color: var(--yakit-background-color);
        svg {
            color: var(--ui-icon-color);
        }
    }

    &:focus {
        background: transparent;
        color: var(--ui-text-color);
        border-color: transparent;
        svg {
            color: var(--ui-icon-color);
        }
    }
    &:hover {
        background: var(--yakit-background-color);
        color: var(--ui-text-color);
        border-color: var(--yakit-background-color);
        svg {
            color: var(--ui-icon-color);
        }
    }
    &:active {
        background: var(--yakit-background-color);
        color: fetch-color($type, "color-5");
        border-color: var(--yakit-background-color);
        svg {
            color: fetch-color($type, "color-5");
        }
    }
    &[disabled] {
        background: transparent;
        color: var(--yakit-disable-text-color);
        border-color: transparent;
        svg {
            color: var(--yakit-disable-text-color);
        }
    }
    &[disabled]:hover {
        background: transparent;
        color: var(--yakit-disable-text-color);
        border-color: transparent;
        svg {
            color: var(--yakit-disable-text-color);
        }
    }
}

.yakit-button-small-size {
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    font-size: 11px;
    & > :global(.anticon + span),
    & > :global(span + .anticon) {
        margin-left: 2px;
    }

    svg {
        width: 12px;
        height: 12px;
    }

    &:global(.ant-btn-icon-only) {
        padding: 3px;
        svg {
            width: 14px;
            height: 14px;
        }
    }
}
.yakit-button-size {
    height: 24px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    & > :global(.anticon + span),
    & > :global(span + .anticon) {
        margin-left: 4px;
    }

    svg {
        width: 14px;
        height: 14px;
    }

    &:global(.ant-btn-icon-only) {
        padding: 4px;
    }
}
.yakit-button-large-size {
    height: 28px;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 14px;
    & > :global(.anticon + span),
    & > :global(span + .anticon) {
        margin-left: 4px;
    }

    svg {
        width: 14px;
        height: 14px;
    }

    &:global(.ant-btn-icon-only) {
        padding: 4px;
        svg {
            width: 18px;
            height: 18px;
        }
    }
}
.yakit-button-max-size {
    height: 32px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    & > :global(.anticon + span),
    & > :global(span + .anticon) {
        margin-left: 4px;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    &:global(.ant-btn-icon-only) {
        padding: 6px;
    }
}
.yakit-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid transparent;
    &:global(.ant-btn-icon-only) {
        width: unset;
    }
    &:global([ant-click-animating-without-extra-node="true"]::after) {
        box-shadow: none;
        opacity: 1;
        animation:
            fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1),
            waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
    }
}

.yakit-button-primary {
    @include generatePrimary("primary");
    &.yakit-button-success {
        @include generatePrimary("success");
    }
    &.yakit-button-danger {
        @include generatePrimary("danger");
    }
}
.yakit-button-secondary2 {
    @include generateSecondary2("primary");
    &.yakit-button-success {
        @include generateSecondary2("success");
    }
    &.yakit-button-danger {
        @include generateSecondary2("danger");
    }
}
.yakit-button-outline1 {
    @include generateOutline1("primary");
    &.yakit-button-success {
        @include generateOutline1("success");
    }
    &.yakit-button-danger {
        @include generateOutline1("danger");
    }
}
.yakit-button-outline2 {
    @include generateOutline2("primary");
}
.yakit-button-text {
    @include generateText("primary");
    &.yakit-button-success {
        @include generateText("success");
    }
    &.yakit-button-danger {
        @include generateText("danger");
    }
}
.yakit-button-text2 {
    @include generateText2("primary");
}

@keyframes fadeEffect {
    100% {
        opacity: 0;
    }
}
@keyframes waveEffect {
    100% {
        box-shadow: 0 0 0 4px var(--button-wave-shadow-color);
    }
}
