.webTree {
    display: flex;
    flex-direction: column;
    .tree-top-wrap {
        display: flex;
        justify-content: space-between;
    }

    .tree-wrap {
        flex: 1;
    }

    :global {
        .yakitTreeNode-icon {
            color: #85899e;
            margin-top: 4px;
            svg {
                height: 16px;
                width: 16px;
                path {
                    stroke-width: 1.5;
                }
            }
        }

        .yakit-flolder-icon {
            color: var(--yakit-primary-4);
        }

        .ant-spin-spinning {
            margin-top: 20px;
            .ant-spin-dot {
                margin: auto;
            }
        }

        .ant-tree-indent-unit {
            width: 10px;
            &::before {
                right: 0px
            }
        }
        .ant-tree-show-line .ant-tree-indent-unit::before {
            border-right: 1px solid var(--yakit-border-color);
        }
        .ant-tree-indent-unit-end {
            border-right: 1px solid var(--yakit-border-color);
        }
        .ant-tree-switcher {
            width: 22px;
        }
        .ant-tree-switcher-leaf-line {
            display: none;
        }

        .ant-tree .ant-tree-treenode {
            padding: 0;
        }

        .ant-tree-treenode.ant-tree-treenode-switcher-open:not(.ant-tree-treenode-selected),
        .ant-tree-treenode.ant-tree-treenode-switcher-close:not(.ant-tree-treenode-selected) {
            align-items: center;
            width: 100%;
            padding: 0;
            &:hover {
                .ant-tree-switcher {
                    background-color: #eaecf3;
                    border-radius: 4px 0 0 4px;
                }
                
            }
        }

        .ant-tree-treenode:not(.ant-tree-treenode-selected) {
            &:hover {
                .ant-tree-switcher.ant-tree-switcher-noop {
                    background-color: #f5f5f5;
                    border-radius: 4px 0 0 4px;
                }
                .ant-tree-node-content-wrapper {
                    background-color: #f5f5f5;
                    border-radius: 0 4px 4px 0;
                }
            }
        }

        .ant-tree-node-content-wrapper {
            padding-left: 0;
            transition: none;
        }

        .ant-tree-node-content-wrapper.ant-tree-node-selected {
            .ant-tree-iconEle .anticon {
                color: #fff;
            }
        }

        .ant-tree-treenode.ant-tree-treenode-switcher-close.ant-tree-treenode-selected,
        .ant-tree-treenode.ant-tree-treenode-switcher-open.ant-tree-treenode-selected {
            .ant-tree-switcher {
                background-color: var(--yakit-primary-6);
                border-radius: 4px 0 0 4px;
                .ant-tree-switcher-icon {
                    color: #fff;
                }
            }

            & > .ant-tree-node-content-wrapper.ant-tree-node-selected {
                border-radius: 0 4px 4px 0;
            }

            &:hover {
                .ant-tree-switcher {
                    background-color: var(--yakit-primary-5);
                }
                .ant-tree-node-content-wrapper.ant-tree-node-selected {
                    background-color: var(--yakit-primary-4);
                }
            }
        }

        .ant-tree-treenode.ant-tree-treenode-selected {
            &:hover {
                .ant-tree-switcher.ant-tree-switcher-noop {
                    background-color: var(--yakit-primary-4);
                }
                .ant-tree-node-content-wrapper.ant-tree-node-selected {
                    background-color: var(--yakit-primary-4);
                }
            }
            .ant-tree-switcher.ant-tree-switcher-noop {
                background-color: var(--yakit-primary-5);
                border-radius: 4px 0 0 4px;
            }
        }

        .ant-tree-iconEle {
            margin-right: 2px;
        }

        .ant-tree-node-content-wrapper {
            display: flex;
            width: 100%;
            border-radius: 0 4px 4px 0;
        }

        .ant-tree-title {
            white-space: nowrap;
            width: calc(100% - 24px);
        }
    }
}
