.yakit-menu-wrapper {
    border-right: 0px;
    :global {
        .ant-menu-submenu {
            .ant-menu-submenu-title {
                height: 100%;
                padding: 0;
                margin: 0;
            }
            .ant-menu-submenu-arrow {
                display: none;
            }
        }
        .ant-menu-item {
            height: 100%;
            padding: 0;
            margin: 0 !important;
        }
    }
}
.yakit-menu-submenu {
    :global {
        .ant-menu {
            padding: 6px 4px 8px 4px;
            border: 1px solid #eaecf3;
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-menu-item-selected {
                background-color: unset;
                div {
                    color: #f28b44;
                }
                div:hover {
                    color: #ffffff;
                }
            }
        }
        .ant-menu-vertical.ant-menu-sub {
            min-width: 128px;
        }
        .ant-menu-submenu {
            .ant-menu-submenu-title {
                height: 100%;
                padding: 0;
                margin: 0;
            }
            .ant-menu-submenu-arrow {
                display: none;
            }
        }
        .ant-menu-item {
            height: 100%;
            padding: 0;
            margin: 0 !important;
        }
    }
}
.yakit-menu-item {
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    border-radius: 4px;
}
.yakit-menu-item-style {
    color: #31343f;
    .icon-style {
        color: #85899e;
    }
}
.yakit-menu-item-style:hover {
    background-color: #f28b44;
    color: #ffffff;
    .icon-style {
        color: #ffffff;
    }
}
