.ai-mention {
    // position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    border-radius: 8px;
    overflow: hidden;
    // padding: 0 12px;
    box-shadow:
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: var(--Colors-Use-Basic-Background);
    z-index: 99;
}

.ai-mention[data-show="false"] {
    display: none;
}
.mention-custom {
    // height: 18px;
    padding: 2px 4px;

    color: var(--Colors-Use-Neutral-Text-3-Secondary);
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    background: var(--Colors-Use-Neutral-Border);
    width: max-content;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    margin: 0 4px;
    overflow: hidden;
    max-width: 150px;
    gap: 4px;
    &:hover {
        color: var(--Colors-Use-Main-Hover);
        svg {
            color: var(--Colors-Use-Main-Hover);
        }
    }
    .mention-icon-wrapper {
        width: 12px;
        height: 16px;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;

        svg {
            width: 12px;
            height: 12px;
        }
    }
    .content {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
}

.mention-custom-selected {
    background-color: var(--Colors-Use-Main-Bg-Hover);
    color: var(--Colors-Use-Main-Primary);
    svg {
        color: var(--Colors-Use-Main-Primary);
    }
}
