.yakit-input-number {
    height: 28px;
    border-radius: 4px;
    line-height: 28px;
    max-width: 88px;
    display: inline-flex;
    align-items: center;

    :global {

        .ant-input-number-input {
            height: 28px;
        }

        .ant-input-number-input {
            padding: 0 12px;
        }
    }
}

// ========================== max-large ==========================
.yakit-input-number-max-large {
    height: 40px;
    line-height: 40px;
    max-width: 96px;

    :global {

        .ant-input-number-input {
            height: 40px;
        }
    }
}

// ========================== large ==========================
.yakit-input-number-large {
    height: 32px;
    line-height: 32px;
    max-width: 88px;

    :global {

        .ant-input-number-input {
            height: 32px;
        }
    }
}

// ========================== small ==========================
.yakit-input-number-small {
    height: 24px;
    line-height: 24px;
    max-width: 80px;

    :global {

        .ant-input-number-input {
            height: 24px;
        }
    }
}

// ========================== horizontal ==========================
.yakit-input-number-horizontal {
    display: inline-flex;
    border: 1px solid #EAECF3;
    border-radius: 4px;
    align-items: center;

    &:hover {
        border-color: #1890ff;
    }

    &:focus {
        box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    }

    .icon-left {
        border-right: 1px solid #EAECF3;
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;

        &:hover {
            color: #1890ff;
        }
    }

    .icon-right {
        border-left: 1px solid #EAECF3;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;

        &:hover {
            color: #1890ff;
        }
    }


    .icon-midden {
        background: #FFFFFF;
        width: 24px;
        height: 28px;
        line-height: 28px;
        text-align: center;
    }


    .icon-large {
        width: 24px;
        height: 32px;
        line-height: 32px;
    }

    .icon-small {
        width: 20px;
        height: 24px;
        line-height: 24px;
    }

    .yakit-input-number-wrapper {
        width: 64px;
        user-select: none;

        :global {
            .ant-input-number-handler-wrap {
                width: 0;
            }
        }
    }
}

.yakit-input-number-horizontal-focus {
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}