.audit-code {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    .header {
        padding: 4px 8px;
        height: 32px;
        display: flex;
        align-items: center;
        .title {
            color: #85899e;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }
    }
    .textarea-box {
        padding: 0px 8px 8px 8px;
    }
    .no-audit {
        padding-top: 80px;
    }
    .no-data {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #85899e;
        margin-top: 8px;
    }
    .audit-tree {
        flex: 1;
    }
}

.audit-form-footer {
    overflow: hidden;
    width: 100%;
    padding: var(--modal-footer-padding);
    background-color: var(--modal-header-footer-background);
    border-top: 1px solid var(--modal-header-footer-border);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.audit-tree {
    height: 100%;
    padding: 0px 0px 0px 4px;
    :global {
        .ant-tree .ant-tree-treenode {
            padding-bottom: 0;
        }
        .ant-tree-switcher {
            display: none;
        }
        .ant-tree .ant-tree-node-content-wrapper {
            padding: 0;
            line-height: normal;
            min-height: auto;
            border-radius: 0;
        }
        .ant-tree .ant-tree-node-content-wrapper:hover {
            background-color: transparent;
        }
        .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
            background-color: transparent;
        }
        .ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
            flex: 1;
            overflow: hidden;
        }
        .ant-tree-indent-unit {
            width: 0px;
        }
        // 树的滚动条
        .ant-tree-list-scrollbar {
            width: 6px !important;
        }
        .ant-tree-list-scrollbar-thumb {
            background: #c1c1c1 !important;
        }
    }

    :global(.ant-tree-treenode-loading) {
        .audit-tree-node {
            .node-switcher {
                display: none;
            }
            .node-loading {
                display: flex;
            }
        }
    }
}

.tree-bottom {
    position: relative;
    height: 22px;
    text-align: center;
    color: var(--yakit-disable-text-color);
    font-size: 11px;
    line-height: 22px;
}

.audit-tree-node {
    padding: 3px 12px 3px 8px;
    display: flex;
    align-content: center;
    gap: 2px;
    cursor: pointer;

    .node-switcher {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 16px;
            height: 16px;
            color: #85899e;
            transition: transform 0.3s;
        }
        &.expanded {
            svg {
                transform: rotate(90deg);
            }
        }
    }
    .node-loading {
        display: none;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
        svg {
            width: 12px;
            height: 12px;
            color: #f28b44;
        }
    }

    .node-content {
        flex: 1;
        overflow: hidden;
        display: flex;
        gap: 8px;
        align-content: center;

        .content-body {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            gap: 8px;
            .name {
                color: #31343f;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                overflow: hidden;
            }
            .detail {
                color: #b4bbca;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                overflow: hidden;
            }
        }
        .count {
            color: #b4bbca;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    &:hover {
        border-radius: 4px;
        background-color: #f8f8f8;
    }

    &.node-selected {
        background-color: rgba(242, 139, 68, 0.06);
    }
    &.node-foucsed {
        border: 1px solid #f28b44;
        background-color: rgba(242, 139, 68, 0.06);
        border-radius: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .icon-box {
        display: flex;
        svg {
            height: 16px;
            width: 16px;
        }
    }
    .hint-icon {
        color: #b4bbca;
    }
    .info-icon {
        color: #4a94f8;
    }
    .warn-icon {
        color: #ffb660;
    }
    .error-icon {
        color: #f6544a;
    }
}

.audit-history-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        padding: 8px 16px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #eaecf3;
        border-bottom: 1px solid #eaecf3;
        background: #f8f8f8;
        .main {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            .title {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
            .sub-title {
                display: flex;
                flex-direction: row;
                gap: 4px;
                .text {
                    color: #b4bbca;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
                .number {
                    color: #f28b44;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
        .extra {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            .search-icon {
                color: #85899e;
                svg {
                    height: 12px;
                    width: 12px;
                    path {
                        stroke-width: 1.5;
                    }
                }
            }
        }
    }
    .table {
        padding: 12px 16px;
        flex: 1;
        overflow: hidden;
        .table-header {
            display: flex;
            flex-direction: row;
            gap: 16px;
            padding: 8px 12px;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            position: fixed;
            width: calc(100% - 32px);
            background: #ffffff;
            z-index: 1;
            border-bottom: 1px solid #eaecf3;
            .audit-name {
                flex: 1;
                display: flex;
                flex-direction: row;
                gap: 4px;
                align-items: center;
            }
            .audit-path {
                flex: 2;
            }
            .audit-time {
                width: 200px;
            }
            .audit-opt {
                width: 80px;
            }
        }
        .table-content {
            padding-top: 32px;
            overflow: auto;
            height: 100%;
            .table-item {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #eaecf3;
                gap: 16px;
                padding: 8px 12px;
                .audit-name {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    align-items: center;
                }
                .audit-path {
                    flex: 2;
                }
                .audit-time {
                    width: 200px;
                }
                .audit-opt {
                    width: 80px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                    .to-icon {
                        svg {
                            color: #85899e;
                        }
                        &:hover {
                            svg {
                                color: #f28b44;
                            }
                        }
                    }
                }
            }
        }
    }
}

.additional-params-divider {
    margin: 16px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    .text-style {
        color: #b4bbca;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .divider-style {
        flex: 1;
        overflow: hidden;
        height: 1px;
        border-top: 1px dashed #eaecf3;
    }
}
