.fold-table {
  :global {
    tbody {
      display: none;
    }
    .ant-table {
      overflow: hidden;
    }
    .ant-table.ant-table-bordered > .ant-table-title {
      height: 33px;
      min-height: 33px;
      padding: 0 12px;
      background-color: var(--Colors-Use-Basic-Background);
      border-color: var(--Colors-Use-Neutral-Border);
    }
    // table相关
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
    }
    .ant-table-thead > tr > th {
      color: var(--Colors-Use-Neutral-Text-1-Title);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      background: var(--Colors-Use-Neutral-Bg);
    }
    .ant-table.ant-table-bordered > .ant-table-container {
      border-color: var(--Colors-Use-Neutral-Border);
    }
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table {
      border-color: var(--Colors-Use-Neutral-Border);
    }
    .ant-table-tbody {
      background-color: var(--Colors-Use-Basic-Background);
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
      border-right: 1px solid var(--Colors-Use-Neutral-Border);
    }
    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background: var(--Colors-Use-Neutral-Bg-Hover);
    }
    .ant-table-filter-trigger:hover {
      color: transparent;
      background: transparent;
    }
    a.ant-typography-ellipsis-single-line,
    span.ant-typography-ellipsis-single-line {
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
  }
}

.risk-table {
  :global {
    .ant-table {
      overflow: hidden;
    }
    .ant-table.ant-table-bordered > .ant-table-title {
      height: 33px;
      min-height: 33px;
      padding: 0 12px;
      background-color: var(--Colors-Use-Basic-Background);
      border-color: var(--Colors-Use-Neutral-Border);
    }
    // table相关
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
    }
    .ant-table-thead > tr > th {
      color: var(--Colors-Use-Neutral-Text-1-Title);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      background: var(--Colors-Use-Neutral-Bg);
    }
    .ant-table.ant-table-bordered > .ant-table-container {
      border-color: var(--Colors-Use-Neutral-Border);
    }
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table {
      border-color: var(--Colors-Use-Neutral-Border);
    }
    .ant-table-tbody {
      background-color: var(--Colors-Use-Basic-Background);
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
      border-right: 1px solid var(--Colors-Use-Neutral-Border);
    }
    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background: var(--Colors-Use-Neutral-Bg-Hover);
    }
    .ant-table-filter-trigger:hover {
      color: transparent;
      background: transparent;
    }
    a.ant-typography-ellipsis-single-line,
    span.ant-typography-ellipsis-single-line {
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
  }
}
