.markdown-block{
    :global {
        background-color: var(--Colors-Use-Basic-Background);
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            border-color: var(--Colors-Use-Neutral-Border);
        }
        table {
            width: 100%;
            display: inline-table;
            color: var(--Colors-Use-Neutral-Text-1-Title);
            thead{
                tr{
                    background-color: var(--Colors-Use-Basic-Background);
                    border-color: var(--Colors-Use-Neutral-Border);
                }
            }
            tr{
                background-color: var(--Colors-Use-Neutral-Bg);
                border-color: var(--Colors-Use-Neutral-Border);
            }
            tr:nth-child(2n){
                background-color: var(--Colors-Use-Basic-Background);
                border-color: var(--Colors-Use-Neutral-Border);
            }
        }
    }
}