.safe-markdown {
    color: var(--Colors-Use-Neutral-Text-1-Title);
    background-color: transparent;
    font-size: 14px;
    :global {
        pre {
            position: relative;
            overflow: hidden;
            &:hover .copy-code-button {
                pointer-events: all;
                transform: translateX(0px);
                opacity: 0.5;
            }

            .copy-code-button {
                position: absolute;
                right: 4px;
                top: 4px;
                cursor: pointer;
                height: 16px;
                margin: 0px;
                transform: translateX(16px);
                pointer-events: none;
                opacity: 0;
                transition: all ease 0.3s;
                svg {
                    width: 16px;
                    height: 16px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
        code {
            background: var(--Colors-Use-Neutral-Bg);
            color: var(--Colors-Use-Neutral-Text-1-Title);
            border-radius: 4px;
        }
        pre > code {
            font-size: 14px;
        }
    }
}

.stream-markdown {
    height: auto;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    background-color: transparent;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    :global {
        p {
            word-break: break-all;
            white-space: break-spaces;
        }
        ol {
            margin-top: 1em;
            margin-bottom: 4px;
            padding-inline-start: 16px;
        }
        pre {
            padding: 0;
        }

        pre,
        code {
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        }

        pre code {
            width: 100%;
            display: block;
            overflow: hidden;
            padding: 16px;
            word-break: keep-all;
            white-space: break-spaces;
        }

        code {
            padding: 3px 5px;
            background: var(--Colors-Use-Neutral-Bg);
            color: var(--Colors-Use-Neutral-Text-1-Title);
            border-radius: 4px;
        }

        summary {
            cursor: pointer;
        }

        .hljs,
        pre {
            background: var(--Colors-Use-Basic-Background);
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
            border-radius: 4px;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        /*!
    Theme: Tokyo-night-Dark
    origin: https://github.com/enkia/tokyo-night-vscode-theme
    Description: Original highlight.js style
    Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
    License: see project LICENSE
    Touched: 2022
  */
        .hljs-comment,
        .hljs-meta {
            color: var(--Colors-Use-Blue-On-Primary);
        }

        .hljs-deletion,
        .hljs-doctag,
        .hljs-regexp,
        .hljs-selector-attr,
        .hljs-selector-class,
        .hljs-selector-id,
        .hljs-selector-pseudo,
        .hljs-tag,
        .hljs-template-tag,
        .hljs-variable.language_ {
            color: #f7768e;
        }

        .hljs-link,
        .hljs-literal,
        .hljs-number,
        .hljs-params,
        .hljs-template-variable,
        .hljs-type,
        .hljs-variable {
            color: #ff9e64;
        }

        .hljs-attribute,
        .hljs-built_in {
            color: #e0af68;
        }

        .hljs-keyword,
        .hljs-property,
        .hljs-subst,
        .hljs-title,
        .hljs-title.class_,
        .hljs-title.class_.inherited__,
        .hljs-title.function_ {
            color: #7dcfff;
        }

        .hljs-selector-tag {
            color: #73daca;
        }

        .hljs-addition,
        .hljs-bullet,
        .hljs-quote,
        .hljs-string,
        .hljs-symbol {
            color: #9ece6a;
        }

        .hljs-code,
        .hljs-formula,
        .hljs-section {
            color: #7aa2f7;
        }

        .hljs-attr,
        .hljs-char.escape_,
        .hljs-keyword,
        .hljs-name,
        .hljs-operator {
            color: #bb9af7;
        }

        .hljs-punctuation {
            color: #c0caf5;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
        pre {
            position: relative;

            &:hover .copy-code-button {
                pointer-events: all;
                transform: translateX(0px);
                opacity: 0.5;
            }

            .copy-code-button {
                position: absolute;
                z-index: 1;
                right: 4px;
                top: 25px;
                cursor: pointer;
                height: 16px;
                margin: 0px;
                transform: translateX(16px);
                pointer-events: none;
                opacity: 0;
                transition: all ease 0.3s;
                svg {
                    width: 16px;
                    height: 16px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        table {
            border-collapse: collapse;
            font-size: 14px;
        }
        th,
        td {
            border: 1px solid var(--Colors-Use-Neutral-Border);
            padding: 4px;
        }
    }
}
