.yak-help-doc {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px 12px;
        align-items: center;
        align-self: stretch;
        .title {
            color: #85899e;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }
        .extra {
            svg {
                height: 16px;
                width: 16px;
                color: #85899e;
            }
        }
    }
    .filter-box{
        padding: 0px 12px 8px 12px;
        .search-icon{
            svg{
                height: 16px;
                width: 16px;
                color: #85899E;
            }
        }
    }
    .content {
        flex: 1;
        overflow: hidden;
    }
}
