@use "../../../../styles/mixin.scss" as mixin;
.review-content {
    flex: 1;
    overflow: hidden;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;

    .review-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        .review-header-title {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 20px;

            .hand-colors-icon {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            .title-style {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 14px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                height: 20px;
                gap: 4px;
            }
            .sub-title-style {
                color: var(--Colors-Use-Neutral-Text-4-Help-text);
                font-size: 11px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                gap: 4px;
                .ai-countdown {
                    color: var(--Colors-Use-Main-Primary);
                }
            }
        }
        .review-header-extra {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 600;
            height: 20px;
            .ai-score-low {
                color: var(--Colors-Use-Status-Safe);
            }
            .ai-score-middle {
                color: var(--Colors-Use-Status-Medium);
            }
            .ai-score-high {
                color: var(--Colors-Use-Status-Serious);
            }
        }
    }
    .review-container {
        flex: 1;
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 8px;

        .review-data {
            min-height: 30px;
            flex: 1;
            overflow: auto;
        }

        .reivew-options {
            min-height: 30px;
        }
    }
    .review-input {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
        background: var(--Colors-Use-Basic-Background);

        .question-footer {
            padding: 6px 12px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            border-top: 1px solid var(--Colors-Use-Neutral-Border);
            background: var(--Colors-Use-Neutral-Bg);
            border-radius: 0 0 8px 8px;
            .extra-btns {
                display: flex;
                align-items: center;
                gap: 8px;
                .btn-style {
                    border-radius: 50%;
                }
            }
        }
    }
    .review-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .review-selectors-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 8px;
    .continue-btn {
        display: flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 4px;
        height: 24px;
        color: var(--Colors-Use-Main-On-Primary);

        cursor: pointer;
        border: none;
        @include mixin.mpb-color-text() {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.5px;
        }
        svg {
            width: 16px;
            height: 16px;
        }
    }
}
.review-content-hidden {
    height: 0;
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
}
.ai-require-btns-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}
.ai-require-input {
    border-radius: 8px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    background: var(--Colors-Use-Basic-Background);
    margin-top: 8px;
}
.review-task-tool-data {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    background: var(--Colors-Use-Basic-Background);
    .task-tool-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        .info-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
        .info-description {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .tool-params {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .params-title {
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            svg {
                width: 16px;
                height: 16px;
            }
            font-size: 12px;
            font-weight: 400;
        }
        .params-content {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid var(--Colors-Use-Neutral-Border);
            background: var(--Colors-Use-Neutral-Bg);
            word-break: break-all;
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.1px;
            white-space: pre-wrap;
        }
    }
    .task-summary {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .summary-header {
            height: 16px;
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            font-weight: 400;
            svg {
                width: 16px;
                height: 16px;
            }
        }
        .summary-content {
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
        .summary-detail {
            display: flex;
            align-items: center;
            .detail-style {
                color: var(--Colors-Use-Main-Primary);
                font-size: 11px;
                font-weight: 500;
                line-height: 14px;
                letter-spacing: 0.5px;
                cursor: pointer;
                padding: 3px 0;
            }
        }
    }
}
.forge-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    background: var(--Colors-Use-Basic-Background);

    .forge-header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .name {
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
        .description {
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            font-weight: 400;
        }
    }
    .forge-form-body {
        width: 100%;
        flex: 1;
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        :global {
            .ant-form {
                width: 100%;
            }
        }
        .forge-form-heard {
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
            line-height: 16px;
            svg {
                height: 16px;
                width: 16px;
            }
        }

        .forge-form-more {
            border-radius: 4px;
            padding: 8px;
            border: 1px solid var(--Colors-Use-Neutral-Border);
            background: var(--Colors-Use-Neutral-Bg);
        }
    }
}

.review-selectors-showButton-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
.task-review-summary-popover {
    max-width: 700px;
    padding-bottom: 4px;
    .task-long-summary {
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
        font-size: 12px;
        font-weight: 400;

        .summary-header {
            height: 16px;
            display: flex;
            align-items: center;
            gap: 4px;
            svg {
                width: 16px;
                height: 16px;
            }
        }
        .summary-content {
            width: 400px;
            max-height: 64px;
            overflow: hidden auto;
            line-height: 16px;
        }
    }
}
