.operation {
    display: flex;
    gap: 8px;
    align-items: center;
}
.check-circle-icon {
    color: var(--yakit-success-5);
}
.input-textarea {
    :global {
        .ant-input-suffix {
            &:hover {
                color: var(--yakit-primary-5);
            }
        }
    }
}

.edit-table{
    :global {
        .ant-table-placeholder{
            display: none;
        }
    }
}

.edit-table-box{
    :global {
        // table相关
        .ant-table-thead > tr > th,
        .ant-table-tbody > tr > td {
            padding: 8px 16px;
        }
        .ant-table-thead > tr > th {
            color: #31343f;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            background: #f8f8f8;
        }
        .ant-table-thead > tr > th,
        .ant-table-tbody > tr > td {
            border-bottom: 1px solid #eaecf3;
        }
        .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
        .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
            border-right: 1px solid #eaecf3;
        }
        .ant-table-tbody > tr.ant-table-row {
            vertical-align: top;
        }
        .ant-table-tbody > tr.ant-table-row:hover > td,
        .ant-table-tbody > tr > td.ant-table-cell-row-hover {
            background: var(--yakit-card-background-color);
        }
        .ant-table-filter-trigger:hover {
            color: transparent;
            background: transparent;
        }
        // 分页相关
        .ant-pagination-item-active {
            border-color: #f28b44;
        }
        .ant-pagination-item-active a {
            color: #f28b44;
        }
        .ant-pagination-item:hover a {
            color: #f28b44;
        }
        .ant-pagination-prev:hover .ant-pagination-item-link,
        .ant-pagination-next:hover .ant-pagination-item-link {
            color: #f28b44;
            border-color: #f28b44;
        }
        .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
        .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
            color: #f28b44;
        }
        .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
            border-color: #f28b44;
        }
        .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border-color: #f28b44;
            box-shadow: 0 0 0 2px rgb(242 139 68 / 20%);
        }
        .ant-pagination-options-quick-jumper input:hover {
            border-color: #f28b44;
        }
        .ant-pagination-options-quick-jumper input:focus,
        .ant-pagination-options-quick-jumper input-focused {
            border-color: #f28b44;
            box-shadow: 0 0 0 2px rgb(242 139 68 / 20%);
        }
        .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
            background-color: rgba(242, 139, 68, 0.1);
        }
    }
}
