.yakit-dropdown-menu {
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px var(--Colors-Use-Basic-Shadow);
  border: 1px solid var(--Colors-Use-Neutral-Border);
}
.yakit-dropdown-menu-div {
  display: block;
}
