.todoList-wrapper {
  height: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 4px 0 4px;
  overflow: visible;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
  .to-do-list {
    width: 100%;
    max-width: 784px;
    margin: 8px 0 0;
  }
}
