.ai-file-system {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-tab{
      width: 100%;
      height: 44px;
      padding: 12px 12px 8px 12px;
    }
    &-content{
      flex: 1;
      height: 0;
      border-top: 1px solid var(--Colors-Use-Neutral-Border);
    }
}
