.ai-re-act-chat-contents {
    width: 100%;
    overflow: hidden auto;
    display: flex;
    justify-content: center;
    padding-left: 4px;
    flex: 1;
    .re-act-contents-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 100%;
    }
    .item-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding-right: 12px;
        max-width: 784px;
        margin: 0 auto;
        .item-inner {
            padding-top: 4px;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    // 后代类名ai-stream-chat-content-wrapper且下一个也是 的不要 padding-top
    .item-wrapper:has(:global(.ai-stream-chat-content-wrapper)) {
        & + .item-wrapper:has(:global(.ai-stream-chat-content-wrapper)) {
            .item-inner:has(:global(.ai-stream-chat-content-wrapper)) {
                padding-top: 0;
            }
        }
    }
    .spin {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;
        padding: 4px;
        box-sizing: border-box;
        div {
            color: var(--Colors-Use-Neutral-Text-4-Help-text);
            font-size: 12px;
        }
    }
}
.ai-reference-node {
    color: var(--Colors-Use-Main-Primary);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 4px;
    letter-spacing: 0.5px;
    cursor: pointer;
    z-index: 1;
}
// .ai-text-markdown-reference-node {
// }
// .ai-yaklang-reference-node {
//     padding-top: 8px;
// }
// .ai-text-plain-reference-node {
// }
// .ai-log-tool-reference-node {
// }
// .ai-stream-chat-reference-node {
//     padding: 0 12px 8px 12px;
// }
