.ai-re-act-chat-contents {
    width: 100%;
    overflow: hidden auto;
    display: flex;
    justify-content: center;
    padding-left: 4px;
    flex: 1;
    .re-act-contents-list {
        max-width: 784px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 100%;
    }
    .item-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding-right: 12px;
        .item-inner {
            padding: 2px 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}
