html[data-theme=light] {
  --yakit-colors-Error-60: #f15757;
  --yakit-colors-Error-80: #b93939;
  --yakit-colors-Neutral-10: #f8f9fa;
  --yakit-colors-Neutral-20: #eef0f3;
  --yakit-colors-Neutral-90: #5a5d64;
  --yakit-colors-Neutral-100: #353639;
  --yakit-colors-Neutral-0: #ffffff;
  --yakit-colors-Magenta-60: #dc5cdf;
  --yakit-colors-Magenta-80: #a83daa;
  --yakit-colors-Blue-60: #4493ff;
  --yakit-colors-Blue-80: #296bc5;
  --yakit-colors-Cyan-60: #3cd8ed;
  --yakit-colors-Cyan-80: #22a5b6;
  --yakit-colors-Green-60: #54ca90;
  --yakit-colors-Green-80: #379969;
  --yakit-colors-Yellow-60: #ffce1e;
  --yakit-colors-Yellow-80: #c59d0a;
  --Colors-Use-Neutral-Bg-Hover: var(--yakit-colors-Neutral-20);
  --Colors-Use-Neutral-Text-2-Primary: var(--yakit-colors-Neutral-90);
  --Colors-Use-Basic-Black: #171717;
}

html[data-theme=dark] {
  --yakit-colors-Error-60: #d94040;
  --yakit-colors-Error-80: #f37373;
  --yakit-colors-Neutral-10: #2a2b2d;
  --yakit-colors-Neutral-20: #37393c;
  --yakit-colors-Neutral-80: #c8d0dd;
  --yakit-colors-Neutral-100: #f0f2f6;
  --yakit-colors-Neutral-0: #171717;
  --yakit-colors-Magenta-60: #c545c7;
  --yakit-colors-Magenta-80: #e277e4;
  --yakit-colors-Blue-60: #2d7ce8;
  --yakit-colors-Blue-80: #63a5ff;
  --yakit-colors-Cyan-60: #25c1d6;
  --yakit-colors-Cyan-80: #5cdff0;
  --yakit-colors-Green-60: #3db379;
  --yakit-colors-Green-80: #71d3a3;
  --yakit-colors-Yellow-60: #e8bf2e;
  --yakit-colors-Yellow-80: #ffdd64;
  --Colors-Use-Neutral-Bg-Hover: var(--yakit-colors-Neutral-20);
  --Colors-Use-Neutral-Text-2-Primary: var(--yakit-colors-Neutral-80);
  --Colors-Use-Basic-Black: #171717;
}