/* ---------- RunnerFileTree ---------- */
.runner-file-tree {
    width: 100%;
    height: 100%;

    .container {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .open-file {
        min-height: 32px;
        width: 100%;
        padding: 4px 0;
        border-bottom: 1px solid #eaecf3;
    }

    .file-tree {
        flex: 1;
        overflow: hidden;
        &-container {
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        &-header {
            padding: 4px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title-style {
                color: #85899e;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
            }
        }
        &-tree {
            flex: 1;
            overflow: hidden;
            .tree-body {
                height: 100%;
                overflow: hidden auto;
            }
        }
    }
}

/* ---------- OpenedFile ---------- */
.opened-file-header {
    color: #31343f;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    user-select: none;
}
.opened-file-body {
    @media screen and (min-height: 950px) {
        max-height: 220px;
    }
    max-height: 130px;
    overflow: hidden auto;
    .file-item {
        border-radius: 4px;
        padding: 3px 12px 3px 24px;
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        .del-btn {
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                display: none;
                width: 16px;
                height: 16px;
                color: #85899e;
            }
        }
        img {
            width: 16px;
            height: 16px;
        }
        .file-name {
            flex: 1;
            overflow: hidden;
            color: #31343f;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }

        
        &.active {
            background-color: rgba(242, 139, 68, 0.06);
        }
    }
    .file-item-no-active{
        &:hover {
            background-color: #f8f8f8;
            .del-btn {
                svg {
                    display: block;
                }
                &:hover {
                    svg {
                        color: #f28b44;
                    }
                }
            }
        }
    }
    .file-item-active{
        background-color: rgba(242, 139, 68, 0.06);
        border: 1px solid #f28b44;
        &:hover {
            .del-btn {
                svg {
                    display: block;
                }
                &:hover {
                    svg {
                        color: #f28b44;
                    }
                }
            }
        }
    }
}
