.ai-agent-chat {
    width: 100%;
    height: 100%;
    background: var(--Colors-Use-Neutral-Bg);
    position: relative;
    .footer-forge-form {
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 24px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}

.chat-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
.content-review {
    position: relative;
}
.review-box {
    position: absolute;
    bottom: 0;
    max-height: calc(100% - 120px);
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    .review-border-shadow {
        width: 100%;
        min-height: 50px;
        max-width: 507px;
        background: var(--Colors-Use-Basic-Background);
        border-radius: 8px;
        outline: 4px solid var(--Colors-Use-Main-Focus);
        border: 1px solid var(--Colors-Use-Main-Border);
        /* 投影 12px */
        box-shadow: 0px 6px 12px 0px var(--Colors-Use-Basic-Shadow);
        margin: 0 12px;
        padding: 8px;

        .review-wrapper {
            height: 100%;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            .review-body {
                background: var(--Colors-Use-Neutral-Bg-Hover);
            }
        }
        .review-footer-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .review-mini {
        height: 50px;
    }
}

.forge-modal-content {
    margin-top: 12px;
}
