.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    .check-icon {
        color: var(--Colors-Use-Main-Primary);
        position: absolute;
        right: -12px;
        top: 4px;
        svg {
            width: 16px;
            height: 16px;
        }
    }
}
