.http-fuzzer-click-editor {
    width: 104px;
    position: relative;
    .http-fuzzer-click-editor-simple {
        box-sizing: content-box;
        background-color: #ffffff;
        border-radius: 6px;
        border: 0.5px solid #eaecf3;
        box-shadow: 0px 2px 4px 0px rgba(133, 137, 158, 0.2);
        padding: 2px;
        .show-box {
            box-sizing: content-box;
            padding: 4px 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .tag {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            .content {
                color: #31343f;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
            }
            .down,
            .up {
                svg {
                    width: 12px;
                    height: 12px;
                }
            }
            &:hover {
                background: #f0f1f3;
                border-radius: 4px;
            }
        }
    }
}
.http-fuzzer-click-editor-menu {
    position: absolute;
    margin-top: 2px;
    width: 360px;
    // max-height: 350px;
    border: 1px solid #eaecf3;
    border-radius: 4px;
    padding: 0 0 6px 0;
    box-shadow: 0px 2px 4px rgba(133, 137, 158, 0.2);
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    .menu-header {
        // height: 40px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px;
        &-left {
            padding: 0px 12px;
            font-weight: 500;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &-count {
                background-color: #f0f1f3;
                color: #85899e;
                padding: 2px 6px;
                border-radius: 8px;
                font-size: 10px;
                font-weight: normal;
                margin-left: 4px;
            }
        }
        &-opt {
            // padding-right: 4px;
            display: flex;
            flex-direction: row;
            gap: 4px;
            .line {
                width: 1px;
                height: 12px;
                background-color: #eaecf3;
                position: relative;
                top: 6px;
            }
            .add-icon {
                padding-top: 2px;
            }
        }
    }
    .menu-list {
        overflow: auto;
        margin-top: 8px;
        padding: 0px 4px;
        flex: 1;
        &-item {
            display: flex;
            padding: 2px 8px 2px 12px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            height: 24px;
            box-sizing: content-box;
            cursor: pointer;
            &-info {
                display: flex;
                align-items: center;
                .input {
                    margin-left: 12px;
                }
                .drag-sort-icon {
                    color: var(--yakit-disable-text-color);
                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }
                .title {
                    margin-left: 12px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #31343f;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sub-title {
                    color: #b4bbca;
                    font-size: 12px;
                    line-height: 16px;
                    max-width: 128px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 1;
                }
                .sub-title-left {
                    margin-left: 2px;
                }
            }
            &-opt {
                display: flex;
                align-items: center;
                gap: 8px;
                .form-outlined {
                    color: var(--yakit-body-text-color);
                    display: none;
                    padding: 4px;
                    &:hover {
                        background: #eaecf3;
                        border-radius: 4px;
                    }
                }
                .trash-icon {
                    color: var(--yakit-danger-5);
                    display: none;
                    padding: 4px;
                    &:hover {
                        background: #eaecf3;
                        border-radius: 4px;
                    }
                }
            }
            &:hover {
                border-radius: 4px;
                background: #f0f1f3;
                .form-outlined {
                    display: block;
                }
                .trash-icon {
                    display: block;
                }
            }
        }
        &-item-drag {
            background: var(--yakit-primary-1) !important;
            border: 1px solid var(--yakit-primary-3) !important;
            border-radius: 4px;
            color: var(--yakit-header-color) !important;

            svg {
                color: var(--yakit-primary-5) !important;
            }
        }
    }
}
.http-fuzzer-range-editor-body {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(133, 137, 158, 0.2);
    border: 0.5px solid #eaecf3;
    border-radius: 6px;
    .range-click-editor-menu {
        box-shadow: none;
        border: 0;
        border-radius: 6px 0 0 6px;
    }
}
.http-fuzzer-range-editor {
    position: relative;
    width: 240px;
    .http-fuzzer-range-editor-simple {
        flex-shrink: 0;
        background-color: #ffffff;
        border-radius: 0 6px 6px 0;
        // border: 0.5px solid #eaecf3;
        // box-shadow: 0px 2px 4px 0px rgba(133, 137, 158, 0.2);
        padding: 2px;
        .show-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .line {
                width: 1px;
                background-color: #eaecf3;
                height: 12px;
            }
            .decode-box {
                cursor: pointer;
            }
            .encode-box,
            .decode-box,
            .aiplugin-box {
                padding: 4px 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 6px;
                .tag {
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                .content {
                    color: #31343f;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                }
                .down,
                .up {
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
                &:hover {
                    background: #f0f1f3;
                    border-radius: 4px;
                }
            }
        }
    }
}
.http-fuzzer-range-editor-menu {
    position: absolute;
    margin-top: 2px;
    // width: 360px;
    border: 1px solid #eaecf3;
    border-radius: 4px;
    padding: 8px 4px 6px 4px;
    box-shadow: 0px 2px 4px rgba(133, 137, 158, 0.2);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    // max-height: 360px;
    overflow: auto;
    .menu-content {
        flex: 1;
        overflow: auto;
        .encode-box {
            .encode-item {
                cursor: pointer;
                display: flex;
                padding: 6px 8px 6px 14px;
                align-items: center;
                height: 16px;
                font-size: 12px;
                box-sizing: content-box;
                .title {
                    margin-left: 12px;
                    color: #31343f;
                    font-weight: 500;
                    line-height: 16px;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sub-title {
                    margin-left: 2px;
                    color: #b4bbca;
                    line-height: 16px;
                }
                &:hover {
                    border-radius: 4px;
                    background: #f0f1f3;
                }
            }
        }
        .ai-plugin-box{
            min-height: 20px;
            .ai-plugin-item{
                cursor: pointer;
                display: flex;
                padding: 6px 8px 6px 8px;
                align-items: center;
                height: 16px;
                font-size: 12px;
                box-sizing: content-box;
                .title {
                    color: #31343f;
                    font-weight: 500;
                    line-height: 16px;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            &:hover {
                border-radius: 4px;
                background: #f0f1f3;
            }
            }
            
        }
    }
}
.http-fuzzer-read-editor {
    position: relative;
    width: 68px;
    .http-fuzzer-read-editor-simple {
        flex-shrink: 0;
        background-color: #ffffff;
        border-radius: 6px;
        border: 0.5px solid #eaecf3;
        box-shadow: 0px 2px 4px 0px rgba(133, 137, 158, 0.2);
        padding: 2px;
        .show-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .decode-box {
                padding: 4px 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 6px;
                .tag {
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                .content {
                    color: #31343f;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                }
                .down,
                .up {
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
                &:hover {
                    background: #f0f1f3;
                    border-radius: 4px;
                }
            }
        }
    }
}
.http-fuzzer-range-read-only-editor-menu {
    position: absolute;
    margin-top: 2px;
    // width: 360px;
    // max-height: 250px;
    border: 1px solid #eaecf3;
    border-radius: 4px;
    padding: 8px 4px 6px 4px;
    box-shadow: 0px 2px 4px rgba(133, 137, 158, 0.2);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow: hidden;
}
.decode-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .title {
        padding: 0px 12px 6px;
        font-size: 12px;
        font-weight: 500;
        color: #31343f;
    }
    .decode-copy-replace {
        padding-top: 2px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .header {
            display: flex;
            flex-direction: row;
            .header-info {
                flex: 1;
                font-weight: 500;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                .title {
                    color: #b4bbca;
                    margin-right: 4px;
                }
                .sub-title {
                    color: #31343f;
                }
            }
            .header-opt {
                display: flex;
                align-items: center;
                gap: 6px;
                .yakit-copy {
                    cursor: pointer;
                    .document-duplicate-svg-icon {
                        color: var(--yakit-body-text-color);
                        svg {
                            height: 16px;
                            width: 16px;
                        }
                        &:hover {
                            color: var(--yakit-primary-5);
                        }
                    }
                }
            }
        }
        .header-solid {
            border-radius: 4px 4px 0 0;
            border: 0.5px solid var(--yakit-border-color);
            background: #ffffff;
            padding: 6px 8px 6px 12px;
        }
        .content {
            flex: 1;
            overflow: auto;
            margin-top: 6px;
            font-size: 12px;
            color: var(--yakit-header-color);
            padding: 8px 12px 20px;
            border-radius: 4px;
            border: 1px solid var(--yakit-border-color);
            background: var(--yakit-background-color);
            word-wrap: break-word;
        }
        .content-solid {
            margin-top: 0px;
            border-radius: 0px 0px 4px 4px;
            border-right: 1px solid var(--yakit-border-color);
            border-bottom: 1px solid var(--yakit-border-color);
            border-left: 1px solid var(--yakit-border-color);
            background: var(--yakit-background-color);
        }
    }
    .only-one {
        padding: 0 12px;
        flex: 1;
        overflow: auto;
    }
    .timeline-box {
        flex: 1;
        padding: 6px 12px;
        overflow: auto;
        .timeline-item {
            margin: 10px 0px 0px 10px;
            padding-bottom: 10px;
        }
        .solid-terminal-icon {
            svg {
                height: 24px;
                width: 24px;
                background-color: rgba(49, 52, 63, 1);
                border-radius: 50%;
                padding: 3px;
            }
        }
    }
    .none-decode {
        padding: 6px 12px;
        color: #b4bbca;
        /* 文字/text/12 */
        font-size: 12px;
    }
}
.box-hidden{
    opacity: 0;
}