@use "./HTTPFuzzerPageShare.module.scss" as HTTPFuzzerPageShare;
.http-fuzzer-body {
    display: flex;
    height: 100%;
    position: relative;
    .http-query-advanced-config-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
.http-fuzzer-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 12px;
    background-color: var(--Colors-Use-Basic-Background);
    :global {
        .ant-result-warning .ant-result-icon > .anticon {
            color: var(--Colors-Use-Warning-Primary);
        }
        .ant-result-error .ant-result-icon > .anticon {
            color: var(--Colors-Use-Error-Primary);
        }
        .resize-box .resize-split-line:hover {
            border: 1px solid var(--Colors-Use-Main-Primary);
        }
    }
    .fuzzer-heard {
        display: flex;
        justify-content: space-between;
        &-left {
            display: flex;
            align-items: center;
            // height: 36px;
            padding-bottom: 12px;
            gap: 8px 16px;
            flex-wrap: wrap;
            .fuzzer-heard-force {
                display: flex;
                align-items: center;
                .fuzzer-heard-https {
                    margin-right: 6px;
                }
            }
            .spinning-text {
                color: var(--Colors-Use-Main-Primary);
                gap: 8px;
            }
            .proxy-text {
                max-width: 500px;
                display: inline-block;
                line-height: 16px;
            }
            .actualHost-text {
                max-width: 200px;
                display: inline-block;
                line-height: 16px;
            }
            .blasting-example {
                display: flex;
                align-items: center;
                gap: 2px;
                color: var(--Colors-Use-Neutral-Text-3-Secondary);
                text-decoration: underline;
                cursor: pointer;
                svg {
                    width: 12px;
                }
            }
        }
        &-right {
            display: flex;
        }
    }
    .fuzzer-firstNode-extra {
        display: flex;
        align-items: center;
        gap: 8px;
        .fuzzer-flipping-pages {
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }
    }
}
.second-node-title {
    display: inline-flex;
    align-items: center;
}
.fuzzer-secondNode-extra {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 8px;
}

.second-node-search-content {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    .second-node-search-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        :global {
            .ant-input-group {
                padding: 0 !important;
            }
            .ant-input-group.ant-input-group-compact > *:nth-child(3) {
                .ant-input-number {
                    border-radius: 0 4px 4px 0;
                    &:hover,
                    &:focus,
                    &:active {
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.display-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 0;
}

.chevron-icon {
    cursor: pointer;
    color: var(--Colors-Use-Neutral-Text-1-Title);

    svg {
        width: 16px;
        height: 16px;

        &:hover {
            color: var(--Colors-Use-Main-Hover);
        }

        &:active {
            color: var(--Colors-Use-Main-Pressed);
        }
    }
}

.chevron-icon-disable {
    cursor: not-allowed;

    svg {
        width: 16px;
        height: 16px;
        color: var(--Colors-Use-Neutral-Disable);
        cursor: not-allowed;

        &:hover {
            color: var(--Colors-Use-Neutral-Disable);
        }

        &:active {
            color: var(--Colors-Use-Neutral-Disable);
        }
    }
}

.extra-chrome-btn {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--Colors-Use-Neutral-Bg);
    }
    svg {
        width: 16px;
        height: 16px;
    }
}

.editor-wrap-icon {
    svg {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        &:hover {
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
        &:active {
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
    }
}
.trash-icon-btn {
    padding: 0;
    width: 20px;
    display: flex;
    justify-content: center;
    --button-border-color: var(--Colors-Use-Neutral-Border);
    --button-hover-border-color: var(--Colors-Use-Neutral-Border);
    --button-press-border-color: var(--Colors-Use-Neutral-Border);
    svg {
        width: 14px;
        height: 14px;
    }
}

.editor-cog-popover {
    :global {
        .ant-popover-inner-content {
            padding: 8px;
        }
    }
}

.editor-overlay-widget {
    background-color: var(--Colors-Use-Neutral-Bg);
    color: var(--Colors-Use-Neutral-Text-1-Title);
    // padding: 4px 8px;
    font-size: 10px;
    margin-right: -14px;
    max-width: 150px;
    opacity: 0.6;
    word-break: break-all;

    span + span::before {
        content: ";";
        margin-right: 4px;
    }
}

.extract-results {
    padding: 24px;
    max-height: 60vh;
    overflow-y: auto;
}

.payload-extract-content {
    @extend .display-column-center;
    background-color: var(--Colors-Use-Neutral-Bg-Hover);
    flex: 1;
    height: 100%;
    justify-content: flex-start;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    &-heard {
        @extend .display-flex-center;
        justify-content: space-between;
        background: var(--Colors-Use-Neutral-Disable);
        padding-right: 8px;
        border-top: 1px solid var(--Colors-Use-Neutral-Border);
        border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
        &-tab {
            @extend .display-flex-center;
            align-items: center;
            &-item {
                @extend .display-flex-center;
                padding: 4px 12px;
                gap: 4px;
                border-right: 1px solid var(--Colors-Use-Neutral-Border);
                cursor: pointer;
                &:hover {
                    background-color: var(--Colors-Use-Neutral-Bg-Hover);
                }
                .tab-icon {
                    width: 16px;
                    height: 16px;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            &-item-active {
                background-color: var(--Colors-Use-Main-Primary);
                color: var(--Colors-Use-Main-On-Primary);
                &:hover {
                    background-color: var(--Colors-Use-Main-Hover);
                }
                .tab-icon {
                    color: var(--Colors-Use-Main-On-Primary);
                }
            }
        }
    }
    &-body {
        padding: 12px 0px 12px 12px;
        overflow-y: auto;
        &-item-label {
            @extend .display-flex-center;
            align-items: center;
            line-height: 16px;
        }
        &-item-value {
            @extend .display-flex-center;
            align-items: flex-start;
            line-height: 16px;
        }
    }
}
.resize-card-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--Colors-Use-Neutral-Bg);
    }
    svg {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        width: 14px;
        height: 14px;
        &:hover {
            color: var(--Colors-Use-Main-Hover);
        }
    }
}

.resize-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    border-radius: 4px 0 0 4px;

    .resize-card-heard {
        display: flex;
        justify-content: space-between;
        height: 32px;
        align-items: center;
        padding: 6px 12px;
        line-height: 16px;
        border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
        .resize-card-heard-title {
            white-space: nowrap;
            font-weight: 500;
            font-size: 12px;
            color: var(--Colors-Use-Neutral-Text-1-Title);
        }
        .resize-card-heard-extra {
            display: flex;
            align-items: center;
            flex: 1;
            overflow: hidden;
            justify-content: flex-end;
        }
        .resize-card-heard-btn {
            margin-right: 8px;
            height: 20px;
        }
    }
}

.resize-card-second {
    border-radius: 0 4px 4px 0;
}

.blasting-animation-aemonstration {
    padding: 16px;
    padding-top: 0;
    .animation-cont-wrap {
        margin-top: 16px;
        width: 100%;
        height: 300px;
        border-radius: 10px;
        border: 1px solid var(--Colors-Use-Neutral-Border);
        overflow: hidden;
        background-color: var(--Colors-Use-Basic-White);
        video {
            width: 100%;
            height: 100%;
        }
    }
}

.http-history-table-color-popover {
    width: 140px;
}


.http-traffic-analysis-overlay{
    &:global(.ant-drawer-bottom.ant-drawer-open.no-mask) {
        transform: unset;
    }
    :global {
        .ant-drawer-body {
            padding: 0;
            overflow: hidden;
        }
        .ant-drawer-header-title{
            justify-content: end;
        }
    }
}