@use "./HTTPFuzzerPageShare.module.scss" as HTTPFuzzerPageShare;
.http-fuzzer-body {
    display: flex;
    height: 100%;
    .http-query-advanced-config-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
.http-fuzzer-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 12px;
    :global {
        .ant-result-warning .ant-result-icon > .anticon {
            color: var(--yakit-warning-5);
        }
        .ant-result-error .ant-result-icon > .anticon {
            color: var(--yakit-danger-5);
        }
        .resize-box .resize-split-line:hover {
            border: 1px solid var(--yakit-primary-5);
        }
    }
    .fuzzer-heard {
        display: flex;
        align-items: center;
        // height: 36px;
        padding-bottom: 12px;
        gap: 8px 16px;
        flex-wrap: wrap;
        .fuzzer-heard-force {
            display: flex;
            align-items: center;
            .fuzzer-heard-https {
                margin-right: 6px;
            }
        }
        .spinning-text {
            color: var(--yakit-primary-5);
            gap: 8px;
        }
        .proxy-text {
            max-width: 400px;
            display: inline-block;
            line-height: 16px;
        }
        .actualHost-text {
            max-width: 200px;
            display: inline-block;
            line-height: 16px;
        }
    }
    .fuzzer-firstNode-extra {
        display: flex;
        align-items: center;
        gap: 8px;
        .fuzzer-flipping-pages {
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }
    }
}
.second-node-title {
    display: inline-flex;
    align-items: center;
}
.fuzzer-secondNode-extra {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 8px;
}

.second-node-search-content {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    .second-node-search-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        color: var(--yakit-header-color);
        font-size: 12px;
        :global {
            .ant-input-group {
                padding: 0 !important;
            }
            .ant-input-group.ant-input-group-compact > *:nth-child(3) {
                .ant-input-number {
                    border-radius: 0 4px 4px 0;
                    &:hover,
                    &:focus,
                    &:active {
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.display-flex {
    display: flex;
    align-items: center;
}

.chevron-icon {
    cursor: pointer;
    color: var(--yakit-body-text-color);

    svg {
        width: 16px;
        height: 16px;

        &:hover {
            color: var(--yakit-primary-4);
        }

        &:active {
            color: var(--yakit-primary-6);
        }
    }
}

.chevron-icon-disable {
    cursor: not-allowed;

    svg {
        width: 16px;
        height: 16px;
        color: var(--yakit-disable-text-color);
        cursor: not-allowed;

        &:hover {
            color: var(--yakit-disable-text-color);
        }

        &:active {
            color: var(--yakit-disable-text-color);
        }
    }
}

.extra-chrome-btn {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--yakit-background-color);
    }
    svg {
        width: 16px;
        height: 16px;
    }
}

.http-fuzzer-hotPatch {
    padding: 24px;
    max-height: 80vh;
    overflow-y: auto;
    :global {
        .ant-form {
            color: var(--yakit-header-color);
        }
        .ant-form-item-label > label {
            color: var(--yakit-header-color);
        }
        .ant-form-item-explain,
        .ant-form-item-extra {
            color: var(--yakit-helper-text-color);
            font-size: 12px;
        }
    }
}

.editor-wrap-icon {
    svg {
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
        }
    }
}
.trash-icon-btn {
    padding: 0;
    width: 20px;
    display: flex;
    justify-content: center;
    --button-border-color: var(--yakit-border-color);
    --button-hover-border-color: var(--yakit-border-color);
    --button-press-border-color: var(--yakit-border-color);
    svg {
        width: 14px;
        height: 14px;
    }
}

.editor-cog-popover {
    :global {
        .ant-popover-inner-content {
            padding: 8px;
        }
    }
}

.editor-overlay-widget {
    background-color: #f0f2f5;
    color: var(--yakit-header-color);
    // padding: 4px 8px;
    font-size: 10px;
    margin-right: -14px;
    max-width: 150px;
    opacity: 0.6;
    word-break: break-all;

    span + span::before {
        content: ";";
        margin-right: 4px;
    }
}

.extract-results {
    padding: 24px;
    max-height: 60vh;
    overflow-y: auto;
}

.payload-extract-content {
    @extend .display-column-center;
    background-color: var(--yakit-border-color);
    flex: 1;
    height: 100%;
    justify-content: flex-start;
    color: var(--yakit-header-color);
    &-heard {
        @extend .display-flex-center;
        justify-content: space-between;
        background: var(--yakit-disable-text-color);
        padding-right: 8px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        &-tab {
            @extend .display-flex-center;
            align-items: center;
            &-item {
                @extend .display-flex-center;
                padding: 4px 12px;
                gap: 4px;
                border-right: 1px solid #fff;
                cursor: pointer;
                &:hover {
                    background-color: rgba(240, 241, 243, 0.5);
                }
                .tab-icon {
                    width: 16px;
                    height: 16px;
                    color: var(--yakit-body-text-color);
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            &-item-active {
                background-color: var(--yakit-primary-5);
                color: #fff;
                &:hover {
                    background-color: var(--yakit-primary-4);
                }
                .tab-icon {
                    color: #fff;
                }
            }
        }
    }
    &-body {
        padding: 12px 0px 12px 12px;
        overflow-y: auto;
    }
}
