.icon-16 {
    width: 18px;
    height: 18px;
    svg {
        width: 18px;
        height: 18px;
    }
}

.http-fuzzer-hotPatch {
    padding: 24px;
    max-height: 80vh;
    overflow-y: auto;
    :global {
        .ant-form {
            color: var(--yakit-header-color);
        }
        .ant-form-item-label > label {
            color: var(--yakit-header-color);
        }
        .ant-form-item-explain,
        .ant-form-item-extra {
            color: var(--yakit-helper-text-color);
            font-size: 12px;
        }
    }
}