.yakit-side-tab {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #eaecf3;
    border-left: 1px solid #eaecf3;
    background: #f0f1f3;
    height: 100%;
}
.yakit-side-tab-item {
    padding: 12px 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    position: relative;
    user-select: none;
    .item-text {
        color: #31343f;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        transform: rotate(180deg);
    }
    svg {
        width: 16px;
        height: 16px;
        color: #85899e;
    }
}
.yakit-side-tab-item:hover {
    background-color: rgba(204, 210, 222, 0.5);
}
.yakit-side-tab-item-active {
    background-color: var(--yakit-primary-5);
    border-bottom-color: var(--yakit-primary-5);
    .item-text {
        color: #ffffff;
    }
    svg {
        color: #ffffff;
    }
    &::before {
        position: absolute;
        width: 1px;
        height: calc(100% + 1px);
        content: "";
        top: 0;
        left: -1px;
        background-color: var(--yakit-primary-5);
    }
    &::after {
        position: absolute;
        width: 1px;
        height: calc(100% + 1px);
        content: "";
        top: 0;
        right: -1px;
        background-color: var(--yakit-primary-5);
    }
}
.yakit-side-tab-item-active:hover {
    background-color: var(--yakit-primary-4);
    border-bottom-color: var(--yakit-primary-4);
    &::before {
        background-color: var(--yakit-primary-4);
    }
    &::after {
        background-color: var(--yakit-primary-4);
    }
}
.yakit-side-tab-item-show {
    background-color: var(--yakit-primary-3);
    border-bottom-color: var(--yakit-primary-3);
    &.yakit-side-tab-item-active::before {
        background-color: var(--yakit-primary-3);
    }
    &.yakit-side-tab-item-active::after {
        background-color: var(--yakit-primary-3);
    }
}
.yakit-side-tab-item-show:hover {
    background-color: var(--yakit-primary-4);
    border-bottom-color: var(--yakit-primary-4);
    &.yakit-side-tab-item-active::before {
        background-color: var(--yakit-primary-4);
    }
    &.yakit-side-tab-item-active::after {
        background-color: var(--yakit-primary-4);
    }
}
