/* ---------- RunnerFileTree ---------- */
.runner-file-tree {
    display: flex;
    width: 100%;
    height: 100%;

    .container {
        flex: 1;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .open-file {
        min-height: 32px;
        padding: 4px 0;
        margin-left: 4px;
        border-top: 1px solid #eaecf3;
    }

    .file-tree {
        flex: 1;
        overflow: hidden;
        &-container {
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        &-header {
            padding: 4px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                .title-style {
                    white-space: nowrap;
                    color: #85899e;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                }
            }

            .extra {
                display: flex;
                gap: 8px;
            }
        }
        &-tree {
            flex: 1;
            overflow: hidden;
            .tree-body {
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                .compare-select-box {
                    height: 24px;
                    margin: 0px 12px 4px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    .compare-select {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        flex: 1;
                        overflow: hidden;
                        .compare-select-label {
                            white-space: nowrap;
                        }
                    }
                }
            }
            .hidden-tree-body {
                display: none;
            }
        }
    }
}

/* ---------- OpenedFile ---------- */
.opened-file-header {
    color: #31343f;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    user-select: none;
}
.opened-file-body {
    @media screen and (min-height: 950px) {
        max-height: 220px;
    }
    max-height: 130px;
    overflow: hidden auto;
    .file-item {
        border-radius: 4px;
        padding: 3px 12px 3px 24px;
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        .del-btn {
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                display: none;
                width: 16px;
                height: 16px;
                color: #85899e;
            }
        }
        img {
            width: 16px;
            height: 16px;
        }
        .file-name {
            flex: 1;
            overflow: hidden;
            color: #31343f;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }

        &.active {
            background-color: rgba(242, 139, 68, 0.06);
        }
    }
    .file-item-no-active {
        &:hover {
            background-color: #f8f8f8;
            .del-btn {
                svg {
                    display: block;
                }
                &:hover {
                    svg {
                        color: #f28b44;
                    }
                }
            }
        }
    }
    .file-item-active {
        background-color: rgba(242, 139, 68, 0.06);
        border: 1px solid #f28b44;
        &:hover {
            .del-btn {
                svg {
                    display: block;
                }
                &:hover {
                    svg {
                        color: #f28b44;
                    }
                }
            }
        }
    }
}

.left-side-bar {
    height: 100%;
    display: flex;
    // border-left: 1px solid #eaecf3;
    // border-right: 1px solid #eaecf3;

    &-list {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        background: #f8f8f8;
        border-right: 1px solid #eaecf3;
    }

    &-item {
        padding: 12px 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        cursor: pointer;
        border-bottom: 1px solid #eaecf3;
        position: relative;
        user-select: none;

        .item-text {
            color: #31343f;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            writing-mode: vertical-rl;
            text-orientation: sideways-right;
            transform: rotate(180deg);
        }
        svg {
            width: 16px;
            height: 16px;
            color: #85899e;
        }
    }
    &-item:hover {
        background-color: rgba(204, 210, 222, 0.5);
    }

    &-item-active {
        background-color: var(--yakit-primary-5);
        .item-text {
            color: #ffffff;
        }
        svg {
            color: #ffffff;
        }
    }

    &-item-disable {
        background-color: rgba(204, 210, 222, 0.5);
        cursor: not-allowed;
    }

    &-item-active:hover {
        background-color: var(--yakit-primary-4);
    }

    &-content {
        flex: 1;
        overflow: hidden;
        height: 100%;
        .content-wrapper {
            width: 100%;
            height: 100%;
        }

        .hidden-content {
            display: none;
        }
    }
}
