// ========================== form-label-small ==========================
.form-label-small {
    :global {
        .ant-form-item-label > label {
            height: 24px;
        }
    }
}

// ========================== form-label-middle ==========================
.form-label-middle {
    :global {
        .ant-form-item-label > label {
            height: 28px;
        }
        .ant-upload.ant-upload-drag {
            border: 0;
            background: transparent;
        }

        .ant-upload.ant-upload-drag .ant-upload {
            padding: 0;
        }

        .ant-upload.ant-upload-drag {
            text-align: start;
        }
    }
}

// ========================== form-label-large ==========================
.form-label-large {
    :global {
        .ant-form-item-label > label {
            height: 32px;
        }
    }
}

// ========================== dragger-help-middle ==========================
.dragger-help-middle {
    font-size: 12px;
    color: var(--yakit-body-text-color);
    line-height: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;

    .dragger-help-active {
        color: var(--yakit-primary-5);
        cursor: pointer;
        margin: 0 4px;
        .upload-icon {
            width: 16px;
            height: 16px;
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .dragger-help-active-disabled {
        color: var(--yakit-disable-text-color);
        cursor: not-allowed;
    }

    .dragger-help-number {
        color: var(--yakit-primary-5);
        cursor: pointer;
        margin: 0 4px;
        font-style: normal;
    }
}

// ========================== dragger-help-small ==========================
.dragger-help-small {
}

// ========================== dragger-help-large ==========================
.dragger-help-large {
    font-size: 14px;
}

// ========================== yakit-dragger ==========================
.yakit-dragger {
    width: 100%;
    height: 100%;
}

.form-item-help {
    width: 100%;
    font-size: 14px;
    color: var(--yakit-body-text-color);
    .divider-line {
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: var(--yakit-border-color);
        margin: 0 5px;
    }
    .form-item-setting {
        color: var(--yakit-primary-5);
        font-size: 14px;
        &-icon {
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.form-item-setting-dropdown {
    padding: 0;
    width: 240px;
    .content {
        display: flex;
        flex-direction: row;
        .text {
            font-size: 14px;
            display: flex;
            align-items: center;
            svg {
                width: 12px;
            }
        }
    }
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                height: 30px;
                padding: 4px;
                padding-bottom: 0;
            }
        }
    }
}

.form-item-content-help {
    justify-content: flex-start;
    label {
        cursor: pointer;
    }
}
