.java-payload-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .payload-info-wrapper {
        flex: 1;
        overflow: hidden;
    }
    .payload-hidden-wrapper {
        flex: 0;
        overflow: hidden;
    }

    .reverse-info-wrapper {
        flex: 1;
        overflow: hidden;
    }
    .reverse-hidden-wrapper {
        flex: 0;
        overflow: hidden;
    }

    .wrapper-body {
        width: 100%;
        height: 100%;
        display: flex;
        .body-left {
            width: 416px;
            height: 100%;
            overflow: hidden;
            margin-top: -1px;
            .info-addr-card {
                .ant-card-head {
                    border-bottom: 0px;
                    height: 48px;
                    .ant-card-head-wrapper {
                        height: 48px;
                    }
                }
                .addr-alert {
                    padding: 16px;
                    height: 100%;
                    align-items: baseline;
                    .addr-body + .addr-body {
                        margin-top: 12px;
                    }
                }
            }
        }
        .body-hidden-left {
            flex: 0;
            overflow: hidden;
        }
        .body-right {
            flex: 1;
            overflow: hidden;
            margin-left: -1px;
            margin-top: -1px;
        }
    }
}

.setting-payload-wrapper {
    border-right: 1px solid var(--yakit-border-color);
    border-top: none;
    border-left: none;
    .setting-payload-icon {
        font-size: 12px;
        color: gray;
        margin-left: 5px;
    }
    .setting-payload-btn + .setting-payload-btn {
        margin-left: 8px;
    }

    .from-common-style {
        .ant-form-item {
            margin-bottom: 16px;
        }

        .ant-form-item-explain.ant-form-item-explain-connected {
            display: none !important;
        }

        .form-required {
            display: inline-block;
            margin-right: 4px;
            color: #ff4d4f;
            font-size: 14px;
            font-family: SimSun, sans-serif;
            line-height: 1;
        }

        .form-item-label-title {
            position: relative;
            display: flex;
            align-items: center;
            .question-icon {
                position: absolute;
                font-size: 12px;
                color: gray;
                right: 4px;
                top: 6px;
            }
        }

        .form-item-options-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .question-icon {
                color: gray;
                right: 6px;
            }
        }
    }
}

.code-payload-wrapper {
    .code-type-radio {
        margin-left: 8px;
        .ant-radio-button-wrapper {
            padding: 0 6px;
        }
    }
    .extra-btns {
        display: flex;
        align-items: center;
        .ant-btn + .ant-btn {
            margin-left: 8px;
        }
    }
}
