// ========================== 新UI ==========================
.yakit-select-wrapper-newUI {
    --yakit-box-shadow-color: #fbe7d9;
    --yakit-border-color: #fbc6a1;
    --yakit-primary-font-color: #f28b44;
}

// ========================== 老UI ==========================
.yakit-select-wrapper-oldUI {
    --yakit-box-shadow-color: #e6f7ff;
    --yakit-border-color: #40a9ff;
    --yakit-primary-font-color: #1890ff;
}

// ========================== select ==========================
.yakit-select {
    font-weight: 400;
    font-size: 12px;

    :global {
        .ant-select {
            display: flex;
        }

        .ant-select-selector {
            display: flex;
            align-items: center;
        }

        .ant-select-single .ant-select-selector .ant-select-selection-item,
        .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
            display: flex;
            font-size: 12px;
            line-height: normal;
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            padding: 6px 12px;
            border-radius: 4px;
            border: 1px solid #EAECF3;
        }

        .ant-select-single.ant-select-open .ant-select-selection-item {
            color: #31343F
        }

        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
            height: 16px;
        }

        .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0 0 0 2px var(--yakit-box-shadow-color);
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
            border: 1px solid var(--yakit-border-color);
        }

        // ========================== disabled ==========================
        .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
            background: #F0F1F3;
            color: #B4BBCA;
        }
    }
}

// ========================== popup ==========================
.yakit-select-popup {
    padding: 6px 4px;
    border-radius: 4px;

    :global {
        .ant-select-item-option-content:hover {
            color: var(--yakit-primary-font-color);
        }

        .ant-select-item {
            border-radius: 4px;
            padding: 4px 8px;
        }
    }
}

.yakit-select-popup-y {
    transform: translateY(-2px);
}

// ========================== large ==========================
.yakit-select-large {
    height: 32px;
    font-size: 14px;

    :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            height: 32px;
        }

        .ant-select-single .ant-select-selector .ant-select-selection-item,
        .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
            font-size: 14px;
            height: 20px;
        }
    }
}

// ========================== middle ==========================
.yakit-select-middle {
    height: 28px;

    :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            height: 28px;
        }
    }
}

// ========================== small ==========================
.yakit-select-small {
    height: 24px;

    :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            height: 24px;
            padding: 4px 8px;
        }
    }
}