.yakit-checkbox-wrapper {
    height: 16px;
    width: 16px;

    :global {
        .ant-checkbox-inner {
            border-radius: 4px;
        }

        .ant-checkbox-checked::after {
            border-radius: 4px;
        }

        .ant-checkbox-wrapper {
            height: 16px;
        }

        .ant-checkbox {
            top: 0;
        }

        .ant-checkbox-checked::after {
            animation: yakitEffectCheckbox 0.36s ease-in-out;
        }

        // ========================== indeterminate ==========================
        .ant-checkbox-indeterminate .ant-checkbox-inner::after {
            width: 10px;
            height: 10px;
            border-radius: 2px;
        }

        .ant-checkbox-indeterminate .ant-checkbox-inner {
            border-color: #1890ff;
            border-width: 2px;
        }

        .ant-checkbox-indeterminate:hover {
            .ant-checkbox-inner {
                border-color: #40a9ff;
            }

            .ant-checkbox-inner::after {
                background-color: #40a9ff;
            }
        }

        .ant-checkbox-indeterminate:active {
            .ant-checkbox-inner {
                border-color: #096dd9;
            }

            .ant-checkbox-inner::after {
                background-color: #096dd9;
            }
        }

        // ========================== check ==========================
        .ant-checkbox-checked:hover {
            .ant-checkbox-inner {
                background-color: #40a9ff;
                border-color: #40a9ff;
            }
        }

        .ant-checkbox-checked:active {
            .ant-checkbox-inner {
                background-color: #096dd9;
                border-color: #096dd9;
            }
        }

        // ========================== disabled ==========================
        .ant-checkbox-indeterminate.ant-checkbox-disabled .ant-checkbox-inner::after {
            background-color: #CCD2DE;
            border-color: #CCD2DE;
        }

        .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
            border-color: #fff;
        }

        .ant-checkbox-wrapper-checked {
            .ant-checkbox-disabled .ant-checkbox-inner {
                background-color: #CCD2DE;
                border-color: #CCD2DE !important;
            }
        }

        .ant-checkbox-disabled {
            .ant-checkbox-checked::after {
                border: 1px solid #EAECF3;
            }

            .ant-checkbox-inner::after {
                border-color: #EAECF3;
            }

            .ant-checkbox-inner {
                background-color: #F0F1F3;
            }
        }
    }
}