.install-plugin-modal-body {
    .content {
        height: 100%;
        padding: 12px 8px;
    }
    .install-plugin-progress {
        margin: 8px;
        margin-top: 0px;
        :global {
            .ant-progress {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
    .footer-container {
        overflow: hidden;
        width: 100%;
        padding: 8px 16px;
        background-color: var(--Colors-Use-Neutral-Bg);
        border-top: 1px solid var(--Colors-Use-Neutral-Border);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }
}
