.audit-code {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    .header {
        padding: 4px 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        .title {
            color: #85899e;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }
        .extra {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 8px;
        }
    }
    .textarea-box {
        padding: 0px 8px 8px 8px;
    }
    .no-audit {
        padding-top: 80px;
    }
    .no-data {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #85899e;
        margin-top: 8px;
    }
    .audit-tree {
        flex: 1;
        overflow: hidden;
    }
    .audit-log {
        flex: 1;
        overflow: auto;
        .audit-log-wrapper {
            overflow: auto;
            :global {
                .ant-tabs-nav {
                    display: none;
                }
            }
        }
    }
}

.audit-form-footer {
    overflow: hidden;
    width: 100%;
    padding: var(--modal-footer-padding);
    background-color: var(--modal-header-footer-background);
    border-top: 1px solid var(--modal-header-footer-border);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.audit-tree {
    height: 100%;
    padding: 0px 0px 0px 4px;
    :global {
        .ant-tree .ant-tree-treenode {
            padding-bottom: 0;
        }
        .ant-tree-switcher {
            display: none;
        }
        .ant-tree .ant-tree-node-content-wrapper {
            padding: 0;
            line-height: normal;
            min-height: auto;
            border-radius: 0;
        }
        .ant-tree .ant-tree-node-content-wrapper:hover {
            background-color: transparent;
        }
        .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
            background-color: transparent;
        }
        .ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
            flex: 1;
            overflow: hidden;
        }
        .ant-tree-indent-unit {
            width: 0px;
        }
        // 树的滚动条
        .ant-tree-list-scrollbar {
            width: 6px !important;
        }
        .ant-tree-list-scrollbar-thumb {
            background: #c1c1c1 !important;
        }
    }

    :global(.ant-tree-treenode-loading) {
        .audit-tree-node {
            .node-switcher {
                display: none;
            }
            .node-loading {
                display: flex;
            }
        }
    }
}

.tree-bottom {
    position: relative;
    height: 22px;
    text-align: center;
    color: var(--yakit-disable-text-color);
    font-size: 11px;
    line-height: 22px;
}

.audit-tree-node {
    padding: 3px 12px 3px 8px;
    display: flex;
    align-content: center;
    gap: 2px;
    cursor: pointer;

    .node-switcher {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 16px;
            height: 16px;
            color: #85899e;
            transition: transform 0.3s;
        }
        &.expanded {
            svg {
                transform: rotate(90deg);
            }
        }
    }
    .node-loading {
        display: none;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
        svg {
            width: 12px;
            height: 12px;
            color: #f28b44;
        }
    }

    .node-content {
        flex: 1;
        overflow: hidden;
        display: flex;
        gap: 8px;
        align-content: center;

        .content-body {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            gap: 8px;
            .name {
                color: #31343f;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                overflow: hidden;
            }
            .detail {
                color: #b4bbca;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                overflow: hidden;
            }
        }
        .bug {
            color: var(--yakit-body-text-color);
            display: flex;
            align-items: center;
            svg {
                height: 14px;
                width: 14px;
            }
        }
        .active-bug {
            color: var(--yakit-primary-5);
        }
        .count {
            color: #b4bbca;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    &:hover {
        border-radius: 4px;
        background-color: #f8f8f8;
    }

    &.node-selected {
        background-color: rgba(242, 139, 68, 0.06);
    }
    &.node-foucsed {
        border: 1px solid #f28b44;
        background-color: rgba(242, 139, 68, 0.06);
        border-radius: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .icon-box {
        display: flex;
        svg {
            height: 16px;
            width: 16px;
        }
    }
    .hint-icon {
        color: #b4bbca;
    }
    .info-icon {
        color: #4a94f8;
    }
    .warn-icon {
        color: #ffb660;
    }
    .error-icon {
        color: #f6544a;
    }
}

.audit-history-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        padding: 8px 16px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #eaecf3;
        background: #f8f8f8;
        .main {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            .title {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
            .sub-title {
                display: flex;
                flex-direction: row;
                gap: 4px;
                .text {
                    color: #b4bbca;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
                .number {
                    color: #f28b44;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
        .extra {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            .search-icon {
                color: #85899e;
                svg {
                    height: 12px;
                    width: 12px;
                    path {
                        stroke-width: 1.5;
                    }
                }
            }
        }
    }
    .table {
        padding: 12px 16px;
        flex: 1;
        overflow: hidden;
        .audit-virtual-list {
            height: 100%;
        }
        .audit-text {
            overflow: hidden;
        }

        .audit-opt {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
        }
    }
}

.additional-params-divider {
    margin: 16px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    .text-style {
        color: #b4bbca;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .divider-style {
        flex: 1;
        overflow: hidden;
        height: 1px;
        border-top: 1px dashed #eaecf3;
    }
}

.project-manager-edit-form {
    padding: 8px 24px 8px 24px;
    .opt-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 12px;
        margin-bottom: 16px;
    }
}

.extra-icon {
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    color: #85899e;
    svg {
        width: 16px;
        height: 16px;
    }
    &:hover {
        background-color: var(--yakit-background-color);
        color: var(--yakit-primary-5);
    }
}

.audit-modal-form {
    .custom-params-wrapper {
        padding-right: 16px;
    }
    :global {
        .json-schema-form {
            .json-schema-row-form {
                // 需询问后端是否可从schema中移除
                #root_auth__error,
                #root_proxy__error {
                    display: none;
                }
            }
        }
    }
}

.audit-history-list {
    padding: 4px 8px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .header {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
    .onlyRisk-box {
        padding: 4px 8px;
    }
    .audit-history-list-container {
        flex: 1;
        overflow: hidden;
        .history-item-box {
            padding: 2px;
            border-bottom: 1px solid #f0f0f0;
            .history-item {
                margin-bottom: 4px;
                cursor: pointer;
                padding: 4px 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--yakit-header-color);
                .title {
                    display: flex;
                    gap: 6px;
                }
                &:hover {
                    border-color: transparent;
                    box-shadow:
                        0 1px 2px -2px rgba(0, 0, 0, 0.16),
                        0 3px 6px 0 rgba(0, 0, 0, 0.12),
                        0 5px 12px 4px rgba(0, 0, 0, 0.09);
                }
            }
        }
    }
}

.additional-params-divider {
    margin: 16px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    .text-style {
        color: #b4bbca;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .divider-style {
        flex: 1;
        overflow: hidden;
        height: 1px;
        border-top: 1px dashed #eaecf3;
    }
}

.agent-down-stream-proxy {
    color: var(--yakit-primary-5);
    display: inline-flex;
    cursor: pointer;
}

.extra-params-divider {
    border-bottom: 1px solid #eaecf3;
}

.tooltip-line-feed{
    :global {
        .ant-tooltip-inner{
            white-space: pre-wrap;
        }
    }
}