.virtual-table {
    height: 100%;
    display: flex;
    flex-direction: column;
    .virtual-table-title {
        padding: 8px 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-bottom: 1px solid #eaecf3;
        border-radius: 4px 4px 0px 0px;
        &-item {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #31343f;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-flex {
            flex: 1;
        }
        &-filter {
            display: flex;
            width: 100%;
            justify-content: space-between;

            &-icon {
                color: var(--yakit-helper-text-color);
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }
    .virtual-table-content {
        flex: 1;
        &-list {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4px;
            padding: 0px 12px;
            border-bottom: 1px solid #eaecf3;
            border-radius: 4px 4px 0px 0px;
        }
        &-item {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #31343f;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-flex {
            flex: 1;
        }
    }
}
.ui-op-setting-dropdown {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 8px 4px;
            }
        }
    }
}