@use '../../../../styles/mixin.scss' as mixin;

.ai-task-default-group-card {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
  background: var(--Colors-Use-Basic-Background);
  max-height: 600px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &-content {
    max-height: 156px;
    min-height: 0;
    flex-shrink: 1;
    overflow-y: hidden;
    padding-top: 4px;
    margin: 0 -2px;

    &.focused {
      overflow-y: overlay;
    }
  }
}

.content-inner {
  min-height: 0;
}

.expand {
  border: 1px solid var(--Colors-Use-Neutral-Disable);
  background: var(--Colors-Use-Neutral-Bg);
}

.child-window-card {
  max-height: none;
  height: 100%;
  flex: 1;
  min-height: 0;
}

.child-window {
  max-height: none;
  flex: 1;
  min-height: 0;
  height: 100%;
  border-top: none;
  padding-top: 0;
  overflow-y: auto;
}
