.yakit-segmented-small-wrapper {
    .yakit-segmented {
        border-radius: 4px;
        background: var(--Colors-Use-Neutral-Bg-Hover);
        font-size: 12px;
        color: var(--Colors-Use-Neutral-Text-3-Secondary);
        :global {
            .ant-segmented-thumb-motion-appear{
                background: var(--Colors-Use-Neutral-Bg);
            }
            .ant-segmented-item-selected {
                background: var(--Colors-Use-Neutral-Bg);
                color: var(--Colors-Use-Neutral-Text-1-Title);
            }
            .ant-segmented-item:hover,
            .ant-segmented-item:focus {
                color: var(--Colors-Use-Neutral-Text-1-Title);
            }
        }
    }
}

.yakit-segmented-middle-wrapper{
    :global{
        .ant-segmented.ant-segmented-sm .ant-segmented-item-label{
            line-height: 24px;
        }
    }
}
