.yakit-segmented-wrapper {
    .yakit-segmented {
        border-radius: 4px;
        background: var(--yakit-background-color);
        font-size: 12px;
        color: var(--yakit-body-text-color);
        :global {
            .ant-segmented-item-selected {
                color: var(--yakit-header-color);
            }
            .ant-segmented-item:hover,
            .ant-segmented-item:focus {
                color: var(--yakit-header-color);
            }
        }
    }
}
