@use '../NotepadManage.module.scss';

.collaborators-popover {
  :global {
    .ant-popover-inner {
      .ant-popover-inner-content {
        padding: 8px;
      }
    }
  }
  .collaborators-popover-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 20vw;
  }
}
