@use '../aiReActChat/AIReActChat.module.scss' as AIReActChat;

%display-flex-center {
  display: flex;
  align-items: center;
}
.tab-wrap {
  width: 100%;
  overflow: hidden;
}

.ai-re-act-task-chat {
  @extend %display-flex-center;
  align-items: flex-start;
  flex: 1;
  // overflow: auto hidden;
  height: 100%;

  @include AIReActChat.content-side('left') {
    width: 100%;
    border-right: 0;
  }

  .header {
    @extend %display-flex-center;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    .title {
      @extend %display-flex-center;
      gap: 4px;
      color: var(--Colors-Use-Neutral-Text-1-Title);

      /* PingFang SC/T6/Medium */
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .extra {
      @extend %display-flex-center;
      gap: 8px;
      flex-shrink: 0;

      .divider-style {
        width: 1px;
        height: 12px;
        border-left: 1px solid var(--Colors-Use-Neutral-Border);
      }
    }
  }
}

// #region AIInputSettingPopover
.ai-input-setting-form {
  width: 320px;
  .ant-form-item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.form-info-icon-tooltip {
  padding-bottom: 2px;
}
.info-icon {
  cursor: pointer;
  margin-left: 2px;
  svg {
    width: 16px;
    height: 16px;
    color: var(--Colors-Use-Neutral-Text-4-Help-text);
  }
}

// #endregion
