@use "../aiReActChat/AIReActChat.module.scss" as AIReActChat;

%display-flex-center {
    display: flex;
    align-items: center;
}
%display-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-wrap {
    width: 100%;
    overflow: hidden;
}
.tab-content {
    flex: 1;
    width: 100%;
    overflow: hidden;
}
.ai-re-act-task-chat {
    @extend %display-flex-center;
    align-items: flex-start;
    flex: 1;
    // overflow: auto hidden;
    height: 100%;
    @include AIReActChat.content-side("left");
    .chat-content-wrapper {
        @extend %display-column-center;
        flex: 1;
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;
        min-width: 400px;
    }
    .header {
        @extend %display-flex-center;
        justify-content: space-between;
        gap: 4px;
        padding: 12px 12px 8px 12px;
        border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
        width: 100%;
        height: 45px;
        .title {
            @extend %display-flex-center;
            gap: 4px;
            color: var(--Colors-Use-Neutral-Text-1-Title);

            /* PingFang SC/T6/Medium */
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.1px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        .extra {
            @extend %display-flex-center;
            gap: 8px;
            flex-shrink: 0;

            .divider-style {
                width: 1px;
                height: 12px;
                border-left: 1px solid var(--Colors-Use-Neutral-Border);
            }
        }
    }
}
.footer {
    position: absolute;
    bottom: 8px;
    margin: 0 auto;
    display: flex;
    gap: 12px;
    .position-button {
        border-color: var(--Colors-Use-Neutral-Border);
        box-shadow: 0 4px 8px 0 var(--Colors-Use-Basic-Shadow);
        svg {
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
        }
        &:hover {
            border-color: var(--Colors-Use-Main-Primary);
            svg {
                color: var(--Colors-Use-Main-Primary);
            }
        }
    }
    .task-button {
        border-color: var(--Colors-Use-Error-Border);
        background: var(--Colors-Use-Basic-Background);
        &:hover {
            border-color: var(--Colors-Use-Error-Primary);
        }
    }
}
