@use "../../../../styles/mixin.scss" as mixin;

.wrapper {
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    .qs {
        width: fit-content;
        border-radius: 8px;
        background-color: var(--Colors-Use-Main-Focus);
    }
    .file {
        width: fit-content;
        width: 80%;
        padding: 8px;
        border-radius: 8px;

        border-radius: 8px;
        background: var(--Colors-Use-Neutral-Bg-Hover);
        &-content {
            width: 100%;
            &-item {
                display: flex;
                align-items: center;
                width: 100%;
                height: 24px;
                border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
                &-left {
                    flex: 1;
                    width: 0;
                    gap: 4px;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    &:hover p{
                        color: var(--Colors-Use-Main-Primary);
                    }
                    p {
                        color: var(--Colors-Use-Neutral-Text-2-Primary);
                        margin: 0;
                        @include mixin.text-ellipsis;
                    }

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
                .content-item-left{
                    cursor: default;
                    &:hover p{
                        color: var(--Colors-Use-Neutral-Text-2-Primary);
                    }
                }
            }
        }
    }
}
