// ========================== 新UI ==========================
.yakit-input-number-newUI {
    --yakit-box-shadow-color: #fbe7d9;
    --yakit-box-shadow-error-color: #ff4d4f33;

    --yakit-border-hover-color: #f69c5d;
    --yakit-border-focus-color: #F28B44;
    --yakit-border-error-color: #F6544A;

    --yakit-icon-hover-color: #f69c5d;
    --yakit-icon-error-color: #F6544A;

    --yakit-hover-color: #f69c5d;
    --yakit-hover-error-color: #EB493F;
}

// ========================== 老UI ==========================
.yakit-input-number-oldUI {
    --yakit-box-shadow-color: #e6f7ff;
    --yakit-box-shadow-error-color: #ff4d4f33;

    --yakit-border-hover-color: #40a9ff;
    --yakit-border-focus-color: #1890ff;
    --yakit-border-error-color: #ff4d4f;

    --yakit-icon-hover-color: #40a9ff;
    --yakit-icon-error-color: #ff4d4f;

    --yakit-hover-color: #40a9ff;
    --yakit-hover-error-color: #ff4d4f;

}

// ========================== wrapper ==========================
.yakit-input-number-wrapper {
    :global {
        .ant-input-number:hover {
            border-color: var(--yakit-border-hover-color)
        }

        .ant-input-number-focused {
            border-color: var(--yakit-border-focus-color)
        }

        .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
        .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
            color: var(--yakit-hover-color);
        }

        .ant-input-number:focus,
        .ant-input-number-focused {
            box-shadow: 0 0 0 2px var(--yakit-box-shadow-color)
        }
    }
}

// ========================== midden ==========================
.yakit-input-number {
    height: 28px;
    border-radius: 4px;
    line-height: 28px;
    max-width: 88px;
    display: inline-flex;
    align-items: center;

    :global {

        .ant-input-number-input {
            height: 28px;
        }

        .ant-input-number-input {
            padding: 0 12px;
        }

    }
}

// ========================== max-large ==========================
.yakit-input-number-max-large {
    height: 40px;
    line-height: 40px;
    max-width: 96px;

    :global {

        .ant-input-number-input {
            height: 40px;
        }

    }
}

// ========================== large ==========================
.yakit-input-number-large {
    height: 32px;
    line-height: 32px;
    max-width: 88px;

    :global {

        .ant-input-number-input {
            height: 32px;
        }
    }
}

// ========================== small ==========================
.yakit-input-number-small {
    height: 24px;
    line-height: 24px;
    max-width: 80px;

    :global {

        .ant-input-number-input {
            height: 24px;
        }
    }
}

// ========================== disabled ==========================
.yakit-input-number-disabled {
    background: #F0F1F3;
    cursor: not-allowed;
    border-color: #EAECF3;

    svg {
        color: #B4BBCA;
    }
}

// ========================== horizontal ==========================

.yakit-input-number-horizontal {
    display: inline-flex;
    border: 1px solid;
    border-color: #EAECF3;
    border-radius: 4px;
    align-items: center;
    user-select: none;
    transition: border 0.24s linear 0.14s;

    :global {

        .ant-input-number:focus,
        .ant-input-number-focused {
            box-shadow: none
        }
    }

    &:hover {
        border-color: var(--yakit-border-hover-color);
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--yakit-box-shadow-color);
    }

    .icon-left {
        border-right: 1px solid #EAECF3;
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;

        &:hover {
            color: var(--yakit-hover-color);
        }
    }

    .icon-right {
        border-left: 1px solid #EAECF3;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;

        &:hover {
            color: var(--yakit-hover-color);
        }
    }


    .icon-midden {
        background: #FFFFFF;
        width: 24px;
        height: 28px;
        line-height: 28px;
        text-align: center;

        &:active {
            background-color: #f4f4f4;
        }


    }


    .icon-large {
        width: 24px;
        height: 32px;
        line-height: 32px;
    }

    .icon-small {
        width: 20px;
        height: 24px;
        line-height: 24px;
    }

    .yakit-input-number-wrapper {
        width: 64px;
        border-radius: 0;

        :global {
            .ant-input-number-handler-wrap {
                width: 0;
            }
        }
    }

    // ========================== horizontal  disabled ==========================
    .yakit-input-number-wrapper-disabled {
        background: #F0F1F3;
        cursor: not-allowed;
    }

    .icon-disabled {
        background: #F0F1F3;
        cursor: not-allowed;

        svg {
            color: #B4BBCA;
        }
    }
}

.yakit-input-number-horizontal-focus {
    box-shadow: 0 0 0 2px var(--yakit-box-shadow-color);
    border-color: var(--yakit-border-focus-color);
}

.yakit-input-number-horizontal-disabled {
    &:hover {
        border-color: #d9d9d9;
    }
}

:global {
    .ant-form-item-has-error {
        .yakit-input-number-horizontal-error {
            border-color: var(--yakit-border-error-color);

            &:hover {
                border-color: var(--yakit-border-error-color);
            }

            &:focus {
                border-color: var(--yakit-border-error-color);
                box-shadow: 0 0 0 2px var(--yakit-box-shadow-error-color);
            }

            .icon-error svg {
                color: var(--yakit-icon-error-color);

                &:hover {
                    color: var(--yakit-hover-color);
                }
            }
        }

        .yakit-input-number-horizontal-focus-error {
            border-color: var(--yakit-border-error-color);
            box-shadow: 0 0 0 2px var(--yakit-box-shadow-error-color);
        }
    }

}