.extra-menu-wrapper {
  display: flex;
  gap: 8px;
  justify-content: right;

  .heard-menu-customize {
    margin-right: 8px;
  }
}

.button-border {
  border-color: var(--Colors-Use-Neutral-Border);

  &:hover {
    border-color: var(--Colors-Use-Main-Primary);
  }
}

.heard-menu-customize.heard-menu-customize-menu {
  background: var(--Colors-Use-Main-Bg);
  border: 1px solid var(--Colors-Use-Main-Border);
  border-radius: 4px;
  color: var(--Colors-Use-Main-Primary);

  svg {
    color: var(--Colors-Use-Main-Primary);
  }
}

.menu-popover {
  :global {
    .ant-popover-inner {
      .ant-popover-inner-content {
        padding: 6px 4px 4px 4px;
      }
    }
  }
}
