.menu-codec-wrapper {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 8px;

    .func-btn-body {
        width: 62px;
        height: 100%;
        padding: 2px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        svg {
            width: 16px;
            height: 16px;
        }
    }

    .exchange-btn-wrapper {
        width: 24px;
        height: 100%;
        display: flex;
        align-items: center;
        .exchange-btn {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            svg {
                width: 16px;
                height: 16px;
                color: #85899e;
            }
        }
        .exchange-btn:hover {
            svg {
                color: #f28b44;
            }
        }
    }

    .input-textarea-wrapper {
        flex: 1;
        height: 100%;
        position: relative;
        .input-textarea-body {
            height: 64px;
            padding-right: 22px;
            background: #f0f1f3;
            font-size: 12px;
            line-height: 16px;
            color: #31343f;
            resize: none;
        }
        .input-textarea-copy {
            position: absolute;
            right: 4px;
            bottom: 2px;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            .copy-icon-style {
                margin-left: 0;
            }
            .copy-icon-ban {
                cursor: not-allowed;
            }
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.codec-menu-popover {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 4px 4px;
            }
        }
    }
}
