.public-menu-wrapper {
    width: 100%;
    padding: 8px 16px 12px 16px;
    background: var(--Colors-Use-Neutral-Bg);
    // border-bottom: 1px solid var(--Colors-Use-Neutral-Border);

    .first-menu-wrapper {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-wrapper-left {
            display: flex;
            gap: 8px;
        }

        .first-menu-body {
            display: flex;
            align-items: center;
            gap: 32px;
            .menu-opt {
                height: 24px;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                color: var(--Colors-Use-Neutral-Text-1-Title);
                cursor: pointer;
            }
            .menu-opt:hover {
                color: var(--Colors-Use-Main-Primary);
            }
            .active-menu-opt {
                color: var(--Colors-Use-Main-Primary);
            }
        }
        .first-menu-extra-wrapper {
            height: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 8px;

            .no-expand-wrapper {
                height: 100%;
                cursor: pointer;
                svg {
                    width: 24px;
                    height: 24px;
                    color: var(--Colors-Use-Neutral-Text-3-Secondary);
                }
            }
        }
    }
    .second-menu-wrapper {
        margin-top: 8px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .second-menu-body {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 8px;
            .divider-style {
                width: 1px;
                height:72px;
                background-color: var(--Colors-Use-Neutral-Border);
            }
            .tool-wrapper {
                flex: 1;
                overflow: hidden;
                height: 100%;
                .tool-body {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    gap: 8px;
                    .tool-container {
                        flex: 1;
                        overflow: hidden;
                        height: 100%;
                    }
                    .tool-nohidden-container {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                    .tool-hidden-container {
                        width: 0;
                        height: 0;
                        overflow: hidden;
                    }
                    .switch-op-wrapper {
                        box-sizing: border-box;
                        width: 51px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        position: relative;

                        .border-wrapper {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 1px;
                            height: 100%;
                            background-color: var(--Colors-Use-Neutral-Border);
                        }
                        .tab-bar {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            background: var(--Colors-Use-Neutral-Bg-Hover);
                            border-width: 1px 1px 1px 0px;
                            border-style: solid;
                            border-color: var(--Colors-Use-Neutral-Border);
                            border: 1px solid var(--Colors-Use-Neutral-Border);
                            border-radius: 0px 4px 4px 0px;
                            font-size: 11px;
                            color: var(--Colors-Use-Neutral-Text-1-Title);
                            cursor: pointer;
                            z-index: 99;
                        }
                        .active-tab-bar {
                            background: var(--Colors-Use-Main-Primary);
                            border-color: var(--Colors-Use-Main-Border);
                            color: var(--Colors-Use-Main-On-Primary);
                        }
                    }
                }
                .hide-tool-body {
                    width: 0;
                    height: 0;
                    visibility: hidden;
                }
            }
        }
        .expand-wrapper {
            width: 30px;
            height: 72px;
            display: flex;
            align-items: flex-end;
            .expand-body {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                svg {
                    width: 24px;
                    height: 24px;
                    color: var(--Colors-Use-Neutral-Text-3-Secondary);
                }
            }
        }
    }
    .second-menu-hidden-wrapper {
        margin-top: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
.public-menu-no-expand-wrapper {
    padding: 6px 16px;
}

.child-menu-popover {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--Colors-Use-Neutral-Border);
            box-shadow: 0px 8px 16px var(--Colors-Use-Basic-Shadow);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 4px 4px;
            }
        }
    }
}

.modal-content {
    margin-top: 8px;

    .menuItem-yakScripName {
        margin: 0 4px;
        color: var(--Colors-Use-Main-Primary);
    }
}
