@use "../securityTool.scss" as securityTool;

.brute-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.divider-style {
    @extend %divider-style;
}

.tree-list-wrapper {
    @extend %display-column-center;
    justify-content: flex-start;
    gap: 12px;
    flex: 1;
    overflow: hidden;
    max-width: 300px;
    border-right: 1px solid var(--yakit-border-color);
    padding: 12px;
    :global {
        .ant-tree-switcher {
            height: 24px;
        }
    }
    .tree-heard {
        @extend %display-flex-center;
        justify-content: space-between;

        &-title {
            color: var(--yakit-header-color);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
        }
    }
    .tree-list {
        display: flex;
        flex: 1;
        overflow: auto;
        .tree-root {
            flex: 1;
            padding-right: 12px;
        }
    }
}

.tree-list-wrapper-hidden {
    display: none;
}

.brute-execute-wrapper {
    @include securityTool.execute-title("brute");
}

.brute-form-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: all 0.3s ease;
    padding-top: 16px;
    :global {
        .ant-form {
            overflow: hidden;
        }
    }
    .plugin-execute-form-item {
        width: 100%;
    }
    .plugin-execute-form-operate {
        @extend %display-flex-center;
        .plugin-execute-form-operate-start {
            margin-right: 8px;
        }
    }
    .form-extra {
        @extend %display-flex-center;
        gap: 8px 0;
        flex-wrap: wrap;
    }
}
.brute-form-wrapper-hidden {
    grid-template-rows: 0fr;
    padding-top: 0;
}

.brute-execute-result-wrapper{
    // padding: 12px;
}
