.hTTPHistory {
    overflow: hidden;
    width: 100%;
    height: 100%;
    .hTTPHistory-tab-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        .hTTPHistory-tab {
            width: 24px;
            height: 100%;
            border-right: 1px solid var(--yakit-border-color);
            background: #f0f1f3;
            &-item {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 12px 4px;
                cursor: pointer;
                transform: rotate(180deg);
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;

                text-orientation: sideways-right;
                writing-mode: vertical-rl;
                border-top: 1px solid #fff;
                svg {
                    width: 16px;
                    height: 16px;
                }
                &:hover {
                    background: rgba(204, 210, 222, 0.5);
                }
                &-active {
                    color: #ffffff;
                    background-color: var(--yakit-primary-5);
                    &:hover {
                        background-color: var(--yakit-primary-4);
                    }
                }
                &-unshowCont {
                    background-color: var(--yakit-primary-3);
                }
            }
        }
        .hTTPHistory-tab-cont-item {
            overflow: auto;
            width: 100%;
            height: 100%;
            padding: 15px;
            padding-right: 0;
        }
    }

    .history-process {
        height: 100%;
        .history-process-search-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .process-list-wrapper {
            overflow-y: overlay;
            margin-top: 15px;
            height: calc(100% - 40px);
            .process-list-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 2px;
                cursor: pointer;
                border-radius: 4px;
                .process-item-left-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    gap: 4px;
                    .process-icon {
                        display: flex;
                        align-items: center;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .process-item-label {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size: 14px;
                    }
                }
                &-active {
                    .process-item-label {
                        color: var(--yakit-primary-5);
                    }
                }
            }
        }
    }
}
