.hTTPHistory {
    height: 100%;

    &-left {
        height: 100%;

        .tab-wrap {
            display: flex;
            width: 100%;
            height: 100%;

            .tab {
                width: 24px;
                height: 100%;
                border-right: 1px solid var(--Colors-Use-Neutral-Border);
                background: var(--Colors-Use-Neutral-Bg-Hover);
                &-item {
                    position: relative;
                    display: flex;
                    align-items: flex-start;
                    align-items: center;
                    flex-direction: column;
                    padding: 12px 4px;
                    cursor: pointer;
                    user-select: none;
                    border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
                    font-weight: 600;

                    gap: 4px;

                    svg {
                        width: 16px;
                        height: 16px;
                        transform: rotate(180deg);
                        color: var(--Colors-Use-Neutral-Text-3-Secondary);
                    }

                    &:hover {
                        background: var(--Colors-Use-Neutral-Border);
                    }

                    &-active {
                        color: var(--Colors-Use-Main-On-Primary);
                        background-color: var(--Colors-Use-Main-Primary);
                        &:hover {
                            background-color: var(--Colors-Use-Main-Hover);
                        }
                    }

                    &-unshowCont {
                        background-color: var(--Colors-Use-Main-Border);
                    }
                }

                .tab-item-text {
                    transform: rotate(180deg);

                    text-orientation: sideways-right;
                    writing-mode: vertical-rl;
                }
            }

            .tab-cont-item {
                overflow: auto;
                width: 100%;
                height: 100%;
            }
        }

        .webTree-wrapper {
            height: 100%;
            padding: 15px 0 15px 15px;
        }

        .process-wrapper {
            height: 100%;
            padding: 15px 0 15px 15px;
        }
    }

    &-right {
        height: 100%;
    }
}

.history-process {
    height: 100%;

    .history-process-search-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .process-list-wrapper {
        overflow-y: overlay;
        // margin-top: 15px;
        height: calc(100% - 28px);

        .process-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 2px;
            cursor: pointer;
            border-radius: 4px;

            .process-item-left-wrapper {
                width: 100%;
                display: flex;
                align-items: center;

                gap: 4px;

                .process-icon {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .process-item-label {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }

            &-active {
                .process-item-label {
                    color: var(--Colors-Use-Main-Primary);
                }
            }
        }
    }
}

.hTTPFlowRealTimeTableAndEditor {
    height: 100%;
    padding: 8px;
}