.hTTPHistory {
    overflow: hidden;
    width: 100%;
    height: 100%;
    .hTTPHistory-tab-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        .hTTPHistory-tab {
            width: 24px;
            height: 100%;
            border-right: 1px solid var(--yakit-border-color);
            background: #f0f1f3;
            &-item {
                padding: 12px 4px;
                cursor: pointer;
                transform: rotate(180deg);
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;

                text-orientation: sideways-right;
                writing-mode: vertical-rl;
                &:hover {
                    background: rgba(204, 210, 222, 0.5);
                }
                &-active {
                    color: #ffffff;
                    background-color: var(--yakit-primary-5);
                    &:hover {
                        background-color: var(--yakit-primary-4);
                    }
                }
                &-unshowCont {
                    background-color: var(--yakit-primary-3);
                }
            }
        }
        .hTTPHistory-tab-cont-item {
            overflow: auto;
            width: 100%;
            height: 100%;
            padding: 15px;
            padding-right: 0;
        }
    }
}
