.http-flow-detail-descriptions {
    table {
        table-layout: fixed !important;
    }
}

.http-history-box {
    height: 100%;
    &-header {
        margin-bottom: 8px;
        :global {
            .ant-descriptions-item-content {
                max-width: 90px;
            }
            .ant-descriptions-item-label {
                background-color: var(--yakit-background-color);
            }
        }
    }
    .http-history-detail-wrapper {
        flex: 1;
        height: 100%;
        overflow: hidden;
        :global {
            .ant-col-24 {
                height: 100%;
            }
            .ant-col-5 {
                height: 100%;
                .ant-table-wrapper {
                    height: 100%;
                    .ant-spin-nested-loading {
                        height: 100%;
                        .ant-table {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            .ant-table-container {
                                flex: 1;
                                overflow: hidden;
                                .ant-table-content {
                                    height: 100%;
                                    overflow: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .table-header {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.empty-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 4px 0 0 4px;
    .empty-box-fold-box {
        height: 33px;
        border-bottom: 1px solid var(--yakit-border-color);
        padding: 0 12px;
        .empty-box-icon-box {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .fold-icon {
                color: #85899e;
                cursor: pointer;
                border-radius: 4px;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .fold-icon:hover {
            background-color: var(--yakit-background-color);
            color: var(--yakit-primary-5);
        }
    }
}

.http-history-fold-box {
    width: 22px;
    height: 100%;

    .http-history-icon-box {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .fold-icon {
            color: #85899e;
            cursor: pointer;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
    .fold-icon:hover {
        background-color: var(--yakit-background-color);
        color: var(--yakit-primary-5);
    }
}
.http-history-fold-border-box {
    width: 32px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
}

.httpFlow-data-table {
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
    :global {
        .ant-table {
            overflow: hidden;
        }
        .ant-table-pagination.ant-pagination {
            margin-bottom: 0;
            margin-top: 12px;
        }
        .ant-table.ant-table-bordered > .ant-table-title {
            height: 33px;
            min-height: 33px;
            padding: 0 12px;
        }
        .ant-spin {
            color: var(--yakit-primary-5);
            .ant-spin-dot-item {
                background-color: var(--yakit-primary-5);
            }
        }
    }
    .filter-icon {
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .filter-icon-color {
        color: var(--yakit-primary-5);
    }

    .position-icon {
        cursor: pointer;
        color: var(--yakit-helper-text-color);
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover {
            color: var(--yakit-primary-5);
        }
    }
    .position-icon-active {
        color: var(--yakit-primary-5);
    }
}
.render-html-box {
    height: 100%;
    overflow: auto;
    :global {
        img {
            max-width: 100%;
        }
    }
}

.type-options-checkable-tag {
    display: flex;
    :global {
        .ant-tag {
            margin-right: 2px;
        }
    }
}

.jump-web-tree {
    cursor: pointer;
    color: var(--yakit-primary-5);
    svg {
        width: 18px;
        height: 18px;
    }
}

.codec-menu-popover {
    .codec-menu-cont-wrapper {
        .codec-menu-item {
            display: flex;
            justify-content: space-between;
            padding: 6px 8px;
            cursor: pointer;
            color: #000000;
            font-size: 14px;
            line-height: 20px;
            width: 130px;
            &.active {
                color: var(--yakit-primary-5);
            }
            &:hover {
                background-color: var(--yakit-primary-1);
            }
            .check-icon {
                svg {
                    color: var(--yakit-primary-5);
                }
            }
        }
    }
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
            .ant-popover-inner-content {
                padding: 6px 4px 4px 4px;
            }
        }
    }
}

.detail-header-info {
    :global {
        .ant-descriptions-item-content {
            max-width: 90px;
        }
    }
}

.fuzzable-param-list-container {
    max-height: 50vh;
    .fuzzable-param-list-tag {
        max-width: 100%;
    }
}
