@use "../pages/ai-re-act/aiReviewRuleSelect/AIReviewRuleSelect.module.scss";

.hTTPHistory {
    height: 100%;

    &-left {
        display: flex;
        height: 100%;

        .tab-content {
            overflow: auto;
            width: 100%;
            height: 100%;
        }

        .webTree-wrapper {
            height: 100%;
            padding: 15px 0 15px 15px;
        }

        .process-wrapper {
            height: 100%;
            padding: 15px 0 15px 15px;
        }
        .ai-wrapper {
            height: 100%;
            .history-ai-header {
                margin-left: 8px;
            }
            .defualt-focus-mode {
                border-radius: 20px;
                padding: 0 12px 0 8px;
                height: 24px;
                line-height: 16px;
            }
        }
    }

    &-right {
        height: 100%;
    }
}

.history-process {
    height: 100%;

    .history-process-search-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .process-list-wrapper {
        overflow-y: overlay;
        // margin-top: 15px;
        height: calc(100% - 28px);

        .process-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 2px;
            cursor: pointer;
            border-radius: 4px;

            .process-item-left-wrapper {
                width: 100%;
                display: flex;
                align-items: center;

                gap: 4px;

                .process-icon {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .process-item-label {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }

            &-active {
                .process-item-label {
                    color: var(--Colors-Use-Main-Primary);
                }
            }
        }
    }
}

.hTTPFlowRealTimeTableAndEditor {
    height: 100%;
    padding: 8px;
}
