.resize-box {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.resize-box .resize-split-line:hover {
    border: 2px solid rgb(0, 174, 255);
}
.resize-box .mask-body{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
}