.selected {
    background-color: rgba(78, 164, 255, 0.4) !important;
}

.httpFlowTable .ant-table .ant-table-tbody > tr:hover > td {
    background: unset;
}

.resize-ellipsis {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
