.yakit-button-small-size {
    height: 20px;
    padding: 3px 6px;
    border-radius: 4px;
}
.yakit-button-size {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
}
.yakit-button-big-size {
    height: 28px;
    padding: 4px 12px;
    border-radius: 4px;
}
