.yakit-popconfirm-wrapper {
    :global {
        .ant-popover-buttons {
            display: none;
        }
        .ant-popover-inner {
            border: 1px solid var(--Colors-Use-Neutral-Border);
            box-shadow: 0px 8px 16px var(--Colors-Use-Basic-Shadow);
            border-radius: 4px;
        }
        .ant-popover-inner-content {
            padding: 16px 12px;
        }
        .ant-popover-message {
            padding: 0;
        }
        .ant-popover-message > .anticon {
            top: 4px;
        }
        .ant-popover-arrow-content {
            border: 1px solid var(--Colors-Use-Neutral-Border);
            background-color: var(--Colors-Use-Basic-Background);
            box-shadow: 0px 8px 16px var(--Colors-Use-Basic-Shadow);
        }

        .ant-popover-arrow-content::before {
            opacity: 0;
        }
    }
    .yakit-popconfirm-title {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        .yakit-popconfirm-buttons {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            margin-top: 8px;
            gap: 8px;
        }
    }
}

.yakit-popconfirm-top-wrapper {
    :global {
        .ant-popover-arrow {
            bottom: 1px;
        }
    }
}

.yakit-popconfirm-left-wrapper {
    :global {
        .ant-popover-arrow {
            right: 1px;
        }
    }
}

.yakit-popconfirm-right-wrapper {
    :global {
        .ant-popover-arrow {
        }
    }
}

.yakit-popconfirm-bottom-wrapper {
    :global {
        .ant-popover-arrow {
            top: 1px;
        }
    }
}
