.install-engine-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hidden-install-engine-mask {
    display: none;
}

// 弹窗是否置顶
.modal-top-wrapper {
    z-index: 999 !important;
}
// 弹窗隐藏
.modal-hidden-wrapper {
    display: none;
}

.install-update-modal {
    width: 448px;
    z-index: 99;
}
.engine-hint-modal-wrapper {
    position: absolute;
    top: 35%;
    left: calc(50% - 224px);
}
.modal-yaklang-engine-hint {
    box-sizing: border-box;
    width: 100%;
    background: var(--yakit-card-background-color);
    border: 1px solid var(--yakit-border-color);
    box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
    border-radius: 4px;

    .yaklang-engine-hint-wrapper {
        width: 100%;
        padding: 24px;
        display: flex;
        gap: 16px;
        position: relative;

        .hint-draggle-body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 24px;
        }

        .hint-left-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hint-icon {
                width: 32px;
                height: 32px;
            }
            .qs-icon {
                width: 20px;
                height: 20px;
                color: var(--yakit-body-text-color);
                cursor: pointer;
            }
            .qs-icon:hover {
                color: var(--yakit-primary-color);
            }
        }

        .hint-right-wrapper {
            flex: 1;
            .hint-right-title {
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }

            .hint-right-download {
                .download-progress {
                    :global {
                        .ant-progress-text {
                            display: block;
                            margin-left: 0;
                            margin-top: 2px;
                        }
                    }
                }
                .download-info-wrapper {
                    margin-top: 16px;
                    display: flex;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-helper-text-color);
                    .divider-wrapper {
                        margin: 0 8px;
                        width: 1px;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        .divider-style {
                            width: 100%;
                            height: 12px;
                            border: 1px solid var(--yakit-border-color);
                        }
                    }
                }
                .download-btn {
                    margin-top: 24px;
                    display: flex;
                    justify-content: right;
                }
            }

            .hint-right-content {
                margin-top: 8px;
                font-size: 14px;
                line-height: 20px;
                color: var(--yakit-body-text-color);
            }
            .hint-right-macarm {
                margin-top: 8px;
                box-sizing: border-box;
                padding: 12px;
                background: var(--yakit-neutral10-color);
                border: 1px solid var(--yakit-border-color);
                border-radius: 4px;
                .mac-arm-hint {
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-header-color);
                }
                .mac-arm-command {
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    height: 20px;
                    padding: 4px 6px;
                    background: var(--yakit-primary-background-color);
                    border: 1px solid var(--yakit-primary-border-color);
                    border-radius: 4px;

                    font-size: 11px;
                    color: var(--yakit-primary-color);
                    .copy-icon {
                        width: 12px;
                        height: 12px;
                        display: flex;
                        margin-left: 8px;
                        cursor: pointer;
                    }
                }
            }
            // 后续看看能不能整合成全局动画
            .agr-shake-animation {
                -webkit-animation-name: shake;
                animation-name: shake;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
            }

            @-webkit-keyframes shake {
                0%,
                100% {
                    -webkit-transform: translateX(0);
                }

                10%,
                30%,
                50%,
                70%,
                90% {
                    -webkit-transform: translateX(-5px);
                }

                20%,
                40%,
                60%,
                80% {
                    -webkit-transform: translateX(5px);
                }
            }

            @keyframes shake {
                0%,
                100% {
                    transform: translateX(0);
                }

                10%,
                30%,
                50%,
                70%,
                90% {
                    transform: translateX(-5px);
                }

                20%,
                40%,
                60%,
                80% {
                    transform: translateX(5px);
                }
            }
            .hint-right-agreement {
                margin-top: 8px;
                height: 24px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 12px;
                color: var(--yakit-header-color);
                .agreement-checkbox {
                    :global {
                        .ant-checkbox-inner {
                            border: 1px solid var(--yakit-helper-text-color);
                            border-radius: 4px;
                        }
                        .ant-checkbox-checked .ant-checkbox-inner {
                            background-color: var(--yakit-primary-color);
                            border-color: var(--yakit-primary-color);
                        }
                        .ant-checkbox-checked::after {
                            border: 0px;
                        }
                    }
                }
                .agreement-danger-checkbox {
                    :global {
                        .ant-checkbox-inner {
                            border: 1px solid var(--yakit-danger-color);
                            border-radius: 4px;
                        }
                        .ant-checkbox-checked::after {
                            border: 0px;
                        }
                    }
                }

                .agreement-style {
                    color: var(--yakit-primary-color);
                    cursor: pointer;
                }
            }
            .hint-right-btn {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;

                .btn-group-wrapper {
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }
}

.yakit-agr-modal {
    width: 624px;
    left: calc(50% - 312px);
}
.yaklang-qs-modal {
    width: 697px;
    left: calc(50% - 348px);
}
.info-modal-wrapper {
    z-index: 99;
    position: absolute;
    top: 30%;
}
.yakit-info-modal {
    width: 100%;
    background: var(--yakit-neutral10-color);
    border: 1px solid var(--yakit-border-color);
    box-shadow: 0px 6px 20px rgba(204, 210, 222, 0.3);
    border-radius: 4px;

    .modal-header {
        box-sizing: border-box;
        height: 36px;
        display: flex;
        align-items: center;

        background: var(--yakit-card-background-color);
        border-bottom: 1px solid var(--yakit-border-color);
        border-radius: 4px 4px 0px 0px;

        font-weight: 600;
        font-size: 14px;
        color: var(--yakit-header-color);
    }
    .mac-header {
        gap: 12px;
        .close-wrapper {
            width: 36px;
            height: 36px;
            padding: 10px;
            display: flex;
            cursor: pointer;
            .close-btn {
                padding: 2px;
                .btn-icon {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: var(--yakit-danger-color);
                }
            }
        }
    }
    .win-header {
        justify-content: space-between;
        .header-title {
            margin-left: 12px;
        }
        .close-wrapper {
            width: 36px;
            height: 36px;
            padding: 8px;
            .icon-style {
                color: var(--yakit-helper-text-color);
            }
        }
        .close-wrapper:hover {
            .icon-style {
                color: var(--yakit-primary-color);
            }
        }
    }

    .agreement-content-modal-wrapper {
        .modal-body {
            padding: 16px 24px 24px 24px;
            .body-title {
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }
            .body-content {
                margin-top: 8px;
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
                color: var(--yakit-body-text-color);
                .sign-content {
                    color: var(--yakit-danger-color);
                }
                .underline-content {
                    color: var(--yakit-danger-color);
                    text-decoration: underline;
                }
                .sign-bold-content {
                    color: var(--yakit-danger-color);
                    font-weight: 500;
                }
            }
        }
    }

    .question-modal-wrapper {
        .modal-body {
            padding: 16px 24px 24px 24px;
            .body-hint {
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
                color: var(--yakit-body-text-color);
                .hint-sign {
                    color: var(--yakit-danger-color);
                }
            }
            .body-link {
                margin-top: 8px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 12px;
                gap: 12px;
                border: 1px solid var(--yakit-border-color);
                border-radius: 4px;
                .link-opt {
                    display: flex;
                    align-items: center;
                    .link-title {
                        font-size: 12px;
                        text-align: justify;
                        text-align-last: justify;
                        color: var(--yakit-header-color);
                    }

                    .link-style {
                        margin-left: 8px;
                        flex: 1;
                        padding: 4px 6px;
                        background: var(--yakit-card-background-color);
                        border: 1px solid var(--yakit-border-color);
                        border-radius: 4px;
                        font-size: 11px;
                        line-height: 12px;
                        color: var(--yakit-body-text-color);
                        word-break: break-all;
                        .copy-icon {
                            margin-left: 8px;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
