.update-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #31343f4d;
    z-index: 1001;
}
.hidden-update-mask {
    display: none;
}

// 弹窗隐藏
.modal-hidden-wrapper {
    display: none;
}
.yaklang-update-modal {
    width: 449px;
    z-index: 1002;
}
.engine-hint-modal-wrapper {
    position: absolute;
    top: 35%;
    left: calc(50% - 224px);
}

.modal-yaklang-engine-hint {
    box-sizing: border-box;
    width: 100%;
    background: var(--yakit-neutral10-color);
    border-radius: 4px;

    .yaklang-engine-hint-wrapper {
        width: 100%;
        padding: 24px;
        display: flex;
        gap: 16px;
        position: relative;

        .hint-left-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hint-icon {
                width: 32px;
                height: 32px;
            }
        }

        .hint-right-wrapper {
            flex: 1;
            .hint-right-title {
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }

            .hint-right-download {
                .download-progress {
                    :global {
                        .ant-progress-text {
                            display: block;
                            margin-left: 0;
                            margin-top: 2px;
                        }
                    }
                }
                .download-info-wrapper {
                    margin-top: 16px;
                    display: flex;
                    height: 16px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--yakit-helper-text-color);
                    .divider-wrapper {
                        margin: 0 8px;
                        width: 1px;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        .divider-style {
                            width: 100%;
                            height: 12px;
                            border: 1px solid var(--yakit-border-color);
                        }
                    }
                }
                .download-btn {
                    margin-top: 24px;
                    display: flex;
                    justify-content: right;
                }
            }

            .hint-right-content {
                margin-top: 8px;
                font-size: 14px;
                line-height: 20px;
                color: var(--yakit-body-text-color);
            }
            .hint-right-btn {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;

                .btn-group-wrapper {
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }
}
