@use "../ai-re-act/aiReActChat/AIReActChat.module.scss" as AIReActChat;
%display-flex-center {
    display: flex;
    align-items: center;
}
%display-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memory-base {
    display: flex;
    flex: 1;
    overflow: hidden;
    @include AIReActChat.content-side("left") {
        overflow: auto;
        background: var(--Colors-Use-Neutral-Bg);
        flex-shrink: 0;
    }
    .memory-left-side {
        width: 100%;
        min-height: 100%;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        .query {
            @extend %display-column-center;
            gap: 8px;
            flex: 1;
            .query-header {
                @extend %display-flex-center;
                width: 100%;
                gap: 4px;
                padding: 12px;
                cursor: pointer;
            }
        }
        .memory-query-collapse {
            :global {
                .ant-collapse-expand-icon {
                    height: 16px;
                }
                .ant-collapse-header {
                    padding: 8px 12px 4px 12px;
                    .ant-collapse-arrow {
                        margin-right: 6px;
                        margin-left: 2px;
                    }
                }
                .ant-collapse-content-box {
                    padding: 4px 8px 24px;
                }
            }
            .rating-item {
                @extend %display-flex-center;
                gap: 4px;
                font-size: 12px;
                color: var(--Colors-Use-Neutral-Text-1-Title);
                padding: 0 4px;
                .item-label {
                    width: 16px;
                    text-align: right;
                    padding-right: 4px;
                }
                .slider-wrapper {
                    @extend %display-flex-center;

                    gap: 8px;
                    flex: 1;
                    .slider {
                        flex: 1;
                    }
                    .slider-value {
                        color: var(--Colors-Use-Neutral-Text-3-Secondary);
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .tag-list {
                @extend %display-column-center;
                gap: 8px;
                flex: 1;
                .tag-item {
                    @extend %display-flex-center;
                    gap: 8px;
                    color: var(--Colors-Use-Neutral-Text-1-Title);
                    font-size: 12px;
                    overflow: hidden;
                    height: 24px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 4px;
                    padding: 0 4px;
                    &:hover {
                        background: var(--Colors-Use-Neutral-Bg-Hover);
                    }
                    .tag-label-wrapper {
                        @extend %display-flex-center;
                        flex: 1;
                        overflow: hidden;
                        gap: 8px;
                        .tag-label {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            word-break: break-all;
                        }
                    }
                    .tag-total {
                        color: var(--Colors-Use-Neutral-Text-4-Help-text);
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                .tag-item-checked {
                    color: var(--Colors-Use-Main-Primary);
                    .tag-total {
                        color: var(--Colors-Use-Main-Primary);
                    }
                }
            }
            .tag-match-radio {
                :global {
                    .ant-radio-button-wrapper {
                        padding: 0 4px;
                    }
                }
            }

            .select-rate-mode {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 4px;
                .select-all {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    flex-shrink: 0;
                }
                .divider {
                    margin: 0;
                }
                .select-wrapper {
                    display: flex;
                    border: 1px solid var(--Colors-Use-Neutral-Border);
                    border-radius: 4px;
                    flex: 1;
                    overflow: hidden;
                    &:hover {
                        border-color: var(--Colors-Use-Main-Hover);
                    }
                    &:focus {
                        border-color: var(--Colors-Use-Main-Hover);
                        box-shadow: 0 0 2px 2px var(--Colors-Use-Main-Focus);
                    }
                    .select-before {
                        display: flex;
                        flex-shrink: 0;
                        height: 24px;
                        padding: 0 8px;
                        justify-content: center;
                        align-items: center;
                        background: var(--Colors-Use-Neutral-Bg);
                        border-right: 1px solid var(--Colors-Use-Neutral-Border);

                        color: var(--Colors-Use-Neutral-Text-1-Title);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                    .select {
                        flex: 1;
                    }
                }
                .select-wrapper-active {
                    border-color: var(--Colors-Use-Main-Hover);
                    box-shadow: 0 0 2px 2px var(--Colors-Use-Main-Focus);
                }
            }
        }
        .panel-header {
            @extend %display-flex-center;
            gap: 4px;
            svg {
                width: 16px;
                height: 16px;
                color: var(--Colors-Use-Neutral-Text-4-Help-text);
            }
        }
    }
    .memory-left-side-hidden {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }
}
.btn-padding-right-0 {
    padding-right: 0;
}
.query-input-wrapper {
    padding: 0 12px 12px 12px;
    width: 100%;
    .query-input-content {
        @extend %display-column-center;
        gap: 16px;
        padding: 12px;
        border-radius: 4px;
        border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
        background: var(--Colors-Use-Basic-Background);
        .query-input {
            @extend %display-flex-center;
            width: 100%;
            align-items: flex-start;
            gap: 4px;
            .query-input-text-area {
            }
        }
        .query-input-footer {
            @extend %display-flex-center;
            width: 100%;
            justify-content: flex-end;
        }
    }
}

.memory-table-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    .memory-table {
        padding: 12px;
        width: 100%;
        overflow: hidden;
        .memory-table-heard {
            @extend %display-column-center;
            align-items: flex-start;
            gap: 4px;
            flex: 1;
            width: 100%;
            margin-bottom: 8px;
            .memory-table-title {
                @extend %display-flex-center;
                gap: 8px;
                width: 100%;
                .memory-table-title-left {
                    @extend %display-flex-center;
                    gap: 8px;
                    flex: 1;
                    .title-text {
                        color: var(--Colors-Use-Neutral-Text-1-Title);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px; /* 142.857% */
                        letter-spacing: 0.1px;

                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        word-break: break-all;
                    }
                    .select-number {
                        color: var(--Colors-Use-Main-Primary);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        margin-left: 4px;
                    }
                }
                .memory-table-title-extra {
                    @extend %display-flex-center;
                    gap: 8px;
                    justify-content: flex-end;
                }
            }
            .memory-table-subTitle {
                @extend %display-flex-center;
                color: var(--Colors-Use-Neutral-Text-4-Help-text);

                font-size: 12px;
                line-height: 16px; /* 133.333% */
                letter-spacing: 0.5px;
            }
        }
        .memory-id-cell {
            display: flex;
            gap: 4px;
            overflow: hidden;
            .text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
            }
        }
    }
    .filter-tag {
        cursor: pointer;
    }
    .active-tag {
        border: 1px solid var(--Colors-Use-Main-Border);
        background: var(--Colors-Use-Main-Bg);
    }
}

.memory-detail {
    border-left: 1px solid var(--Colors-Use-Neutral-Border);
    width: 360px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    .memory-detail-header {
        @extend %display-flex-center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
        .title {
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px; /* 150% */
            letter-spacing: 0.15px;
        }
    }
    .memory-detail-content {
        padding: 16px 12px;
        overflow: auto;
        flex: 1;
    }
}

.filter-popover {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 50vh;
    overflow: auto;
    :global {
        .ant-popover-inner {
            border-radius: 4px;
        }
        .ant-popover-inner-content {
            padding: 12px;
        }
        .ant-popover-arrow {
            left: 6px;
        }
    }
    .tag-item {
        width: fit-content;
    }
}
