.bug-test-executor.ant-tabs-card.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
    padding: 6px 10px;
    font-size: 13px;
}
.bug-test-executor.ant-tabs-top > .ant-tabs-nav {
    margin: 0 0 5px 0;
}
.bug-test-executor {
    height: 100%;
    display: flex;
    flex-flow: column;
}
.bug-test-executor .ant-tabs-content-holder {
    flex-grow: 1;
}

.bug-test-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-top: 10px;
}
.bug-test-container .bug-test-list {
    padding-left: 20px;
    flex-grow: 1;
    overflow: auto hidden;
}
.bug-test-container .bug-test-list .list-item {
    height: 42px;
    display: flex;
    align-items: center;
    border: 1px solid #e8e8e8;
    margin-bottom: 8px;
    padding-left: 5px;
}

.extend-info-body {
    display: flex;
}

.extend-info-body .left-body {
    width: 230px;
}
.extend-info-body .left-body .add-btn{
    height: 30px;
    margin-bottom: 10px;
    padding: 4px 0;
}
.extend-info-body .left-body .poc-list{
    width: 230px;
    max-height: 510px;
    overflow: auto;
}
.extend-info-body .left-body .poc-list .list-opt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.extend-info-body .right-body {
    width: 330;
}
