.flex-align-center {
    display: flex;
    align-items: center;
}

.ellipsis-1 {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.table-container {
    border: 0 !important;
    .table-item-extracted-results {
        @extend .flex-align-center;
        overflow: hidden;
        .extracted-results-text {
            @extend .ellipsis-1;
        }
    }
    .operate-icons {
        @extend .flex-align-center;
        gap: 12px;
        color: var(--yakit-body-text-color);

        svg {
            cursor: pointer;
            width: 16px;
            height: 16px;
            &:hover {
                color: var(--yakit-primary-5);
            }
        }
    }
}
.table-container-border {
    border-bottom: 1px solid var(--yakit-border-color) !important;
}

.body-length-text-red {
    color: var(--yakit-danger-5);
}

.unit-select {
    width: 60px;
    :global {
        .ant-select-arrow {
            z-index: 1;
        }
        .ant-select-selector {
            border-left-width: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            &:hover,
            &:focus,
            &:active {
                border-left-width: 1px !important;
                border-top-left-radius: 4px !important;
                border-bottom-left-radius: 4px !important;
            }
        }
        .ant-select-focused {
            .ant-select-selector {
                z-index: 1;
                border-left-width: 1px !important;
                border-top-left-radius: 4px !important;
                border-bottom-left-radius: 4px !important;
            }
        }
        .ant-select-open {
            .ant-select-selector {
                z-index: 1;
                border-left-width: 1px !important;
                border-top-left-radius: 4px !important;
                border-bottom-left-radius: 4px !important;
            }
        }
    }
}
.filter-icon {
    color: var(--yakit-helper-text-color);
    @extend .flex-align-center;
}
.active-icon {
    color: var(--yakit-primary-5);
}

.fail-reason {
    @extend .ellipsis-1;
}

.range-input-number {
    :global {
        .ant-input-group.ant-input-group-compact > *:nth-child(3) {
            .ant-input-number {
                border-radius: 0 4px 4px 0;
                &:hover,
                &:focus,
                &:active {
                    border-radius: 4px;
                }
            }
        }
    }
}

.extracted-checkbox {
    display: flex;
    align-items: center;

    .tip {
        margin-left: 4px;
    }
}
