@use "../../../../styles/mixin.scss" as mixin;

.container {
    width: 100%;
    // background-color: var(--Colors-Use-Neutral-Bg-Hover);
    // padding: 4px 12px;
    border-radius: 8px;
    .title {
        display: flex;
        align-items: center;
        cursor: pointer;
        & > :first-child {
            margin-right: 8px;
            display: flex;
            align-items: center;
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
            font-size: 11px;
            font-weight: 500;
            line-height: 14px;
        }
        & > :nth-child(2) {
            flex: 1;
            width: 0;
            color: var(--Colors-Use-Neutral-Text-1-Title);
            font-size: 14px;
            line-height: 20px;
        }
        & > :last-child {
            color: var(--Colors-Use-Neutral-Text-3-Secondary);
        }
    }
    .content {
        cursor: pointer;
        display: grid;
        grid-template-rows: 0fr;
        // transition: grid-template-rows 0.3s ease-in-out;
        // overflow-y: overlay;
        max-height: 156px;
        position: relative;
        overflow: hidden;

        &:not(.noMask)::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(
                180deg,
                var(--Colors-Use-Basic-Background) 0%,
                var(--Colors-Use-Basic-Background) 4%,
                rgba(255, 255, 255, 0) 96%
            );
            pointer-events: none;
            z-index: 1;
        }

        &:not(.noMask)::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 4%,
                var(--Colors-Use-Basic-Background) 96%,
                var(--Colors-Use-Basic-Background) 100%
            );
            pointer-events: none;
            z-index: 1;
        }

        &-inner {
            height: 100%;
            width: 100%;
            min-height: 0;
            flex-direction: column;
            padding-top: 0;
            // transition: padding-top 0.3s ease-in-out;
            > * {
                color: var(--Colors-Use-Neutral-Text-4-Help-text);
            }
        }
        &.expand {
            grid-template-rows: 1fr;
            .content-inner {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.5px;
                scrollbar-gutter: stable;
            }
        }
    }
}

.stream-text {
    overflow: hidden;
    text-align: left;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: linear-gradient(
            to right,
            var(--Colors-Use-Basic-Background) 0%,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0) 90%,
            transparent 100%
        );
    }
    p {
        margin: 0;
        max-width: 100%;
        display: inline-block;
    }
    span {
        display: flex;
        white-space: nowrap;
        font-weight: 400;
        justify-content: flex-end;
        color: var(--Colors-Use-Neutral-Text-4-Help-text);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.5px;
    }
}
.collapsed::before {
    background: none;
}
.single-stream-text {
    border-left: 2px solid var(--Colors-Use-Neutral-Bg-Hover);
    margin: 0;
    line-height: 20px;
    padding: 0 4px;
    padding-left: 2em;
    text-indent: -1em;
    &-title {
        margin: 0;
        color: var(--Colors-Use-Neutral-Text-1-Title);
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 20px;
    }
    .button {
        padding: 0;
        line-height: 20px;
    }
}

.popover-reference-wrapper {
    width: 300px;
    .popover-reference-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.code-wrapper {
    color: var(--Colors-Use-Neutral-Text-3-Secondary);
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    background-color: var(--Colors-Use-Neutral-Bg);
    code {
        white-space: break-spaces;
    }
}
