.customJoyrideTooltipContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
    background: var(--Colors-Use-Basic-Background);
    .joyrideStepsHeader {
        display: flex;
        height: 40px;
        padding: 12px 16px 4px 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        .joyrideStepsHeaderBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            .joyrideStepsHeaderTitle {
                color: var(--Colors-Use-Neutral-Text-1-Title);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    .joyrideStepsContent {
        display: flex;
        padding: 8px 16px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
    .joyrideStepsFooter {
        display: flex;
        height: 48px;
        padding: 8px 16px 16px 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 0 0 4px 4px;
        background: var(--Colors-Use-Basic-Background);
        .joyrideStepsButtons {
            display: flex;
            gap: 8px;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
