/* ---------- RemoteEngine ---------- */
.remote-engine-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    padding: 56px 16.7% 0;
    background: var(--yakit-card-background-color);

    .remote-yaklang-engine-body {
        .remote-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-img {
                img {
                    height: 64px;
                    width: 64px;
                }
                svg {
                    height: 64px;
                    width: 64px;
                }
            }

            .title-style {
                margin-top: 24px;
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--yakit-header-color);
            }

            .remote-history {
                margin-top: 16px;
                display: flex;

                .select-title {
                    box-sizing: border-box;
                    width: 80px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--yakit-card-background-color);
                    border-width: 1px 0px 1px 1px;
                    border-style: solid;
                    border-color: var(--yakit-border-color);
                    border-radius: 4px 0px 0px 4px;

                    font-size: 14px;
                    color: var(--yakit-header-color);
                }

                .select-style {
                    width: 320px;
                    height: 32px;
                    box-sizing: border-box;
                    background: #ffffff;
                    border: 1px solid var(--yakit-border-color);
                    border-radius: 0px 4px 4px 0px;

                    :global {
                        .ant-select-selector {
                            background-color: unset;
                            border: 0;
                            border-radius: 0;
                        }
                    }
                }

                :global {
                    .ant-select-focused {
                        .ant-select-selector {
                            height: 30px;
                            box-shadow: 0 0 0 2px var(--yakit-primary-2);
                        }
                    }
                }
            }
        }

        .rmeote-divider {
            width: 100%;
            margin: 24px 0;
            border-top: 1px solid var(--yakit-background-color);
        }

        .remote-info {
            .error-border {
                border: 1px solid var(--yakit-danger-5) !important;
            }

            .input-style {
                width: 400px;
            }

            .pem-title {
                display: flex;
                align-items: center;

                .icon-style {
                    margin: 0 4px;
                    color: var(--yakit-body-text-color);
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .icon-show-style {
                    margin: 0 4px;
                    color: var(--yakit-primary-5);
                }
            }

            .pem-content {
                width: 400px;
                height: 254px;
            }
        }
    }
}

/* ---------- PEMExample & PEMHint ---------- */
.pem-example-popover {
    :global {
        .ant-popover-inner {
            border: 1px solid var(--yakit-border-color);
            box-shadow: 0px 8px 16px rgba(133, 137, 158, 0.1);
            border-radius: 4px;
        }
    }

    .pem-example {
        width: 460px;
        .title-style {
            font-size: 14px;
            line-height: 24px;
        }
        .content-code {
            display: inline-block;
            padding: 0 4px;
            border: 1px solid var(--yakit-border-color);
            background-color: var(--yakit-card-background-color);
            border-radius: 4px;
        }
        .code-pem {
            width: 460px;
            height: 280px;
        }
    }
    .pem-hint {
        width: 430px;
        .path-wrapper {
            margin-top: 6px;
            height: 20px;
            display: flex;
            align-items: center;
            gap: 8px;

            .link-wrapper {
                overflow: hidden;
                height: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 2px 6px;
                gap: 8px;
                background: var(--yakit-card-background-color);
                border: 1px solid var(--yakit-border-color);
                border-radius: 4px;
                font-size: 11px;
                color: var(--yakit-body-text-color);
                .copt-text {
                    flex: 1;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .copy-icon {
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            .link-open {
                line-height: 20px;
                color: var(--yakit-primary-5);
                cursor: pointer;
                white-space: nowrap;
            }
        }
    }

    .pem-wrapper {
        line-height: 20px;
        font-size: 11px;
        color: var(--yakit-header-color);
    }
}
