.memory-popover-content {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 16px;
  padding-bottom: 12px;
  .memory-popover-heard {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .heard-text {
      color: var(--Colors-Use-Neutral-Text-1-Title);

      font-size: 14px;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
    }
    .heard-content {
      color: var(--Colors-Use-Neutral-Text-3-Secondary);

      font-size: 14px;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
    }
  }
  .memory-popover-score-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .title {
      color: var(--Colors-Use-Neutral-Text-3-Secondary);

      font-size: 12px;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.5px;
    }
    .score-list {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 0;
      .score-item {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        display: flex;
        align-items: center;
        gap: 4px 0;
      }
      .divider {
        width: 1px;
        height: 16px;
        background-color: var(--Colors-Use-Neutral-Border);
        margin: 0 12px;
      }
      .score-item-height-color {
        color: var(--Colors-Use-Error-Primary);
      }
    }
    .memory-popover-score-echarts {
      padding: 12px 8px;
      border-radius: 4px;
      border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
      background: var(--Colors-Use-Neutral-Bg);
    }
  }
  .memory-popover-tags-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      color: var(--Colors-Use-Neutral-Text-3-Secondary);
      font-size: 12px;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.5px;
    }

    .memory-popover-tags-list {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      .tag-item {
        margin-right: 0;
      }
    }
  }
  .memory-popover-potential-questions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .title {
      color: var(--Colors-Use-Neutral-Text-3-Secondary);
      font-size: 12px;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.5px;
    }
    .potential-questions-item {
      height: 28px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--Colors-Use-Neutral-Bg-Hover);
      padding: 6px 8px;

      .label {
        color: var(--Colors-Use-Neutral-Text-1-Title);
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
}
