@use '../securityTool.scss' as securityTool;

.port-scan-execute-extra-params-drawer {
  :global {
    .ant-drawer-body {
      padding: 0;
    }
    .ant-form-small {
      font-size: 12px;

      .ant-form-item {
        font-size: 12px;
        margin-bottom: 8px;
      }

      .ant-form-item .ant-form-item-label > label,
      .ant-form-item-label > label {
        font-size: 12px;
        line-height: 24px;
        height: 24px;
      }

      .ant-form-item-with-help .ant-form-item-explain,
      .ant-form-item-extra {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .ant-collapse-item:first-child > .ant-collapse-header {
      border-top: 0;
      color: var(--Colors-Use-Neutral-Text-1-Title);
    }
  }
}
.port-scan-params-wrapper {
  padding: 24px;
}

.to-end {
  text-align: center;
  color: var(--Colors-Use-Neutral-Disable);
  font-size: 11px;
  padding-top: 12px;
  padding-bottom: 24px;
}

.form-Panel {
  padding-bottom: 0;
}
.form-no-style-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ports-form-extra {
  @extend %display-flex-center;
}

.divider-style {
  @extend %divider-style;
}

.preset-port-group-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 12px;
  padding: 12px;
  border-radius: 4px;
  background: var(--Colors-Use-Neutral-Bg-Hover);
}
