.base-tags-filter {
    // 修改antd默认样式
    .ant-select-selection-overflow {
        flex-wrap: nowrap;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }
    // 默认select长度
    .ant-select {
        min-width: 160px;
    }
}
.base-tags-filter-select {
    display: flex;
    background: #f9fbff;
    &-reset {
        flex: 1;
        border: 1px solid #eaecf3;
    }
    &-submit {
        flex: 1;
        border: 1px solid #eaecf3;
    }
    .base-tags-filter-select-reset:hover,
    .base-tags-filter-select-submit:hover {
        color: #f28b44;
    }
}
.base-tags-filter-check-box {
    width: 100%;
    .default-check-box {
        padding: 4px 12px;
        width: 100%;
        margin-left: 0;
    }
    .default-check-box:hover {
        background-color: rgba(242, 139, 68, 0.06);
        color: #f28b44;
    }
    // .default-check-group-box {
    //     width: 100%;
    // }
    .default-row-check-box {
        background-color: rgba(242, 139, 68, 0.06);
        color: #f28b44;
    }
    // 虚拟列表样式
    .virtual-list {
        position: relative;
        overflow: auto;
        border: 1px solid #ddd;
    }
    .virtual-list-height {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .view-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    // 修改antd默认样式
    // .ant-checkbox-checked .ant-checkbox-inner {
    //     background-color: #f28b44;
    //     border-color: #f28b44;
    // }
    // .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    //     background-color: #f28b44;
    // }
    // .ant-checkbox-wrapper:hover .ant-checkbox-inner {
    //     border-color: #f28b44;
    // }
}

