//用var来盛放--test变量名，用于js做动态修改，这里将后面的默认值去掉了后才可达到效果
$hoverTextColor: var(--btn-hoverTextColor);
$hoverBgColor: var(--btn-hoverBgColor);
$hoverBorderColor: var(--btn-hoverBorderColor);
$activeTextColor: var(--btn-activeTextColor);
$activeBgColor: var(--btn-activeBgColor);
$activeBorderColor: var(--btn-activeBorderColor);
$focusTextColor: var(--btn-focusTextColor);
$focusBgColor: var(--btn-focusBgColor);
$focusBorderColor: var(--btn-focusBorderColor);
$disabledTextColor: var(--btn-disabledTextColor);
$disabledBgColor: var(--btn-disabledBgColor);
$disabledBorderColor: var(--btn-disabledBorderColor);

.base-button {
    display: inline-block;
    .ant-btn:hover,
    .ant-btn-primary:hover {
        color: $hoverTextColor;
        border-color: $hoverBorderColor;
        background: $hoverBgColor;
    }
    .ant-btn:active,
    .ant-btn-primary:active {
        color: $activeTextColor;
        border-color: $activeBorderColor;
        background: $activeBgColor;
    }
    .ant-btn:focus,
    .ant-btn-primary:focus {
        color: $focusTextColor;
        border-color: $focusBorderColor;
        background: $focusBgColor;
    }
    .ant-btn[disabled],
    .ant-btn[disabled]:hover,
    .ant-btn[disabled]:focus,
    .ant-btn[disabled]:active,
    .ant-btn-link[disabled],
    .ant-btn-link[disabled]:hover,
    .ant-btn-link[disabled]:focus,
    .ant-btn-link[disabled]:active,
    .ant-btn-primary[disabled],
    .ant-btn-primary[disabled]:hover,
    .ant-btn-primary[disabled]:focus,
    .ant-btn-primary[disabled]:active {
        color: $disabledTextColor;
        border-color: $disabledBorderColor;
        background: $disabledBgColor;
    }
}
