.base-tags-list {
    width: 100%;
    font-family: "PingFang HK";
    font-size: 10px;
}
.base-tags-list-tag {
    color: #85899e;
    background: #f8f8f8;
    border: 1px solid #eaecf3;
    border-radius: 4px;
    text-align: center;
    cursor: default;
}
// new-ui
// &-tag:hover {
//     color: #f28b44;
//     border: 1px solid #fbc6a1;
// }
.base-tags-list-tag:hover {
    color: var(--yakit-primary-5);
    border: 1px solid var(--yakit-primary-3);
}

.base-tags-small-size {
    height: 16px;
    padding: 0px 6px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}
.base-tags-size {
    height: 20px;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}
.base-tags-big-size {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
