.content {
    display: flex;
    height: 100%;

    ::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 8px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        box-shadow: none;
        background-clip: padding-box;
        border: 1px solid transparent;
    }

    ::-webkit-scrollbar-track {
        border-radius: 0;
        box-shadow: none;
        background: none;
    }

    ::-webkit-scrollbar-thumb:hover {
        border-color: #c1c1c1;
    }

    .content-icon {
        color: var(--yakit-body-text-color);
        margin-right: 4px;

        &:hover {
            color: var(--yakit-primary-color);
        }
    }

    .content-icon-active {
        color: var(--yakit-primary-color);
    }

    .left {
        width: 300px;
        border-right: 1px solid var(--yakit-border-color);
        position: relative;
        background-color: #fff;

        .left-heard {
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 12px;
            border-bottom: 1px solid var(--yakit-border-color);

            .left-title {
                color: var(--yakit-header-color);
                font-weight: 500;
                font-size: 12px;
                margin: 0 8px;
            }

            .left-number {
                padding: 0px 8px;
                height: 16px;
                background: var(--yakit-background-color);
                border-radius: 8px;
                display: flex;
                align-items: center;
                color: var(--yakit-body-text-color);
                font-size: 12px;
            }
        }

        .left-content {
            padding: 12px;
            height: calc(100% - 78px);
            overflow-y: overlay;
        }

        .left-footer {
            height: 44px;
            border-top: 1px solid var(--yakit-border-color);
            padding: 8px 12px;
            display: flex;
            align-items: center;

            .button-done {
                padding: 0 12px;
                height: 28px;
                background: var(--yakit-primary-color);
                border-radius: 4px;
                color: #fff;
                border: 1px solid var(--yakit-primary-color);
                cursor: pointer;
            }

            .button-export {
                padding: 0 12px;
                height: 28px;
                background-color: var(--yakit-primary-background-color);
                border: 1px solid var(--yakit-primary-border-color);
                border-radius: 4px;
                color: var(--yakit-primary-color);
                cursor: pointer;
            }

            .button-cancel {
                padding: 0 12px;
                height: 28px;
                background: #FFFFFF;
                border: 1px solid var(--yakit-border-color);
                border-radius: 4px;
                border: 1px solid var(--yakit-border-color);
                cursor: pointer;
            }

            button {
                margin-right: 8px;
            }
        }
    }

    .middle {
        flex: 1;
        background-color: #F5F5F5;
        max-width: calc(100% - 730px);
    }

    .right {
        width: 430px;
        border-left: 1px solid var(--yakit-border-color);
        background-color: #fff;
        padding: 12px;

        .right-heard {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 0;
        }

        .right-help {
            font-size: 12px;
            color: var(--yakit-helper-text-color);
            margin-top: 16px;
            margin-bottom: 8px;
            height: 16px;
        }
    }
}

@media screen and (max-width: 900px) {
    .content {
        .left {
            width: 240px;
        }

        .middle {
            max-width: calc(100% - 590px);
        }

        .right {
            width: 350px;
        }
    }

}


.first-menu-list {
    width: 100%;

    .first-menu-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid var(--yakit-border-color);
        color: var(--yakit-header-color);
        padding: 12px 8px;
        user-select: none;

        &:hover {
            background-color: #F5F5F5;
        }
    }

    .first-menu-item-select {
        background: var(--yakit-primary-color);
        color: #fff;
        border-radius: 4px;

        svg {
            color: #fff;
        }

        .first-sub-menu-number {
            color: #fff;
        }

        &:hover {
            background-color: var(--yakit-primary-color);
        }
    }

    .first-menu-item-left {
        width: 90%;

        .first-menu-item-label {
            font-weight: 400;
            font-size: 12px;
            width: calc(100% - 16px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
    }

    .first-sub-menu-number {
        color: var(--yakit-helper-text-color);
        font-weight: 400;
        font-size: 12px;
    }

    .first-drag-state {
        position: absolute;
        bottom: -24px;
        left: 0;

        svg {
            color: var(--yakit-danger-color);
            width: 16px;
            height: 16px;
        }
    }
}

.second-menu {
    padding: 12px;

    .second-menu-heard {
        .second-menu-heard-input {
            padding: 0px 0px 8px;
            height: 32px;
            border-bottom: 1px solid var(--yakit-border-color);

            :global {
                .ant-input-affix-wrapper {
                    padding-left: 0;
                }
            }

            svg {
                color: var(--yakit-danger-color);
            }
        }

        .second-menu-heard-tip {
            height: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: var(--yakit-helper-text-color);
            margin-top: 16px;
        }
    }

    .second-menu-list {
        .second-menu-no-data {
            padding: 12px;
            margin-top: 8px;
            width: 100%;
            height: 60px;
            background: var(--yakit-primary-background-color);
            border: 1px dashed var(--yakit-primary-border-color);
            border-radius: 4px;
            display: flex;
            align-items: center;
        }

        .second-menu-text {
            font-size: 12px;
            color: var(--yakit-primary-color);
        }

        .second-menu-photograph-icon {
            color: var(--yakit-primary-border-color);
            margin-right: 8px;
        }

        .second-menu-item-content {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 8px;
        }

        .second-menu-item {
            height: 60px;
            padding: 12px;
            background: #FFFFFF;
            border: 1px solid var(--yakit-border-color);
            border-radius: 4px;
            display: flex;
            align-items: center;
            flex: 1;
            width: calc(100% - 40px);

            svg {
                margin-right: 8px;
                color: var(--yakit-disable-text-color);
            }

            .second-menu-label-body {
                width: calc(100% - 60px);
            }

            .second-menu-label-content {
                color: var(--yakit-header-color);
                font-size: 12px;
                display: inline-flex;
                align-items: center;
                width: 100%;

                .second-menu-label {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                    margin-right: 8px;
                    max-width: calc(100% - 60px);
                }

                .second-menu-edit-icon {
                    width: 16px;
                    height: 16px;

                    svg {
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        color: var(--yakit-body-text-color);

                        &:hover {
                            color: var(--yakit-primary-color);
                        }
                    }
                }
            }

            .second-menu-describe {
                font-size: 11px;
                color: var(--yakit-helper-text-color);
            }
        }

        .close-icon {
            padding: 0 12px;
            display: flex;
            align-items: center;
            color: var(--yakit-body-text-color);
            cursor: pointer;
            height: 20px;

            &:hover {
                color: var(--yakit-primary-border-color);
            }
        }
    }

    .second-menu-text-bold {
        font-weight: 600;
    }
}


.menu-item-drag {
    background: var(--yakit-primary-background-color) !important;
    border: 1px solid var(--yakit-primary-border-color) !important;
    // border-bottom: 1px solid var(--yakit-primary-border-color) !important;
    border-radius: 4px;
    color: var(--yakit-header-color) !important;

    .first-sub-menu-number {
        color: var(--yakit-helper-text-color) !important;
    }

    svg {
        color: var(--yakit-primary-color) !important;
    }

    .first-drag-state {
        svg {
            color: var(--yakit-danger-color) !important;
        }
    }

}


.display-flex {
    display: flex;
    align-items: center;
}

.system-function-list {
    padding: 0 12px;
    height: calc(100% - 64px);
    overflow-y: overlay;

    .system-function-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        border-top: 1px solid var(--yakit-border-color);
        padding: 10px 0px;
        position: relative;

        .menu-icon {
            margin-right: 8px;
            height: 24px;
            width: 24px;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .menu-label {
            font-size: 12px;
            color: var(--yakit-header-color);
            margin-right: 8px;
        }

        .menu-question-icon {
            color: var(--yakit-helper-text-color);
            margin-right: 8px;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;

                &:hover {
                    color: var(--yakit-primary-color);
                }
            }

        }

        .have-add {
            font-size: 12px;
            color: var(--yakit-disable-text-color);
            padding: 4px 8px;
        }
    }

    .system-function-item-isDragging {
        background-color: var(--yakit-primary-background-color);
        border: 1px solid var(--yakit-primary-color);
        border-radius: 4px;
        padding-left: 8px;

        .first-drag-state {
            position: absolute;
            bottom: -24px;
            left: 0;

            svg {
                color: var(--yakit-danger-color);
            }
        }
    }
}

.plugin-local-list {
    height: calc(100% - 64px);
    overflow-y: overlay;

    .plugin-local-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        border-top: 1px solid var(--yakit-border-color);
        padding: 8px 0px;
        width: 100%;
        position: relative;

        .plugin-local-item-left {
            display: flex;
            align-items: center;
            max-width: calc(100% - 55px);
        }

        .plugin-local-headImg {
            width: 28px;
            height: 28px;
            margin-right: 8px;
            border-radius: 50%;
        }

        .plugin-local-scriptName {
            font-size: 12px;
            color: var(--yakit-header-color);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            max-width: calc(100% - 140px);
            margin-right: 8px;
        }

        .plugin-local-icon {
            color: var(--yakit-helper-text-color);
            margin-right: 8px;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;

                &:hover {
                    color: var(--yakit-primary-color);
                }
            }

        }

        .have-add {
            font-size: 12px;
            color: var(--yakit-disable-text-color);
            padding: 4px 8px;
        }
    }

    .plugin-local-item-isDragging {
        background-color: var(--yakit-primary-background-color);
        border: 1px solid var(--yakit-primary-color);
        border-radius: 4px;
        padding-left: 8px;

        .first-drag-state {
            position: absolute;
            bottom: -24px;
            left: 0;

            svg {
                color: var(--yakit-danger-color);
            }
        }
    }
}

.question-tooltip {

    :global {
        .ant-tooltip-arrow {
            right: 3px;
        }

        .ant-tooltip-placement-top,
        .ant-tooltip-placement-topLeft,
        .ant-tooltip-placement-topRight {
            padding-bottom: 8px;
        }
    }
}

.terminal-popover {
    width: 429px;

    :global {
        .ant-popover-inner-content {
            height: 40vh;
            padding: 4px;
        }

        .ant-popover-inner {
            border-radius: 4px;
        }

        .ant-popover-arrow {
            right: 0;
        }

        .ant-popover-placement-top,
        .ant-popover-placement-topLeft,
        .ant-popover-placement-topRight {
            padding-bottom: 8px;
        }
    }
}

.remove-icon {
    svg {
        width: 16px;
        height: 16px;
    }
}

.cancel-button {
    border-radius: 4px;
    color: var(--yakit-header-color);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        color: var(--yakit-primary-color-hover);
        border-color: var(--yakit-primary-color-hover);
    }

    &:focus {
        color: var(--yakit-primary-color-press);
        border-color: var(--yakit-primary-color-press);
    }
}

.ok-button {
    border-radius: 4px;
    border-color: var(--yakit-primary-color);
    background: var(--yakit-primary-color);
    text-shadow: none;
    box-shadow: none;

    &:hover {
        border-color: var(--yakit-primary-color-hover);
        background: var(--yakit-primary-color-hover);
    }

    &:focus {
        border-color: var(--yakit-primary-color);
        background: var(--yakit-primary-color);
    }

    &:active {
        border-color: var(--yakit-primary-color-press);
        background: var(--yakit-primary-color-press);
    }
}

.subMenu-edit-modal {
    padding: 18px 24px;

    .subMenu-edit-modal-heard {
        display: flex;
        justify-content: space-between;

        .subMenu-edit-modal-title {
            font-weight: 600;
            font-size: 14px;
            color: var(--yakit-header-color);
        }

        .close-icon {
            color: var(--yakit-helper-text-color);

            svg {
                width: 16px;
                height: 16px;

                &:hover {
                    color: var(--yakit-primary-color)
                }
            }
        }
    }

    .subMenu-edit-modal-body {
        padding-top: 16px;
        padding-bottom: 38px;
    }

    .subMenu-edit-modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}