.yakit-upload-component {
    min-height: 85px;
    .header {
        padding: 16px 24px 8px 24px;
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        .title {
            color: #31343f;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            flex: 1;
        }
        .extra {
            display: flex;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
                color: #85899e;
            }
            &:hover {
                svg {
                    color: var(--yakit-primary-4);
                }
            }
        }
    }
    .explain {
        padding: 0px 24px;
        .explain-bg {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 12px 16px;
            border-radius: 8px;
            background: linear-gradient(90deg, rgba(136, 99, 247, 0.1) 0%, rgba(247, 170, 99, 0.1) 100%);
            .title {
                color: #31343f;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 2px;
                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    .dot {
                        display: flex;
                        height: 16px;
                        width: 16px;
                        padding: 2px 6px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                        background: rgba(136, 99, 247, 0.2);
                        font-size: 10px;
                        text-align: center;
                        color: #31343f;
                        font-weight: 400;
                        line-height: 12px;
                    }
                    .text {
                        flex: 1;
                        color: #85899e;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        .hight-text {
                            color: #f28b44;
                        }
                    }
                }
            }
        }
    }
    .info-box {
        display: flex;
        padding: 16px 24px 24px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        .input-box {
            width: 100%;
            .name {
                display: flex;
                flex-direction: row;
                gap: 4px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 6px;
                .must {
                    color: #f4736b;
                }
            }
        }
        .card-box {
            width: 100%;
            border-radius: 4px;
            background-color: rgb(240, 242, 245);
            border: 1px solid #f0f0f0;
            overflow: hidden;
            .card-heard {
                background-color: #ffffff;
                height: 36px;
                min-height: 36px;
                box-sizing: content-box;
                border-bottom: 1px solid var(--yakit-border-color);
                display: flex;
                align-items: center;
                padding: 0 12px;
            }
            .upload-dragger-box {
                width: 100%;
                height: 140px;
                .upload-dragger {
                    border-color: transparent;
                    .upload-info {
                        display: flex;
                        padding: 8px 0px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        .add-file-iconf {
                            height: 40px;
                        }
                        .content {
                            .title {
                                color: #31343f;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 20px;
                                .hight-light {
                                    color: #f28b44;
                                    text-decoration-line: underline;
                                }
                            }
                            .sub-title {
                                color: #b4bbca;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                            }
                        }
                    }
                }
                :global {
                    .ant-upload.ant-upload-drag.ant-upload-drag-hover:not(.ant-upload-disabled) {
                        border-color: #f28b44;
                    }
                }
            }
            .upload-editor-box {
                height: 140px;
            }
        }

        .upload-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            width: 100%;
            .upload-list-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 2px 4px;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                max-width: 100%;
                height: 28px;
                position: relative;
                .link-icon {
                    display: flex;
                    color: #ccd2de;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                .text {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 400;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .close-icon {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    right: 4px;
                    opacity: 0;
                    cursor: pointer;
                    color: #b4bbca;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                &:hover {
                    border-radius: 4px;
                    background: #f8f8f8;
                    .close-icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .submit-box {
        display: flex;
        padding: 0px 24px 24px 24px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
}
.yaklang-engine-hint-wrapper {
    width: 100%;
    display: flex;
    gap: 16px;
    position: relative;

    .hint-left-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .hint-icon {
            width: 32px;
            height: 32px;
            color: #ffb660;
            svg {
                width: 32px;
                height: 32px;
            }
        }
    }

    .hint-right-wrapper {
        flex: 1;
        overflow: hidden;
        .hint-right-title {
            height: 24px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--yakit-header-color);
            margin-bottom: 8px;
        }

        .hint-right-content {
            margin-top: 8px;
            font-size: 14px;
            line-height: 20px;
            color: var(--yakit-body-text-color);
        }

        .hint-right-download {
            .download-progress {
                .progress-title {
                    margin-top: 6px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 16px;
                }
                :global {
                    .ant-progress-text {
                        display: block;
                        margin-left: 0;
                        margin-top: 2px;
                    }
                }
            }

            .download-info-wrapper {
                margin-top: 8px;
                display: flex;
                height: 16px;
                font-size: 12px;
                line-height: 16px;
                color: var(--yakit-helper-text-color);

                .divider-wrapper {
                    margin: 0 8px;
                    width: 1px;
                    height: 16px;
                    display: flex;
                    align-items: center;

                    .divider-style {
                        width: 100%;
                        height: 12px;
                        border: 1px solid var(--yakit-border-color);
                    }
                }
            }
            .log-info {
                transition: height 0.2s ease;
                overflow-y: auto;
                .log-item {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                }
            }
            .download-btn {
                margin-top: 24px;
                display: flex;
                justify-content: right;
                gap: 8px;
            }
        }
    }
}