html[data-theme=light] {
  --ui-neutral-100: #31343f;
  --ui-neutral-90: #454750;
  --ui-neutral-80: #545663;
  --ui-neutral-70: #85899e;
  --ui-neutral-60: #b4bbca;
  --ui-neutral-50: #ccd2de;
  --ui-neutral-40: #eaecf3;
  --ui-neutral-30: #f0f1f3;
  --ui-neutral-20: #f8f8f8;
  --ui-neutral-10: #ffffff;
  --ui-text-color: #31343f;
  --ui-text-inverse-color: #fff;
  --ui-icon-color: #85899e;
  --ui-background-color: #fff;
  --ui-hover-background-color: #f0f1f3;
  --yakit-primary-1: rgba(242, 139, 68, 0.06);
  --yakit-primary-2: #fbe7d9;
  --yakit-primary-3: #fbc6a1;
  --yakit-primary-4: #f69c5d;
  --yakit-primary-5: #f28b44;
  --yakit-primary-6: #e27122;
  --antd-wave-shadow-color: #f28b44;
  --yakit-colors-Main-10: #fef5ee;
  --yakit-colors-Main-20: #fce5d6;
  --yakit-colors-Main-30: #fbd9c1;
  --yakit-colors-Main-40: #f9c5a2;
  --yakit-colors-Main-50: #f59f64;
  --yakit-colors-Main-60: #f28c45;
  --yakit-colors-Main-70: #db752e;
  --yakit-colors-Main-80: #bb652a;
  --yakit-colors-Main-90: #794622;
  --yakit-colors-Main-100: #432c1c;
  --yakit-colors-Success-10: #ecf9f5;
  --yakit-colors-Success-20: #cff1e6;
  --yakit-colors-Success-30: #b7ead9;
  --yakit-colors-Success-40: #93e0c6;
  --yakit-colors-Success-50: #4ccba1;
  --yakit-colors-Success-60: #28c08e;
  --yakit-colors-Success-70: #11a976;
  --yakit-colors-Success-80: #129167;
  --yakit-colors-Success-90: #146047;
  --yakit-colors-Success-100: #16372c;
  --yakit-colors-Warning-10: #fef7eb;
  --yakit-colors-Warning-20: #fdecce;
  --yakit-colors-Warning-30: #fce2b6;
  --yakit-colors-Warning-40: #fbd391;
  --yakit-colors-Warning-50: #f8b648;
  --yakit-colors-Warning-60: #f6a823;
  --yakit-colors-Warning-70: #df910c;
  --yakit-colors-Warning-80: #be7c0e;
  --yakit-colors-Warning-90: #7b5412;
  --yakit-colors-Warning-100: #433215;
  --yakit-colors-Error-10: #fef0f0;
  --yakit-colors-Error-20: #fcdada;
  --yakit-colors-Error-30: #fac7c7;
  --yakit-colors-Error-40: #f8abab;
  --yakit-colors-Error-50: #f37373;
  --yakit-colors-Error-60: #f15757;
  --yakit-colors-Error-70: #d94040;
  --yakit-colors-Error-80: #b93939;
  --yakit-colors-Error-90: #782b2b;
  --yakit-colors-Error-100: #422020;
  --yakit-colors-Neutral-10: #f8f9fa;
  --yakit-colors-Neutral-20: #eef0f3;
  --yakit-colors-Neutral-30: #e6e8ed;
  --yakit-colors-Neutral-40: #d9dde4;
  --yakit-colors-Neutral-50: #c0c6d1;
  --yakit-colors-Neutral-60: #b3bbc8;
  --yakit-colors-Neutral-70: #9ca3b1;
  --yakit-colors-Neutral-80: #868c97;
  --yakit-colors-Neutral-90: #5a5d64;
  --yakit-colors-Neutral-100: #353639;
  --yakit-colors-Neutral-0: #ffffff;
  --yakit-colors-Neutral-110: #171717;
  --yakit-colors-Purple-10: #f4f1fe;
  --yakit-colors-Purple-20: #e5dcfd;
  --yakit-colors-Purple-30: #d7cbfd;
  --yakit-colors-Purple-40: #c4b1fb;
  --yakit-colors-Purple-50: #9c7df9;
  --yakit-colors-Purple-60: #8862f8;
  --yakit-colors-Purple-70: #714be1;
  --yakit-colors-Purple-80: #6243bf;
  --yakit-colors-Purple-90: #44317c;
  --yakit-colors-Purple-100: #2b2344;
  --yakit-colors-Magenta-10: #fcf1fc;
  --yakit-colors-Magenta-20: #f7dbf8;
  --yakit-colors-Magenta-30: #f3c9f4;
  --yakit-colors-Magenta-40: #edaeef;
  --yakit-colors-Magenta-50: #e277e4;
  --yakit-colors-Magenta-60: #dc5cdf;
  --yakit-colors-Magenta-70: #c545c7;
  --yakit-colors-Magenta-80: #a83daa;
  --yakit-colors-Magenta-90: #6e2e6f;
  --yakit-colors-Magenta-100: #3e213e;
  --yakit-colors-Blue-10: #eef5ff;
  --yakit-colors-Blue-20: #d5e7ff;
  --yakit-colors-Blue-30: #c1dbff;
  --yakit-colors-Blue-40: #a1c9ff;
  --yakit-colors-Blue-50: #63a5ff;
  --yakit-colors-Blue-60: #4493ff;
  --yakit-colors-Blue-70: #2d7ce8;
  --yakit-colors-Blue-80: #296bc5;
  --yakit-colors-Blue-90: #22497f;
  --yakit-colors-Blue-100: #1c2d45;
  --yakit-colors-Lake-blue-10: #edf9fb;
  --yakit-colors-Lake-blue-20: #d1f0f5;
  --yakit-colors-Lake-blue-30: #bae9ef;
  --yakit-colors-Lake-blue-40: #97dee8;
  --yakit-colors-Lake-blue-50: #52c8d8;
  --yakit-colors-Lake-blue-60: #2fbcd0;
  --yakit-colors-Lake-blue-70: #18a5b9;
  --yakit-colors-Lake-blue-80: #188e9e;
  --yakit-colors-Lake-blue-90: #175e68;
  --yakit-colors-Lake-blue-100: #17373b;
  --yakit-colors-Cyan-10: #eefcfd;
  --yakit-colors-Cyan-20: #d4f6fb;
  --yakit-colors-Cyan-30: #bef2f9;
  --yakit-colors-Cyan-40: #9decf6;
  --yakit-colors-Cyan-50: #5cdff0;
  --yakit-colors-Cyan-60: #3cd8ed;
  --yakit-colors-Cyan-70: #25c1d6;
  --yakit-colors-Cyan-80: #22a5b6;
  --yakit-colors-Cyan-90: #1e6c76;
  --yakit-colors-Cyan-100: #1a3d41;
  --yakit-colors-Green-10: #f0faf5;
  --yakit-colors-Green-20: #d9f3e6;
  --yakit-colors-Green-30: #c6edda;
  --yakit-colors-Green-40: #aae4c8;
  --yakit-colors-Green-50: #71d3a3;
  --yakit-colors-Green-60: #54ca90;
  --yakit-colors-Green-70: #3db379;
  --yakit-colors-Green-80: #379969;
  --yakit-colors-Green-90: #2a6548;
  --yakit-colors-Green-100: #1f3a2d;
  --yakit-colors-Red-10: #fef2f2;
  --yakit-colors-Red-20: #fde0de;
  --yakit-colors-Red-30: #fbd0cd;
  --yakit-colors-Red-40: #fab8b4;
  --yakit-colors-Red-50: #f68983;
  --yakit-colors-Red-60: #f4726a;
  --yakit-colors-Red-70: #dd5b52;
  --yakit-colors-Red-80: #bc4f49;
  --yakit-colors-Red-90: #7a3935;
  --yakit-colors-Red-100: #432624;
  --yakit-colors-Orange-10: #fff9f1;
  --yakit-colors-Orange-20: #ffefdc;
  --yakit-colors-Orange-30: #ffe7ca;
  --yakit-colors-Orange-40: #ffdbaf;
  --yakit-colors-Orange-50: #ffc27a;
  --yakit-colors-Orange-60: #ffb660;
  --yakit-colors-Orange-70: #e89f49;
  --yakit-colors-Orange-80: #c58840;
  --yakit-colors-Orange-90: #7f5b30;
  --yakit-colors-Orange-100: #453522;
  --yakit-colors-Yellow-10: #fffbeb;
  --yakit-colors-Yellow-20: #fff4cd;
  --yakit-colors-Yellow-30: #ffefb4;
  --yakit-colors-Yellow-40: #ffe78f;
  --yakit-colors-Yellow-50: #ffd744;
  --yakit-colors-Yellow-60: #ffce1e;
  --yakit-colors-Yellow-70: #e8b707;
  --yakit-colors-Yellow-80: #c59d0a;
  --yakit-colors-Yellow-90: #7f670f;
  --yakit-colors-Yellow-100: #453b13;
  --Colors-Use-Basic-White: #FFFFFF;
  --Colors-Use-Basic-Black: #171717;
  --Colors-Use-Basic-Shadow: rgba(23, 23, 23, 0.08);
  --Colors-Use-Basic-Modal-bg: rgba(23, 23, 23, 0.3);

  --initial-loading-bg: var(--Colors-Use-Basic-White);
  --initial-loading-text: #85899e;
  --initial-loading-border: #b4bbca;
  --initial-loading-border-top: #85899e;
}

html[data-theme=dark] {
  --ui-neutral-100: #ffffff;
  --ui-neutral-90: #f8f8f8;
  --ui-neutral-80: #f0f1f3;
  --ui-neutral-70: #eaecf3;
  --ui-neutral-60: #ccd2de;
  --ui-neutral-50: #b4bbca;
  --ui-neutral-40: #85899e;
  --ui-neutral-30: #545663;
  --ui-neutral-20: #454750;
  --ui-neutral-10: #31343f;
  --ui-text-color: #fff;
  --ui-text-inverse-color: #31343f;
  --ui-icon-color: #85899e;
  --ui-background-color: #000;
  --ui-hover-background-color: #f0f1f3;
  --yakit-primary-1: rgba(242, 139, 68, 0.06);
  --yakit-primary-2: #fbe7d9;
  --yakit-primary-3: #fbc6a1;
  --yakit-primary-4: #f69c5d;
  --yakit-primary-5: #f28b44;
  --yakit-primary-6: #e27122;
  --yakit-colors-Main-10: #281f19;
  --yakit-colors-Main-20: #432c1c;
  --yakit-colors-Main-30: #58361f;
  --yakit-colors-Main-40: #794622;
  --yakit-colors-Main-50: #b06029;
  --yakit-colors-Main-60: #db752e;
  --yakit-colors-Main-70: #f2853a;
  --yakit-colors-Main-80: #f59f64;
  --yakit-colors-Main-90: #f9c5a2;
  --yakit-colors-Main-100: #fce5d6;
  --yakit-colors-Success-10: #16241f;
  --yakit-colors-Success-20: #16372c;
  --yakit-colors-Success-30: #154837;
  --yakit-colors-Success-40: #146047;
  --yakit-colors-Success-50: #128861;
  --yakit-colors-Success-60: #11a976;
  --yakit-colors-Success-70: #1cbd87;
  --yakit-colors-Success-80: #4ccba1;
  --yakit-colors-Success-90: #93e0c6;
  --yakit-colors-Success-100: #cff1e6;
  --yakit-colors-Warning-10: #292216;
  --yakit-colors-Warning-20: #433215;
  --yakit-colors-Warning-30: #5a4013;
  --yakit-colors-Warning-40: #7b5412;
  --yakit-colors-Warning-50: #b2760f;
  --yakit-colors-Warning-60: #df910c;
  --yakit-colors-Warning-70: #f6a317;
  --yakit-colors-Warning-80: #f8b648;
  --yakit-colors-Warning-90: #fbd391;
  --yakit-colors-Warning-100: #fdecce;
  --yakit-colors-Error-10: #281b1b;
  --yakit-colors-Error-20: #422020;
  --yakit-colors-Error-30: #582525;
  --yakit-colors-Error-40: #782b2b;
  --yakit-colors-Error-50: #ae3737;
  --yakit-colors-Error-60: #d94040;
  --yakit-colors-Error-70: #f04d4d;
  --yakit-colors-Error-80: #f37373;
  --yakit-colors-Error-90: #f8abab;
  --yakit-colors-Error-100: #fcdada;
  --yakit-colors-Neutral-10: #2a2b2d;
  --yakit-colors-Neutral-20: #37393c;
  --yakit-colors-Neutral-30: #474a4f;
  --yakit-colors-Neutral-40: #5f636b;
  --yakit-colors-Neutral-50: #868d9a;
  --yakit-colors-Neutral-60: #a6afbf;
  --yakit-colors-Neutral-70: #bac3d4;
  --yakit-colors-Neutral-80: #c8d0dd;
  --yakit-colors-Neutral-90: #dee3eb;
  --yakit-colors-Neutral-100: #f0f2f6;
  --yakit-colors-Neutral-0: #171717;
  --yakit-colors-Neutral-110: #ffffff;
  --yakit-colors-Purple-10: #1f1c29;
  --yakit-colors-Purple-20: #2b2344;
  --yakit-colors-Purple-30: #35285a;
  --yakit-colors-Purple-40: #44317c;
  --yakit-colors-Purple-50: #5d40b4;
  --yakit-colors-Purple-60: #714be1;
  --yakit-colors-Purple-70: #825af7;
  --yakit-colors-Purple-80: #9c7df9;
  --yakit-colors-Purple-90: #c4b1fb;
  --yakit-colors-Purple-100: #e5dcfd;
  --yakit-colors-Magenta-10: #261b27;
  --yakit-colors-Magenta-20: #3e213e;
  --yakit-colors-Magenta-30: #512652;
  --yakit-colors-Magenta-40: #6e2e6f;
  --yakit-colors-Magenta-50: #9e3ba0;
  --yakit-colors-Magenta-60: #c545c7;
  --yakit-colors-Magenta-70: #da53dd;
  --yakit-colors-Magenta-80: #e277e4;
  --yakit-colors-Magenta-90: #edaeef;
  --yakit-colors-Magenta-100: #f7dbf8;
  --yakit-colors-Blue-10: #19202a;
  --yakit-colors-Blue-20: #1c2d45;
  --yakit-colors-Blue-30: #1e395d;
  --yakit-colors-Blue-40: #22497f;
  --yakit-colors-Blue-50: #2865b9;
  --yakit-colors-Blue-60: #2d7ce8;
  --yakit-colors-Blue-70: #398dff;
  --yakit-colors-Blue-80: #63a5ff;
  --yakit-colors-Blue-90: #a1c9ff;
  --yakit-colors-Blue-100: #d5e7ff;
  --yakit-colors-Lake-blue-10: #172425;
  --yakit-colors-Lake-blue-20: #17373b;
  --yakit-colors-Lake-blue-30: #17464d;
  --yakit-colors-Lake-blue-40: #175e68;
  --yakit-colors-Lake-blue-50: #188695;
  --yakit-colors-Lake-blue-60: #18a5b9;
  --yakit-colors-Lake-blue-70: #24b9ce;
  --yakit-colors-Lake-blue-80: #52c8d8;
  --yakit-colors-Lake-blue-90: #97dee8;
  --yakit-colors-Lake-blue-100: #d1f0f5;
  --yakit-colors-Cyan-10: #182628;
  --yakit-colors-Cyan-20: #1a3d41;
  --yakit-colors-Cyan-30: #1c5057;
  --yakit-colors-Cyan-40: #1e6c76;
  --yakit-colors-Cyan-50: #229bab;
  --yakit-colors-Cyan-60: #25c1d6;
  --yakit-colors-Cyan-70: #31d6ec;
  --yakit-colors-Cyan-80: #5cdff0;
  --yakit-colors-Cyan-90: #9decf6;
  --yakit-colors-Cyan-100: #d4f6fb;
  --yakit-colors-Green-10: #1a2520;
  --yakit-colors-Green-20: #1f3a2d;
  --yakit-colors-Green-30: #244b38;
  --yakit-colors-Green-40: #2a6548;
  --yakit-colors-Green-50: #349063;
  --yakit-colors-Green-60: #3db379;
  --yakit-colors-Green-70: #4bc78a;
  --yakit-colors-Green-80: #71d3a3;
  --yakit-colors-Green-90: #aae4c8;
  --yakit-colors-Green-100: #d9f3e6;
  --yakit-colors-Red-10: #291d1c;
  --yakit-colors-Red-20: #432624;
  --yakit-colors-Red-30: #592e2b;
  --yakit-colors-Red-40: #7a3935;
  --yakit-colors-Red-50: #b14c45;
  --yakit-colors-Red-60: #dd5b52;
  --yakit-colors-Red-70: #f46a61;
  --yakit-colors-Red-80: #f68983;
  --yakit-colors-Red-90: #fab8b4;
  --yakit-colors-Red-100: #fde0de;
  --yakit-colors-Orange-10: #2a231b;
  --yakit-colors-Orange-20: #453522;
  --yakit-colors-Orange-30: #5d4428;
  --yakit-colors-Orange-40: #7f5b30;
  --yakit-colors-Orange-50: #b9813e;
  --yakit-colors-Orange-60: #e89f49;
  --yakit-colors-Orange-70: #ffb257;
  --yakit-colors-Orange-80: #ffc27a;
  --yakit-colors-Orange-90: #ffdbaf;
  --yakit-colors-Orange-100: #ffefdc;
  --yakit-colors-Yellow-10: #2a2619;
  --yakit-colors-Yellow-20: #453c1c;
  --yakit-colors-Yellow-30: #5d4f1f;
  --yakit-colors-Yellow-40: #7f6b22;
  --yakit-colors-Yellow-50: #b99a29;
  --yakit-colors-Yellow-60: #e8bf2e;
  --yakit-colors-Yellow-70: #ffd43a;
  --yakit-colors-Yellow-80: #ffdd64;
  --yakit-colors-Yellow-90: #ffeba2;
  --yakit-colors-Yellow-100: #fff6d6;

  --Colors-Use-Basic-White: #FFFFFF;
  --Colors-Use-Basic-Black: #171717;
  --Colors-Use-Basic-Shadow: rgba(0, 0, 0, 0.8);
  --Colors-Use-Basic-Modal-bg: rgba(0, 0, 0, 0.7);
}

:root {
  --initial-loading-bg: var(--yakit-colors-Neutral-0);
  --initial-loading-text: var(--yakit-colors-Neutral-40);
  --initial-loading-border: var(--yakit-colors-Neutral-80);
  --initial-loading-border-top: var(--yakit-colors-Neutral-40);
}