:root {
  --yakit-colors-Main-10: #fef5ee;
  --yakit-colors-Main-20: #fdf0e6;
  --yakit-colors-Main-30: #fce5d6;
  --yakit-colors-Main-40: #f9c5a2;
  --yakit-colors-Main-50: #f59f64;
  --yakit-colors-Main-60: #f28c45;
  --yakit-colors-Main-70: #db752e;
  --yakit-colors-Main-80: #bb652a;
  --yakit-colors-Main-90: #794622;
  --yakit-colors-Main-100: #432c1c;
  --yakit-colors-Main-0: #f28c4514;
  --yakit-colors-Success-10: #ecf9f5;
  --yakit-colors-Success-20: #e2f7f0;
  --yakit-colors-Success-30: #cff1e6;
  --yakit-colors-Success-40: #93e0c6;
  --yakit-colors-Success-50: #4ccba1;
  --yakit-colors-Success-60: #28c08e;
  --yakit-colors-Success-70: #11a976;
  --yakit-colors-Success-80: #129167;
  --yakit-colors-Success-90: #146047;
  --yakit-colors-Success-100: #16372c;
  --yakit-colors-Warning-10: #fef7eb;
  --yakit-colors-Warning-20: #fef3e2;
  --yakit-colors-Warning-30: #fdecce;
  --yakit-colors-Warning-40: #fbd391;
  --yakit-colors-Warning-50: #f8b648;
  --yakit-colors-Warning-60: #f6a823;
  --yakit-colors-Warning-70: #df910c;
  --yakit-colors-Warning-80: #be7c0e;
  --yakit-colors-Warning-90: #7b5412;
  --yakit-colors-Warning-100: #433215;
  --yakit-colors-Error-10: #fef0f0;
  --yakit-colors-Error-20: #fde9e9;
  --yakit-colors-Error-30: #fcdada;
  --yakit-colors-Error-40: #f8abab;
  --yakit-colors-Error-50: #f37373;
  --yakit-colors-Error-60: #f15757;
  --yakit-colors-Error-70: #d94040;
  --yakit-colors-Error-80: #b93939;
  --yakit-colors-Error-90: #782b2b;
  --yakit-colors-Error-100: #422020;
  --yakit-colors-Neutral-10: #f8f9fa;
  --yakit-colors-Neutral-20: #eef0f3;
  --yakit-colors-Neutral-30: #e6e8ed;
  --yakit-colors-Neutral-40: #d9dde4;
  --yakit-colors-Neutral-50: #c0c6d1;
  --yakit-colors-Neutral-60: #b3bbc8;
  --yakit-colors-Neutral-70: #9ca3b1;
  --yakit-colors-Neutral-80: #868c97;
  --yakit-colors-Neutral-90: #5a5d64;
  --yakit-colors-Neutral-100: #353639;
  --yakit-colors-Neutral-0: #ffffff;
  --yakit-colors-Neutral-110: #171717;
  --yakit-colors-Purple-10: #f4f1fe;
  --yakit-colors-Purple-20: #efeafe;
  --yakit-colors-Purple-30: #e5dcfd;
  --yakit-colors-Purple-40: #c4b1fb;
  --yakit-colors-Purple-50: #9c7df9;
  --yakit-colors-Purple-60: #8862f8;
  --yakit-colors-Purple-70: #714be1;
  --yakit-colors-Purple-80: #6243bf;
  --yakit-colors-Purple-90: #44317c;
  --yakit-colors-Purple-100: #2b2344;
  --yakit-colors-Magenta-10: #fcf1fc;
  --yakit-colors-Magenta-20: #fae9fb;
  --yakit-colors-Magenta-30: #f7dbf8;
  --yakit-colors-Magenta-40: #edaeef;
  --yakit-colors-Magenta-50: #e277e4;
  --yakit-colors-Magenta-60: #dc5cdf;
  --yakit-colors-Magenta-70: #c545c7;
  --yakit-colors-Magenta-80: #a83daa;
  --yakit-colors-Magenta-90: #6e2e6f;
  --yakit-colors-Magenta-100: #3e213e;
  --yakit-colors-Blue-10: #eef5ff;
  --yakit-colors-Blue-20: #e6f1ff;
  --yakit-colors-Blue-30: #d5e7ff;
  --yakit-colors-Blue-40: #a1c9ff;
  --yakit-colors-Blue-50: #63a5ff;
  --yakit-colors-Blue-60: #4493ff;
  --yakit-colors-Blue-70: #2d7ce8;
  --yakit-colors-Blue-80: #296bc5;
  --yakit-colors-Blue-90: #22497f;
  --yakit-colors-Blue-100: #1c2d45;
  --yakit-colors-Lake-blue-10: #edf9fb;
  --yakit-colors-Lake-blue-20: #e3f6f9;
  --yakit-colors-Lake-blue-30: #d1f0f5;
  --yakit-colors-Lake-blue-40: #97dee8;
  --yakit-colors-Lake-blue-50: #52c8d8;
  --yakit-colors-Lake-blue-60: #2fbcd0;
  --yakit-colors-Lake-blue-70: #18a5b9;
  --yakit-colors-Lake-blue-80: #188e9e;
  --yakit-colors-Lake-blue-90: #175e68;
  --yakit-colors-Lake-blue-100: #17373b;
  --yakit-colors-Cyan-10: #eefcfd;
  --yakit-colors-Cyan-20: #e5fafd;
  --yakit-colors-Cyan-30: #d4f6fb;
  --yakit-colors-Cyan-40: #9decf6;
  --yakit-colors-Cyan-50: #5cdff0;
  --yakit-colors-Cyan-60: #3cd8ed;
  --yakit-colors-Cyan-70: #25c1d6;
  --yakit-colors-Cyan-80: #22a5b6;
  --yakit-colors-Cyan-90: #1e6c76;
  --yakit-colors-Cyan-100: #1a3d41;
  --yakit-colors-Green-10: #f0faf5;
  --yakit-colors-Green-20: #e8f8f0;
  --yakit-colors-Green-30: #d9f3e6;
  --yakit-colors-Green-40: #aae4c8;
  --yakit-colors-Green-50: #71d3a3;
  --yakit-colors-Green-60: #54ca90;
  --yakit-colors-Green-70: #3db379;
  --yakit-colors-Green-80: #379969;
  --yakit-colors-Green-90: #2a6548;
  --yakit-colors-Green-100: #1f3a2d;
  --yakit-colors-Red-10: #fef2f2;
  --yakit-colors-Red-20: #feeceb;
  --yakit-colors-Red-30: #fde0de;
  --yakit-colors-Red-40: #fab8b4;
  --yakit-colors-Red-50: #f68983;
  --yakit-colors-Red-60: #f4726a;
  --yakit-colors-Red-70: #dd5b52;
  --yakit-colors-Red-80: #bc4f49;
  --yakit-colors-Red-90: #7a3935;
  --yakit-colors-Red-100: #432624;
  --yakit-colors-Orange-10: #fff9f1;
  --yakit-colors-Orange-20: #fff5ea;
  --yakit-colors-Orange-30: #ffefdc;
  --yakit-colors-Orange-40: #ffdbaf;
  --yakit-colors-Orange-50: #ffc27a;
  --yakit-colors-Orange-60: #ffb660;
  --yakit-colors-Orange-70: #e89f49;
  --yakit-colors-Orange-80: #c58840;
  --yakit-colors-Orange-90: #7f5b30;
  --yakit-colors-Orange-100: #453522;
  --yakit-colors-Yellow-10: #fffbeb;
  --yakit-colors-Yellow-20: #fff9e1;
  --yakit-colors-Yellow-30: #fff4cd;
  --yakit-colors-Yellow-40: #ffe78f;
  --yakit-colors-Yellow-50: #ffd744;
  --yakit-colors-Yellow-60: #ffce1e;
  --yakit-colors-Yellow-70: #e8b707;
  --yakit-colors-Yellow-80: #c59d0a;
  --yakit-colors-Yellow-90: #7f670f;
  --yakit-colors-Yellow-100: #453b13;
  --Colors-Use-Neutral-Bg: var(--yakit-colors-Neutral-10);
  --Colors-Use-Neutral-Bg-Hover: var(--yakit-colors-Neutral-20);
  --Colors-Use-Neutral-Border: var(--yakit-colors-Neutral-30);
  --Colors-Use-Neutral-Disable: var(--yakit-colors-Neutral-50);
  --Colors-Use-Neutral-Text-4-Help-text: var(--yakit-colors-Neutral-70);
  --Colors-Use-Neutral-Text-3-Secondary: var(--yakit-colors-Neutral-80);
  --Colors-Use-Neutral-Text-2-Primary: var(--yakit-colors-Neutral-90);
  --Colors-Use-Neutral-Text-1-Title: var(--yakit-colors-Neutral-100);
  --Colors-Use-Basic-White: #ffffff;
  --Colors-Use-Basic-Black: #171717;
  --Colors-Use-Basic-Shadow: rgba(23, 23, 23, 0.08);
  --Colors-Use-Basic-Modal-bg: rgba(23, 23, 23, 0.3);
  --Colors-Use-Basic-Background: var(--yakit-colors-Neutral-0);
  --Colors-Use-Status-Serious: var(--yakit-colors-Error-80);
  --Colors-Use-Status-High: var(--yakit-colors-Error-60);
  --Colors-Use-Status-Medium: var(--yakit-colors-Warning-60);
  --Colors-Use-Status-Low: var(--yakit-colors-Yellow-60);
  --Colors-Use-Status-Safe: var(--yakit-colors-Success-60);
  --Colors-Use-Status-Unknown: var(--yakit-colors-Neutral-70);
  --Colors-Use-Main-Bg: var(--yakit-colors-Main-10);
  --Colors-Use-Main-Bg-Hover: var(--yakit-colors-Main-20);
  --Colors-Use-Main-Focus: var(--yakit-colors-Main-30);
  --Colors-Use-Main-Border: var(--yakit-colors-Main-40);
  --Colors-Use-Main-Hover: var(--yakit-colors-Main-50);
  --Colors-Use-Main-Primary: var(--yakit-colors-Main-60);
  --Colors-Use-Main-Pressed: var(--yakit-colors-Main-70);
  --Colors-Use-Main-On-Primary: var(--yakit-colors-Main-10);
  --Colors-Use-Error-Bg: var(--yakit-colors-Error-10);
  --Colors-Use-Error-Bg-Hover: var(--yakit-colors-Error-20);
  --Colors-Use-Error-Focus: var(--yakit-colors-Error-30);
  --Colors-Use-Error-Border: var(--yakit-colors-Error-40);
  --Colors-Use-Error-Hover: var(--yakit-colors-Error-50);
  --Colors-Use-Error-Primary: var(--yakit-colors-Error-60);
  --Colors-Use-Error-Pressed: var(--yakit-colors-Error-70);
  --Colors-Use-Error-On-Primary: var(--yakit-colors-Error-10);
  --Colors-Use-Warning-Bg: var(--yakit-colors-Warning-10);
  --Colors-Use-Warning-Bg-Hover: var(--yakit-colors-Warning-20);
  --Colors-Use-Warning-Focus: var(--yakit-colors-Warning-30);
  --Colors-Use-Warning-Border: var(--yakit-colors-Warning-40);
  --Colors-Use-Warning-Hover: var(--yakit-colors-Warning-50);
  --Colors-Use-Warning-Primary: var(--yakit-colors-Warning-60);
  --Colors-Use-Warning-Pressed: var(--yakit-colors-Warning-70);
  --Colors-Use-Warning-On-Primary: var(--yakit-colors-Warning-10);
  --Colors-Use-Success-Bg: var(--yakit-colors-Success-10);
  --Colors-Use-Success-Bg-Hover: var(--yakit-colors-Success-20);
  --Colors-Use-Success-Focus: var(--yakit-colors-Success-30);
  --Colors-Use-Success-Border: var(--yakit-colors-Success-40);
  --Colors-Use-Success-Hover: var(--yakit-colors-Success-50);
  --Colors-Use-Success-Primary: var(--yakit-colors-Success-60);
  --Colors-Use-Success-Pressed: var(--yakit-colors-Success-70);
  --Colors-Use-Success-On-Primary: var(--yakit-colors-Success-10);
  --Colors-Use-Blue-Bg: var(--yakit-colors-Blue-10);
  --Colors-Use-Blue-Bg-Hover: var(--yakit-colors-Blue-20);
  --Colors-Use-Blue-Focus: var(--yakit-colors-Blue-30);
  --Colors-Use-Blue-Border: var(--yakit-colors-Blue-40);
  --Colors-Use-Blue-Hover: var(--yakit-colors-Blue-50);
  --Colors-Use-Blue-Primary: var(--yakit-colors-Blue-60);
  --Colors-Use-Blue-Pressed: var(--yakit-colors-Blue-70);
  --Colors-Use-Blue-On-Primary: var(--yakit-colors-Blue-10);
  --Colors-Use-Purple-Bg: var(--yakit-colors-Purple-20);
  --Colors-Use-Purple-Bg-Hover: var(--yakit-colors-Purple-30);
  --Colors-Use-Purple-Border: var(--yakit-colors-Purple-40);
  --Colors-Use-Purple-Primary: var(--yakit-colors-Purple-60);
  --Colors-Use-Purple-On-Primary: var(--yakit-colors-Purple-10);
  --Colors-Use-Magenta-Bg: var(--yakit-colors-Magenta-20);
  --Colors-Use-Magenta-Bg-Hover: var(--yakit-colors-Magenta-30);
  --Colors-Use-Magenta-Border: var(--yakit-colors-Magenta-40);
  --Colors-Use-Magenta-Primary: var(--yakit-colors-Magenta-60);
  --Colors-Use-Magenta-On-Primary: var(--yakit-colors-Magenta-10);
  --Colors-Use-Lake-blue-Bg: var(--yakit-colors-Lake-blue-20);
  --Colors-Use-Lake-blue-Bg-Hover: var(--yakit-colors-Lake-blue-30);
  --Colors-Use-Lake-blue-Border: var(--yakit-colors-Lake-blue-40);
  --Colors-Use-Lake-blue-Primary: var(--yakit-colors-Lake-blue-60);
  --Colors-Use-Lake-blue-On-Primary: var(--yakit-colors-Lake-blue-10);
  --Colors-Use-Cyan-Bg: var(--yakit-colors-Cyan-20);
  --Colors-Use-Cyan-Bg-Hover: var(--yakit-colors-Cyan-30);
  --Colors-Use-Cyan-Border: var(--yakit-colors-Cyan-40);
  --Colors-Use-Cyan-Primary: var(--yakit-colors-Cyan-60);
  --Colors-Use-Cyan-On-Primary: var(--yakit-colors-Cyan-10);
  --Colors-Use-Green-Bg: var(--yakit-colors-Green-20);
  --Colors-Use-Green-Bg-Hover: var(--yakit-colors-Green-30);
  --Colors-Use-Green-Border: var(--yakit-colors-Green-40);
  --Colors-Use-Green-Primary: var(--yakit-colors-Green-60);
  --Colors-Use-Green-On-Primary: var(--yakit-colors-Green-10);
  --Colors-Use-Red-Bg: var(--yakit-colors-Red-20);
  --Colors-Use-Red-Bg-Hover: var(--yakit-colors-Red-30);
  --Colors-Use-Red-Border: var(--yakit-colors-Red-40);
  --Colors-Use-Red-Primary: var(--yakit-colors-Red-60);
  --Colors-Use-Red-On-Primary: var(--yakit-colors-Red-10);
  --Colors-Use-Orange-Bg: var(--yakit-colors-Orange-20);
  --Colors-Use-Orange-Bg-Hover: var(--yakit-colors-Orange-30);
  --Colors-Use-Orange-Border: var(--yakit-colors-Orange-40);
  --Colors-Use-Orange-Primary: var(--yakit-colors-Orange-60);
  --Colors-Use-Orange-On-Primary: var(--yakit-colors-Orange-10);
  --Colors-Use-Yellow-Bg: var(--yakit-colors-Yellow-20);
  --Colors-Use-Yellow-Bg-Hover: var(--yakit-colors-Yellow-30);
  --Colors-Use-Yellow-Border: var(--yakit-colors-Yellow-40);
  --Colors-Use-Yellow-Primary: var(--yakit-colors-Yellow-60);
  --Colors-Use-Yellow-On-Primary: var(--yakit-colors-Yellow-10);
  --Colors-Use-Grey-Bg: var(--yakit-colors-Neutral-20);
  --Colors-Use-Grey-Bg-Hover: var(--yakit-colors-Neutral-30);
  --Colors-Use-Grey-Border: var(--yakit-colors-Neutral-40);
  --Colors-Use-Grey-Primary: var(--yakit-colors-Neutral-60);
  --Colors-Use-Grey-On-Primary: var(--yakit-colors-Neutral-10);
}

[data-theme='dark'] {
  --yakit-colors-Main-10: #281f19;
  --yakit-colors-Main-20: #432c1c;
  --yakit-colors-Main-30: #58361f;
  --yakit-colors-Main-40: #794622;
  --yakit-colors-Main-50: #b06028;
  --yakit-colors-Main-60: #db752e;
  --yakit-colors-Main-70: #f2853a;
  --yakit-colors-Main-80: #f59f64;
  --yakit-colors-Main-90: #f9c5a2;
  --yakit-colors-Main-100: #fce5d6;
  --yakit-colors-Main-0: #f2853a14;
  --yakit-colors-Success-10: #16241f;
  --yakit-colors-Success-20: #16372c;
  --yakit-colors-Success-30: #154837;
  --yakit-colors-Success-40: #146047;
  --yakit-colors-Success-50: #128861;
  --yakit-colors-Success-60: #11a976;
  --yakit-colors-Success-70: #1cbd87;
  --yakit-colors-Success-80: #4ccba1;
  --yakit-colors-Success-90: #93e0c6;
  --yakit-colors-Success-100: #cff1e6;
  --yakit-colors-Warning-10: #292216;
  --yakit-colors-Warning-20: #433215;
  --yakit-colors-Warning-30: #5a4013;
  --yakit-colors-Warning-40: #7b5412;
  --yakit-colors-Warning-50: #b2760f;
  --yakit-colors-Warning-60: #df910c;
  --yakit-colors-Warning-70: #f6a317;
  --yakit-colors-Warning-80: #f8b648;
  --yakit-colors-Warning-90: #fbd391;
  --yakit-colors-Warning-100: #fdecce;
  --yakit-colors-Error-10: #281b1b;
  --yakit-colors-Error-20: #422020;
  --yakit-colors-Error-30: #582525;
  --yakit-colors-Error-40: #782b2b;
  --yakit-colors-Error-50: #ae3636;
  --yakit-colors-Error-60: #d94040;
  --yakit-colors-Error-70: #f04d4d;
  --yakit-colors-Error-80: #f37373;
  --yakit-colors-Error-90: #f8abab;
  --yakit-colors-Error-100: #fcdada;
  --yakit-colors-Neutral-10: #2a2b2d;
  --yakit-colors-Neutral-20: #37393c;
  --yakit-colors-Neutral-30: #474a4f;
  --yakit-colors-Neutral-40: #5f636b;
  --yakit-colors-Neutral-50: #868d9a;
  --yakit-colors-Neutral-60: #a6afbf;
  --yakit-colors-Neutral-70: #bac3d4;
  --yakit-colors-Neutral-80: #c8d0dd;
  --yakit-colors-Neutral-90: #dee3eb;
  --yakit-colors-Neutral-100: #f0f2f6;
  --yakit-colors-Neutral-0: #171717;
  --yakit-colors-Neutral-110: #ffffff;
  --yakit-colors-Purple-10: #221f2a;
  --yakit-colors-Purple-20: #312b45;
  --yakit-colors-Purple-30: #3f345d;
  --yakit-colors-Purple-40: #52437f;
  --yakit-colors-Purple-50: #735cb9;
  --yakit-colors-Purple-60: #8e6fe8;
  --yakit-colors-Purple-70: #a080ff;
  --yakit-colors-Purple-80: #b49bff;
  --yakit-colors-Purple-90: #d2c3ff;
  --yakit-colors-Purple-100: #ebe4ff;
  --yakit-colors-Magenta-10: #261b27;
  --yakit-colors-Magenta-20: #3e213e;
  --yakit-colors-Magenta-30: #512652;
  --yakit-colors-Magenta-40: #6e2e6f;
  --yakit-colors-Magenta-50: #9e3ba0;
  --yakit-colors-Magenta-60: #c545c7;
  --yakit-colors-Magenta-70: #da53dd;
  --yakit-colors-Magenta-80: #e277e4;
  --yakit-colors-Magenta-90: #edaeef;
  --yakit-colors-Magenta-100: #f7dbf8;
  --yakit-colors-Blue-10: #19202a;
  --yakit-colors-Blue-20: #1c2d45;
  --yakit-colors-Blue-30: #1e395d;
  --yakit-colors-Blue-40: #22497f;
  --yakit-colors-Blue-50: #2865b9;
  --yakit-colors-Blue-60: #2d7ce8;
  --yakit-colors-Blue-70: #398dff;
  --yakit-colors-Blue-80: #63a5ff;
  --yakit-colors-Blue-90: #a1c9ff;
  --yakit-colors-Blue-100: #d5e7ff;
  --yakit-colors-Lake-blue-10: #172425;
  --yakit-colors-Lake-blue-20: #17373b;
  --yakit-colors-Lake-blue-30: #17464d;
  --yakit-colors-Lake-blue-40: #175e68;
  --yakit-colors-Lake-blue-50: #188695;
  --yakit-colors-Lake-blue-60: #18a5b9;
  --yakit-colors-Lake-blue-70: #24b9ce;
  --yakit-colors-Lake-blue-80: #52c8d8;
  --yakit-colors-Lake-blue-90: #97dee8;
  --yakit-colors-Lake-blue-100: #d1f0f5;
  --yakit-colors-Cyan-10: #182628;
  --yakit-colors-Cyan-20: #1a3d41;
  --yakit-colors-Cyan-30: #1c5057;
  --yakit-colors-Cyan-40: #1e6c76;
  --yakit-colors-Cyan-50: #229bab;
  --yakit-colors-Cyan-60: #25c1d6;
  --yakit-colors-Cyan-70: #31d6ec;
  --yakit-colors-Cyan-80: #5cdff0;
  --yakit-colors-Cyan-90: #9decf6;
  --yakit-colors-Cyan-100: #d4f6fb;
  --yakit-colors-Green-10: #1a2520;
  --yakit-colors-Green-20: #1f3a2d;
  --yakit-colors-Green-30: #244b38;
  --yakit-colors-Green-40: #2a6548;
  --yakit-colors-Green-50: #349063;
  --yakit-colors-Green-60: #3db379;
  --yakit-colors-Green-70: #4bc78a;
  --yakit-colors-Green-80: #71d3a3;
  --yakit-colors-Green-90: #aae4c8;
  --yakit-colors-Green-100: #d9f3e6;
  --yakit-colors-Red-10: #291d1c;
  --yakit-colors-Red-20: #432624;
  --yakit-colors-Red-30: #592e2b;
  --yakit-colors-Red-40: #7a3935;
  --yakit-colors-Red-50: #b14c45;
  --yakit-colors-Red-60: #dd5b52;
  --yakit-colors-Red-70: #f46a61;
  --yakit-colors-Red-80: #f68983;
  --yakit-colors-Red-90: #fab8b4;
  --yakit-colors-Red-100: #fde0de;
  --yakit-colors-Orange-10: #2a231b;
  --yakit-colors-Orange-20: #453522;
  --yakit-colors-Orange-30: #5d4428;
  --yakit-colors-Orange-40: #7f5b30;
  --yakit-colors-Orange-50: #b9813d;
  --yakit-colors-Orange-60: #e89f49;
  --yakit-colors-Orange-70: #ffb257;
  --yakit-colors-Orange-80: #ffc27a;
  --yakit-colors-Orange-90: #ffdbaf;
  --yakit-colors-Orange-100: #ffefdc;
  --yakit-colors-Yellow-10: #2a2619;
  --yakit-colors-Yellow-20: #453c1c;
  --yakit-colors-Yellow-30: #5d4f1f;
  --yakit-colors-Yellow-40: #7f6b22;
  --yakit-colors-Yellow-50: #b99a28;
  --yakit-colors-Yellow-60: #e8bf2e;
  --yakit-colors-Yellow-70: #ffd43a;
  --yakit-colors-Yellow-80: #ffdd64;
  --yakit-colors-Yellow-90: #ffeba2;
  --yakit-colors-Yellow-100: #fff6d6;
  --Colors-Use-Neutral-Bg: var(--yakit-colors-Neutral-10);
  --Colors-Use-Neutral-Bg-Hover: var(--yakit-colors-Neutral-20);
  --Colors-Use-Neutral-Border: var(--yakit-colors-Neutral-30);
  --Colors-Use-Neutral-Disable: var(--yakit-colors-Neutral-40);
  --Colors-Use-Neutral-Text-4-Help-text: var(--yakit-colors-Neutral-50);
  --Colors-Use-Neutral-Text-3-Secondary: var(--yakit-colors-Neutral-60);
  --Colors-Use-Neutral-Text-2-Primary: var(--yakit-colors-Neutral-70);
  --Colors-Use-Neutral-Text-1-Title: var(--yakit-colors-Neutral-80);
  --Colors-Use-Basic-White: #ffffff;
  --Colors-Use-Basic-Black: #171717;
  --Colors-Use-Basic-Shadow: rgba(0, 0, 0, 0.8);
  --Colors-Use-Basic-Modal-bg: rgba(0, 0, 0, 0.7);
  --Colors-Use-Basic-Background: var(--yakit-colors-Neutral-0);
  --Colors-Use-Status-Serious: var(--yakit-colors-Error-50);
  --Colors-Use-Status-High: var(--yakit-colors-Error-70);
  --Colors-Use-Status-Medium: var(--yakit-colors-Warning-70);
  --Colors-Use-Status-Low: var(--yakit-colors-Yellow-70);
  --Colors-Use-Status-Safe: var(--yakit-colors-Success-70);
  --Colors-Use-Status-Unknown: var(--yakit-colors-Neutral-50);
  --Colors-Use-Main-Bg: var(--yakit-colors-Main-10);
  --Colors-Use-Main-Bg-Hover: var(--yakit-colors-Main-20);
  --Colors-Use-Main-Focus: var(--yakit-colors-Main-30);
  --Colors-Use-Main-Border: var(--yakit-colors-Main-40);
  --Colors-Use-Main-Pressed: var(--yakit-colors-Main-80);
  --Colors-Use-Main-On-Primary: var(--yakit-colors-Main-100);
  --Colors-Use-Main-Hover: var(--yakit-colors-Main-50);
  --Colors-Use-Main-Primary: var(--yakit-colors-Main-60);
  --Colors-Use-Error-Bg: var(--yakit-colors-Error-10);
  --Colors-Use-Error-Bg-Hover: var(--yakit-colors-Error-20);
  --Colors-Use-Error-Focus: var(--yakit-colors-Error-30);
  --Colors-Use-Error-Border: var(--yakit-colors-Error-40);
  --Colors-Use-Error-Pressed: var(--yakit-colors-Error-80);
  --Colors-Use-Error-On-Primary: var(--yakit-colors-Error-100);
  --Colors-Use-Error-Hover: var(--yakit-colors-Error-60);
  --Colors-Use-Error-Primary: var(--yakit-colors-Error-70);
  --Colors-Use-Warning-Bg: var(--yakit-colors-Warning-10);
  --Colors-Use-Warning-Bg-Hover: var(--yakit-colors-Warning-20);
  --Colors-Use-Warning-Focus: var(--yakit-colors-Warning-30);
  --Colors-Use-Warning-Border: var(--yakit-colors-Warning-40);
  --Colors-Use-Warning-Pressed: var(--yakit-colors-Warning-80);
  --Colors-Use-Warning-On-Primary: var(--yakit-colors-Warning-100);
  --Colors-Use-Warning-Hover: var(--yakit-colors-Warning-60);
  --Colors-Use-Warning-Primary: var(--yakit-colors-Warning-70);
  --Colors-Use-Success-Bg: var(--yakit-colors-Success-10);
  --Colors-Use-Success-Bg-Hover: var(--yakit-colors-Success-20);
  --Colors-Use-Success-Focus: var(--yakit-colors-Success-30);
  --Colors-Use-Success-Border: var(--yakit-colors-Success-40);
  --Colors-Use-Success-Pressed: var(--yakit-colors-Success-80);
  --Colors-Use-Success-On-Primary: var(--yakit-colors-Success-100);
  --Colors-Use-Success-Hover: var(--yakit-colors-Success-60);
  --Colors-Use-Success-Primary: var(--yakit-colors-Success-70);
  --Colors-Use-Blue-Bg: var(--yakit-colors-Blue-10);
  --Colors-Use-Blue-Bg-Hover: var(--yakit-colors-Blue-20);
  --Colors-Use-Blue-Focus: var(--yakit-colors-Blue-30);
  --Colors-Use-Blue-Border: var(--yakit-colors-Blue-40);
  --Colors-Use-Blue-Pressed: var(--yakit-colors-Blue-80);
  --Colors-Use-Blue-On-Primary: var(--yakit-colors-Blue-100);
  --Colors-Use-Blue-Hover: var(--yakit-colors-Blue-60);
  --Colors-Use-Blue-Primary: var(--yakit-colors-Blue-70);
  --Colors-Use-Purple-Bg: var(--yakit-colors-Purple-20);
  --Colors-Use-Purple-Bg-Hover: var(--yakit-colors-Purple-30);
  --Colors-Use-Purple-Border: var(--yakit-colors-Purple-40);
  --Colors-Use-Purple-Primary: var(--yakit-colors-Purple-70);
  --Colors-Use-Purple-On-Primary: var(--yakit-colors-Purple-100);
  --Colors-Use-Magenta-Bg: var(--yakit-colors-Magenta-20);
  --Colors-Use-Magenta-Bg-Hover: var(--yakit-colors-Magenta-30);
  --Colors-Use-Magenta-Border: var(--yakit-colors-Magenta-40);
  --Colors-Use-Magenta-Primary: var(--yakit-colors-Magenta-70);
  --Colors-Use-Magenta-On-Primary: var(--yakit-colors-Magenta-100);
  --Colors-Use-Lake-blue-Bg: var(--yakit-colors-Lake-blue-20);
  --Colors-Use-Lake-blue-Bg-Hover: var(--yakit-colors-Lake-blue-30);
  --Colors-Use-Lake-blue-Border: var(--yakit-colors-Lake-blue-40);
  --Colors-Use-Lake-blue-Primary: var(--yakit-colors-Lake-blue-70);
  --Colors-Use-Lake-blue-On-Primary: var(--yakit-colors-Lake-blue-100);
  --Colors-Use-Cyan-Bg: var(--yakit-colors-Cyan-20);
  --Colors-Use-Cyan-Bg-Hover: var(--yakit-colors-Cyan-30);
  --Colors-Use-Cyan-Border: var(--yakit-colors-Cyan-40);
  --Colors-Use-Cyan-Primary: var(--yakit-colors-Cyan-70);
  --Colors-Use-Cyan-On-Primary: var(--yakit-colors-Cyan-100);
  --Colors-Use-Green-Bg: var(--yakit-colors-Green-20);
  --Colors-Use-Green-Bg-Hover: var(--yakit-colors-Green-30);
  --Colors-Use-Green-Border: var(--yakit-colors-Green-40);
  --Colors-Use-Green-Primary: var(--yakit-colors-Green-70);
  --Colors-Use-Green-On-Primary: var(--yakit-colors-Green-100);
  --Colors-Use-Red-Bg: var(--yakit-colors-Red-20);
  --Colors-Use-Red-Bg-Hover: var(--yakit-colors-Red-30);
  --Colors-Use-Red-Border: var(--yakit-colors-Red-40);
  --Colors-Use-Red-Primary: var(--yakit-colors-Red-70);
  --Colors-Use-Red-On-Primary: var(--yakit-colors-Red-100);
  --Colors-Use-Orange-Bg: var(--yakit-colors-Orange-20);
  --Colors-Use-Orange-Bg-Hover: var(--yakit-colors-Orange-30);
  --Colors-Use-Orange-Border: var(--yakit-colors-Orange-40);
  --Colors-Use-Orange-Primary: var(--yakit-colors-Orange-70);
  --Colors-Use-Orange-On-Primary: var(--yakit-colors-Orange-100);
  --Colors-Use-Yellow-Bg: var(--yakit-colors-Yellow-20);
  --Colors-Use-Yellow-Bg-Hover: var(--yakit-colors-Yellow-30);
  --Colors-Use-Yellow-Border: var(--yakit-colors-Yellow-40);
  --Colors-Use-Yellow-Primary: var(--yakit-colors-Yellow-70);
  --Colors-Use-Yellow-On-Primary: var(--yakit-colors-Yellow-100);
  --Colors-Use-Grey-Bg: var(--yakit-colors-Neutral-20);
  --Colors-Use-Grey-Bg-Hover: var(--yakit-colors-Neutral-30);
  --Colors-Use-Grey-Border: var(--yakit-colors-Neutral-40);
  --Colors-Use-Grey-Primary: var(--yakit-colors-Neutral-70);
  --Colors-Use-Grey-On-Primary: var(--yakit-colors-Neutral-100);
}
