@use '../../../../styles/mixin.scss' as mixin;

%display-flex-center {
  display: flex;
  align-items: center;
}
.chat-header {
  @extend %display-flex-center;
  // position: relative;
  // min-width: 0;
  gap: 12px;
  padding: 12px 8px 12px 0px;
  margin-left: 8px;
  height: 48px;
  .chat-header-title {
    color: var(--Colors-Use-Neutral-Text-1-Title);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    @extend %display-flex-center;
    gap: 4px;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    .chat-header-title-text {
      flex-shrink: 0;
    }
    .chat-header-focus-mode {
      overflow: hidden;
      .text {
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
      }
    }
  }
  .chat-header-extra {
    @extend %display-flex-center;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 0;
    background: linear-gradient(
      to right,
      transparent,
      var(--Colors-Use-Basic-Background) 12px,
      var(--Colors-Use-Basic-Background)
    );
  }
}

.history-chat-tooltip {
  max-width: none;

  &:global(.ant-tooltip-placement-top),
  &:global(.ant-tooltip-placement-topLeft),
  &:global(.ant-tooltip-placement-topRight) {
    padding-bottom: 4px;

    :global(.ant-tooltip-arrow) {
      bottom: 1px;
    }
  }

  &:global(.ant-tooltip-placement-bottom),
  &:global(.ant-tooltip-placement-bottomLeft),
  &:global(.ant-tooltip-placement-bottomRight) {
    padding-top: 4px;

    :global(.ant-tooltip-arrow) {
      top: 1px;
    }
  }

  :global {
    .ant-tooltip-inner {
      padding: 0;
      display: block;
      min-height: unset;
      background: var(--Colors-Use-Basic-Background);
      border: 1px solid var(--Colors-Use-Neutral-Border);
      color: inherit;
      box-shadow: 0 4px 16px var(--Colors-Use-Basic-Shadow);
      overflow: hidden;
    }

    .ant-tooltip-arrow-content {
      border: 1px solid var(--Colors-Use-Neutral-Border);
      background-color: var(--Colors-Use-Basic-Background);
      box-shadow: 0 4px 16px var(--Colors-Use-Basic-Shadow);
    }

    .ant-tooltip-arrow-content::before {
      opacity: 0;
    }
  }
}
.chat-locate-popover {
  :global {
    .ant-popover-inner-content {
      padding: 12px;
    }
  }
  .chat-locate-list {
    display: flex;
    flex-direction: column;
    max-height: 240px;
    overflow-y: auto;
    width: 200px;
    // gap: 4px;
  }

  .chat-locate-item {
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
    color: var(--Colors-Use-Neutral-Text-1-Title);
    cursor: pointer;
    max-width: 280px;
    align-items: center;
    border-radius: 4px;
    @include mixin.text-ellipsis;
    svg {
      width: 16px;
      height: 16px;
      color: var(--Colors-Use-Neutral-Disable);
    }
    &:hover {
      background-color: var(--Colors-Use-Neutral-Bg-Hover);
      color: var(--Colors-Use-Main-Primary);
      svg {
        color: var(--Colors-Use-Main-Primary);
      }
    }
  }
}
.history-chat-tooltip-content {
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}
