/* src/styles/index.css */

/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's component styles */
@tailwind components;

/* Import Tailwind's utility styles */
@tailwind utilities;

/* 需使用npx tailwindcss -i ./src/styles/index.css -o ./src/styles/output.css --watch进行编译 */
/* 最后的使用路径app\renderer\src\main\src\pages\assetViewer\reportRenders\markdownRender.scss */