@use "../../../assets/global.scss" as global;

$colors: global.$colors;
$keyColor: map-keys($colors);
@for $c from 1 through length($keyColor) {
    $name: nth($keyColor, $c);
    $currentColor: map-get($colors, $name);
    .tab-menu-sub-group-#{"" + $name} {
        &::before {
            content: "";
            width: calc(100% - 6px);
            height: 2px;
            position: absolute;
            top: 0;
            left: 4px;
            background-color: map-get($currentColor, "backgroundColor");
            z-index: 1;
        }
    }
    .tab-menu-sub-group-name-#{"" + $name} {
        background-color: map-get($currentColor, "backgroundColor");
    }
    .tab-menu-sub-group-number-#{"" + $name} {
        color: map-get($currentColor, "backgroundColor");
    }
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.fake-content {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    position: absolute;
}
.white-link {
    @extend .fake-content;
    background-color: #fff;
}

.grey-link {
    @extend .fake-content;
    background-color: var(--yakit-border-color);
}

.primary-link {
    @extend .fake-content;
    background-color: var(--yakit-primary-5) !important;
}

.dragging {
    background-color: #fff;
    &::before {
        @extend .white-link;
        bottom: -1px;
        z-index: 10;
        height: 2px;
    }
}

.base-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yakit-body-text-color);
    cursor: pointer;
}

// -------------- tab样式 -------------
.tab-menu {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow: hidden;
    height: 100%;
    .tab-menu-first {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        background-color: var(--yakit-card-background-color);
        &::before {
            @extend .grey-link;
            top: 0;
        }
        &::after {
            @extend .grey-link;
            bottom: 0;
        }
        .tab-menu-first-item {
            display: flex;
            height: 24px;
            padding: 4px 8px;
            align-items: center;
            grid-gap: 16px;
            gap: 16px;
            color: var(--yakit-body-text-color);
            cursor: pointer;
            flex: 1 1;
            word-break: keep-all;
            border-right: 1px solid var(--yakit-border-color);
            overflow: hidden;
            max-width: 150px;
            justify-content: space-between;
            position: relative;
            &:hover {
                @extend .dragging;
            }
            &:last-child {
                border-right-width: 0;
            }
            span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
                min-width: 12px;
            }
            svg {
                color: var(--yakit-body-text-color);
            }
            .tab-menu-item-left-verbose {
                flex: 1;
            }
        }
        .tab-menu-first-item-active {
            background-color: #fff;
            color: var(--yakit-header-color);
            position: relative;
            border-top-width: 0;
            border-bottom-width: 0;
            min-width: fit-content;
            &::before {
                @extend .primary-link;
                height: 2px;
                top: 0;
                z-index: 1;
                animation: showActive 0.3s linear;
            }
            &::after {
                @extend .white-link;
                height: 2px;
                bottom: -1px;
                z-index: 1;
            }
        }
        .tab-menu-first-item-dragging {
            @extend .dragging;
        }
    }
    .tab-menu-sub {
        display: flex;
        align-items: center;
        position: relative;
        background-color: var(--yakit-card-background-color);
        .outline-plus-icon {
            @extend .base-icon;
            width: 24px;
            height: 24px;
            svg {
                width: 16px;
                height: 16px;
            }
        }
        &::after {
            @extend .fake-content;
            bottom: 0;
            background-color: var(--yakit-border-color);
        }
        .tab-menu-sub-group {
            display: flex;
            border-radius: 4px;
            position: relative;
            .tab-menu-sub-group-name {
                display: flex;
                align-items: center;
                gap: 4px;
                height: 32px;
                padding: 4px 6px;
                border-radius: 4px 0 0 4px;
                min-width: 16px;
                color: #fff;
                line-height: 16px;
                font-weight: 600;
                cursor: pointer;
                .tab-menu-sub-group-number {
                    border-radius: 8px;
                    padding: 2px 6px;
                    background-color: #fff;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    width: 18px;
                    justify-content: center;
                }
            }
            .tab-menu-sub-group-name-retract {
                border-radius: 4px;
            }
        }
        .tab-menu-sub-item {
            display: flex;
            height: 32px;
            padding: 4px 8px;
            align-items: center;
            gap: 8px;
            background-color: var(--yakit-card-background-color);
            cursor: pointer;
            flex: 1;
            word-break: keep-all;
            position: relative;
            overflow: hidden;
            max-width: 150px;
            justify-content: space-between;

            &:hover {
                @extend .dragging;
            }
            span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
                min-width: 16px;
            }
            &::after {
                content: "";
                height: 16px;
                width: 1px;
                display: flex;
                align-items: center;
                background-color: var(--yakit-border-color);
                position: absolute;
                right: 0;
            }
            .remove-icon {
                @extend .base-icon;
                height: 16px;
                width: 16px;
                svg {
                    height: 16px;
                    width: 16px;
                }
            }
            .document-text-icon {
                @extend .base-icon;
                height: 16px;
                width: 16px;
                svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }
        .tab-menu-sub-item-active {
            background-color: #fff;
            color: var(--yakit-primary-5);
            min-width: fit-content;
            .document-text-icon {
                color: var(--yakit-primary-5);
            }
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: -1px;
                left: 0;
                background-color: #fff;
                z-index: 1;
            }
        }
        .tab-menu-sub-item-dragging {
            @extend .dragging;
            background-color: #fff;
        }
    }
    .tab-menu-item-left-verbose {
        @extend .flex-align-center;
        justify-content: space-between;
        gap: 4px;
    }

    .tab-menu-item-left-verbose[title]:hover::after {
        content: attr(title);
        color: #fff;
        position: fixed;
        transform: translate(0, -30px);
        background: #404040;
        border-radius: 4px;
        padding: 4px 6px;
        z-index: 9;
        width: max-content;
    }
    .tab-menu-item-right-verbose[title]:hover::after {
        transform: translate(-80%, -30px);
    }
}

.page-body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

@keyframes showActive {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
